In [48]:
import os, sys, inspect
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import interpolate
# add parent dir to system dir
currdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
rootdir = os.path.dirname(currdir)
sys.path.insert(0, rootdir)

In [49]:
def interp1d(xnew, x, y, kind):
    f = interpolate.interp1d(x, y, kind="linear")
#     print(x, xnew)
    return f(xnew)

In [50]:
year = 2011
fname = f"household_income_{year}.csv"
ffname = os.path.join(rootdir, "data", "raw", fname)

income_df_ = pd.read_csv(ffname, skiprows=1)
income_df_ = income_df_[["Id2", "Households; Estimate; Total", "Households; Estimate; Median income (dollars)"]]
income_df_ = income_df_.rename(index=str, columns={"Id2": "Zip Code", "Households; Estimate; Total": "Number of Households", "Households; Estimate; Median income (dollars)": "Median Income (dollars)"})
income_df_ = income_df_[income_df_["Median Income (dollars)"] != '-']
income_df_["Year"] = year
income_df = income_df_

year = 2012
fname = f"household_income_{year}.csv"
ffname = os.path.join(rootdir, "data", "raw", fname)

income_df_ = pd.read_csv(ffname, skiprows=1)
income_df_ = income_df_[["Id2", "Households; Estimate; Total", "Households; Estimate; Median income (dollars)"]]
income_df_ = income_df_.rename(index=str, columns={"Id2": "Zip Code", "Households; Estimate; Total": "Number of Households", "Households; Estimate; Median income (dollars)": "Median Income (dollars)"})
income_df_ = income_df_[income_df_["Median Income (dollars)"] != '-']
income_df_["Year"] = year
income_df = income_df.append(income_df_, ignore_index=True)

year = 2013
fname = f"household_income_{year}.csv"
ffname = os.path.join(rootdir, "data", "raw", fname)

income_df_ = pd.read_csv(ffname, skiprows=1)
income_df_ = income_df_[["Id2", "Households; Estimate; Total", "Households; Estimate; Median income (dollars)"]]
income_df_ = income_df_.rename(index=str, columns={"Id2": "Zip Code", "Households; Estimate; Total": "Number of Households", "Households; Estimate; Median income (dollars)": "Median Income (dollars)"})
income_df_ = income_df_[income_df_["Median Income (dollars)"] != '-']
income_df_["Year"] = year
income_df = income_df.append(income_df_, ignore_index=True)

year = 2014
fname = f"household_income_{year}.csv"
ffname = os.path.join(rootdir, "data", "raw", fname)

income_df_ = pd.read_csv(ffname, skiprows=1)
income_df_ = income_df_[["Id2", "Households; Estimate; Total", "Households; Estimate; Median income (dollars)"]]
income_df_ = income_df_.rename(index=str, columns={"Id2": "Zip Code", "Households; Estimate; Total": "Number of Households", "Households; Estimate; Median income (dollars)": "Median Income (dollars)"})
income_df_ = income_df_[income_df_["Median Income (dollars)"] != '-']
income_df_["Year"] = year
income_df = income_df.append(income_df_, ignore_index=True)

year = 2015
fname = f"household_income_{year}.csv"
ffname = os.path.join(rootdir, "data", "raw", fname)

income_df_ = pd.read_csv(ffname, skiprows=1)
income_df_ = income_df_[["Id2", "Households; Estimate; Total", "Households; Estimate; Median income (dollars)"]]
income_df_ = income_df_.rename(index=str, columns={"Id2": "Zip Code", "Households; Estimate; Total": "Number of Households", "Households; Estimate; Median income (dollars)": "Median Income (dollars)"})
income_df_ = income_df_[income_df_["Median Income (dollars)"] != '-']
income_df_["Year"] = year
income_df = income_df.append(income_df_, ignore_index=True)

year = 2016
fname = f"household_income_{year}.csv"
ffname = os.path.join(rootdir, "data", "raw", fname)

income_df_ = pd.read_csv(ffname, skiprows=1)
income_df_ = income_df_[["Id2", "Households; Estimate; Total", "Households; Estimate; Median income (dollars)"]]
income_df_ = income_df_.rename(index=str, columns={"Id2": "Zip Code", "Households; Estimate; Total": "Number of Households", "Households; Estimate; Median income (dollars)": "Median Income (dollars)"})
income_df_ = income_df_[income_df_["Median Income (dollars)"] != '-']
income_df_["Year"] = year
income_df = income_df.append(income_df_, ignore_index=True)

In [51]:
# perform data cleansing
income_df["Number of Households"] = income_df["Number of Households"].apply(lambda x: int(x))
income_df["Median Income (dollars)"].loc[income_df["Median Income (dollars)"] == '2,500-'] = 25000
income_df["Median Income (dollars)"].loc[income_df["Median Income (dollars)"] == '250,000+'] = 25000
income_df = income_df.loc[income_df["Median Income (dollars)"] != "(X)"]
income_df["Median Income (dollars)"] = income_df["Median Income (dollars)"].apply(pd.to_numeric)
income_df["Year"] = income_df["Year"].apply(pd.to_numeric)

D:\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [52]:
# perform interplation to fill month values
interp_kind = "slinear"
income_interp_df = pd.DataFrame()
for zipcode in income_df["Zip Code"].unique():
    # get zip code data frame
    zipcode_df = income_df.loc[income_df["Zip Code"] == zipcode, :]
    
    # get values
    n_years = zipcode_df.shape[0]
    years = zipcode_df["Year"].values
    incomes = zipcode_df["Median Income (dollars)"].values
    households = zipcode_df["Number of Households"].values
    
    # get interpolations
    x_interp = np.linspace(1, n_years * 12,  n_years * 12)
    x = np.insert(np.linspace(1, n_years,  n_years) * 12, 0, 0)
    
    incomes_interp = interp1d(
        x_interp, x, np.insert(incomes, 0, incomes[0]), kind=interp_kind).astype(float).tolist()
    households_interp = interp1d(
        x_interp, x, np.insert(households, 0, households[0]), kind=interp_kind).astype(int).tolist()
    years_interp = np.repeat(years, 12).tolist()
    month_interp = np.tile(np.linspace(1, 12, 12).astype(int), n_years).tolist()
    
    
    # create new
    zipcode_interp_df = pd.DataFrame({"Year": years_interp,
                                      "Month": month_interp,
                                      "Number of Households": households_interp,
                                      "Median Income (dollars)": incomes_interp,
                                      "Zip Code": zipcode})
    income_interp_df = income_interp_df.append(zipcode_interp_df)

output = os.path.join(rootdir, "data", "int", "median_income_by_zip.csv")
income_interp_df.to_csv(output, index=False)
income_interp_df

    Median Income (dollars)  Month  Number of Households  Year  Zip Code
0                  42009.00      1                   605  2011     73949
1                  42009.00      2                   605  2011     73949
2                  42009.00      3                   605  2011     73949
3                  42009.00      4                   605  2011     73949
4                  42009.00      5                   605  2011     73949
5                  42009.00      6                   605  2011     73949
6                  42009.00      7                   605  2011     73949
7                  42009.00      8                   605  2011     73949
8                  42009.00      9                   605  2011     73949
9                  42009.00     10                   605  2011     73949
10                 42009.00     11                   605  2011     73949
11                 42009.00     12                   605  2011     73949
12                 42339.25      1                   602  2012     73949
13                 42669.50      2                   599  2012     73949
14                 42999.75      3                   597  2012     73949
15                 43330.00      4                   594  2012     73949
16                 43660.25      5                   591  2012     73949
17                 43990.50      6                   589  2012     73949
18                 44320.75      7                   586  2012     73949
19                 44651.00      8                   583  2012     73949
20                 44981.25      9                   581  2012     73949
21                 45311.50     10                   578  2012     73949
22                 45641.75     11                   575  2012     73949
23                 45972.00     12                   573  2012     73949
24                 46132.50      1                   573  2013     73949
25                 46293.00      2                   573  2013     73949
26                 46453.50      3                   573  2013     73949
27                 46614.00      4                   573  2013     73949
28                 46774.50      5                   573  2013     73949
29                 46935.00      6                   574  2013     73949
..                      ...    ...                   ...   ...       ...
6                  25485.00      7                  4090  2016     88081
7                  25485.00      8                  4090  2016     88081
8                  25485.00      9                  4090  2016     88081
9                  25485.00     10                  4090  2016     88081
10                 25485.00     11                  4090  2016     88081
11                 25485.00     12                  4090  2016     88081
0                  51368.00      1                  4639  2016     88260
1                  51368.00      2                  4639  2016     88260
2                  51368.00      3                  4639  2016     88260
3                  51368.00      4                  4639  2016     88260
4                  51368.00      5                  4639  2016     88260
5                  51368.00      6                  4639  2016     88260
6                  51368.00      7                  4639  2016     88260
7                  51368.00      8                  4639  2016     88260
8                  51368.00      9                  4639  2016     88260
9                  51368.00     10                  4639  2016     88260
10                 51368.00     11                  4639  2016     88260
11                 51368.00     12                  4639  2016     88260
0                  35729.00      1                  1181  2016     88415
1                  35729.00      2                  1181  2016     88415
2                  35729.00      3                  1181  2016     88415
3                  35729.00      4                  1181  2016     88415
4                  35729.00      5                  1181  2016     88415
5                  35729.00      6                  1181  2016     88415
6                  35729.00      7                  1181  2016     88415
7                  35729.00      8                  1181  2016     88415
8                  35729.00      9                  1181  2016     88415
9                  35729.00     10                  1181  2016     88415
10                 35729.00     11                  1181  2016     88415
11                 35729.00     12                  1181  2016     88415

[133008 rows x 5 columns]