# Data from Quandl

In [32]:
import quandl
import pandas as pd
from itertools import product
from pprint import pprint
from uszipcode import ZipcodeSearchEngine
import csv

In [2]:
def get_quandl_code(area_category, area_code, indicator_code):
    return f"ZILLOW/{area_category}{area_code}_{indicator_code}"

In [3]:
# init. an instance of ZipcodeSearchEngine
search = ZipcodeSearchEngine()

# define quandl api key
API_KEY = "XL_c6FZRjuz6WYRTJB_a"

# set cities to query
# cities_states = [dict(state="Texas", city="Austin"),
#                  dict(state="Texas", city="Houston"),
#                  dict(state="Texas", city="Dallas")]
cities_states = [dict(state="Texas", city="Austin")]

zips = []

# get zip codes per query city
df = pd.DataFrame()
index = 0
for city_state in cities_states:
    zip_codes = search.by_city_and_state(state=city_state["state"],
                                         city=city_state["city"],
                                         returns=200)
    
    for zip_code in zip_codes:
        df = df.append(pd.DataFrame(zip_code.to_dict(), index=[index]))
        index += 1
#         print(zip_code["Zipcode"])
        # Storing all the zip_codes generated
        zips.append(zip_code["Zipcode"])


area_category = "Z"
area_code = zip_code

## Get Latitude and Longitude per zip code

In [94]:
lati = []
long = []
for z in zips:
    search = ZipcodeSearchEngine()
    zipcode = search.by_zipcode(z)
#     print(zipcode)
    lati.append(zipcode["Latitude"])
    long.append(zipcode["Longitude"])

In [95]:
# Printing the latitude and longitude for each zipcode
zips_df = pd.DataFrame(zips, columns=["Zip Code"])
lati_df = pd.DataFrame(lati, columns=["Latitude"])
long_df = pd.DataFrame(long, columns=["Longitude"])
lat_long = pd.concat([zips_df, lati_df, long_df], axis=1)
lat_long

   Zip Code   Latitude  Longitude
0     78701  30.272921 -97.744386
1     78702  30.260353 -97.714515
2     78703  30.291533 -97.768836
3     78704  30.245673 -97.768836
4     78705  30.296171 -97.738954
5     78712  30.283515 -97.734881
6     78717  30.491658 -97.774270
7     78719  30.159025 -97.681943
8     78721  30.273737 -97.681943
9     78722  30.292043 -97.711800
10    78723  30.308131 -97.681943
11    78724  30.294427 -97.622267
12    78725  30.231667 -97.616844
13    78726  30.419062 -97.839515
14    78727  30.432242 -97.714515
15    78728  30.457067 -97.681943
16    78729  30.464659 -97.747102
17    78730  30.373251 -97.839515
18    78731  30.354241 -97.774270
19    78732  30.378858 -97.892375
20    78733  30.331519 -97.866718
21    78734  30.366666 -97.948390
22    78735  30.257350 -97.861277
23    78736  30.252086 -97.948390
24    78737  30.181965 -97.970185
25    78738  30.296603 -97.970185
26    78739  30.185926 -97.904820
27    78741  30.225949 -97.714515
28    78742  30.240606 -97.660236
29    78744  30.196311 -97.730807
30    78745  30.215387 -97.796012
31    78746  30.296221 -97.829938
32    78747  30.260000 -97.740000
33    78748  30.168207 -97.817760
34    78749  30.217545 -97.855836
35    78750  30.427070 -97.801448
36    78751  30.305571 -97.725376
37    78752  30.331728 -97.705158
38    78753  30.388987 -97.671089
39    78754  30.355886 -97.649386
40    78756  30.324826 -97.738954
41    78757  30.356821 -97.730807
42    78758  30.387069 -97.703656
43    78759  30.401356 -97.752535

In [93]:
# Export the "lat and lng" values to a csv file
lat_long.to_csv("../data/int/0_Lat_Long.csv", index = False ,header = True)

## Zillow Home Value Index - All Homes|ZHVIAH
The Zillow Home Value Index is the median Zestimate valuation for a given geographic area on a given day. <https://www.zillow.com/home-values/>

For now the code is only working for the home value index (Zillow Home Value Index - All Homes). Change: indicator_code to check out some other values.

In [4]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "ZHVIAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1

# Copying the data stored 
home_value_concat = data_data

               Value
Date
1996-04-30  152500.0
1996-05-31  153600.0
1996-06-30  154600.0
1996-07-31  155500.0
1996-08-31  156300.0
1996-09-30  157300.0
1996-10-31  158300.0
1996-11-30  159300.0
1996-12-31  160400.0
1997-01-31  161900.0
1997-02-28  163500.0
1997-03-31  164800.0
1997-04-30  166300.0
1997-05-31  167700.0
1997-06-30  169000.0
1997-07-31  170200.0
1997-08-31  171500.0
1997-09-30  172900.0
1997-10-31  174500.0
1997-11-30  176100.0
1997-12-31  178000.0
1998-01-31  180200.0
1998-02-28  182700.0
1998-03-31  185000.0
1998-04-30  187500.0
1998-05-31  189800.0
1998-06-30  191800.0
1998-07-31  193700.0
1998-08-31  195500.0
1998-09-30  197300.0
...              ...
2015-11-30  367200.0
2015-12-31  370300.0
2016-01-31  372800.0
2016-02-29  375900.0
2016-03-31  375300.0
2016-04-30  369600.0
2016-05-31  366400.0
2016-06-30  370000.0
2016-07-31  373400.0
2016-08-31  373300.0
2016-09-30  370000.0
2016-10-31  366900.0
2016-11-30  365800.0
2016-12-31  366600.0
2017-01-31  369000.0
2017-02-28  372000.0
2017-03-31  374900.0
2017-04-30  377400.0
2017-05-31  378900.0
2017-06-30  378400.0
2017-07-31  381000.0
2017-08-31  388200.0
2017-09-30  396000.0
2017-10-31  400500.0
2017-11-30  404400.0
2017-12-31  407200.0
2018-01-31  408700.0
2018-02-28  411800.0
2018-03-31  417300.0
2018-04-30  420500.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   57800.0
1996-05-31   58900.0
1996-06-30   60300.0
1996-07-31   61900.0
1996-08-31   63600.0
1996-09-30   65400.0
1996-10-31   67400.0
1996-11-30   69500.0
1996-12-31   71700.0
1997-01-31   73900.0
1997-02-28   76100.0
1997-03-31   78300.0
1997-04-30   80700.0
1997-05-31   83100.0
1997-06-30   85500.0
1997-07-31   88100.0
1997-08-31   90900.0
1997-09-30   94000.0
1997-10-31   97500.0
1997-11-30  101600.0
1997-12-31  106100.0
1998-01-31  110900.0
1998-02-28  115600.0
1998-03-31  120000.0
1998-04-30  124100.0
1998-05-31  127600.0
1998-06-30  130300.0
1998-07-31  132200.0
1998-08-31  133100.0
1998-09-30  133300.0
...              ...
2015-11-30  336900.0
2015-12-31  337000.0
2016-01-31  336600.0
2016-02-29  339000.0
2016-03-31  344700.0
2016-04-30  351200.0
2016-05-31  356400.0
2016-06-30  359700.0
2016-07-31  362000.0
2016-08-31  363900.0
2016-09-30  365100.0
2016-10-31  366500.0
2016-11-30  370100.0
2016-12-31  375200.0
2017-01-31  379500.0
2017-02-28  382500.0
2017-03-31  384400.0
2017-04-30  384300.0
2017-05-31  383400.0
2017-06-30  384400.0
2017-07-31  386200.0
2017-08-31  387800.0
2017-09-30  389800.0
2017-10-31  392800.0
2017-11-30  395900.0
2017-12-31  399900.0
2018-01-31  404700.0
2018-02-28  408800.0
2018-03-31  412300.0
2018-04-30  414500.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  307800.0
1996-05-31  305000.0
1996-06-30  303000.0
1996-07-31  301600.0
1996-08-31  300700.0
1996-09-30  300400.0
1996-10-31  300400.0
1996-11-30  301000.0
1996-12-31  301600.0
1997-01-31  302700.0
1997-02-28  304800.0
1997-03-31  307900.0
1997-04-30  311400.0
1997-05-31  315300.0
1997-06-30  319600.0
1997-07-31  324400.0
1997-08-31  329700.0
1997-09-30  335400.0
1997-10-31  341300.0
1997-11-30  347000.0
1997-12-31  352200.0
1998-01-31  356900.0
1998-02-28  361800.0
1998-03-31  367000.0
1998-04-30  371500.0
1998-05-31  375100.0
1998-06-30  377700.0
1998-07-31  379000.0
1998-08-31  379300.0
1998-09-30  378900.0
...              ...
2015-11-30  680000.0
2015-12-31  687500.0
2016-01-31  694800.0
2016-02-29  700100.0
2016-03-31  706200.0
2016-04-30  712000.0
2016-05-31  715700.0
2016-06-30  719600.0
2016-07-31  725500.0
2016-08-31  732000.0
2016-09-30  740100.0
2016-10-31  745700.0
2016-11-30  744700.0
2016-12-31  741800.0
2017-01-31  743100.0
2017-02-28  748400.0
2017-03-31  753900.0
2017-04-30  758000.0
2017-05-31  764500.0
2017-06-30  774400.0
2017-07-31  780500.0
2017-08-31  776700.0
2017-09-30  771000.0
2017-10-31  773300.0
2017-11-30  783100.0
2017-12-31  790000.0
2018-01-31  791300.0
2018-02-28  791900.0
2018-03-31  796300.0
2018-04-30  798800.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  213100.0
1996-05-31  212900.0
1996-06-30  212800.0
1996-07-31  212700.0
1996-08-31  212600.0
1996-09-30  212500.0
1996-10-31  212800.0
1996-11-30  213300.0
1996-12-31  214200.0
1997-01-31  215500.0
1997-02-28  217300.0
1997-03-31  219700.0
1997-04-30  222500.0
1997-05-31  225800.0
1997-06-30  229300.0
1997-07-31  233100.0
1997-08-31  236800.0
1997-09-30  240500.0
1997-10-31  244000.0
1997-11-30  247100.0
1997-12-31  249600.0
1998-01-31  251400.0
1998-02-28  252400.0
1998-03-31  252600.0
1998-04-30  252100.0
1998-05-31  250900.0
1998-06-30  249000.0
1998-07-31  246400.0
1998-08-31  243500.0
1998-09-30  240500.0
...              ...
2015-11-30  464500.0
2015-12-31  466800.0
2016-01-31  469500.0
2016-02-29  470800.0
2016-03-31  470800.0
2016-04-30  470600.0
2016-05-31  470200.0
2016-06-30  469700.0
2016-07-31  469900.0
2016-08-31  470500.0
2016-09-30  470800.0
2016-10-31  471500.0
2016-11-30  472100.0
2016-12-31  472100.0
2017-01-31  473000.0
2017-02-28  474900.0
2017-03-31  476100.0
2017-04-30  477100.0
2017-05-31  480400.0
2017-06-30  484300.0
2017-07-31  488000.0
2017-08-31  489700.0
2017-09-30  488400.0
2017-10-31  485900.0
2017-11-30  485600.0
2017-12-31  486100.0
2018-01-31  485600.0
2018-02-28  488500.0
2018-03-31  495700.0
2018-04-30  500900.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   94100.0
1996-05-31   94500.0
1996-06-30   95000.0
1996-07-31   95500.0
1996-08-31   95900.0
1996-09-30   96400.0
1996-10-31   96800.0
1996-11-30   97100.0
1996-12-31   97400.0
1997-01-31   97800.0
1997-02-28   98300.0
1997-03-31   98800.0
1997-04-30   99400.0
1997-05-31  100200.0
1997-06-30  101200.0
1997-07-31  102400.0
1997-08-31  103700.0
1997-09-30  105100.0
1997-10-31  106800.0
1997-11-30  108500.0
1997-12-31  110400.0
1998-01-31  112500.0
1998-02-28  114500.0
1998-03-31  116400.0
1998-04-30  118400.0
1998-05-31  120300.0
1998-06-30  122200.0
1998-07-31  123800.0
1998-08-31  125300.0
1998-09-30  126600.0
...              ...
2015-11-30  229000.0
2015-12-31  232500.0
2016-01-31  235100.0
2016-02-29  236300.0
2016-03-31  236900.0
2016-04-30  237800.0
2016-05-31  239100.0
2016-06-30  240300.0
2016-07-31  242000.0
2016-08-31  243900.0
2016-09-30  245800.0
2016-10-31  247900.0
2016-11-30  249800.0
2016-12-31  249600.0
2017-01-31  248300.0
2017-02-28  248100.0
2017-03-31  249600.0
2017-04-30  251100.0
2017-05-31  252900.0
2017-06-30  254300.0
2017-07-31  252300.0
2017-08-31  248000.0
2017-09-30  244400.0
2017-10-31  241800.0
2017-11-30  239900.0
2017-12-31  241600.0
2018-01-31  245600.0
2018-02-28  250500.0
2018-03-31  255400.0
2018-04-30  258500.0

[265 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
1996-04-30  196100.0
1996-05-31  196100.0
1996-06-30  196500.0
1996-07-31  197300.0
1996-08-31  198500.0
1996-09-30  200000.0
1996-10-31  201500.0
1996-11-30  203000.0
1996-12-31  204200.0
1997-01-31  205200.0
1997-02-28  206200.0
1997-03-31  207400.0
1997-04-30  208600.0
1997-05-31  209600.0
1997-06-30  210600.0
1997-07-31  211600.0
1997-08-31  212700.0
1997-09-30  213800.0
1997-10-31  214900.0
1997-11-30  216000.0
1997-12-31  216900.0
1998-01-31  217600.0
1998-02-28  218300.0
1998-03-31  219000.0
1998-04-30  219500.0
1998-05-31  219800.0
1998-06-30  220000.0
1998-07-31  220100.0
1998-08-31  220300.0
1998-09-30  220400.0
...              ...
2015-11-30  301600.0
2015-12-31  303600.0
2016-01-31  305800.0
2016-02-29  307700.0
2016-03-31  310800.0
2016-04-30  315000.0
2016-05-31  319300.0
2016-06-30  323800.0
2016-07-31  327900.0
2016-08-31  331400.0
2016-09-30  333700.0
2016-10-31  334100.0
2016-11-30  334200.0
2016-12-31  334900.0
2017-01-31  335200.0
2017-02-28  335700.0
2017-03-31  336600.0
2017-04-30  338400.0
2017-05-31  340200.0
2017-06-30  339900.0
2017-07-31  337700.0
2017-08-31  336100.0
2017-09-30  337200.0
2017-10-31  341500.0
2017-11-30  345400.0
2017-12-31  347300.0
2018-01-31  350100.0
2018-02-28  354100.0
2018-03-31  357500.0
2018-04-30  358800.0

[265 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

               Value
Date
1996-04-30   66700.0
1996-05-31   66500.0
1996-06-30   66300.0
1996-07-31   66200.0
1996-08-31   66200.0
1996-09-30   66200.0
1996-10-31   66200.0
1996-11-30   66400.0
1996-12-31   66700.0
1997-01-31   67100.0
1997-02-28   67700.0
1997-03-31   68400.0
1997-04-30   69200.0
1997-05-31   70100.0
1997-06-30   71100.0
1997-07-31   72200.0
1997-08-31   73400.0
1997-09-30   74600.0
1997-10-31   75800.0
1997-11-30   77100.0
1997-12-31   78400.0
1998-01-31   79700.0
1998-02-28   81000.0
1998-03-31   82300.0
1998-04-30   83500.0
1998-05-31   84600.0
1998-06-30   85600.0
1998-07-31   86600.0
1998-08-31   87400.0
1998-09-30   88100.0
...              ...
2015-11-30  212700.0
2015-12-31  213800.0
2016-01-31  216800.0
2016-02-29  222100.0
2016-03-31  228200.0
2016-04-30  232400.0
2016-05-31  237300.0
2016-06-30  244300.0
2016-07-31  250300.0
2016-08-31  254000.0
2016-09-30  257200.0
2016-10-31  259900.0
2016-11-30  261700.0
2016-12-31  264500.0
2017-01-31  267600.0
2017-02-28  269200.0
2017-03-31  268900.0
2017-04-30  269800.0
2017-05-31  272500.0
2017-06-30  276500.0
2017-07-31  279600.0
2017-08-31  281300.0
2017-09-30  281800.0
2017-10-31  284300.0
2017-11-30  288700.0
2017-12-31  293100.0
2018-01-31  296200.0
2018-02-28  297800.0
2018-03-31  297300.0
2018-04-30  296100.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   76200.0
1996-05-31   76400.0
1996-06-30   76500.0
1996-07-31   76700.0
1996-08-31   77000.0
1996-09-30   77200.0
1996-10-31   77600.0
1996-11-30   78100.0
1996-12-31   78700.0
1997-01-31   79300.0
1997-02-28   79900.0
1997-03-31   80500.0
1997-04-30   81400.0
1997-05-31   82500.0
1997-06-30   83700.0
1997-07-31   85000.0
1997-08-31   86500.0
1997-09-30   88100.0
1997-10-31   89800.0
1997-11-30   91800.0
1997-12-31   94100.0
1998-01-31   96200.0
1998-02-28   98300.0
1998-03-31  100500.0
1998-04-30  102900.0
1998-05-31  105300.0
1998-06-30  107900.0
1998-07-31  110600.0
1998-08-31  113200.0
1998-09-30  115900.0
...              ...
2015-11-30  365800.0
2015-12-31  362900.0
2016-01-31  361800.0
2016-02-29  364000.0
2016-03-31  368000.0
2016-04-30  371600.0
2016-05-31  374600.0
2016-06-30  376200.0
2016-07-31  377200.0
2016-08-31  377900.0
2016-09-30  378400.0
2016-10-31  379900.0
2016-11-30  381400.0
2016-12-31  383100.0
2017-01-31  385200.0
2017-02-28  386500.0
2017-03-31  386700.0
2017-04-30  388000.0
2017-05-31  389900.0
2017-06-30  391800.0
2017-07-31  394500.0
2017-08-31  397500.0
2017-09-30  399100.0
2017-10-31  399300.0
2017-11-30  400900.0
2017-12-31  403200.0
2018-01-31  405100.0
2018-02-28  408200.0
2018-03-31  413900.0
2018-04-30  417400.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   97200.0
1996-05-31   98600.0
1996-06-30   99800.0
1996-07-31  100800.0
1996-08-31  101300.0
1996-09-30  101300.0
1996-10-31  100800.0
1996-11-30   99800.0
1996-12-31   98800.0
1997-01-31   97800.0
1997-02-28   96600.0
1997-03-31   95400.0
1997-04-30   94500.0
1997-05-31   94000.0
1997-06-30   94000.0
1997-07-31   94600.0
1997-08-31   95700.0
1997-09-30   97300.0
1997-10-31   99400.0
1997-11-30  101800.0
1997-12-31  104800.0
1998-01-31  108000.0
1998-02-28  110800.0
1998-03-31  113000.0
1998-04-30  114800.0
1998-05-31  116100.0
1998-06-30  116600.0
1998-07-31  116500.0
1998-08-31  115800.0
1998-09-30  114800.0
...              ...
2015-11-30  285800.0
2015-12-31  288400.0
2016-01-31  290800.0
2016-02-29  293600.0
2016-03-31  297900.0
2016-04-30  303100.0
2016-05-31  308000.0
2016-06-30  311800.0
2016-07-31  314400.0
2016-08-31  316800.0
2016-09-30  319400.0
2016-10-31  321900.0
2016-11-30  323000.0
2016-12-31  323400.0
2017-01-31  323800.0
2017-02-28  324600.0
2017-03-31  325600.0
2017-04-30  327200.0
2017-05-31  328800.0
2017-06-30  331100.0
2017-07-31  334400.0
2017-08-31  337100.0
2017-09-30  338800.0
2017-10-31  341300.0
2017-11-30  345700.0
2017-12-31  350600.0
2018-01-31  354200.0
2018-02-28  357100.0
2018-03-31  360300.0
2018-04-30  362700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   97500.0
1996-05-31   96900.0
1996-06-30   96200.0
1996-07-31   95600.0
1996-08-31   95100.0
1996-09-30   94700.0
1996-10-31   94300.0
1996-11-30   94100.0
1996-12-31   93900.0
1997-01-31   93700.0
1997-02-28   93700.0
1997-03-31   93900.0
1997-04-30   94100.0
1997-05-31   94400.0
1997-06-30   94700.0
1997-07-31   95000.0
1997-08-31   95300.0
1997-09-30   95600.0
1997-10-31   96000.0
1997-11-30   96200.0
1997-12-31   96400.0
1998-01-31   96500.0
1998-02-28   96700.0
1998-03-31   97000.0
1998-04-30   97200.0
1998-05-31   97400.0
1998-06-30   97600.0
1998-07-31   97800.0
1998-08-31   98000.0
1998-09-30   98200.0
...              ...
2015-11-30  141400.0
2015-12-31  143200.0
2016-01-31  145200.0
2016-02-29  147200.0
2016-03-31  149900.0
2016-04-30  153800.0
2016-05-31  158000.0
2016-06-30  162300.0
2016-07-31  166800.0
2016-08-31  170000.0
2016-09-30  171700.0
2016-10-31  173600.0
2016-11-30  175000.0
2016-12-31  175600.0
2017-01-31  176600.0
2017-02-28  178000.0
2017-03-31  178800.0
2017-04-30  178800.0
2017-05-31  178600.0
2017-06-30  178400.0
2017-07-31  178300.0
2017-08-31  178800.0
2017-09-30  180000.0
2017-10-31  181700.0
2017-11-30  183800.0
2017-12-31  185300.0
2018-01-31  186400.0
2018-02-28  187900.0
2018-03-31  189100.0
2018-04-30  189300.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  105600.0
1996-05-31  105200.0
1996-06-30  104800.0
1996-07-31  104500.0
1996-08-31  104200.0
1996-09-30  104000.0
1996-10-31  103800.0
1996-11-30  103700.0
1996-12-31  103700.0
1997-01-31  103700.0
1997-02-28  103600.0
1997-03-31  103700.0
1997-04-30  103800.0
1997-05-31  103900.0
1997-06-30  104100.0
1997-07-31  104300.0
1997-08-31  104600.0
1997-09-30  104800.0
1997-10-31  105000.0
1997-11-30  105300.0
1997-12-31  105600.0
1998-01-31  105800.0
1998-02-28  106000.0
1998-03-31  106200.0
1998-04-30  106400.0
1998-05-31  106700.0
1998-06-30  107000.0
1998-07-31  107300.0
1998-08-31  107600.0
1998-09-30  107900.0
...              ...
2015-11-30  152100.0
2015-12-31  153300.0
2016-01-31  154500.0
2016-02-29  155600.0
2016-03-31  157400.0
2016-04-30  159900.0
2016-05-31  162600.0
2016-06-30  165400.0
2016-07-31  168000.0
2016-08-31  169900.0
2016-09-30  170800.0
2016-10-31  171500.0
2016-11-30  172100.0
2016-12-31  172600.0
2017-01-31  172900.0
2017-02-28  173800.0
2017-03-31  174700.0
2017-04-30  175700.0
2017-05-31  176500.0
2017-06-30  176900.0
2017-07-31  177100.0
2017-08-31  177900.0
2017-09-30  179200.0
2017-10-31  180900.0
2017-11-30  182700.0
2017-12-31  183800.0
2018-01-31  184400.0
2018-02-28  185300.0
2018-03-31  186300.0
2018-04-30  186800.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  355800.0
1996-05-31  356400.0
1996-06-30  356900.0
1996-07-31  357500.0
1996-08-31  358100.0
1996-09-30  358500.0
1996-10-31  358800.0
1996-11-30  358900.0
1996-12-31  358800.0
1997-01-31  358200.0
1997-02-28  357400.0
1997-03-31  356500.0
1997-04-30  355500.0
1997-05-31  354400.0
1997-06-30  353300.0
1997-07-31  352200.0
1997-08-31  351200.0
1997-09-30  350100.0
1997-10-31  349100.0
1997-11-30  348000.0
1997-12-31  346900.0
1998-01-31  345500.0
1998-02-28  343900.0
1998-03-31  342200.0
1998-04-30  340300.0
1998-05-31  338300.0
1998-06-30  336100.0
1998-07-31  333800.0
1998-08-31  331300.0
1998-09-30  328800.0
...              ...
2015-11-30  405400.0
2015-12-31  408200.0
2016-01-31  411400.0
2016-02-29  413700.0
2016-03-31  415700.0
2016-04-30  417800.0
2016-05-31  418800.0
2016-06-30  418400.0
2016-07-31  418700.0
2016-08-31  420000.0
2016-09-30  422200.0
2016-10-31  424800.0
2016-11-30  426800.0
2016-12-31  427300.0
2017-01-31  427700.0
2017-02-28  428500.0
2017-03-31  430400.0
2017-04-30  433900.0
2017-05-31  437600.0
2017-06-30  440100.0
2017-07-31  439600.0
2017-08-31  437100.0
2017-09-30  435300.0
2017-10-31  435000.0
2017-11-30  434500.0
2017-12-31  433900.0
2018-01-31  433300.0
2018-02-28  434100.0
2018-03-31  437200.0
2018-04-30  439700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  150300.0
1996-05-31  150200.0
1996-06-30  150300.0
1996-07-31  150600.0
1996-08-31  151000.0
1996-09-30  151500.0
1996-10-31  152200.0
1996-11-30  152900.0
1996-12-31  153700.0
1997-01-31  154600.0
1997-02-28  155700.0
1997-03-31  157100.0
1997-04-30  158500.0
1997-05-31  159900.0
1997-06-30  161100.0
1997-07-31  162100.0
1997-08-31  163000.0
1997-09-30  163600.0
1997-10-31  164000.0
1997-11-30  164100.0
1997-12-31  163900.0
1998-01-31  163500.0
1998-02-28  163000.0
1998-03-31  162400.0
1998-04-30  161500.0
1998-05-31  160400.0
1998-06-30  159200.0
1998-07-31  157900.0
1998-08-31  156700.0
1998-09-30  155500.0
...              ...
2015-11-30  246700.0
2015-12-31  248600.0
2016-01-31  249800.0
2016-02-29  250700.0
2016-03-31  252700.0
2016-04-30  255800.0
2016-05-31  259900.0
2016-06-30  265200.0
2016-07-31  270600.0
2016-08-31  275400.0
2016-09-30  279800.0
2016-10-31  284600.0
2016-11-30  288700.0
2016-12-31  291400.0
2017-01-31  294200.0
2017-02-28  298000.0
2017-03-31  300700.0
2017-04-30  302300.0
2017-05-31  303100.0
2017-06-30  303300.0
2017-07-31  303500.0
2017-08-31  303800.0
2017-09-30  304200.0
2017-10-31  305300.0
2017-11-30  306900.0
2017-12-31  309300.0
2018-01-31  311800.0
2018-02-28  313400.0
2018-03-31  315200.0
2018-04-30  316500.0

[265 rows x 1 columns]

               Value
Date
1996-04-30  136600.0
1996-05-31  136500.0
1996-06-30  136400.0
1996-07-31  136300.0
1996-08-31  136100.0
1996-09-30  136000.0
1996-10-31  135900.0
1996-11-30  135900.0
1996-12-31  135900.0
1997-01-31  135900.0
1997-02-28  136000.0
1997-03-31  136100.0
1997-04-30  136200.0
1997-05-31  136400.0
1997-06-30  136600.0
1997-07-31  136900.0
1997-08-31  137200.0
1997-09-30  137500.0
1997-10-31  137800.0
1997-11-30  138100.0
1997-12-31  138300.0
1998-01-31  138500.0
1998-02-28  138600.0
1998-03-31  138600.0
1998-04-30  138600.0
1998-05-31  138600.0
1998-06-30  138500.0
1998-07-31  138400.0
1998-08-31  138400.0
1998-09-30  138400.0
...              ...
2015-11-30  220300.0
2015-12-31  220300.0
2016-01-31  221200.0
2016-02-29  223400.0
2016-03-31  226700.0
2016-04-30  230000.0
2016-05-31  233200.0
2016-06-30  236600.0
2016-07-31  239500.0
2016-08-31  242100.0
2016-09-30  243800.0
2016-10-31  244700.0
2016-11-30  246300.0
2016-12-31  249400.0
2017-01-31  252100.0
2017-02-28  253200.0
2017-03-31  253600.0
2017-04-30  254500.0
2017-05-31  255500.0
2017-06-30  256300.0
2017-07-31  257100.0
2017-08-31  257800.0
2017-09-30  258400.0
2017-10-31  259300.0
2017-11-30  260300.0
2017-12-31  260600.0
2018-01-31  260700.0
2018-02-28  262300.0
2018-03-31  265000.0
2018-04-30  266500.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  162000.0
1996-05-31  162100.0
1996-06-30  162100.0
1996-07-31  162300.0
1996-08-31  162500.0
1996-09-30  162700.0
1996-10-31  163000.0
1996-11-30  163100.0
1996-12-31  163300.0
1997-01-31  163400.0
1997-02-28  163600.0
1997-03-31  163900.0
1997-04-30  164200.0
1997-05-31  164600.0
1997-06-30  165100.0
1997-07-31  165700.0
1997-08-31  166500.0
1997-09-30  167300.0
1997-10-31  168200.0
1997-11-30  169200.0
1997-12-31  170200.0
1998-01-31  171200.0
1998-02-28  172100.0
1998-03-31  172900.0
1998-04-30  173600.0
1998-05-31  174100.0
1998-06-30  174400.0
1998-07-31  174600.0
1998-08-31  174700.0
1998-09-30  174500.0
...              ...
2015-11-30  242500.0
2015-12-31  243800.0
2016-01-31  245500.0
2016-02-29  247400.0
2016-03-31  249500.0
2016-04-30  252200.0
2016-05-31  254900.0
2016-06-30  257900.0
2016-07-31  260400.0
2016-08-31  263100.0
2016-09-30  266700.0
2016-10-31  269700.0
2016-11-30  271400.0
2016-12-31  272700.0
2017-01-31  274100.0
2017-02-28  275300.0
2017-03-31  276600.0
2017-04-30  276900.0
2017-05-31  276900.0
2017-06-30  278000.0
2017-07-31  279400.0
2017-08-31  279400.0
2017-09-30  279900.0
2017-10-31  282100.0
2017-11-30  285100.0
2017-12-31  287400.0
2018-01-31  289500.0
2018-02-28  292300.0
2018-03-31  294400.0
2018-04-30  294900.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  434900.0
1996-05-31  434500.0
1996-06-30  434100.0
1996-07-31  433900.0
1996-08-31  433800.0
1996-09-30  433700.0
1996-10-31  433800.0
1996-11-30  434000.0
1996-12-31  434100.0
1997-01-31  434200.0
1997-02-28  434500.0
1997-03-31  434800.0
1997-04-30  435200.0
1997-05-31  435700.0
1997-06-30  436300.0
1997-07-31  436800.0
1997-08-31  437400.0
1997-09-30  438000.0
1997-10-31  438500.0
1997-11-30  439000.0
1997-12-31  439400.0
1998-01-31  439700.0
1998-02-28  439800.0
1998-03-31  440000.0
1998-04-30  440100.0
1998-05-31  440200.0
1998-06-30  440100.0
1998-07-31  440000.0
1998-08-31  439800.0
1998-09-30  439600.0
...              ...
2015-11-30  538700.0
2015-12-31  544900.0
2016-01-31  556600.0
2016-02-29  568100.0
2016-03-31  575300.0
2016-04-30  583200.0
2016-05-31  591000.0
2016-06-30  595200.0
2016-07-31  596300.0
2016-08-31  598700.0
2016-09-30  601100.0
2016-10-31  603300.0
2016-11-30  603300.0
2016-12-31  599500.0
2017-01-31  596800.0
2017-02-28  595800.0
2017-03-31  595400.0
2017-04-30  595700.0
2017-05-31  599200.0
2017-06-30  605900.0
2017-07-31  611800.0
2017-08-31  612400.0
2017-09-30  609700.0
2017-10-31  606200.0
2017-11-30  604900.0
2017-12-31  605600.0
2018-01-31  605500.0
2018-02-28  608900.0
2018-03-31  621200.0
2018-04-30  632200.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  336500.0
1996-05-31  334200.0
1996-06-30  332400.0
1996-07-31  331400.0
1996-08-31  331200.0
1996-09-30  332000.0
1996-10-31  333700.0
1996-11-30  336300.0
1996-12-31  339000.0
1997-01-31  341500.0
1997-02-28  344100.0
1997-03-31  346500.0
1997-04-30  347800.0
1997-05-31  348300.0
1997-06-30  348400.0
1997-07-31  348400.0
1997-08-31  348500.0
1997-09-30  348900.0
1997-10-31  349600.0
1997-11-30  350300.0
1997-12-31  350600.0
1998-01-31  350400.0
1998-02-28  350400.0
1998-03-31  350600.0
1998-04-30  350100.0
1998-05-31  348900.0
1998-06-30  346800.0
1998-07-31  343700.0
1998-08-31  340000.0
1998-09-30  336000.0
...              ...
2015-11-30  490500.0
2015-12-31  494200.0
2016-01-31  500000.0
2016-02-29  507700.0
2016-03-31  515900.0
2016-04-30  520400.0
2016-05-31  525700.0
2016-06-30  533100.0
2016-07-31  539300.0
2016-08-31  544500.0
2016-09-30  552000.0
2016-10-31  558100.0
2016-11-30  558800.0
2016-12-31  558600.0
2017-01-31  560500.0
2017-02-28  560000.0
2017-03-31  556900.0
2017-04-30  557500.0
2017-05-31  558200.0
2017-06-30  556100.0
2017-07-31  554000.0
2017-08-31  553100.0
2017-09-30  551400.0
2017-10-31  552900.0
2017-11-30  556300.0
2017-12-31  557000.0
2018-01-31  554000.0
2018-02-28  558300.0
2018-03-31  573300.0
2018-04-30  586200.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  365000.0
1996-05-31  363400.0
1996-06-30  361400.0
1996-07-31  358900.0
1996-08-31  356000.0
1996-09-30  352600.0
1996-10-31  348700.0
1996-11-30  344500.0
1996-12-31  340100.0
1997-01-31  335700.0
1997-02-28  331200.0
1997-03-31  326600.0
1997-04-30  322300.0
1997-05-31  318300.0
1997-06-30  314500.0
1997-07-31  310900.0
1997-08-31  307600.0
1997-09-30  304600.0
1997-10-31  301900.0
1997-11-30  299400.0
1997-12-31  297300.0
1998-01-31  295400.0
1998-02-28  293600.0
1998-03-31  291800.0
1998-04-30  290400.0
1998-05-31  289400.0
1998-06-30  288700.0
1998-07-31  288500.0
1998-08-31  288700.0
1998-09-30  289100.0
...              ...
2015-11-30  440600.0
2015-12-31  441100.0
2016-01-31  442200.0
2016-02-29  444200.0
2016-03-31  446200.0
2016-04-30  448500.0
2016-05-31  451000.0
2016-06-30  454100.0
2016-07-31  456600.0
2016-08-31  457700.0
2016-09-30  457600.0
2016-10-31  458600.0
2016-11-30  459200.0
2016-12-31  458400.0
2017-01-31  457400.0
2017-02-28  457800.0
2017-03-31  458400.0
2017-04-30  457900.0
2017-05-31  457300.0
2017-06-30  457700.0
2017-07-31  458700.0
2017-08-31  459900.0
2017-09-30  461600.0
2017-10-31  463200.0
2017-11-30  464300.0
2017-12-31  464800.0
2018-01-31  465100.0
2018-02-28  465600.0
2018-03-31  468000.0
2018-04-30  470700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  395900.0
1996-05-31  395000.0
1996-06-30  394200.0
1996-07-31  393400.0
1996-08-31  392800.0
1996-09-30  392300.0
1996-10-31  392200.0
1996-11-30  392400.0
1996-12-31  392800.0
1997-01-31  393300.0
1997-02-28  393900.0
1997-03-31  394700.0
1997-04-30  395500.0
1997-05-31  396100.0
1997-06-30  396800.0
1997-07-31  397400.0
1997-08-31  398100.0
1997-09-30  398800.0
1997-10-31  399400.0
1997-11-30  400100.0
1997-12-31  400600.0
1998-01-31  401100.0
1998-02-28  401400.0
1998-03-31  401600.0
1998-04-30  401700.0
1998-05-31  401600.0
1998-06-30  401500.0
1998-07-31  401500.0
1998-08-31  401700.0
1998-09-30  402000.0
...              ...
2015-11-30  499400.0
2015-12-31  499200.0
2016-01-31  499900.0
2016-02-29  498900.0
2016-03-31  499200.0
2016-04-30  500400.0
2016-05-31  504500.0
2016-06-30  513400.0
2016-07-31  525200.0
2016-08-31  533700.0
2016-09-30  541700.0
2016-10-31  551400.0
2016-11-30  554200.0
2016-12-31  550000.0
2017-01-31  547500.0
2017-02-28  549000.0
2017-03-31  546500.0
2017-04-30  546600.0
2017-05-31  550500.0
2017-06-30  553500.0
2017-07-31  557900.0
2017-08-31  567200.0
2017-09-30  572800.0
2017-10-31  572700.0
2017-11-30  572800.0
2017-12-31  575200.0
2018-01-31  579500.0
2018-02-28  590600.0
2018-03-31  605400.0
2018-04-30  613400.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  222200.0
1996-05-31  222800.0
1996-06-30  223600.0
1996-07-31  224500.0
1996-08-31  225700.0
1996-09-30  226900.0
1996-10-31  228100.0
1996-11-30  229300.0
1996-12-31  230400.0
1997-01-31  231300.0
1997-02-28  232000.0
1997-03-31  232600.0
1997-04-30  232900.0
1997-05-31  233100.0
1997-06-30  233100.0
1997-07-31  233200.0
1997-08-31  233200.0
1997-09-30  233200.0
1997-10-31  233400.0
1997-11-30  233600.0
1997-12-31  233800.0
1998-01-31  234000.0
1998-02-28  234300.0
1998-03-31  234700.0
1998-04-30  235100.0
1998-05-31  235700.0
1998-06-30  236300.0
1998-07-31  237000.0
1998-08-31  237700.0
1998-09-30  238200.0
...              ...
2015-11-30  352600.0
2015-12-31  354000.0
2016-01-31  356400.0
2016-02-29  357600.0
2016-03-31  358100.0
2016-04-30  359600.0
2016-05-31  362300.0
2016-06-30  363300.0
2016-07-31  364400.0
2016-08-31  366400.0
2016-09-30  369200.0
2016-10-31  372600.0
2016-11-30  374900.0
2016-12-31  375500.0
2017-01-31  375800.0
2017-02-28  377000.0
2017-03-31  377800.0
2017-04-30  378000.0
2017-05-31  378800.0
2017-06-30  380700.0
2017-07-31  381400.0
2017-08-31  381400.0
2017-09-30  382200.0
2017-10-31  383700.0
2017-11-30  385300.0
2017-12-31  386500.0
2018-01-31  387600.0
2018-02-28  390200.0
2018-03-31  394900.0
2018-04-30  398400.0

[265 rows x 1 columns]

               Value
Date
1996-04-30  753500.0
1996-05-31  740800.0
1996-06-30  728700.0
1996-07-31  717100.0
1996-08-31  706500.0
1996-09-30  697200.0
1996-10-31  689100.0
1996-11-30  683400.0
1996-12-31  678100.0
1997-01-31  673600.0
1997-02-28  672000.0
1997-03-31  673800.0
1997-04-30  676700.0
1997-05-31  680400.0
1997-06-30  684500.0
1997-07-31  688300.0
1997-08-31  691300.0
1997-09-30  692600.0
1997-10-31  691800.0
1997-11-30  689200.0
1997-12-31  682700.0
1998-01-31  672900.0
1998-02-28  662000.0
1998-03-31  650700.0
1998-04-30  636900.0
1998-05-31  621700.0
1998-06-30  604900.0
1998-07-31  586900.0
1998-08-31  568100.0
1998-09-30  549000.0
...              ...
2015-11-30  431000.0
2015-12-31  434200.0
2016-01-31  438600.0
2016-02-29  442300.0
2016-03-31  445600.0
2016-04-30  449400.0
2016-05-31  453300.0
2016-06-30  456700.0
2016-07-31  459600.0
2016-08-31  462200.0
2016-09-30  463700.0
2016-10-31  464200.0
2016-11-30  463300.0
2016-12-31  461000.0
2017-01-31  459600.0
2017-02-28  460300.0
2017-03-31  461000.0
2017-04-30  460900.0
2017-05-31  460800.0
2017-06-30  461200.0
2017-07-31  461100.0
2017-08-31  460400.0
2017-09-30  459700.0
2017-10-31  460400.0
2017-11-30  461400.0
2017-12-31  462100.0
2018-01-31  462800.0
2018-02-28  465500.0
2018-03-31  469800.0
2018-04-30  473000.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  181100.0
1996-05-31  181500.0
1996-06-30  182000.0
1996-07-31  182500.0
1996-08-31  182900.0
1996-09-30  183400.0
1996-10-31  183800.0
1996-11-30  184200.0
1996-12-31  184600.0
1997-01-31  185000.0
1997-02-28  185100.0
1997-03-31  185200.0
1997-04-30  185100.0
1997-05-31  185000.0
1997-06-30  184700.0
1997-07-31  184400.0
1997-08-31  183900.0
1997-09-30  183300.0
1997-10-31  182700.0
1997-11-30  182100.0
1997-12-31  181400.0
1998-01-31  180700.0
1998-02-28  180000.0
1998-03-31  179400.0
1998-04-30  178700.0
1998-05-31  178300.0
1998-06-30  178000.0
1998-07-31  177800.0
1998-08-31  177700.0
1998-09-30  177700.0
...              ...
2015-11-30  282200.0
2015-12-31  284400.0
2016-01-31  286800.0
2016-02-29  289000.0
2016-03-31  291400.0
2016-04-30  295900.0
2016-05-31  300300.0
2016-06-30  303100.0
2016-07-31  305500.0
2016-08-31  309100.0
2016-09-30  313600.0
2016-10-31  319300.0
2016-11-30  325600.0
2016-12-31  331800.0
2017-01-31  336200.0
2017-02-28  337200.0
2017-03-31  335800.0
2017-04-30  334700.0
2017-05-31  334600.0
2017-06-30  335100.0
2017-07-31  333300.0
2017-08-31  330100.0
2017-09-30  329400.0
2017-10-31  330400.0
2017-11-30  329800.0
2017-12-31  328100.0
2018-01-31  328400.0
2018-02-28  332600.0
2018-03-31  339800.0
2018-04-30  344900.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  241400.0
1996-05-31  242300.0
1996-06-30  243300.0
1996-07-31  244100.0
1996-08-31  244900.0
1996-09-30  245700.0
1996-10-31  246300.0
1996-11-30  246900.0
1996-12-31  247400.0
1997-01-31  248000.0
1997-02-28  248400.0
1997-03-31  248500.0
1997-04-30  248500.0
1997-05-31  248300.0
1997-06-30  248100.0
1997-07-31  247800.0
1997-08-31  247600.0
1997-09-30  247400.0
1997-10-31  247200.0
1997-11-30  247100.0
1997-12-31  247100.0
1998-01-31  247400.0
1998-02-28  247700.0
1998-03-31  247800.0
1998-04-30  248100.0
1998-05-31  248300.0
1998-06-30  248700.0
1998-07-31  249100.0
1998-08-31  249800.0
1998-09-30  250500.0
...              ...
2015-11-30  383500.0
2015-12-31  385000.0
2016-01-31  387300.0
2016-02-29  389600.0
2016-03-31  390600.0
2016-04-30  390700.0
2016-05-31  391100.0
2016-06-30  394500.0
2016-07-31  399700.0
2016-08-31  403600.0
2016-09-30  405400.0
2016-10-31  406900.0
2016-11-30  408600.0
2016-12-31  411400.0
2017-01-31  415200.0
2017-02-28  417700.0
2017-03-31  417900.0
2017-04-30  419300.0
2017-05-31  421900.0
2017-06-30  422700.0
2017-07-31  421400.0
2017-08-31  421700.0
2017-09-30  424500.0
2017-10-31  428300.0
2017-11-30  431500.0
2017-12-31  433000.0
2018-01-31  433700.0
2018-02-28  436300.0
2018-03-31  441500.0
2018-04-30  444500.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  331800.0
1996-05-31  329300.0
1996-06-30  326600.0
1996-07-31  323900.0
1996-08-31  321200.0
1996-09-30  318600.0
1996-10-31  316300.0
1996-11-30  314300.0
1996-12-31  312500.0
1997-01-31  311300.0
1997-02-28  310600.0
1997-03-31  310200.0
1997-04-30  310300.0
1997-05-31  310800.0
1997-06-30  311900.0
1997-07-31  313400.0
1997-08-31  315300.0
1997-09-30  317600.0
1997-10-31  320200.0
1997-11-30  323000.0
1997-12-31  325900.0
1998-01-31  328600.0
1998-02-28  331200.0
1998-03-31  333300.0
1998-04-30  335200.0
1998-05-31  336700.0
1998-06-30  338000.0
1998-07-31  339100.0
1998-08-31  339900.0
1998-09-30  340700.0
...              ...
2015-11-30  472400.0
2015-12-31  473100.0
2016-01-31  474100.0
2016-02-29  474500.0
2016-03-31  474100.0
2016-04-30  474500.0
2016-05-31  475700.0
2016-06-30  476600.0
2016-07-31  477300.0
2016-08-31  477400.0
2016-09-30  477200.0
2016-10-31  477900.0
2016-11-30  478300.0
2016-12-31  477900.0
2017-01-31  478100.0
2017-02-28  478400.0
2017-03-31  478100.0
2017-04-30  478900.0
2017-05-31  480500.0
2017-06-30  481200.0
2017-07-31  481200.0
2017-08-31  481300.0
2017-09-30  481600.0
2017-10-31  482300.0
2017-11-30  483600.0
2017-12-31  484400.0
2018-01-31  483400.0
2018-02-28  487200.0
2018-03-31  496300.0
2018-04-30  502400.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  375200.0
1996-05-31  370800.0
1996-06-30  366800.0
1996-07-31  363300.0
1996-08-31  360200.0
1996-09-30  357800.0
1996-10-31  355700.0
1996-11-30  354200.0
1996-12-31  352900.0
1997-01-31  352000.0
1997-02-28  352000.0
1997-03-31  353000.0
1997-04-30  354600.0
1997-05-31  356600.0
1997-06-30  358800.0
1997-07-31  360800.0
1997-08-31  362500.0
1997-09-30  363600.0
1997-10-31  364000.0
1997-11-30  363900.0
1997-12-31  362800.0
1998-01-31  360800.0
1998-02-28  358700.0
1998-03-31  356400.0
1998-04-30  353800.0
1998-05-31  351300.0
1998-06-30  348800.0
1998-07-31  346600.0
1998-08-31  344700.0
1998-09-30  343100.0
...              ...
2015-11-30  409900.0
2015-12-31  412700.0
2016-01-31  416100.0
2016-02-29  418500.0
2016-03-31  421200.0
2016-04-30  424900.0
2016-05-31  427700.0
2016-06-30  429100.0
2016-07-31  430100.0
2016-08-31  430800.0
2016-09-30  431200.0
2016-10-31  431400.0
2016-11-30  431600.0
2016-12-31  431800.0
2017-01-31  432700.0
2017-02-28  434600.0
2017-03-31  436800.0
2017-04-30  438700.0
2017-05-31  440400.0
2017-06-30  441700.0
2017-07-31  442100.0
2017-08-31  442400.0
2017-09-30  444200.0
2017-10-31  446700.0
2017-11-30  448200.0
2017-12-31  448900.0
2018-01-31  449500.0
2018-02-28  450400.0
2018-03-31  451300.0
2018-04-30  451000.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   85400.0
1996-05-31   85400.0
1996-06-30   85400.0
1996-07-31   85600.0
1996-08-31   85800.0
1996-09-30   86000.0
1996-10-31   86300.0
1996-11-30   86600.0
1996-12-31   86900.0
1997-01-31   87200.0
1997-02-28   87600.0
1997-03-31   88100.0
1997-04-30   88500.0
1997-05-31   89100.0
1997-06-30   89600.0
1997-07-31   90300.0
1997-08-31   91000.0
1997-09-30   91800.0
1997-10-31   92700.0
1997-11-30   93600.0
1997-12-31   94600.0
1998-01-31   95600.0
1998-02-28   96500.0
1998-03-31   97500.0
1998-04-30   98300.0
1998-05-31   99000.0
1998-06-30   99600.0
1998-07-31  100000.0
1998-08-31  100200.0
1998-09-30  100200.0
...              ...
2015-11-30  170600.0
2015-12-31  173300.0
2016-01-31  176100.0
2016-02-29  178400.0
2016-03-31  181100.0
2016-04-30  186800.0
2016-05-31  194300.0
2016-06-30  200300.0
2016-07-31  204500.0
2016-08-31  208200.0
2016-09-30  210300.0
2016-10-31  211300.0
2016-11-30  212100.0
2016-12-31  212100.0
2017-01-31  212600.0
2017-02-28  213900.0
2017-03-31  214100.0
2017-04-30  213900.0
2017-05-31  214500.0
2017-06-30  214700.0
2017-07-31  213800.0
2017-08-31  213200.0
2017-09-30  213600.0
2017-10-31  215200.0
2017-11-30  217500.0
2017-12-31  219300.0
2018-01-31  218700.0
2018-02-28  220700.0
2018-03-31  227900.0
2018-04-30  233700.0

[265 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

               Value
Date
1996-04-30   85900.0
1996-05-31   85800.0
1996-06-30   85700.0
1996-07-31   85600.0
1996-08-31   85500.0
1996-09-30   85300.0
1996-10-31   85100.0
1996-11-30   84900.0
1996-12-31   84800.0
1997-01-31   84600.0
1997-02-28   84400.0
1997-03-31   84200.0
1997-04-30   84000.0
1997-05-31   83900.0
1997-06-30   83900.0
1997-07-31   83900.0
1997-08-31   84000.0
1997-09-30   84200.0
1997-10-31   84500.0
1997-11-30   84700.0
1997-12-31   85100.0
1998-01-31   85400.0
1998-02-28   85600.0
1998-03-31   85800.0
1998-04-30   85900.0
1998-05-31   86000.0
1998-06-30   85900.0
1998-07-31   85700.0
1998-08-31   85400.0
1998-09-30   85000.0
...              ...
2015-11-30  145400.0
2015-12-31  147000.0
2016-01-31  148900.0
2016-02-29  150400.0
2016-03-31  151100.0
2016-04-30  152100.0
2016-05-31  154200.0
2016-06-30  157800.0
2016-07-31  161300.0
2016-08-31  162800.0
2016-09-30  162100.0
2016-10-31  162100.0
2016-11-30  162900.0
2016-12-31  162900.0
2017-01-31  163500.0
2017-02-28  166100.0
2017-03-31  169500.0
2017-04-30  172300.0
2017-05-31  174800.0
2017-06-30  177100.0
2017-07-31  179400.0
2017-08-31  182100.0
2017-09-30  185300.0
2017-10-31  187800.0
2017-11-30  189200.0
2017-12-31  190200.0
2018-01-31  191300.0
2018-02-28  192300.0
2018-03-31  193700.0
2018-04-30  194700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  135300.0
1996-05-31  134500.0
1996-06-30  134000.0
1996-07-31  133900.0
1996-08-31  134100.0
1996-09-30  134600.0
1996-10-31  135100.0
1996-11-30  135800.0
1996-12-31  136300.0
1997-01-31  136500.0
1997-02-28  136700.0
1997-03-31  136800.0
1997-04-30  136500.0
1997-05-31  136000.0
1997-06-30  135300.0
1997-07-31  134400.0
1997-08-31  133400.0
1997-09-30  132500.0
1997-10-31  131800.0
1997-11-30  131400.0
1997-12-31  131200.0
1998-01-31  131400.0
1998-02-28  132200.0
1998-03-31  133400.0
1998-04-30  134700.0
1998-05-31  135900.0
1998-06-30  136900.0
1998-07-31  137500.0
1998-08-31  137900.0
1998-09-30  137900.0
...              ...
2015-11-30  240100.0
2015-12-31  241700.0
2016-01-31  243500.0
2016-02-29  245500.0
2016-03-31  247400.0
2016-04-30  249100.0
2016-05-31  251400.0
2016-06-30  254500.0
2016-07-31  257200.0
2016-08-31  259500.0
2016-09-30  261900.0
2016-10-31  264800.0
2016-11-30  267600.0
2016-12-31  269900.0
2017-01-31  272100.0
2017-02-28  275300.0
2017-03-31  279000.0
2017-04-30  282000.0
2017-05-31  283600.0
2017-06-30  284900.0
2017-07-31  286000.0
2017-08-31  286500.0
2017-09-30  286800.0
2017-10-31  287700.0
2017-11-30  288800.0
2017-12-31  289900.0
2018-01-31  290900.0
2018-02-28  292000.0
2018-03-31  293200.0
2018-04-30  294000.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  484800.0
1996-05-31  488600.0
1996-06-30  492700.0
1996-07-31  496800.0
1996-08-31  500800.0
1996-09-30  504300.0
1996-10-31  507100.0
1996-11-30  508700.0
1996-12-31  509100.0
1997-01-31  508000.0
1997-02-28  504800.0
1997-03-31  499400.0
1997-04-30  492300.0
1997-05-31  484200.0
1997-06-30  475800.0
1997-07-31  467900.0
1997-08-31  461300.0
1997-09-30  456800.0
1997-10-31  454700.0
1997-11-30  455400.0
1997-12-31  459600.0
1998-01-31  466800.0
1998-02-28  476500.0
1998-03-31  488500.0
1998-04-30  503000.0
1998-05-31  518500.0
1998-06-30  534300.0
1998-07-31  549300.0
1998-08-31  562500.0
1998-09-30  573000.0
...              ...
2015-11-30  753600.0
2015-12-31  755000.0
2016-01-31  759200.0
2016-02-29  766000.0
2016-03-31  774000.0
2016-04-30  783100.0
2016-05-31  790800.0
2016-06-30  798300.0
2016-07-31  804200.0
2016-08-31  807900.0
2016-09-30  811000.0
2016-10-31  818900.0
2016-11-30  828300.0
2016-12-31  834700.0
2017-01-31  838600.0
2017-02-28  844000.0
2017-03-31  849700.0
2017-04-30  853900.0
2017-05-31  860300.0
2017-06-30  873600.0
2017-07-31  878800.0
2017-08-31  870700.0
2017-09-30  863600.0
2017-10-31  866300.0
2017-11-30  870900.0
2017-12-31  873300.0
2018-01-31  875600.0
2018-02-28  882100.0
2018-03-31  889100.0
2018-04-30  890500.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  179600.0
1996-05-31  178900.0
1996-06-30  178100.0
1996-07-31  177200.0
1996-08-31  176300.0
1996-09-30  175400.0
1996-10-31  174400.0
1996-11-30  173300.0
1996-12-31  172200.0
1997-01-31  171200.0
1997-02-28  170100.0
1997-03-31  169000.0
1997-04-30  167600.0
1997-05-31  166100.0
1997-06-30  164300.0
1997-07-31  162200.0
1997-08-31  159900.0
1997-09-30  157500.0
1997-10-31  155000.0
1997-11-30  152400.0
1997-12-31  149800.0
1998-01-31  147300.0
1998-02-28  144900.0
1998-03-31  142800.0
1998-04-30  140700.0
1998-05-31  139000.0
1998-06-30  137600.0
1998-07-31  136500.0
1998-08-31  135700.0
1998-09-30  135100.0
...              ...
2015-11-30  205800.0
2015-12-31  206800.0
2016-01-31  208600.0
2016-02-29  210000.0
2016-03-31  210400.0
2016-04-30  211300.0
2016-05-31  213500.0
2016-06-30  216700.0
2016-07-31  220000.0
2016-08-31  222500.0
2016-09-30  224000.0
2016-10-31  225300.0
2016-11-30  226000.0
2016-12-31  225900.0
2017-01-31  226200.0
2017-02-28  228000.0
2017-03-31  230000.0
2017-04-30  232100.0
2017-05-31  234200.0
2017-06-30  236200.0
2017-07-31  237200.0
2017-08-31  238500.0
2017-09-30  240000.0
2017-10-31  241400.0
2017-11-30  242300.0
2017-12-31  243100.0
2018-01-31  244000.0
2018-02-28  245800.0
2018-03-31  248700.0
2018-04-30  251000.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  199400.0
1996-05-31  198700.0
1996-06-30  197900.0
1996-07-31  196600.0
1996-08-31  194900.0
1996-09-30  192700.0
1996-10-31  189900.0
1996-11-30  186700.0
1996-12-31  183400.0
1997-01-31  180100.0
1997-02-28  176700.0
1997-03-31  173000.0
1997-04-30  169300.0
1997-05-31  165500.0
1997-06-30  161700.0
1997-07-31  158200.0
1997-08-31  155100.0
1997-09-30  152700.0
1997-10-31  151000.0
1997-11-30  150200.0
1997-12-31  150500.0
1998-01-31  151700.0
1998-02-28  153300.0
1998-03-31  155400.0
1998-04-30  157700.0
1998-05-31  160000.0
1998-06-30  162100.0
1998-07-31  163800.0
1998-08-31  165100.0
1998-09-30  166100.0
...              ...
2015-11-30  242900.0
2015-12-31  245100.0
2016-01-31  247200.0
2016-02-29  249000.0
2016-03-31  250800.0
2016-04-30  253000.0
2016-05-31  255000.0
2016-06-30  257000.0
2016-07-31  258900.0
2016-08-31  260200.0
2016-09-30  260400.0
2016-10-31  260700.0
2016-11-30  261100.0
2016-12-31  261300.0
2017-01-31  261900.0
2017-02-28  263400.0
2017-03-31  264800.0
2017-04-30  266000.0
2017-05-31  267000.0
2017-06-30  267900.0
2017-07-31  268300.0
2017-08-31  268900.0
2017-09-30  270300.0
2017-10-31  272600.0
2017-11-30  274800.0
2017-12-31  276300.0
2018-01-31  277400.0
2018-02-28  278500.0
2018-03-31  280200.0
2018-04-30  281400.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  264000.0
1996-05-31  266400.0
1996-06-30  269300.0
1996-07-31  272400.0
1996-08-31  275500.0
1996-09-30  278600.0
1996-10-31  281500.0
1996-11-30  284400.0
1996-12-31  287000.0
1997-01-31  289100.0
1997-02-28  290800.0
1997-03-31  292100.0
1997-04-30  292300.0
1997-05-31  291400.0
1997-06-30  289400.0
1997-07-31  286300.0
1997-08-31  282200.0
1997-09-30  277400.0
1997-10-31  272000.0
1997-11-30  266000.0
1997-12-31  259600.0
1998-01-31  253400.0
1998-02-28  247800.0
1998-03-31  243000.0
1998-04-30  238800.0
1998-05-31  235500.0
1998-06-30  232700.0
1998-07-31  230300.0
1998-08-31  228200.0
1998-09-30  226300.0
...              ...
2015-11-30  300900.0
2015-12-31  302300.0
2016-01-31  304000.0
2016-02-29  306000.0
2016-03-31  308800.0
2016-04-30  312100.0
2016-05-31  315500.0
2016-06-30  319100.0
2016-07-31  322200.0
2016-08-31  325700.0
2016-09-30  329400.0
2016-10-31  332800.0
2016-11-30  335600.0
2016-12-31  337900.0
2017-01-31  340500.0
2017-02-28  343600.0
2017-03-31  345700.0
2017-04-30  346400.0
2017-05-31  347700.0
2017-06-30  350000.0
2017-07-31  350900.0
2017-08-31  350400.0
2017-09-30  349400.0
2017-10-31  348900.0
2017-11-30  348700.0
2017-12-31  348900.0
2018-01-31  349600.0
2018-02-28  352100.0
2018-03-31  355400.0
2018-04-30  357700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  244500.0
1996-05-31  247500.0
1996-06-30  250500.0
1996-07-31  253200.0
1996-08-31  255400.0
1996-09-30  256900.0
1996-10-31  257600.0
1996-11-30  257700.0
1996-12-31  257500.0
1997-01-31  256900.0
1997-02-28  255800.0
1997-03-31  254200.0
1997-04-30  252600.0
1997-05-31  251100.0
1997-06-30  249700.0
1997-07-31  248600.0
1997-08-31  247900.0
1997-09-30  247900.0
1997-10-31  248300.0
1997-11-30  249300.0
1997-12-31  250800.0
1998-01-31  252700.0
1998-02-28  254200.0
1998-03-31  255300.0
1998-04-30  256200.0
1998-05-31  256600.0
1998-06-30  256500.0
1998-07-31  255900.0
1998-08-31  254800.0
1998-09-30  253300.0
...              ...
2015-11-30  357600.0
2015-12-31  360400.0
2016-01-31  361200.0
2016-02-29  361800.0
2016-03-31  363000.0
2016-04-30  364300.0
2016-05-31  366300.0
2016-06-30  369600.0
2016-07-31  372000.0
2016-08-31  373200.0
2016-09-30  375200.0
2016-10-31  378400.0
2016-11-30  382100.0
2016-12-31  384700.0
2017-01-31  386700.0
2017-02-28  388500.0
2017-03-31  389900.0
2017-04-30  390800.0
2017-05-31  391700.0
2017-06-30  392900.0
2017-07-31  394400.0
2017-08-31  395300.0
2017-09-30  396300.0
2017-10-31  398300.0
2017-11-30  400500.0
2017-12-31  402100.0
2018-01-31  404000.0
2018-02-28  405700.0
2018-03-31  407200.0
2018-04-30  408000.0

[265 rows x 1 columns]

               Value
Date
1996-04-30  106600.0
1996-05-31  107000.0
1996-06-30  107400.0
1996-07-31  107900.0
1996-08-31  108300.0
1996-09-30  108600.0
1996-10-31  108900.0
1996-11-30  109200.0
1996-12-31  109500.0
1997-01-31  110000.0
1997-02-28  110300.0
1997-03-31  110600.0
1997-04-30  111100.0
1997-05-31  111800.0
1997-06-30  112600.0
1997-07-31  113600.0
1997-08-31  114800.0
1997-09-30  116100.0
1997-10-31  117700.0
1997-11-30  119500.0
1997-12-31  121400.0
1998-01-31  123600.0
1998-02-28  125800.0
1998-03-31  127900.0
1998-04-30  130000.0
1998-05-31  132000.0
1998-06-30  134000.0
1998-07-31  135900.0
1998-08-31  137700.0
1998-09-30  139400.0
...              ...
2015-11-30  378200.0
2015-12-31  380700.0
2016-01-31  382500.0
2016-02-29  385000.0
2016-03-31  389500.0
2016-04-30  394600.0
2016-05-31  398400.0
2016-06-30  401200.0
2016-07-31  401800.0
2016-08-31  400200.0
2016-09-30  398900.0
2016-10-31  399200.0
2016-11-30  399000.0
2016-12-31  399000.0
2017-01-31  400400.0
2017-02-28  403500.0
2017-03-31  405600.0
2017-04-30  406300.0
2017-05-31  406900.0
2017-06-30  407600.0
2017-07-31  407500.0
2017-08-31  408800.0
2017-09-30  412200.0
2017-10-31  415600.0
2017-11-30  419100.0
2017-12-31  422100.0
2018-01-31  424300.0
2018-02-28  425800.0
2018-03-31  429400.0
2018-04-30  432700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30   87600.0
1996-05-31   87400.0
1996-06-30   87200.0
1996-07-31   87000.0
1996-08-31   86900.0
1996-09-30   86800.0
1996-10-31   86700.0
1996-11-30   86700.0
1996-12-31   86700.0
1997-01-31   86800.0
1997-02-28   87000.0
1997-03-31   87200.0
1997-04-30   87400.0
1997-05-31   87700.0
1997-06-30   88200.0
1997-07-31   88700.0
1997-08-31   89400.0
1997-09-30   90100.0
1997-10-31   90800.0
1997-11-30   91700.0
1997-12-31   92600.0
1998-01-31   93500.0
1998-02-28   94400.0
1998-03-31   95300.0
1998-04-30   96300.0
1998-05-31   97200.0
1998-06-30   98200.0
1998-07-31   99200.0
1998-08-31  100100.0
1998-09-30  101100.0
...              ...
2015-11-30  245500.0
2015-12-31  248800.0
2016-01-31  250900.0
2016-02-29  253300.0
2016-03-31  257000.0
2016-04-30  261900.0
2016-05-31  266500.0
2016-06-30  272000.0
2016-07-31  279400.0
2016-08-31  286900.0
2016-09-30  292500.0
2016-10-31  297700.0
2016-11-30  302400.0
2016-12-31  306300.0
2017-01-31  309800.0
2017-02-28  312900.0
2017-03-31  315300.0
2017-04-30  316600.0
2017-05-31  317400.0
2017-06-30  318200.0
2017-07-31  316200.0
2017-08-31  311200.0
2017-09-30  306300.0
2017-10-31  302300.0
2017-11-30  299100.0
2017-12-31  298800.0
2018-01-31  300000.0
2018-02-28  300900.0
2018-03-31  301900.0
2018-04-30  302900.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  111400.0
1996-05-31  110700.0
1996-06-30  109900.0
1996-07-31  109300.0
1996-08-31  108600.0
1996-09-30  108100.0
1996-10-31  107700.0
1996-11-30  107400.0
1996-12-31  107100.0
1997-01-31  107000.0
1997-02-28  107000.0
1997-03-31  107200.0
1997-04-30  107300.0
1997-05-31  107500.0
1997-06-30  107700.0
1997-07-31  107800.0
1997-08-31  108000.0
1997-09-30  108100.0
1997-10-31  108100.0
1997-11-30  108200.0
1997-12-31  108200.0
1998-01-31  108200.0
1998-02-28  108300.0
1998-03-31  108400.0
1998-04-30  108700.0
1998-05-31  108900.0
1998-06-30  109300.0
1998-07-31  109700.0
1998-08-31  110100.0
1998-09-30  110600.0
...              ...
2015-11-30  173900.0
2015-12-31  174700.0
2016-01-31  176500.0
2016-02-29  179100.0
2016-03-31  181500.0
2016-04-30  184200.0
2016-05-31  188200.0
2016-06-30  192300.0
2016-07-31  195700.0
2016-08-31  199100.0
2016-09-30  201900.0
2016-10-31  204600.0
2016-11-30  206700.0
2016-12-31  208300.0
2017-01-31  210000.0
2017-02-28  211800.0
2017-03-31  213900.0
2017-04-30  216200.0
2017-05-31  218700.0
2017-06-30  221000.0
2017-07-31  222600.0
2017-08-31  223300.0
2017-09-30  224000.0
2017-10-31  223600.0
2017-11-30  223600.0
2017-12-31  225300.0
2018-01-31  227300.0
2018-02-28  228800.0
2018-03-31  231500.0
2018-04-30  233500.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  133100.0
1996-05-31  132900.0
1996-06-30  132800.0
1996-07-31  132600.0
1996-08-31  132500.0
1996-09-30  132500.0
1996-10-31  132400.0
1996-11-30  132500.0
1996-12-31  132600.0
1997-01-31  132700.0
1997-02-28  132800.0
1997-03-31  132900.0
1997-04-30  133000.0
1997-05-31  133100.0
1997-06-30  133200.0
1997-07-31  133300.0
1997-08-31  133300.0
1997-09-30  133300.0
1997-10-31  133200.0
1997-11-30  133200.0
1997-12-31  133000.0
1998-01-31  132800.0
1998-02-28  132600.0
1998-03-31  132400.0
1998-04-30  132100.0
1998-05-31  131900.0
1998-06-30  131800.0
1998-07-31  131800.0
1998-08-31  131800.0
1998-09-30  132000.0
...              ...
2015-11-30  196500.0
2015-12-31  198200.0
2016-01-31  200000.0
2016-02-29  201500.0
2016-03-31  203100.0
2016-04-30  205000.0
2016-05-31  207200.0
2016-06-30  210600.0
2016-07-31  214000.0
2016-08-31  217000.0
2016-09-30  219800.0
2016-10-31  222900.0
2016-11-30  224700.0
2016-12-31  226200.0
2017-01-31  228000.0
2017-02-28  229600.0
2017-03-31  230700.0
2017-04-30  231900.0
2017-05-31  233400.0
2017-06-30  234700.0
2017-07-31  235400.0
2017-08-31  235700.0
2017-09-30  236000.0
2017-10-31  236000.0
2017-11-30  235800.0
2017-12-31  235500.0
2018-01-31  235000.0
2018-02-28  235600.0
2018-03-31  238100.0
2018-04-30  240200.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  200100.0
1996-05-31  200500.0
1996-06-30  200900.0
1996-07-31  201300.0
1996-08-31  201700.0
1996-09-30  201900.0
1996-10-31  201900.0
1996-11-30  201800.0
1996-12-31  201500.0
1997-01-31  201200.0
1997-02-28  200500.0
1997-03-31  199600.0
1997-04-30  198600.0
1997-05-31  197800.0
1997-06-30  197100.0
1997-07-31  196400.0
1997-08-31  195900.0
1997-09-30  195400.0
1997-10-31  195000.0
1997-11-30  194700.0
1997-12-31  194600.0
1998-01-31  194600.0
1998-02-28  194700.0
1998-03-31  194900.0
1998-04-30  195400.0
1998-05-31  196200.0
1998-06-30  197300.0
1998-07-31  198800.0
1998-08-31  200700.0
1998-09-30  202700.0
...              ...
2015-11-30  432300.0
2015-12-31  431100.0
2016-01-31  430300.0
2016-02-29  431500.0
2016-03-31  433700.0
2016-04-30  435500.0
2016-05-31  438500.0
2016-06-30  443400.0
2016-07-31  446700.0
2016-08-31  447500.0
2016-09-30  448900.0
2016-10-31  451800.0
2016-11-30  453600.0
2016-12-31  454700.0
2017-01-31  456600.0
2017-02-28  459300.0
2017-03-31  462000.0
2017-04-30  462700.0
2017-05-31  462200.0
2017-06-30  461800.0
2017-07-31  461500.0
2017-08-31  460500.0
2017-09-30  460600.0
2017-10-31  462300.0
2017-11-30  464600.0
2017-12-31  466100.0
2018-01-31  467300.0
2018-02-28  469100.0
2018-03-31  472900.0
2018-04-30  476700.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  141000.0
1996-05-31  140400.0
1996-06-30  140300.0
1996-07-31  140700.0
1996-08-31  141400.0
1996-09-30  142100.0
1996-10-31  142700.0
1996-11-30  142900.0
1996-12-31  142700.0
1997-01-31  142300.0
1997-02-28  142100.0
1997-03-31  142400.0
1997-04-30  143200.0
1997-05-31  144500.0
1997-06-30  146200.0
1997-07-31  148400.0
1997-08-31  150800.0
1997-09-30  153700.0
1997-10-31  157000.0
1997-11-30  160800.0
1997-12-31  164900.0
1998-01-31  168900.0
1998-02-28  172800.0
1998-03-31  176400.0
1998-04-30  179100.0
1998-05-31  180600.0
1998-06-30  180600.0
1998-07-31  179000.0
1998-08-31  176200.0
1998-09-30  172700.0
...              ...
2015-11-30  361900.0
2015-12-31  364200.0
2016-01-31  366000.0
2016-02-29  367900.0
2016-03-31  370400.0
2016-04-30  373200.0
2016-05-31  376200.0
2016-06-30  379500.0
2016-07-31  383100.0
2016-08-31  386700.0
2016-09-30  390000.0
2016-10-31  393500.0
2016-11-30  395600.0
2016-12-31  396700.0
2017-01-31  397500.0
2017-02-28  399800.0
2017-03-31  403200.0
2017-04-30  406300.0
2017-05-31  408300.0
2017-06-30  409600.0
2017-07-31  408800.0
2017-08-31  406200.0
2017-09-30  403800.0
2017-10-31  403700.0
2017-11-30  406700.0
2017-12-31  411600.0
2018-01-31  415900.0
2018-02-28  419200.0
2018-03-31  422000.0
2018-04-30  423100.0

[265 rows x 1 columns]
               Value
Date
1996-04-30  127900.0
1996-05-31  126900.0
1996-06-30  125900.0
1996-07-31  125100.0
1996-08-31  124300.0
1996-09-30  123700.0
1996-10-31  123100.0
1996-11-30  122600.0
1996-12-31  122000.0
1997-01-31  121400.0
1997-02-28  120700.0
1997-03-31  120000.0
1997-04-30  119300.0
1997-05-31  118500.0
1997-06-30  117700.0
1997-07-31  117000.0
1997-08-31  116400.0
1997-09-30  115800.0
1997-10-31  115400.0
1997-11-30  115100.0
1997-12-31  114900.0
1998-01-31  114900.0
1998-02-28  115000.0
1998-03-31  115400.0
1998-04-30  115800.0
1998-05-31  116200.0
1998-06-30  116600.0
1998-07-31  116900.0
1998-08-31  117200.0
1998-09-30  117400.0
...              ...
2015-11-30  188700.0
2015-12-31  190900.0
2016-01-31  193400.0
2016-02-29  196100.0
2016-03-31  198600.0
2016-04-30  201900.0
2016-05-31  207000.0
2016-06-30  213400.0
2016-07-31  219700.0
2016-08-31  225800.0
2016-09-30  230800.0
2016-10-31  235200.0
2016-11-30  238200.0
2016-12-31  239600.0
2017-01-31  240100.0
2017-02-28  241500.0
2017-03-31  243000.0
2017-04-30  244300.0
2017-05-31  245600.0
2017-06-30  246700.0
2017-07-31  246200.0
2017-08-31  244500.0
2017-09-30  243100.0
2017-10-31  242500.0
2017-11-30  242800.0
2017-12-31  245300.0
2018-01-31  249700.0
2018-02-28  255100.0
2018-03-31  261200.0
2018-04-30  265600.0

[265 rows x 1 columns]

               Value
Date
1996-04-30  245500.0
1996-05-31  249200.0
1996-06-30  253300.0
1996-07-31  257500.0
1996-08-31  261300.0
1996-09-30  264600.0
1996-10-31  267100.0
1996-11-30  268800.0
1996-12-31  269800.0
1997-01-31  270200.0
1997-02-28  269800.0
1997-03-31  268700.0
1997-04-30  267300.0
1997-05-31  265600.0
1997-06-30  264000.0
1997-07-31  262600.0
1997-08-31  261500.0
1997-09-30  260800.0
1997-10-31  260500.0
1997-11-30  260400.0
1997-12-31  260600.0
1998-01-31  260800.0
1998-02-28  260500.0
1998-03-31  259700.0
1998-04-30  258200.0
1998-05-31  255800.0
1998-06-30  252500.0
1998-07-31  248300.0
1998-08-31  243500.0
1998-09-30  238400.0
...              ...
2015-11-30  381700.0
2015-12-31  383600.0
2016-01-31  385400.0
2016-02-29  387400.0
2016-03-31  390200.0
2016-04-30  393900.0
2016-05-31  398200.0
2016-06-30  402100.0
2016-07-31  405300.0
2016-08-31  408600.0
2016-09-30  411200.0
2016-10-31  413200.0
2016-11-30  414500.0
2016-12-31  414700.0
2017-01-31  415200.0
2017-02-28  416600.0
2017-03-31  417900.0
2017-04-30  418900.0
2017-05-31  419400.0
2017-06-30  419100.0
2017-07-31  418200.0
2017-08-31  418100.0
2017-09-30  419600.0
2017-10-31  421500.0
2017-11-30  422400.0
2017-12-31  423500.0
2018-01-31  424700.0
2018-02-28  426300.0
2018-03-31  429600.0
2018-04-30  432600.0

[265 rows x 1 columns]

In [5]:
# Concatenating all the data
#data_concat = data_data
home_value_concat = pd.concat(home_value_concat)
# Getting month and year from the column "date"
home_value_concat['Year'] = pd.DatetimeIndex(home_value_concat.index).year
home_value_concat['Month'] = pd.DatetimeIndex(home_value_concat.index).month
rename_home_value_concat = home_value_concat.rename(columns={"Value":"Home Value Index"})
rename_home_value_concat

            Home Value Index Zip Code  Year  Month
Date
1996-04-30          152500.0    78701  1996      4
1996-05-31          153600.0    78701  1996      5
1996-06-30          154600.0    78701  1996      6
1996-07-31          155500.0    78701  1996      7
1996-08-31          156300.0    78701  1996      8
1996-09-30          157300.0    78701  1996      9
1996-10-31          158300.0    78701  1996     10
1996-11-30          159300.0    78701  1996     11
1996-12-31          160400.0    78701  1996     12
1997-01-31          161900.0    78701  1997      1
1997-02-28          163500.0    78701  1997      2
1997-03-31          164800.0    78701  1997      3
1997-04-30          166300.0    78701  1997      4
1997-05-31          167700.0    78701  1997      5
1997-06-30          169000.0    78701  1997      6
1997-07-31          170200.0    78701  1997      7
1997-08-31          171500.0    78701  1997      8
1997-09-30          172900.0    78701  1997      9
1997-10-31          174500.0    78701  1997     10
1997-11-30          176100.0    78701  1997     11
1997-12-31          178000.0    78701  1997     12
1998-01-31          180200.0    78701  1998      1
1998-02-28          182700.0    78701  1998      2
1998-03-31          185000.0    78701  1998      3
1998-04-30          187500.0    78701  1998      4
1998-05-31          189800.0    78701  1998      5
1998-06-30          191800.0    78701  1998      6
1998-07-31          193700.0    78701  1998      7
1998-08-31          195500.0    78701  1998      8
1998-09-30          197300.0    78701  1998      9
...                      ...      ...   ...    ...
2015-11-30          381700.0    78759  2015     11
2015-12-31          383600.0    78759  2015     12
2016-01-31          385400.0    78759  2016      1
2016-02-29          387400.0    78759  2016      2
2016-03-31          390200.0    78759  2016      3
2016-04-30          393900.0    78759  2016      4
2016-05-31          398200.0    78759  2016      5
2016-06-30          402100.0    78759  2016      6
2016-07-31          405300.0    78759  2016      7
2016-08-31          408600.0    78759  2016      8
2016-09-30          411200.0    78759  2016      9
2016-10-31          413200.0    78759  2016     10
2016-11-30          414500.0    78759  2016     11
2016-12-31          414700.0    78759  2016     12
2017-01-31          415200.0    78759  2017      1
2017-02-28          416600.0    78759  2017      2
2017-03-31          417900.0    78759  2017      3
2017-04-30          418900.0    78759  2017      4
2017-05-31          419400.0    78759  2017      5
2017-06-30          419100.0    78759  2017      6
2017-07-31          418200.0    78759  2017      7
2017-08-31          418100.0    78759  2017      8
2017-09-30          419600.0    78759  2017      9
2017-10-31          421500.0    78759  2017     10
2017-11-30          422400.0    78759  2017     11
2017-12-31          423500.0    78759  2017     12
2018-01-31          424700.0    78759  2018      1
2018-02-28          426300.0    78759  2018      2
2018-03-31          429600.0    78759  2018      3
2018-04-30          432600.0    78759  2018      4

[10865 rows x 4 columns]

In [6]:
# Export the "home value" data to a csv file
rename_home_value_concat.to_csv("../data/int/output_quandl/1_Output.home_value.csv", index = False ,header = True)

## Inventory Measure (Public)|IMP

In [7]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "IMP"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1

# Copying the data stored 
inventory_concat = data_data

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  161.0
2010-02-28  158.0
2010-03-31  173.0
2010-04-30  178.0
2010-05-31  184.0
2010-06-30  177.0
2010-07-31  166.0
2010-08-31  145.0
2010-09-30  140.0
2010-10-31  142.0
2010-11-30  136.0
2010-12-31  130.0
2011-01-31  132.0
2011-02-28  130.0
2011-03-31  131.0
2011-04-30  132.0
2011-05-31  135.0
2011-06-30  124.0
2011-07-31  124.0
2011-08-31  118.0
2011-09-30  111.0
2011-10-31  101.0
2011-11-30   95.0
2011-12-31   84.0
2012-01-31   68.0
2012-02-29   62.0
2012-03-31   68.0
2012-04-30   57.0
2012-05-31   56.0
2012-06-30   53.0
...           ...
2015-11-30  112.0
2015-12-31  101.0
2016-01-31   88.0
2016-02-29   94.0
2016-03-31   85.0
2016-04-30   88.0
2016-05-31   78.0
2016-06-30   96.0
2016-07-31  115.0
2016-08-31  152.0
2016-09-30  157.0
2016-10-31  164.0
2016-11-30  161.0
2016-12-31  159.0
2017-01-31  150.0
2017-02-28  147.0
2017-03-31  128.0
2017-04-30  122.0
2017-05-31  116.0
2017-06-30  138.0
2017-07-31  142.0
2017-08-31  160.0
2017-09-30  162.0
2017-10-31  150.0
2017-11-30  138.0
2017-12-31  122.0
2018-01-31   93.0
2018-02-28  100.0
2018-03-31   98.0
2018-04-30   96.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  204.0
2010-02-28  202.0
2010-03-31  228.0
2010-04-30  242.0
2010-05-31  232.0
2010-06-30  239.0
2010-07-31  234.0
2010-08-31  218.0
2010-09-30  209.0
2010-10-31  208.0
2010-11-30  201.0
2010-12-31  183.0
2011-01-31  165.0
2011-02-28  176.0
2011-03-31  182.0
2011-04-30  216.0
2011-05-31  218.0
2011-06-30  223.0
2011-07-31  224.0
2011-08-31  193.0
2011-09-30  177.0
2011-10-31  159.0
2011-11-30  152.0
2011-12-31  128.0
2012-01-31  121.0
2012-02-29  103.0
2012-03-31  121.0
2012-04-30  121.0
2012-05-31  121.0
2012-06-30  121.0
...           ...
2015-11-30   74.0
2015-12-31   69.0
2016-01-31   63.0
2016-02-29   73.0
2016-03-31   78.0
2016-04-30   84.0
2016-05-31   91.0
2016-06-30  107.0
2016-07-31  108.0
2016-08-31  114.0
2016-09-30  107.0
2016-10-31  107.0
2016-11-30   91.0
2016-12-31   84.0
2017-01-31   82.0
2017-02-28   83.0
2017-03-31   98.0
2017-04-30   99.0
2017-05-31  129.0
2017-06-30  122.0
2017-07-31  126.0
2017-08-31  120.0
2017-09-30  120.0
2017-10-31  124.0
2017-11-30  111.0
2017-12-31   86.0
2018-01-31   73.0
2018-02-28   80.0
2018-03-31   87.0
2018-04-30   97.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  309.0
2010-02-28  338.0
2010-03-31  339.0
2010-04-30  345.0
2010-05-31  321.0
2010-06-30  327.0
2010-07-31  324.0
2010-08-31  282.0
2010-09-30  268.0
2010-10-31  266.0
2010-11-30  268.0
2010-12-31  237.0
2011-01-31  216.0
2011-02-28  218.0
2011-03-31  230.0
2011-04-30  262.0
2011-05-31  242.0
2011-06-30  243.0
2011-07-31  244.0
2011-08-31  232.0
2011-09-30  210.0
2011-10-31  196.0
2011-11-30  179.0
2011-12-31  153.0
2012-01-31  142.0
2012-02-29  154.0
2012-03-31  160.0
2012-04-30  156.0
2012-05-31  152.0
2012-06-30  149.0
...           ...
2015-11-30  186.0
2015-12-31  149.0
2016-01-31  137.0
2016-02-29  152.0
2016-03-31  180.0
2016-04-30  203.0
2016-05-31  209.0
2016-06-30  221.0
2016-07-31  220.0
2016-08-31  232.0
2016-09-30  244.0
2016-10-31  236.0
2016-11-30  211.0
2016-12-31  188.0
2017-01-31  181.0
2017-02-28  180.0
2017-03-31  193.0
2017-04-30  216.0
2017-05-31  239.0
2017-06-30  256.0
2017-07-31  252.0
2017-08-31  270.0
2017-09-30  260.0
2017-10-31  268.0
2017-11-30  226.0
2017-12-31  184.0
2018-01-31  155.0
2018-02-28  143.0
2018-03-31  162.0
2018-04-30  174.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  159.0
2010-02-28  164.0
2010-03-31  172.0
2010-04-30  167.0
2010-05-31  152.0
2010-06-30  179.0
2010-07-31  176.0
2010-08-31  162.0
2010-09-30  157.0
2010-10-31  172.0
2010-11-30  172.0
2010-12-31  156.0
2011-01-31  172.0
2011-02-28  184.0
2011-03-31  180.0
2011-04-30  194.0
2011-05-31  188.0
2011-06-30  189.0
2011-07-31  177.0
2011-08-31  159.0
2011-09-30  140.0
2011-10-31  123.0
2011-11-30  122.0
2011-12-31  101.0
2012-01-31   91.0
2012-02-29   97.0
2012-03-31  101.0
2012-04-30   98.0
2012-05-31  102.0
2012-06-30  108.0
...           ...
2015-11-30   76.0
2015-12-31   64.0
2016-01-31   54.0
2016-02-29   64.0
2016-03-31   64.0
2016-04-30   60.0
2016-05-31   73.0
2016-06-30   81.0
2016-07-31   78.0
2016-08-31   86.0
2016-09-30   68.0
2016-10-31   59.0
2016-11-30   64.0
2016-12-31   58.0
2017-01-31   54.0
2017-02-28   57.0
2017-03-31   76.0
2017-04-30   82.0
2017-05-31   81.0
2017-06-30   96.0
2017-07-31  125.0
2017-08-31  110.0
2017-09-30   98.0
2017-10-31  112.0
2017-11-30   91.0
2017-12-31   80.0
2018-01-31   77.0
2018-02-28   72.0
2018-03-31   77.0
2018-04-30   66.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31   36.0
2010-02-28   48.0
2010-03-31   56.0
2010-04-30   66.0
2010-05-31   66.0
2010-06-30   63.0
2010-07-31   62.0
2010-08-31   52.0
2010-09-30   38.0
2010-10-31   37.0
2010-11-30   34.0
2010-12-31   32.0
2011-01-31   38.0
2011-02-28   31.0
2011-03-31   54.0
2011-04-30   62.0
2011-05-31   71.0
2011-06-30   72.0
2011-07-31   68.0
2011-08-31   41.0
2011-09-30   40.0
2011-10-31   39.0
2011-11-30   34.0
2011-12-31   26.0
2012-01-31   26.0
2012-02-29   28.0
2012-03-31   26.0
2012-04-30   23.0
2012-05-31   22.0
2012-06-30   29.0
...           ...
2015-11-30   40.0
2015-12-31   37.0
2016-01-31   32.0
2016-02-29   36.0
2016-03-31   31.0
2016-04-30   26.0
2016-05-31   36.0
2016-06-30   39.0
2016-07-31   36.0
2016-08-31   30.0
2016-09-30   28.0
2016-10-31   23.0
2016-11-30   23.0
2016-12-31   17.0
2017-01-31   19.0
2017-02-28   24.0
2017-03-31   26.0
2017-04-30   43.0
2017-05-31   53.0
2017-06-30   54.0
2017-07-31   46.0
2017-08-31   46.0
2017-09-30   41.0
2017-10-31   44.0
2017-11-30   41.0
2017-12-31   32.0
2018-01-31   28.0
2018-02-28   31.0
2018-03-31   34.0
2018-04-30   44.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  144.0
2010-02-28  142.0
2010-03-31  156.0
2010-04-30  159.0
2010-05-31  188.0
2010-06-30  191.0
2010-07-31  202.0
2010-08-31  170.0
2010-09-30  152.0
2010-10-31  144.0
2010-11-30  145.0
2010-12-31  143.0
2011-01-31  124.0
2011-02-28  132.0
2011-03-31  147.0
2011-04-30  154.0
2011-05-31  148.0
2011-06-30  139.0
2011-07-31  141.0
2011-08-31  144.0
2011-09-30  140.0
2011-10-31  128.0
2011-11-30  129.0
2011-12-31  112.0
2012-01-31  101.0
2012-02-29  107.0
2012-03-31  125.0
2012-04-30  116.0
2012-05-31  123.0
2012-06-30  122.0
...           ...
2015-11-30   42.0
2015-12-31   31.0
2016-01-31   30.0
2016-02-29   34.0
2016-03-31   45.0
2016-04-30   50.0
2016-05-31   48.0
2016-06-30   52.0
2016-07-31   62.0
2016-08-31   57.0
2016-09-30   56.0
2016-10-31   56.0
2016-11-30   45.0
2016-12-31   36.0
2017-01-31   31.0
2017-02-28   36.0
2017-03-31   52.0
2017-04-30   59.0
2017-05-31   70.0
2017-06-30   72.0
2017-07-31   63.0
2017-08-31   58.0
2017-09-30   58.0
2017-10-31   54.0
2017-11-30   45.0
2017-12-31   34.0
2018-01-31   34.0
2018-02-28   38.0
2018-03-31   44.0
2018-04-30   50.0

[100 rows x 1 columns]

            Value
Date
2010-01-31  150.0
2010-02-28  155.0
2010-03-31  173.0
2010-04-30  196.0
2010-05-31  210.0
2010-06-30  204.0
2010-07-31  220.0
2010-08-31  213.0
2010-09-30  213.0
2010-10-31  207.0
2010-11-30  194.0
2010-12-31  176.0
2011-01-31  164.0
2011-02-28  162.0
2011-03-31  183.0
2011-04-30  196.0
2011-05-31  208.0
2011-06-30  217.0
2011-07-31  216.0
2011-08-31  208.0
2011-09-30  178.0
2011-10-31  173.0
2011-11-30  152.0
2011-12-31  138.0
2012-01-31  136.0
2012-02-29  138.0
2012-03-31  141.0
2012-04-30  117.0
2012-05-31  119.0
2012-06-30  114.0
...           ...
2015-11-30   61.0
2015-12-31   56.0
2016-01-31   48.0
2016-02-29   54.0
2016-03-31   58.0
2016-04-30   76.0
2016-05-31   74.0
2016-06-30   98.0
2016-07-31  102.0
2016-08-31  102.0
2016-09-30  108.0
2016-10-31  112.0
2016-11-30   93.0
2016-12-31   76.0
2017-01-31   78.0
2017-02-28   79.0
2017-03-31   86.0
2017-04-30   92.0
2017-05-31  106.0
2017-06-30  114.0
2017-07-31  105.0
2017-08-31  105.0
2017-09-30   94.0
2017-10-31  100.0
2017-11-30   83.0
2017-12-31   64.0
2018-01-31   57.0
2018-02-28   60.0
2018-03-31   73.0
2018-04-30   80.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  256.0
2010-02-28  238.0
2010-03-31  244.0
2010-04-30  262.0
2010-05-31  275.0
2010-06-30  272.0
2010-07-31  256.0
2010-08-31  244.0
2010-09-30  275.0
2010-10-31  250.0
2010-11-30  252.0
2010-12-31  252.0
2011-01-31  251.0
2011-02-28  252.0
2011-03-31  261.0
2011-04-30  296.0
2011-05-31  300.0
2011-06-30  312.0
2011-07-31  335.0
2011-08-31  248.0
2011-09-30  228.0
2011-10-31  237.0
2011-11-30  219.0
2011-12-31  182.0
2012-01-31  196.0
2012-02-29  186.0
2012-03-31  211.0
2012-04-30  188.0
2012-05-31  188.0
2012-06-30  170.0
...           ...
2015-11-30  108.0
2015-12-31   88.0
2016-01-31   76.0
2016-02-29   79.0
2016-03-31   89.0
2016-04-30  108.0
2016-05-31  110.0
2016-06-30  110.0
2016-07-31  110.0
2016-08-31  115.0
2016-09-30  114.0
2016-10-31  112.0
2016-11-30   97.0
2016-12-31   81.0
2017-01-31   72.0
2017-02-28   84.0
2017-03-31  106.0
2017-04-30  136.0
2017-05-31  141.0
2017-06-30  127.0
2017-07-31  124.0
2017-08-31  123.0
2017-09-30  105.0
2017-10-31   95.0
2017-11-30   92.0
2017-12-31   72.0
2018-01-31   55.0
2018-02-28   56.0
2018-03-31   68.0
2018-04-30   82.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  114.0
2010-02-28  110.0
2010-03-31   96.0
2010-04-30  112.0
2010-05-31  112.0
2010-06-30  111.0
2010-07-31  113.0
2010-08-31  110.0
2010-09-30  118.0
2010-10-31  117.0
2010-11-30  116.0
2010-12-31  105.0
2011-01-31   94.0
2011-02-28   92.0
2011-03-31   99.0
2011-04-30  116.0
2011-05-31  115.0
2011-06-30  123.0
2011-07-31  124.0
2011-08-31  102.0
2011-09-30   90.0
2011-10-31   86.0
2011-11-30   84.0
2011-12-31   75.0
2012-01-31   66.0
2012-02-29   70.0
2012-03-31   74.0
2012-04-30   68.0
2012-05-31   59.0
2012-06-30   62.0
...           ...
2015-11-30   38.0
2015-12-31   33.0
2016-01-31   31.0
2016-02-29   38.0
2016-03-31   41.0
2016-04-30   43.0
2016-05-31   42.0
2016-06-30   44.0
2016-07-31   51.0
2016-08-31   55.0
2016-09-30   47.0
2016-10-31   46.0
2016-11-30   38.0
2016-12-31   32.0
2017-01-31   31.0
2017-02-28   31.0
2017-03-31   42.0
2017-04-30   48.0
2017-05-31   59.0
2017-06-30   58.0
2017-07-31   58.0
2017-08-31   53.0
2017-09-30   45.0
2017-10-31   44.0
2017-11-30   40.0
2017-12-31   38.0
2018-01-31   28.0
2018-02-28   28.0
2018-03-31   34.0
2018-04-30   37.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  489.0
2010-02-28  478.0
2010-03-31  543.0
2010-04-30  562.0
2010-05-31  537.0
2010-06-30  516.0
2010-07-31  516.0
2010-08-31  490.0
2010-09-30  482.0
2010-10-31  485.0
2010-11-30  458.0
2010-12-31  424.0
2011-01-31  398.0
2011-02-28  380.0
2011-03-31  370.0
2011-04-30  403.0
2011-05-31  404.0
2011-06-30  413.0
2011-07-31  450.0
2011-08-31  384.0
2011-09-30  342.0
2011-10-31  325.0
2011-11-30  301.0
2011-12-31  262.0
2012-01-31  240.0
2012-02-29  254.0
2012-03-31  285.0
2012-04-30  294.0
2012-05-31  306.0
2012-06-30  332.0
...           ...
2015-11-30  215.0
2015-12-31  196.0
2016-01-31  178.0
2016-02-29  198.0
2016-03-31  212.0
2016-04-30  228.0
2016-05-31  232.0
2016-06-30  267.0
2016-07-31  306.0
2016-08-31  327.0
2016-09-30  284.0
2016-10-31  272.0
2016-11-30  231.0
2016-12-31  212.0
2017-01-31  193.0
2017-02-28  190.0
2017-03-31  213.0
2017-04-30  226.0
2017-05-31  256.0
2017-06-30  268.0
2017-07-31  244.0
2017-08-31  241.0
2017-09-30  214.0
2017-10-31  186.0
2017-11-30  181.0
2017-12-31  154.0
2018-01-31  145.0
2018-02-28  163.0
2018-03-31  172.0
2018-04-30  196.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  144.0
2010-02-28  150.0
2010-03-31  163.0
2010-04-30  172.0
2010-05-31  175.0
2010-06-30  176.0
2010-07-31  179.0
2010-08-31  158.0
2010-09-30  152.0
2010-10-31  147.0
2010-11-30  128.0
2010-12-31  116.0
2011-01-31  122.0
2011-02-28  130.0
2011-03-31  130.0
2011-04-30  143.0
2011-05-31  138.0
2011-06-30  147.0
2011-07-31  152.0
2011-08-31  133.0
2011-09-30  114.0
2011-10-31  109.0
2011-11-30  105.0
2011-12-31  112.0
2012-01-31  110.0
2012-02-29  112.0
2012-03-31  120.0
2012-04-30  118.0
2012-05-31   87.0
2012-06-30   82.0
...           ...
2014-10-31   53.0
2014-11-30   54.0
2014-12-31   48.0
2015-01-31   42.0
2015-02-28   44.0
2015-03-31   53.0
2015-04-30   57.0
2015-05-31   66.0
2015-06-30   74.0
2015-07-31   77.0
2015-08-31   84.0
2015-09-30   73.0
2015-10-31   76.0
2015-11-30   64.0
2015-12-31   51.0
2016-01-31   50.0
2016-02-29   56.0
2016-03-31   66.0
2016-04-30   90.0
2016-05-31  102.0
2016-06-30  113.0
2016-07-31  108.0
2016-08-31  103.0
2016-09-30  100.0
2016-10-31   97.0
2016-11-30   81.0
2016-12-31   74.0
2017-01-31   74.0
2017-02-28   68.0
2017-03-31   73.0

[87 rows x 1 columns]
            Value
Date
2010-01-31   42.0
2010-02-28   47.0
2010-03-31   44.0
2010-04-30   44.0
2010-05-31   42.0
2010-06-30   50.0
2010-07-31   55.0
2010-08-31   60.0
2010-09-30   57.0
2010-10-31   58.0
2010-11-30   51.0
2010-12-31   42.0
2011-01-31   44.0
2011-02-28   48.0
2011-03-31   58.0
2011-04-30   60.0
2011-05-31   62.0
2011-06-30   64.0
2011-07-31   68.0
2011-08-31   63.0
2011-09-30   65.0
2011-10-31   64.0
2011-11-30   59.0
2011-12-31   45.0
2012-01-31   44.0
2012-02-29   37.0
2012-03-31   41.0
2012-04-30   44.0
2012-05-31   47.0
2012-06-30   46.0
...           ...
2015-11-30   38.0
2015-12-31   27.0
2016-01-31   16.0
2016-02-29   18.0
2016-03-31   26.0
2016-04-30   22.0
2016-05-31   24.0
2016-06-30   26.0
2016-07-31   26.0
2016-08-31   25.0
2016-09-30   20.0
2016-10-31   27.0
2016-11-30   28.0
2016-12-31   34.0
2017-01-31   28.0
2017-02-28   24.0
2017-03-31   23.0
2017-04-30   21.0
2017-05-31   28.0
2017-06-30   22.0
2017-07-31   22.0
2017-08-31   28.0
2017-09-30   24.0
2017-10-31   18.0
2017-11-30   17.0
2017-12-31   19.0
2018-01-31   17.0
2018-02-28   17.0
2018-03-31   18.0
2018-04-30   22.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  361.0
2010-02-28  356.0
2010-03-31  376.0
2010-04-30  380.0
2010-05-31  344.0
2010-06-30  332.0
2010-07-31  312.0
2010-08-31  305.0
2010-09-30  305.0
2010-10-31  294.0
2010-11-30  304.0
2010-12-31  293.0
2011-01-31  276.0
2011-02-28  278.0
2011-03-31  301.0
2011-04-30  330.0
2011-05-31  328.0
2011-06-30  356.0
2011-07-31  372.0
2011-08-31  273.0
2011-09-30  259.0
2011-10-31  259.0
2011-11-30  241.0
2011-12-31  200.0
2012-01-31  187.0
2012-02-29  199.0
2012-03-31  238.0
2012-04-30  241.0
2012-05-31  252.0
2012-06-30  260.0
...           ...
2015-11-30  276.0
2015-12-31  258.0
2016-01-31  212.0
2016-02-29  219.0
2016-03-31  252.0
2016-04-30  252.0
2016-05-31  264.0
2016-06-30  315.0
2016-07-31  325.0
2016-08-31  305.0
2016-09-30  274.0
2016-10-31  286.0
2016-11-30  277.0
2016-12-31  266.0
2017-01-31  260.0
2017-02-28  277.0
2017-03-31  312.0
2017-04-30  332.0
2017-05-31  328.0
2017-06-30  332.0
2017-07-31  316.0
2017-08-31  296.0
2017-09-30  280.0
2017-10-31  276.0
2017-11-30  266.0
2017-12-31  246.0
2018-01-31  231.0
2018-02-28  246.0
2018-03-31  262.0
2018-04-30  261.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  184.0
2010-02-28  182.0
2010-03-31  205.0
2010-04-30  233.0
2010-05-31  234.0
2010-06-30  250.0
2010-07-31  254.0
2010-08-31  230.0
2010-09-30  229.0
2010-10-31  242.0
2010-11-30  256.0
2010-12-31  242.0
2011-01-31  234.0
2011-02-28  256.0
2011-03-31  234.0
2011-04-30  250.0
2011-05-31  240.0
2011-06-30  262.0
2011-07-31  259.0
2011-08-31  217.0
2011-09-30  208.0
2011-10-31  201.0
2011-11-30  172.0
2011-12-31  163.0
2012-01-31  146.0
2012-02-29  138.0
2012-03-31  130.0
2012-04-30  114.0
2012-05-31  112.0
2012-06-30  106.0
...           ...
2015-11-30   96.0
2015-12-31   61.0
2016-01-31   56.0
2016-02-29   60.0
2016-03-31   57.0
2016-04-30   61.0
2016-05-31   58.0
2016-06-30   70.0
2016-07-31   98.0
2016-08-31  113.0
2016-09-30  127.0
2016-10-31  136.0
2016-11-30  127.0
2016-12-31  122.0
2017-01-31  114.0
2017-02-28  107.0
2017-03-31   93.0
2017-04-30   98.0
2017-05-31   89.0
2017-06-30   90.0
2017-07-31  108.0
2017-08-31  120.0
2017-09-30  118.0
2017-10-31  116.0
2017-11-30  113.0
2017-12-31   98.0
2018-01-31   77.0
2018-02-28   80.0
2018-03-31   88.0
2018-04-30   92.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  224.0
2010-02-28  240.0
2010-03-31  258.0
2010-04-30  278.0
2010-05-31  281.0
2010-06-30  293.0
2010-07-31  312.0
2010-08-31  284.0
2010-09-30  281.0
2010-10-31  272.0
2010-11-30  255.0
2010-12-31  239.0
2011-01-31  207.0
2011-02-28  210.0
2011-03-31  242.0
2011-04-30  268.0
2011-05-31  276.0
2011-06-30  286.0
2011-07-31  278.0
2011-08-31  252.0
2011-09-30  216.0
2011-10-31  191.0
2011-11-30  168.0
2011-12-31  154.0
2012-01-31  132.0
2012-02-29  145.0
2012-03-31  189.0
2012-04-30  192.0
2012-05-31  200.0
2012-06-30  212.0
...           ...
2015-11-30  139.0
2015-12-31  104.0
2016-01-31   95.0
2016-02-29  110.0
2016-03-31  143.0
2016-04-30  168.0
2016-05-31  170.0
2016-06-30  196.0
2016-07-31  192.0
2016-08-31  197.0
2016-09-30  182.0
2016-10-31  172.0
2016-11-30  171.0
2016-12-31  148.0
2017-01-31  128.0
2017-02-28  130.0
2017-03-31  149.0
2017-04-30  176.0
2017-05-31  195.0
2017-06-30  205.0
2017-07-31  202.0
2017-08-31  197.0
2017-09-30  186.0
2017-10-31  171.0
2017-11-30  146.0
2017-12-31  134.0
2018-01-31  117.0
2018-02-28  122.0
2018-03-31  129.0
2018-04-30  132.0

[100 rows x 1 columns]
            Value
Date
2010-01-31   88.0
2010-02-28   88.0
2010-03-31   99.0
2010-04-30  102.0
2010-05-31   92.0
2010-06-30   95.0
2010-07-31  116.0
2010-08-31  108.0
2010-09-30  114.0
2010-10-31  121.0
2010-11-30  130.0
2010-12-31  130.0
2011-01-31  122.0
2011-02-28  122.0
2011-03-31  108.0
2011-04-30  110.0
2011-05-31  114.0
2011-06-30  126.0
2011-07-31  117.0
2011-08-31  103.0
2011-09-30   85.0
2011-10-31   84.0
2011-11-30   77.0
2011-12-31   83.0
2012-01-31   80.0
2012-02-29   86.0
2012-03-31   76.0
2012-04-30   74.0
2012-05-31   71.0
2012-06-30   64.0
...           ...
2015-11-30   46.0
2015-12-31   46.0
2016-01-31   39.0
2016-02-29   33.0
2016-03-31   38.0
2016-04-30   44.0
2016-05-31   42.0
2016-06-30   47.0
2016-07-31   70.0
2016-08-31   70.0
2016-09-30   70.0
2016-10-31   72.0
2016-11-30   56.0
2016-12-31   50.0
2017-01-31   59.0
2017-02-28   50.0
2017-03-31   45.0
2017-04-30   50.0
2017-05-31   56.0
2017-06-30   63.0
2017-07-31   62.0
2017-08-31   58.0
2017-09-30   55.0
2017-10-31   57.0
2017-11-30   56.0
2017-12-31   52.0
2018-01-31   46.0
2018-02-28   50.0
2018-03-31   36.0
2018-04-30   62.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  238.0
2010-02-28  238.0
2010-03-31  281.0
2010-04-30  292.0
2010-05-31  287.0
2010-06-30  318.0
2010-07-31  342.0
2010-08-31  334.0
2010-09-30  347.0
2010-10-31  335.0
2010-11-30  326.0
2010-12-31  277.0
2011-01-31  283.0
2011-02-28  304.0
2011-03-31  286.0
2011-04-30  342.0
2011-05-31  326.0
2011-06-30  329.0
2011-07-31  304.0
2011-08-31  291.0
2011-09-30  256.0
2011-10-31  244.0
2011-11-30  228.0
2011-12-31  205.0
2012-01-31  206.0
2012-02-29  194.0
2012-03-31  192.0
2012-04-30  164.0
2012-05-31  164.0
2012-06-30  162.0
...           ...
2015-11-30  122.0
2015-12-31   95.0
2016-01-31   72.0
2016-02-29   66.0
2016-03-31   83.0
2016-04-30   84.0
2016-05-31  100.0
2016-06-30  121.0
2016-07-31  150.0
2016-08-31  166.0
2016-09-30  163.0
2016-10-31  162.0
2016-11-30  119.0
2016-12-31  100.0
2017-01-31   98.0
2017-02-28   88.0
2017-03-31   85.0
2017-04-30   90.0
2017-05-31  102.0
2017-06-30  121.0
2017-07-31  142.0
2017-08-31  171.0
2017-09-30  168.0
2017-10-31  144.0
2017-11-30  139.0
2017-12-31  124.0
2018-01-31   89.0
2018-02-28   83.0
2018-03-31   96.0
2018-04-30  117.0

[100 rows x 1 columns]
            Value
Date
2010-01-31  136.0
2010-02-28  148.0
2010-03-31  168.0
2010-04-30  210.0
2010-05-31  184.0
2010-06-30  198.0
2010-07-31  202.0
2010-08-31  186.0
2010-09-30  169.0
2010-10-31  151.0
2010-11-30  144.0
2010-12-31  131.0
2011-01-31  130.0
2011-02-28  139.0
2011-03-31  141.0
2011-04-30  140.0
2011-05-31  146.0
2011-06-30  160.0
2011-07-31  164.0
2011-08-31  151.0
2011-09-30  127.0
2011-10-31  111.0
2011-11-30   98.0
2011-12-31   92.0
2012-01-31   86.0
2012-02-29   90.0
2012-03-31   78.0
2012-04-30   76.0
2012-05-31   74.0
2012-06-30   64.0
...           ...
2015-10-31   48.0
2015-11-30   38.0
2015-12-31   25.0
2016-01-31   18.0
2016-02-29   22.0
2016-03-31   23.0
2016-04-30   30.0
2016-05-31   44.0
2016-06-30   46.0
2016-07-31   56.0
2016-08-31   66.0
2016-09-30   67.0
2016-10-31   54.0
2016-11-30   39.0
2016-12-31   34.0
2017-01-31   30.0
2017-02-28   28.0
2017-03-31   29.0
2017-04-30   36.0
2017-05-31   43.0
2017-06-30   54.0
2017-07-31   76.0
2017-08-31   84.0
2017-09-30   73.0
2017-10-31   70.0
2017-11-30   53.0
2017-12-31   30.0
2018-01-31   23.0
2018-02-28   24.0
2018-03-31   20.0

[99 rows x 1 columns]
            Value
Date
2010-01-31  148.0
2010-02-28  138.0
2010-03-31  150.0
2010-04-30  155.0
2010-05-31  154.0
2010-06-30  158.0
2010-07-31  164.0
2010-08-31  158.0
2010-09-30  163.0
2010-10-31  159.0
2010-11-30  143.0
2010-12-31  121.0
2011-01-31  120.0
2011-02-28  120.0
2011-03-31  148.0
2011-04-30  155.0
2011-05-31  154.0
2011-06-30  161.0
2011-07-31  162.0
2011-08-31  151.0
2011-09-30  138.0
2011-10-31  132.0
2011-11-30  114.0
2011-12-31  110.0
2012-01-31  108.0
2012-02-29   94.0
2012-03-31   92.0
2012-04-30   90.0
2012-05-31   88.0
2012-06-30   92.0
...           ...
2015-11-30   44.0
2015-12-31   30.0
2016-01-31   28.0
2016-02-29   30.0
2016-03-31   48.0
2016-04-30   58.0
2016-05-31   71.0
2016-06-30   73.0
2016-07-31   80.0
2016-08-31   84.0
2016-09-30   82.0
2016-10-31   72.0
2016-11-30   65.0
2016-12-31   53.0
2017-01-31   43.0
2017-02-28   46.0
2017-03-31   53.0
2017-04-30   60.0
2017-05-31   65.0
2017-06-30   76.0
2017-07-31   96.0
2017-08-31   95.0
2017-09-30   84.0
2017-10-31   83.0
2017-11-30   69.0
2017-12-31   45.0
2018-01-31   34.0
2018-02-28   40.0
2018-03-31   45.0
2018-04-30   52.0

[100 rows x 1 columns]
            Value
Date
2010-01-31   78.0
2010-02-28   82.0
2010-03-31   97.0
2010-04-30  105.0
2010-05-31  103.0
2010-06-30  113.0
2010-07-31  106.0
2010-08-31   91.0
2010-09-30   93.0
2010-10-31   88.0
2010-11-30   92.0
2010-12-31   85.0
2011-01-31   79.0
2011-02-28   86.0
2011-03-31  100.0
2011-04-30  106.0
2011-05-31   94.0
2011-06-30  103.0
2011-07-31  104.0
2011-08-31  101.0
2011-09-30   95.0
2011-10-31   91.0
2011-11-30   77.0
2011-12-31   62.0
2012-01-31   50.0
2012-02-29   40.0
2012-03-31   46.0
2012-04-30   46.0
2012-05-31   44.0
2012-06-30   42.0
...           ...
2015-11-30   43.0
2015-12-31   34.0
2016-01-31   26.0
2016-02-29   32.0
2016-03-31   34.0
2016-04-30   38.0
2016-05-31   37.0
2016-06-30   43.0
2016-07-31   55.0
2016-08-31   59.0
2016-09-30   55.0
2016-10-31   58.0
2016-11-30   61.0
2016-12-31   40.0
2017-01-31   36.0
2017-02-28   35.0
2017-03-31   35.0
2017-04-30   46.0
2017-05-31   51.0
2017-06-30   50.0
2017-07-31   54.0
2017-08-31   48.0
2017-09-30   50.0
2017-10-31   50.0
2017-11-30   42.0
2017-12-31   32.0
2018-01-31   25.0
2018-02-28   27.0
2018-03-31   28.0
2018-04-30   36.0

[100 rows x 1 columns]

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  125.0
2010-02-28  120.0
2010-03-31  132.0
2010-04-30  134.0
2010-05-31  120.0
2010-06-30  126.0
2010-07-31  130.0
2010-08-31  127.0
2010-09-30  133.0
2010-10-31  126.0
2010-11-30  119.0
2010-12-31  106.0
2011-01-31  104.0
2011-02-28  110.0
2011-03-31  106.0
2011-04-30  110.0
2011-05-31  112.0
2011-06-30  112.0
2011-07-31  116.0
2011-08-31  115.0
2011-09-30   98.0
2011-10-31   88.0
2011-11-30   86.0
2011-12-31   72.0
2012-01-31   60.0
2012-02-29   63.0
2012-03-31   64.0
2012-04-30   62.0
2012-05-31   71.0
2012-06-30   64.0
...           ...
2015-11-30   41.0
2015-12-31   39.0
2016-01-31   42.0
2016-02-29   32.0
2016-03-31   35.0
2016-04-30   44.0
2016-05-31   36.0
2016-06-30   33.0
2016-07-31   42.0
2016-08-31   49.0
2016-09-30   56.0
2016-10-31   52.0
2016-11-30   42.0
2016-12-31   36.0
2017-01-31   38.0
2017-02-28   34.0
2017-03-31   31.0
2017-04-30   33.0
2017-05-31   35.0
2017-06-30   30.0
2017-07-31   28.0
2017-08-31   32.0
2017-09-30   38.0
2017-10-31   32.0
2017-11-30   30.0
2017-12-31   32.0
2018-01-31   22.0
2018-02-28   24.0
2018-03-31   34.0
2018-04-30   33.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2010-01-31  124.0
2010-02-28  136.0
2010-03-31  165.0
2010-04-30  185.0
2010-05-31  178.0
2010-06-30  195.0
2010-07-31  198.0
2010-08-31  186.0
2010-09-30  176.0
2010-10-31  172.0
2010-11-30  159.0
2010-12-31  140.0
2011-01-31  133.0
2011-02-28  128.0
2011-03-31  136.0
2011-04-30  128.0
2011-05-31  120.0
2011-06-30  118.0
2011-07-31  123.0
2011-08-31  120.0
2011-09-30  112.0
2011-10-31  115.0
2011-11-30  108.0
2011-12-31  106.0
2012-01-31  104.0
2012-02-29   89.0
2012-03-31   82.0
2012-04-30   72.0
2012-05-31   71.0
2012-06-30   64.0
...           ...
2015-11-30   52.0
2015-12-31   38.0
2016-01-31   36.0
2016-02-29   39.0
2016-03-31   43.0
2016-04-30   53.0
2016-05-31   52.0
2016-06-30   48.0
2016-07-31   63.0
2016-08-31   64.0
2016-09-30   68.0
2016-10-31   72.0
2016-11-30   69.0
2016-12-31   54.0
2017-01-31   44.0
2017-02-28   48.0
2017-03-31   50.0
2017-04-30   56.0
2017-05-31   75.0
2017-06-30   78.0
2017-07-31   88.0
2017-08-31   96.0
2017-09-30   94.0
2017-10-31   86.0
2017-11-30   77.0
2017-12-31   64.0
2018-01-31   51.0
2018-02-28   46.0
2018-03-31   52.0
2018-04-30   61.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

In [8]:
# Concatenating all the data
#inventory_concat = data_data
inventory_concat = pd.concat(inventory_concat)
# Getting month and year from the column "date"
inventory_concat['Year'] = pd.DatetimeIndex(inventory_concat.index).year
inventory_concat['Month'] = pd.DatetimeIndex(inventory_concat.index).month
rename_inventory_concat = inventory_concat.rename(columns={"Value":"Inventory Measure"})
rename_inventory_concat

            Inventory Measure Zip Code  Year  Month
Date
2010-01-31              161.0    78702  2010      1
2010-02-28              158.0    78702  2010      2
2010-03-31              173.0    78702  2010      3
2010-04-30              178.0    78702  2010      4
2010-05-31              184.0    78702  2010      5
2010-06-30              177.0    78702  2010      6
2010-07-31              166.0    78702  2010      7
2010-08-31              145.0    78702  2010      8
2010-09-30              140.0    78702  2010      9
2010-10-31              142.0    78702  2010     10
2010-11-30              136.0    78702  2010     11
2010-12-31              130.0    78702  2010     12
2011-01-31              132.0    78702  2011      1
2011-02-28              130.0    78702  2011      2
2011-03-31              131.0    78702  2011      3
2011-04-30              132.0    78702  2011      4
2011-05-31              135.0    78702  2011      5
2011-06-30              124.0    78702  2011      6
2011-07-31              124.0    78702  2011      7
2011-08-31              118.0    78702  2011      8
2011-09-30              111.0    78702  2011      9
2011-10-31              101.0    78702  2011     10
2011-11-30               95.0    78702  2011     11
2011-12-31               84.0    78702  2011     12
2012-01-31               68.0    78702  2012      1
2012-02-29               62.0    78702  2012      2
2012-03-31               68.0    78702  2012      3
2012-04-30               57.0    78702  2012      4
2012-05-31               56.0    78702  2012      5
2012-06-30               53.0    78702  2012      6
...                       ...      ...   ...    ...
2015-11-30               52.0    78757  2015     11
2015-12-31               38.0    78757  2015     12
2016-01-31               36.0    78757  2016      1
2016-02-29               39.0    78757  2016      2
2016-03-31               43.0    78757  2016      3
2016-04-30               53.0    78757  2016      4
2016-05-31               52.0    78757  2016      5
2016-06-30               48.0    78757  2016      6
2016-07-31               63.0    78757  2016      7
2016-08-31               64.0    78757  2016      8
2016-09-30               68.0    78757  2016      9
2016-10-31               72.0    78757  2016     10
2016-11-30               69.0    78757  2016     11
2016-12-31               54.0    78757  2016     12
2017-01-31               44.0    78757  2017      1
2017-02-28               48.0    78757  2017      2
2017-03-31               50.0    78757  2017      3
2017-04-30               56.0    78757  2017      4
2017-05-31               75.0    78757  2017      5
2017-06-30               78.0    78757  2017      6
2017-07-31               88.0    78757  2017      7
2017-08-31               96.0    78757  2017      8
2017-09-30               94.0    78757  2017      9
2017-10-31               86.0    78757  2017     10
2017-11-30               77.0    78757  2017     11
2017-12-31               64.0    78757  2017     12
2018-01-31               51.0    78757  2018      1
2018-02-28               46.0    78757  2018      2
2018-03-31               52.0    78757  2018      3
2018-04-30               61.0    78757  2018      4

[2186 rows x 4 columns]

In [9]:
# Export the "home value" data to a csv file
rename_inventory_concat.to_csv("../data/int/output_quandl/2_Output.inventory_measure.csv", index = False ,header = True)

## Median Price Cut Dollar - All Homes|MPCDAH

In [10]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "MPCDAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1
    
# Copying the data stored
price_cut_concat = data_data

               Value
Date
2010-09-30   10000.0
2010-10-31    9950.0
2010-11-30    6000.0
2010-12-31    8700.0
2011-01-31   10000.0
2011-02-28    7500.0
2011-03-31    8900.0
2011-04-30    7550.0
2011-05-31   15000.0
2011-06-30   10700.0
2011-07-31    4575.0
2011-08-31    7402.5
2011-09-30   10000.0
2011-10-31   10000.0
2011-11-30   15100.0
2011-12-31   12505.0
2012-01-31   10000.0
2012-02-29   20000.0
2012-03-31   10000.0
2012-04-30   10000.0
2012-05-31   10000.0
2012-06-30    7050.0
2012-07-31    6500.0
2012-08-31    5000.0
2012-09-30   10000.0
2012-10-31  100000.0
2012-11-30   10750.0
2012-12-31    7600.0
2013-01-31   17600.0
2013-02-28   69250.0
...              ...
2015-03-31   18500.0
2015-04-30   20000.0
2015-05-31   10000.0
2015-06-30   13299.5
2015-07-31   10000.0
2015-08-31   10000.0
2015-09-30   14750.0
2015-10-31   20000.0
2015-11-30   10000.0
2015-12-31   15400.0
2016-01-31   15000.0
2016-02-29   14999.0
2016-03-31   19000.0
2016-04-30   11250.0
2016-05-31   10250.0
2016-06-30   24000.0
2016-07-31   14500.0
2016-08-31   14750.0
2016-09-30   20000.0
2016-10-31   12000.0
2016-11-30   10050.0
2016-12-31   10000.0
2017-01-31   10549.5
2017-02-28   10900.0
2017-03-31    8500.0
2017-04-30   15000.0
2017-05-31   14500.0
2017-06-30   14000.0
2017-07-31   10500.0
2017-08-31   14990.0

[84 rows x 1 columns]
              Value
Date
2010-09-30  10000.0
2010-10-31  10000.0
2010-11-30  10450.0
2010-12-31   5450.5
2011-01-31   7500.0
2011-02-28  10000.0
2011-03-31   9950.0
2011-04-30   7500.0
2011-05-31  10000.0
2011-06-30  10000.0
2011-07-31  10025.0
2011-08-31  10000.0
2011-09-30   9905.0
2011-10-31   5000.0
2011-11-30   9500.0
2011-12-31  15000.0
2012-01-31  10000.0
2012-02-29  10000.0
2012-03-31   5000.0
2012-04-30   5500.0
2012-05-31   5000.0
2012-06-30   5000.0
2012-07-31   6275.0
2012-08-31   5050.0
2012-09-30   5000.0
2012-10-31   5000.0
2012-11-30  12000.0
2012-12-31  11870.0
2013-01-31  10100.0
2013-02-28  10000.0
...             ...
2015-11-30  15000.0
2015-12-31  12500.0
2016-01-31   9100.0
2016-02-29  20000.0
2016-03-31  19999.5
2016-04-30  20000.0
2016-05-31  18000.0
2016-06-30  15101.0
2016-07-31  15000.0
2016-08-31  11000.0
2016-09-30  10000.0
2016-10-31  10000.0
2016-11-30  14950.0
2016-12-31  14000.0
2017-01-31  10500.0
2017-02-28  10000.0
2017-03-31  10000.0
2017-04-30  10000.0
2017-05-31  10000.0
2017-06-30  15000.0
2017-07-31  11000.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31  10000.0
2017-11-30  10000.0
2017-12-31  10000.0
2018-01-31  11544.0
2018-02-28  15000.0
2018-03-31  25000.0
2018-04-30  12000.0

[92 rows x 1 columns]
              Value
Date
2010-09-30  20000.0
2010-10-31  15000.0
2010-11-30  20000.0
2010-12-31  10900.0
2011-01-31  14000.0
2011-02-28  19000.0
2011-03-31  14000.0
2011-04-30  17300.0
2011-05-31  15000.0
2011-06-30  16000.0
2011-07-31  13000.0
2011-08-31  15000.0
2011-09-30  18000.0
2011-10-31  26000.0
2011-11-30  21500.0
2011-12-31  25000.0
2012-01-31  26000.0
2012-02-29  15000.0
2012-03-31  25000.0
2012-04-30  23500.0
2012-05-31  20000.0
2012-06-30  20900.0
2012-07-31  27550.0
2012-08-31  14950.0
2012-09-30  14900.0
2012-10-31  10000.0
2012-11-30  15000.0
2012-12-31  11750.0
2013-01-31  20000.0
2013-02-28  34925.0
...             ...
2015-11-30  26000.0
2015-12-31  48050.0
2016-01-31  27525.0
2016-02-29  30000.0
2016-03-31  25100.0
2016-04-30  37500.5
2016-05-31  30000.0
2016-06-30  40000.0
2016-07-31  50000.0
2016-08-31  50000.0
2016-09-30  24500.0
2016-10-31  24500.0
2016-11-30  25000.0
2016-12-31  40000.0
2017-01-31  30000.0
2017-02-28  26500.0
2017-03-31  28000.0
2017-04-30  49750.0
2017-05-31  37500.0
2017-06-30  36000.0
2017-07-31  25000.0
2017-08-31  20000.0
2017-09-30  26000.0
2017-10-31  25000.0
2017-11-30  24000.0
2017-12-31  25000.0
2018-01-31  25000.0
2018-02-28  25000.0
2018-03-31  22000.0
2018-04-30  40000.0

[92 rows x 1 columns]
              Value
Date
2010-09-30   9625.0
2010-10-31  10000.0
2010-11-30  10100.0
2010-12-31   6000.0
2011-01-31  10000.0
2011-02-28  10000.0
2011-03-31  10000.0
2011-04-30  10000.0
2011-05-31  10000.0
2011-06-30  10000.0
2011-07-31  10000.0
2011-08-31  10000.0
2011-09-30  10000.0
2011-10-31   9550.0
2011-11-30   9550.0
2011-12-31  13960.0
2012-01-31  10000.0
2012-02-29  10500.0
2012-03-31  10000.0
2012-04-30  10549.5
2012-05-31  10000.0
2012-06-30  10000.0
2012-07-31  14000.0
2012-08-31  10000.0
2012-09-30  10000.0
2012-10-31   9900.0
2012-11-30  10000.0
2012-12-31   6000.0
2013-01-31   8000.0
2013-02-28   9050.0
...             ...
2015-11-30  10000.0
2015-12-31  10000.0
2016-01-31  14000.0
2016-02-29  10450.0
2016-03-31  14950.0
2016-04-30  10450.0
2016-05-31  10450.0
2016-06-30  15000.0
2016-07-31  13000.0
2016-08-31  12000.0
2016-09-30  15100.0
2016-10-31  14900.0
2016-11-30  10900.0
2016-12-31  15300.0
2017-01-31  14900.0
2017-02-28  10000.0
2017-03-31  10000.0
2017-04-30  11000.0
2017-05-31  11000.0
2017-06-30  10000.0
2017-07-31  10000.0
2017-08-31  10000.0
2017-09-30  10500.0
2017-10-31  14000.0
2017-11-30  12500.0
2017-12-31  14099.0
2018-01-31  14500.0
2018-02-28  10000.0
2018-03-31  13005.0
2018-04-30  19010.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30   6000.0
2010-10-31   5097.5
2010-11-30   6450.0
2010-12-31   8050.0
2011-01-31   6650.0
2011-02-28   5000.5
2011-03-31   5600.0
2011-04-30   5100.0
2011-05-31   5001.0
2011-06-30   6000.0
2011-07-31   5000.0
2011-08-31   7050.0
2011-09-30   5000.0
2011-10-31   5100.0
2011-11-30   5000.0
2011-12-31   5490.0
2012-01-31   3000.0
2012-02-29   4600.0
2012-03-31   4150.0
2012-04-30   4500.0
2012-05-31   5000.0
2012-06-30   5100.0
2012-07-31   5100.0
2012-08-31   5050.5
2012-09-30   4100.0
2012-10-31   4300.0
2012-11-30   6000.0
2012-12-31   4900.0
2013-01-31   5700.0
2013-02-28   4460.0
...             ...
2015-11-30   5000.0
2015-12-31  10000.0
2016-01-31   5000.0
2016-02-29   4000.0
2016-03-31   5500.0
2016-04-30   9955.0
2016-05-31   6000.0
2016-06-30   5000.0
2016-07-31   5100.0
2016-08-31   6000.0
2016-09-30   6000.0
2016-10-31   5000.0
2016-11-30   9550.0
2016-12-31   8000.0
2017-01-31  10000.0
2017-02-28  10000.0
2017-03-31  10000.0
2017-04-30   8662.5
2017-05-31   5000.0
2017-06-30   8750.0
2017-07-31  10000.0
2017-08-31   7750.0
2017-09-30   6500.0
2017-10-31   6000.0
2017-11-30   5079.0
2017-12-31   7435.0
2018-01-31   5100.0
2018-02-28   6562.0
2018-03-31  10000.0
2018-04-30   6000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30  10000.0
2010-10-31   7000.0
2010-11-30   5900.0
2010-12-31   5000.0
2011-01-31   6600.0
2011-02-28   4900.0
2011-03-31   5000.0
2011-04-30   5100.0
2011-05-31   5000.0
2011-06-30   6000.0
2011-07-31  10000.0
2011-08-31   5100.0
2011-09-30   5000.0
2011-10-31   5500.0
2011-11-30   5000.0
2011-12-31   4850.0
2012-01-31   5095.0
2012-02-29   7000.0
2012-03-31   5000.0
2012-04-30   5425.0
2012-05-31   6000.0
2012-06-30   7900.0
2012-07-31  10000.0
2012-08-31   8500.0
2012-09-30   7250.0
2012-10-31   5500.0
2012-11-30   5000.5
2012-12-31   5450.0
2013-01-31   5000.0
2013-02-28   9600.0
...             ...
2015-11-30  10000.0
2015-12-31   9450.0
2016-01-31  10000.0
2016-02-29   5500.0
2016-03-31   5000.0
2016-04-30   9100.0
2016-05-31  10000.0
2016-06-30  10000.0
2016-07-31   7000.0
2016-08-31  10000.0
2016-09-30  10000.0
2016-10-31  10000.0
2016-11-30  10000.0
2016-12-31   5000.0
2017-01-31  10000.0
2017-02-28  10000.0
2017-03-31  10000.0
2017-04-30  10000.0
2017-05-31  10000.0
2017-06-30  10000.0
2017-07-31  10000.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31   9000.0
2017-11-30   9999.0
2017-12-31   7500.0
2018-01-31   5000.0
2018-02-28   7900.0
2018-03-31   6150.0
2018-04-30  10000.0

[92 rows x 1 columns]

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30  19000.0
2010-10-31  16950.0
2010-11-30   6700.0
2010-12-31   5500.0
2011-01-31   9000.0
2011-02-28   5090.0
2011-03-31   7200.0
2011-04-30  12550.0
2011-05-31  10000.0
2011-06-30  10000.0
2011-07-31  10000.0
2011-08-31  19000.0
2011-09-30  10000.0
2011-10-31   7525.0
2011-11-30   4200.0
2011-12-31  12000.0
2012-01-31   6737.5
2012-02-29   7375.0
2012-03-31  21000.0
2012-04-30  10000.0
2012-05-31   7000.0
2012-06-30   5226.0
2012-07-31  10099.0
2012-08-31  10000.0
2012-09-30   9450.0
2012-10-31  10000.0
2012-11-30  10000.0
2012-12-31  10500.0
2013-01-31  10000.0
2013-02-28  17500.0
...             ...
2015-11-30   8250.0
2015-12-31  10500.0
2016-01-31  10900.0
2016-02-29  12050.0
2016-03-31  10000.0
2016-04-30  10000.0
2016-05-31  10550.0
2016-06-30  20000.0
2016-07-31  10000.0
2016-08-31  12500.0
2016-09-30   6510.0
2016-10-31  11000.0
2016-11-30  10000.0
2016-12-31  10000.0
2017-01-31  10000.0
2017-02-28   7921.5
2017-03-31  12000.0
2017-04-30   7200.0
2017-05-31  10050.0
2017-06-30  10000.0
2017-07-31  10000.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31  11550.0
2017-11-30  10000.0
2017-12-31   5000.0
2018-01-31  10475.0
2018-02-28   6000.0
2018-03-31  10250.0
2018-04-30  10000.0

[92 rows x 1 columns]
              Value
Date
2010-09-30   6700.0
2010-10-31   5000.0
2010-11-30   5000.0
2010-12-31   4450.0
2011-01-31   5000.0
2011-02-28   5000.0
2011-03-31   5100.0
2011-04-30   4875.5
2011-05-31   5000.0
2011-06-30   5000.0
2011-07-31   4901.0
2011-08-31   5000.0
2011-09-30   5000.0
2011-10-31   5000.0
2011-11-30   5000.0
2011-12-31   4749.5
2012-01-31   5100.0
2012-02-29   7550.0
2012-03-31   5100.0
2012-04-30   4475.0
2012-05-31   4950.5
2012-06-30   5000.0
2012-07-31   4700.0
2012-08-31   5000.0
2012-09-30   5000.0
2012-10-31   5550.0
2012-11-30   9500.0
2012-12-31  13000.0
2013-01-31   7500.0
2013-02-28   5000.0
...             ...
2015-11-30   9050.0
2015-12-31   4900.5
2016-01-31  10000.0
2016-02-29   6100.0
2016-03-31   5500.0
2016-04-30   9127.0
2016-05-31  10000.0
2016-06-30  10000.0
2016-07-31   5000.0
2016-08-31   6000.0
2016-09-30   8000.0
2016-10-31   7200.0
2016-11-30  10053.0
2016-12-31  10000.0
2017-01-31  25000.0
2017-02-28  20050.0
2017-03-31  18000.0
2017-04-30  35050.0
2017-05-31  10050.0
2017-06-30   5000.0
2017-07-31  10000.0
2017-08-31   9910.0
2017-09-30   5000.0
2017-10-31   5000.0
2017-11-30   8150.0
2017-12-31  10000.0
2018-01-31   9900.0
2018-02-28  10000.0
2018-03-31  10000.0
2018-04-30  10000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30  14000.0
2010-10-31  14350.0
2010-11-30  10000.0
2010-12-31  15000.0
2011-01-31  12000.0
2011-02-28  10000.0
2011-03-31  12571.5
2011-04-30  10000.0
2011-05-31  10000.0
2011-06-30   8250.0
2011-07-31  14000.0
2011-08-31  10000.0
2011-09-30  10000.0
2011-10-31  14500.0
2011-11-30  14500.0
2011-12-31  10000.0
2012-01-31  10000.0
2012-02-29  10000.0
2012-03-31  16500.0
2012-04-30  16000.0
2012-05-31  20000.0
2012-06-30  20000.0
2012-07-31  15000.0
2012-08-31  24750.0
2012-09-30  15000.0
2012-10-31  14245.0
2012-11-30  15100.0
2012-12-31  27500.0
2013-01-31  14477.5
2013-02-28  10000.0
...             ...
2015-11-30  19525.0
2015-12-31  10010.0
2016-01-31  24000.0
2016-02-29  14000.0
2016-03-31  20000.0
2016-04-30  24995.0
2016-05-31  24999.0
2016-06-30  22000.0
2016-07-31  20000.0
2016-08-31  24950.0
2016-09-30  20000.0
2016-10-31  15550.0
2016-11-30  21000.0
2016-12-31   5000.0
2017-01-31  10050.0
2017-02-28  14500.0
2017-03-31  24900.0
2017-04-30  25000.0
2017-05-31  17500.0
2017-06-30  15000.0
2017-07-31  15000.0
2017-08-31  14800.0
2017-09-30  20000.0
2017-10-31  16000.0
2017-11-30  15000.0
2017-12-31  10000.0
2018-01-31  10000.0
2018-02-28   5000.0
2018-03-31  24000.0
2018-04-30  25750.0

[92 rows x 1 columns]
              Value
Date
2010-09-30  11450.0
2010-10-31  19000.0
2010-11-30  10000.0
2010-12-31  14700.0
2011-01-31  11600.0
2011-02-28  10000.0
2011-03-31  10000.0
2011-04-30  10000.0
2011-05-31  11000.0
2011-06-30  10100.0
2011-07-31  15000.0
2011-08-31  14450.0
2011-09-30  14900.0
2011-10-31  10000.0
2011-11-30  10000.0
2011-12-31   9750.0
2012-01-31  14956.5
2012-02-29  10000.0
2012-03-31  10000.0
2012-04-30  10000.0
2012-05-31  11550.0
2012-06-30  10000.0
2012-07-31  10000.0
2012-08-31  10000.0
2012-09-30  10000.0
2012-10-31  10000.0
2012-11-30  15000.0
2012-12-31  10005.0
2013-01-31   9000.0
2013-02-28  10000.0
...             ...
2015-11-30  19000.0
2015-12-31  10000.0
2016-01-31  19050.0
2016-02-29   9745.0
2016-03-31  14000.0
2016-04-30  10900.0
2016-05-31  15500.0
2016-06-30  10100.0
2016-07-31  11000.0
2016-08-31  10000.0
2016-09-30  10000.0
2016-10-31  10900.0
2016-11-30  14000.0
2016-12-31  10300.0
2017-01-31  10000.0
2017-02-28  15000.0
2017-03-31  10250.5
2017-04-30  10000.0
2017-05-31  14000.0
2017-06-30  10000.0
2017-07-31  10100.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31   9100.0
2017-11-30  10000.0
2017-12-31  10000.0
2018-01-31  10000.0
2018-02-28  10000.0
2018-03-31  13750.0
2018-04-30  10000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30  13175.0
2010-10-31  12000.0
2010-11-30  14000.0
2010-12-31  15000.0
2011-01-31  10000.0
2011-02-28  14897.0
2011-03-31  12000.0
2011-04-30  14750.0
2011-05-31  12000.0
2011-06-30  10000.0
2011-07-31  10000.0
2011-08-31  10000.0
2011-09-30  10000.0
2011-10-31   9625.0
2011-11-30   7000.0
2011-12-31   5950.0
2012-01-31   5875.0
2012-02-29  10000.0
2012-03-31  10000.0
2012-04-30  10100.0
2012-05-31  10000.0
2012-06-30  11000.0
2012-07-31  10000.0
2012-08-31  10000.0
2012-09-30  10000.0
2012-10-31  10000.0
2012-11-30  10000.0
2012-12-31  14000.0
2013-01-31   7450.0
2013-02-28  19901.0
...             ...
2015-11-30  10000.0
2015-12-31  10000.0
2016-01-31  10000.0
2016-02-29  16300.0
2016-03-31  15000.0
2016-04-30  14500.0
2016-05-31  10950.0
2016-06-30  14000.0
2016-07-31  13300.0
2016-08-31  10000.0
2016-09-30  12500.0
2016-10-31  15000.0
2016-11-30  10050.0
2016-12-31  10000.0
2017-01-31  15000.0
2017-02-28  12000.0
2017-03-31   9750.0
2017-04-30  11000.0
2017-05-31  14000.0
2017-06-30  10000.0
2017-07-31  14000.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31  10000.0
2017-11-30  10000.0
2017-12-31   7450.0
2018-01-31  10000.0
2018-02-28  10000.0
2018-03-31   9000.0
2018-04-30  10000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30   5500.0
2010-10-31  10000.0
2010-11-30  11500.0
2010-12-31  19900.0
2011-01-31  11873.0
2011-02-28  19995.0
2011-03-31  11125.0
2011-04-30  10000.0
2011-05-31  10000.0
2011-06-30  14000.0
2011-07-31  10000.0
2011-08-31  10000.0
2011-09-30  10000.0
2011-10-31  10000.0
2011-11-30   9500.0
2011-12-31  12000.0
2012-01-31  10000.0
2012-02-29  10000.0
2012-03-31  10000.0
2012-04-30  10000.0
2012-05-31   5000.0
2012-06-30  10000.0
2012-07-31  10000.0
2012-08-31   9500.0
2012-09-30   5500.0
2012-10-31   7700.0
2012-11-30   5000.0
2012-12-31   5000.0
2013-01-31   3664.0
2013-02-28  10500.0
...             ...
2015-11-30  10000.0
2015-12-31   3499.5
2016-01-31   9233.0
2016-02-29  10000.0
2016-03-31  10000.0
2016-04-30  10256.5
2016-05-31   9995.0
2016-06-30   9306.0
2016-07-31   9250.0
2016-08-31   9050.0
2016-09-30   9949.5
2016-10-31  10000.0
2016-11-30  10000.0
2016-12-31  10251.0
2017-01-31   4500.0
2017-02-28   8550.0
2017-03-31  10000.0
2017-04-30  10000.0
2017-05-31  10000.0
2017-06-30  10000.0
2017-07-31   9750.0
2017-08-31  11034.5
2017-09-30   5001.0
2017-10-31   9479.0
2017-11-30   9250.0
2017-12-31   8999.0
2018-01-31  10000.0
2018-02-28   9500.0
2018-03-31  10000.0
2018-04-30  15525.0

[92 rows x 1 columns]

              Value
Date
2010-09-30  18500.0
2010-10-31  20000.0
2010-11-30  12292.0
2010-12-31  27500.0
2011-01-31  14550.0
2011-02-28  24900.0
2011-03-31  16000.0
2011-04-30  10000.0
2011-05-31  15000.0
2011-06-30  18000.0
2011-07-31  15100.0
2011-08-31  15000.0
2011-09-30  15000.0
2011-10-31  18000.0
2011-11-30   7500.0
2011-12-31  15000.0
2012-01-31  13500.0
2012-02-29  10000.0
2012-03-31  11600.0
2012-04-30  10600.0
2012-05-31  14000.0
2012-06-30  10000.0
2012-07-31  15000.0
2012-08-31  15000.0
2012-09-30  15000.0
2012-10-31  16000.0
2012-11-30  11053.0
2012-12-31   5000.0
2013-01-31  10000.0
2013-02-28  10000.0
...             ...
2015-11-30  15100.0
2015-12-31   5000.0
2016-01-31   9100.0
2016-02-29   9000.0
2016-03-31  15000.0
2016-04-30  15250.0
2016-05-31  15000.0
2016-06-30  14900.0
2016-07-31  10000.0
2016-08-31  10999.0
2016-09-30  10000.0
2016-10-31  10049.5
2016-11-30  11705.0
2016-12-31  15000.0
2017-01-31  10064.0
2017-02-28  11850.0
2017-03-31  11000.0
2017-04-30  12500.0
2017-05-31  10750.0
2017-06-30  10000.5
2017-07-31  10000.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31  10000.0
2017-11-30  10000.0
2017-12-31   6550.0
2018-01-31  10000.0
2018-02-28  10000.0
2018-03-31   6000.0
2018-04-30  10000.0

[92 rows x 1 columns]
              Value
Date
2010-09-30   9100.0
2010-10-31   8400.0
2010-11-30   9000.0
2010-12-31   5500.0
2011-01-31   8000.0
2011-02-28   6550.0
2011-03-31   7261.0
2011-04-30   9007.5
2011-05-31   6900.0
2011-06-30   7997.0
2011-07-31   5500.0
2011-08-31   9250.0
2011-09-30   5000.0
2011-10-31   6000.0
2011-11-30   7950.0
2011-12-31   5000.0
2012-01-31  10000.0
2012-02-29   7250.0
2012-03-31  10000.0
2012-04-30   5100.0
2012-05-31   9050.0
2012-06-30   5100.0
2012-07-31   7000.0
2012-08-31   5000.0
2012-09-30   6000.0
2012-10-31  10000.0
2012-11-30   7000.0
2012-12-31   5600.0
2013-01-31  10000.0
2013-02-28   5100.0
...             ...
2015-11-30   6000.0
2015-12-31  10000.0
2016-01-31   4550.0
2016-02-29  10000.0
2016-03-31  10499.5
2016-04-30  10000.0
2016-05-31   7550.0
2016-06-30  10000.0
2016-07-31  11500.0
2016-08-31  10000.0
2016-09-30   9679.0
2016-10-31  12450.0
2016-11-30   9500.0
2016-12-31  10000.0
2017-01-31   6428.5
2017-02-28  10050.0
2017-03-31  10000.0
2017-04-30  10750.0
2017-05-31   8500.0
2017-06-30  10000.0
2017-07-31  10000.0
2017-08-31  10000.0
2017-09-30   9995.0
2017-10-31  10000.0
2017-11-30   5100.0
2017-12-31   8000.0
2018-01-31  10050.0
2018-02-28  10000.0
2018-03-31  15000.0
2018-04-30  14000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30   5450.0
2010-10-31   4900.0
2010-11-30   4950.0
2010-12-31   8000.0
2011-01-31   5000.0
2011-02-28   6000.0
2011-03-31   5000.0
2011-04-30   4075.0
2011-05-31   4100.0
2011-06-30   5100.0
2011-07-31   5000.0
2011-08-31   5000.0
2011-09-30   5000.0
2011-10-31   5000.0
2011-11-30   5000.0
2011-12-31   5000.0
2012-01-31   5444.0
2012-02-29   5000.0
2012-03-31   5000.0
2012-04-30   5000.0
2012-05-31   5000.0
2012-06-30   4750.0
2012-07-31   5050.0
2012-08-31   5800.0
2012-09-30   5000.0
2012-10-31   5000.0
2012-11-30   5000.0
2012-12-31   5000.0
2013-01-31   4500.0
2013-02-28   5400.0
...             ...
2015-11-30  10000.0
2015-12-31  10000.0
2016-01-31   9948.5
2016-02-29  10000.0
2016-03-31   6000.0
2016-04-30   6500.0
2016-05-31   9000.0
2016-06-30  10000.0
2016-07-31   9100.0
2016-08-31   5100.0
2016-09-30   7000.0
2016-10-31   6500.0
2016-11-30   9000.0
2016-12-31   5090.0
2017-01-31   5010.0
2017-02-28   5500.0
2017-03-31   4686.0
2017-04-30   5000.0
2017-05-31   5700.0
2017-06-30   6000.0
2017-07-31   9999.0
2017-08-31   5100.0
2017-09-30   8250.0
2017-10-31   8000.0
2017-11-30  10000.0
2017-12-31   5100.0
2018-01-31   9000.5
2018-02-28   9000.0
2018-03-31   9950.0
2018-04-30   9500.0

[92 rows x 1 columns]
               Value
Date
2010-09-30   24000.0
2010-10-31   29600.0
2010-11-30   24000.0
2010-12-31   26000.0
2011-01-31   20000.0
2011-02-28   22500.0
2011-03-31   30000.0
2011-04-30   22950.0
2011-05-31   25000.0
2011-06-30   20000.0
2011-07-31   20000.0
2011-08-31   20524.5
2011-09-30   20900.0
2011-10-31   25000.0
2011-11-30   25000.0
2011-12-31  100450.0
2012-01-31   40000.0
2012-02-29   38000.0
2012-03-31   21500.0
2012-04-30   40900.0
2012-05-31   39000.0
2012-06-30   25100.0
2012-07-31   24500.0
2012-08-31   19500.0
2012-09-30   20000.0
2012-10-31   19050.0
2012-11-30   26000.0
2012-12-31   64500.0
2013-01-31   25999.0
2013-02-28   35749.5
...              ...
2015-11-30   29900.0
2015-12-31   46000.0
2016-01-31   45550.0
2016-02-29   50000.0
2016-03-31   47250.0
2016-04-30   50000.5
2016-05-31   50000.0
2016-06-30   50000.0
2016-07-31   45000.0
2016-08-31   49500.0
2016-09-30   51250.0
2016-10-31   50000.5
2016-11-30   50000.0
2016-12-31   25000.0
2017-01-31   41000.0
2017-02-28   37300.0
2017-03-31   50000.0
2017-04-30   48750.0
2017-05-31   30000.0
2017-06-30   30900.0
2017-07-31   30000.0
2017-08-31   27500.0
2017-09-30   33000.0
2017-10-31   50000.0
2017-11-30   50000.0
2017-12-31   49000.0
2018-01-31   44500.0
2018-02-28   50000.0
2018-03-31   53000.0
2018-04-30   51000.0

[92 rows x 1 columns]
              Value
Date
2010-09-30   9500.0
2010-10-31   5000.0
2010-11-30   9750.0
2010-12-31   9500.0
2011-01-31  10000.0
2011-02-28   6000.0
2011-03-31   8500.0
2011-04-30   5750.0
2011-05-31   9944.5
2011-06-30  10000.0
2011-07-31  10000.0
2011-08-31   7200.0
2011-09-30   6375.0
2011-10-31   5097.5
2011-11-30  11500.0
2011-12-31   7500.0
2012-01-31  13700.0
2012-02-29  10000.0
2012-03-31   5000.0
2012-04-30   7375.0
2012-05-31   5900.0
2012-06-30  10000.0
2012-07-31   8000.0
2012-08-31   6141.5
2012-09-30   9190.0
2012-10-31   7500.0
2012-11-30   9000.0
2012-12-31   9100.0
2013-01-31   7000.0
2013-02-28   6000.0
...             ...
2015-03-31   8800.0
2015-04-30   8000.0
2015-05-31   8272.0
2015-06-30   9550.0
2015-07-31   9100.0
2015-08-31   5000.0
2015-09-30   9000.0
2015-10-31   8000.0
2015-11-30   7000.0
2015-12-31   5100.0
2016-01-31   9500.0
2016-02-29   9900.0
2016-03-31   6700.5
2016-04-30  10000.0
2016-05-31   9950.0
2016-06-30  10000.0
2016-07-31   5987.5
2016-08-31   5200.0
2016-09-30   5501.0
2016-10-31   5900.0
2016-11-30   5000.0
2016-12-31  13550.0
2017-01-31  10000.0
2017-02-28   6000.0
2017-03-31   5000.0
2017-04-30   9950.0
2017-05-31   5200.0
2017-06-30   5005.0
2017-07-31   5000.0
2017-08-31   8955.0

[84 rows x 1 columns]
              Value
Date
2010-09-30   5000.0
2010-10-31   4950.0
2010-11-30   4854.0
2010-12-31   5000.0
2011-01-31   5000.0
2011-02-28   5000.0
2011-03-31   5000.0
2011-04-30   5000.0
2011-05-31   4854.0
2011-06-30   5000.0
2011-07-31   5000.0
2011-08-31   5000.0
2011-09-30   5000.0
2011-10-31   5000.0
2011-11-30   5000.0
2011-12-31   7000.0
2012-01-31   5400.0
2012-02-29   7000.0
2012-03-31   5000.0
2012-04-30   4000.0
2012-05-31   5000.0
2012-06-30   5000.0
2012-07-31   5000.0
2012-08-31   5000.0
2012-09-30   5000.0
2012-10-31   5000.0
2012-11-30   9000.0
2012-12-31   9000.0
2013-01-31   4000.0
2013-02-28   4283.5
...             ...
2015-11-30   5950.0
2015-12-31   3883.0
2016-01-31  10000.0
2016-02-29  10000.0
2016-03-31  10000.0
2016-04-30   5000.0
2016-05-31   6000.0
2016-06-30   6000.0
2016-07-31   6000.0
2016-08-31   5000.5
2016-09-30   5000.0
2016-10-31   5100.0
2016-11-30   5000.0
2016-12-31   6500.0
2017-01-31   6000.0
2017-02-28   5000.0
2017-03-31   5000.0
2017-04-30   5000.0
2017-05-31   5000.0
2017-06-30   5000.0
2017-07-31   9901.0
2017-08-31   5000.0
2017-09-30   5000.0
2017-10-31   5000.0
2017-11-30   5000.0
2017-12-31   6052.5
2018-01-31   9000.0
2018-02-28   5000.0
2018-03-31   5050.0
2018-04-30   9001.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

              Value
Date
2010-09-30  10000.0
2010-10-31  10000.0
2010-11-30  10000.0
2010-12-31   5000.0
2011-01-31  12500.0
2011-02-28  11950.0
2011-03-31   8500.0
2011-04-30   5000.0
2011-05-31   8250.0
2011-06-30   9100.0
2011-07-31   5750.0
2011-08-31   9300.0
2011-09-30  10000.0
2011-10-31   5900.0
2011-11-30   8875.0
2011-12-31  10000.0
2012-01-31   6400.0
2012-02-29   4000.0
2012-03-31   6750.0
2012-04-30   9550.0
2012-05-31   5000.0
2012-06-30   6500.0
2012-07-31  10000.0
2012-08-31   5550.0
2012-09-30   8425.0
2012-10-31   6000.0
2012-11-30   5097.5
2012-12-31   3950.5
2013-01-31   5000.0
2013-02-28   7000.0
...             ...
2015-11-30   8000.0
2015-12-31  10000.0
2016-01-31   8500.0
2016-02-29  15600.0
2016-03-31  10000.0
2016-04-30  10950.0
2016-05-31  10000.0
2016-06-30  10000.0
2016-07-31  11000.0
2016-08-31  10000.0
2016-09-30  10000.0
2016-10-31  12500.0
2016-11-30  10000.0
2016-12-31  12500.0
2017-01-31  10000.0
2017-02-28  10500.0
2017-03-31  10000.0
2017-04-30  10455.0
2017-05-31  11495.0
2017-06-30  10050.0
2017-07-31  10000.0
2017-08-31  10000.0
2017-09-30   8375.0
2017-10-31  10100.0
2017-11-30  10000.0
2017-12-31   6500.0
2018-01-31   9100.0
2018-02-28  10000.0
2018-03-31  10000.0
2018-04-30  10000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30   5000.0
2010-10-31   4855.0
2010-11-30   3000.0
2010-12-31   2450.0
2011-01-31   5000.0
2011-02-28   5000.0
2011-03-31   4499.5
2011-04-30   5000.0
2011-05-31   5000.0
2011-06-30   5000.0
2011-07-31   5000.0
2011-08-31   4950.0
2011-09-30   6650.0
2011-10-31   4464.5
2011-11-30   6100.0
2011-12-31   3960.0
2012-01-31   3713.0
2012-02-29   4750.0
2012-03-31   6525.0
2012-04-30   5005.0
2012-05-31   5000.0
2012-06-30   4999.5
2012-07-31   5100.0
2012-08-31   5000.0
2012-09-30   3549.5
2012-10-31   5000.0
2012-11-30   4994.0
2012-12-31   4004.0
2013-01-31   5000.0
2013-02-28   5000.0
...             ...
2015-11-30   4700.0
2015-12-31    600.0
2016-01-31   3100.0
2016-02-29   2000.0
2016-03-31  12473.0
2016-04-30   5008.0
2016-05-31   4600.0
2016-06-30   9125.0
2016-07-31  10000.0
2016-08-31   5700.0
2016-09-30   5050.0
2016-10-31   5450.0
2016-11-30   6000.0
2016-12-31  10000.0
2017-01-31   4000.0
2017-02-28   5000.0
2017-03-31   5000.0
2017-04-30   5000.0
2017-05-31   5000.0
2017-06-30   5000.0
2017-07-31   7900.0
2017-08-31   5000.5
2017-09-30   7000.0
2017-10-31   5000.0
2017-11-30   4925.0
2017-12-31   6000.0
2018-01-31   5999.5
2018-02-28   7100.0
2018-03-31   5100.0
2018-04-30   6500.0

[92 rows x 1 columns]
              Value
Date
2010-09-30   8000.0
2010-10-31   5000.0
2010-11-30   7501.0
2010-12-31  10000.0
2011-01-31   5000.0
2011-02-28   5000.0
2011-03-31   6250.0
2011-04-30   5500.0
2011-05-31   5000.0
2011-06-30   5350.0
2011-07-31   9500.0
2011-08-31   5000.0
2011-09-30   5095.0
2011-10-31   5000.0
2011-11-30   5000.0
2011-12-31   4000.0
2012-01-31   9000.0
2012-02-29   3009.0
2012-03-31   3999.5
2012-04-30   5000.0
2012-05-31   4900.0
2012-06-30   3250.0
2012-07-31   4000.5
2012-08-31   2900.0
2012-09-30   4800.0
2012-10-31   5250.0
2012-11-30   8100.0
2012-12-31   4500.0
2013-01-31   5000.0
2013-02-28   2000.0
...             ...
2015-11-30   5000.0
2015-12-31   5245.0
2016-01-31   1065.0
2016-02-29   6954.0
2016-03-31   4950.5
2016-04-30   4500.5
2016-05-31   2000.0
2016-06-30   5300.0
2016-07-31   5500.0
2016-08-31   4900.0
2016-09-30   5100.0
2016-10-31   5022.5
2016-11-30   5000.0
2016-12-31   5000.0
2017-01-31   4145.0
2017-02-28   5000.0
2017-03-31   5295.0
2017-04-30   5001.0
2017-05-31   5000.0
2017-06-30   2750.0
2017-07-31   5000.0
2017-08-31   9000.0
2017-09-30   5000.0
2017-10-31   7500.0
2017-11-30   5000.0
2017-12-31   5000.0
2018-01-31   4800.0
2018-02-28   3000.0
2018-03-31   4510.0
2018-04-30   5000.0

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
              Value
Date
2010-09-30   8600.0
2010-10-31   8300.0
2010-11-30   7550.0
2010-12-31   7500.0
2011-01-31   7000.0
2011-02-28   9250.0
2011-03-31   9100.0
2011-04-30   7500.0
2011-05-31   7850.0
2011-06-30   6749.5
2011-07-31   5900.0
2011-08-31   7500.0
2011-09-30   7000.0
2011-10-31   9600.0
2011-11-30  10000.0
2011-12-31   6000.0
2012-01-31   7525.0
2012-02-29  10000.0
2012-03-31  10050.0
2012-04-30   4950.0
2012-05-31   9000.0
2012-06-30   9900.0
2012-07-31  10000.0
2012-08-31   9900.0
2012-09-30  10000.0
2012-10-31   5100.0
2012-11-30   5550.0
2012-12-31  17000.0
2013-01-31  10000.0
2013-02-28  10000.0
...             ...
2015-11-30   8700.0
2015-12-31   9300.0
2016-01-31  12005.0
2016-02-29  10950.0
2016-03-31   8550.0
2016-04-30  10000.0
2016-05-31  15000.0
2016-06-30  10000.0
2016-07-31  10000.0
2016-08-31  14000.0
2016-09-30  10000.0
2016-10-31  10000.0
2016-11-30   8000.0
2016-12-31   9400.0
2017-01-31   9000.0
2017-02-28  10000.0
2017-03-31  10900.0
2017-04-30  16000.0
2017-05-31  14500.0
2017-06-30  10100.0
2017-07-31  10700.0
2017-08-31  10000.0
2017-09-30  10000.0
2017-10-31  10000.0
2017-11-30  10000.0
2017-12-31  10000.0
2018-01-31   8000.0
2018-02-28  10000.0
2018-03-31  10250.0
2018-04-30  10500.0

[92 rows x 1 columns]

In [11]:
# Concatenating all the data
#data_price_cut_concat = data_data
price_cut_concat = pd.concat(price_cut_concat)
# Getting month and year from the column "date"
price_cut_concat['Year'] = pd.DatetimeIndex(price_cut_concat.index).year
price_cut_concat['Month'] = pd.DatetimeIndex(price_cut_concat.index).month
rename_price_cut_concat = price_cut_concat.rename(columns={"Value":"Median Price Cut"})
rename_price_cut_concat

            Median Price Cut Zip Code  Year  Month
Date
2010-09-30           10000.0    78701  2010      9
2010-10-31            9950.0    78701  2010     10
2010-11-30            6000.0    78701  2010     11
2010-12-31            8700.0    78701  2010     12
2011-01-31           10000.0    78701  2011      1
2011-02-28            7500.0    78701  2011      2
2011-03-31            8900.0    78701  2011      3
2011-04-30            7550.0    78701  2011      4
2011-05-31           15000.0    78701  2011      5
2011-06-30           10700.0    78701  2011      6
2011-07-31            4575.0    78701  2011      7
2011-08-31            7402.5    78701  2011      8
2011-09-30           10000.0    78701  2011      9
2011-10-31           10000.0    78701  2011     10
2011-11-30           15100.0    78701  2011     11
2011-12-31           12505.0    78701  2011     12
2012-01-31           10000.0    78701  2012      1
2012-02-29           20000.0    78701  2012      2
2012-03-31           10000.0    78701  2012      3
2012-04-30           10000.0    78701  2012      4
2012-05-31           10000.0    78701  2012      5
2012-06-30            7050.0    78701  2012      6
2012-07-31            6500.0    78701  2012      7
2012-08-31            5000.0    78701  2012      8
2012-09-30           10000.0    78701  2012      9
2012-10-31          100000.0    78701  2012     10
2012-11-30           10750.0    78701  2012     11
2012-12-31            7600.0    78701  2012     12
2013-01-31           17600.0    78701  2013      1
2013-02-28           69250.0    78701  2013      2
...                      ...      ...   ...    ...
2015-11-30            8700.0    78759  2015     11
2015-12-31            9300.0    78759  2015     12
2016-01-31           12005.0    78759  2016      1
2016-02-29           10950.0    78759  2016      2
2016-03-31            8550.0    78759  2016      3
2016-04-30           10000.0    78759  2016      4
2016-05-31           15000.0    78759  2016      5
2016-06-30           10000.0    78759  2016      6
2016-07-31           10000.0    78759  2016      7
2016-08-31           14000.0    78759  2016      8
2016-09-30           10000.0    78759  2016      9
2016-10-31           10000.0    78759  2016     10
2016-11-30            8000.0    78759  2016     11
2016-12-31            9400.0    78759  2016     12
2017-01-31            9000.0    78759  2017      1
2017-02-28           10000.0    78759  2017      2
2017-03-31           10900.0    78759  2017      3
2017-04-30           16000.0    78759  2017      4
2017-05-31           14500.0    78759  2017      5
2017-06-30           10100.0    78759  2017      6
2017-07-31           10700.0    78759  2017      7
2017-08-31           10000.0    78759  2017      8
2017-09-30           10000.0    78759  2017      9
2017-10-31           10000.0    78759  2017     10
2017-11-30           10000.0    78759  2017     11
2017-12-31           10000.0    78759  2017     12
2018-01-31            8000.0    78759  2018      1
2018-02-28           10000.0    78759  2018      2
2018-03-31           10250.0    78759  2018      3
2018-04-30           10500.0    78759  2018      4

[2008 rows x 4 columns]

In [12]:
# Export the "home value" data to a csv file
rename_price_cut_concat.to_csv("../data/int/output_quandl/3_Output.median_price_cut.csv", index = False ,header = True)

## Median Price Of Reduction - All Homes|MPPRAH

In [13]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "MPPRAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1
    
# Copying the data stored    
price_reduction_concat = data_data

               Value
Date
2010-09-30  3.572705
2010-10-31  2.864370
2010-11-30  2.521008
2010-12-31  4.299446
2011-01-31  3.386514
2011-02-28  2.482331
2011-03-31  4.549591
2011-04-30  2.406481
2011-05-31  4.799399
2011-06-30  3.584229
2011-07-31  1.668046
2011-08-31  2.470238
2011-09-30  3.177258
2011-10-31  2.570694
2011-11-30  4.624277
2011-12-31  2.923402
2012-01-31  2.942042
2012-02-29  4.264578
2012-03-31  1.395797
2012-04-30  1.803607
2012-05-31  2.962963
2012-06-30  1.691671
2012-07-31  2.023706
2012-08-31  1.724733
2012-09-30  2.669633
2012-10-31  4.008016
2012-11-30  2.710790
2012-12-31  2.788991
2013-01-31  2.214686
2013-02-28  7.671544
...              ...
2015-03-31  3.423681
2015-04-30  3.047992
2015-05-31  2.063983
2015-06-30  2.698453
2015-07-31  1.820359
2015-08-31  2.199111
2015-09-30  3.366340
2015-10-31  3.125000
2015-11-30  2.352941
2015-12-31  3.333333
2016-01-31  2.195652
2016-02-29  2.370073
2016-03-31  3.660886
2016-04-30  2.387287
2016-05-31  2.196796
2016-06-30  2.778550
2016-07-31  2.905028
2016-08-31  2.847355
2016-09-30  3.575497
2016-10-31  2.277904
2016-11-30  2.094515
2016-12-31  1.818182
2017-01-31  2.091140
2017-02-28  2.128565
2017-03-31  1.602775
2017-04-30  2.710027
2017-05-31  2.119589
2017-06-30  2.845528
2017-07-31  2.187437
2017-08-31  2.444988

[84 rows x 1 columns]
                Value
Date
2010-09-30   5.662514
2010-10-31   4.951826
2010-11-30   5.000000
2010-12-31   2.857121
2011-01-31   4.545455
2011-02-28   4.867725
2011-03-31   5.349352
2011-04-30   4.347826
2011-05-31   4.614853
2011-06-30   5.263158
2011-07-31   4.854265
2011-08-31   4.366812
2011-09-30   4.904632
2011-10-31   3.260881
2011-11-30   3.344482
2011-12-31  11.089494
2012-01-31   2.857959
2012-02-29   4.349717
2012-03-31   1.746725
2012-04-30   3.738318
2012-05-31   2.710027
2012-06-30   1.694915
2012-07-31   2.999918
2012-08-31   2.889295
2012-09-30   2.808989
2012-10-31   3.032141
2012-11-30   3.927825
2012-12-31   2.770652
2013-01-31   2.964931
2013-02-28   2.116402
...               ...
2015-11-30   3.448752
2015-12-31   3.343653
2016-01-31   2.222716
2016-02-29   4.545455
2016-03-31   4.500529
2016-04-30   3.295129
2016-05-31   4.398742
2016-06-30   2.785515
2016-07-31   3.090944
2016-08-31   2.635051
2016-09-30   2.439421
2016-10-31   2.444988
2016-11-30   2.656585
2016-12-31   2.777778
2017-01-31   2.857167
2017-02-28   2.581081
2017-03-31   2.445685
2017-04-30   1.749405
2017-05-31   2.035675
2017-06-30   2.857143
2017-07-31   2.739130
2017-08-31   2.105263
2017-09-30   2.244444
2017-10-31   2.106057
2017-11-30   2.158273
2017-12-31   2.935281
2018-01-31   3.421608
2018-02-28   2.777778
2018-03-31   4.527638
2018-04-30   2.347418

[92 rows x 1 columns]
               Value
Date
2010-09-30  3.204272
2010-10-31  3.402398
2010-11-30  3.389831
2010-12-31  2.336449
2011-01-31  3.717472
2011-02-28  3.807615
2011-03-31  3.504078
2011-04-30  3.636364
2011-05-31  2.857143
2011-06-30  3.076923
2011-07-31  2.702776
2011-08-31  3.204272
2011-09-30  2.904203
2011-10-31  3.877221
2011-11-30  3.636364
2011-12-31  4.000640
2012-01-31  3.422983
2012-02-29  3.160570
2012-03-31  4.101796
2012-04-30  3.618160
2012-05-31  2.862890
2012-06-30  3.585714
2012-07-31  3.769638
2012-08-31  2.704678
2012-09-30  2.726401
2012-10-31  2.320045
2012-11-30  2.727871
2012-12-31  1.932773
2013-01-31  2.960024
2013-02-28  4.388920
...              ...
2015-11-30  3.112283
2015-12-31  4.808973
2016-01-31  3.758735
2016-02-29  3.510928
2016-03-31  3.076923
2016-04-30  3.757952
2016-05-31  4.112970
2016-06-30  4.006410
2016-07-31  3.042017
2016-08-31  4.469268
2016-09-30  2.703907
2016-10-31  2.499221
2016-11-30  2.345666
2016-12-31  3.174603
2017-01-31  3.571429
2017-02-28  2.769042
2017-03-31  3.288288
2017-04-30  4.268966
2017-05-31  3.680200
2017-06-30  3.539823
2017-07-31  2.659574
2017-08-31  2.340426
2017-09-30  3.151515
2017-10-31  3.346598
2017-11-30  3.095685
2017-12-31  3.726852
2018-01-31  3.173312
2018-02-28  2.403791
2018-03-31  3.028936
2018-04-30  3.648405

[92 rows x 1 columns]
               Value
Date
2010-09-30  3.255078
2010-10-31  3.694255
2010-11-30  3.865385
2010-12-31  3.543415
2011-01-31  3.290364
2011-02-28  3.090749
2011-03-31  2.710027
2011-04-30  2.747569
2011-05-31  2.779708
2011-06-30  2.678803
2011-07-31  3.333889
2011-08-31  3.341289
2011-09-30  2.638464
2011-10-31  3.132756
2011-11-30  3.214286
2011-12-31  3.597266
2012-01-31  2.949640
2012-02-29  2.849399
2012-03-31  3.076923
2012-04-30  2.400960
2012-05-31  2.277904
2012-06-30  3.286638
2012-07-31  3.720322
2012-08-31  2.845528
2012-09-30  2.916667
2012-10-31  2.266362
2012-11-30  2.778550
2012-12-31  3.030303
2013-01-31  2.226667
2013-02-28  4.289915
...              ...
2015-11-30  2.503129
2015-12-31  1.642036
2016-01-31  2.406015
2016-02-29  1.880473
2016-03-31  2.818653
2016-04-30  2.222222
2016-05-31  2.231461
2016-06-30  2.538829
2016-07-31  2.286591
2016-08-31  2.591755
2016-09-30  3.031222
2016-10-31  2.626087
2016-11-30  2.237762
2016-12-31  2.888992
2017-01-31  2.850906
2017-02-28  1.855288
2017-03-31  2.210552
2017-04-30  2.385013
2017-05-31  2.500000
2017-06-30  1.860577
2017-07-31  1.909014
2017-08-31  1.849711
2017-09-30  2.222716
2017-10-31  2.144522
2017-11-30  2.401599
2017-12-31  2.169080
2018-01-31  2.121020
2018-02-28  2.096557
2018-03-31  2.453133
2018-04-30  2.740101

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  2.933884
2010-10-31  2.119024
2010-11-30  3.331754
2010-12-31  2.628441
2011-01-31  2.695615
2011-02-28  2.025582
2011-03-31  2.394766
2011-04-30  2.174859
2011-05-31  2.068027
2011-06-30  2.439528
2011-07-31  2.298851
2011-08-31  2.911014
2011-09-30  2.036110
2011-10-31  2.500625
2011-11-30  1.913876
2011-12-31  2.439024
2012-01-31  1.250521
2012-02-29  1.497585
2012-03-31  1.711213
2012-04-30  1.583012
2012-05-31  1.803607
2012-06-30  2.226205
2012-07-31  2.222222
2012-08-31  2.289763
2012-09-30  1.673640
2012-10-31  1.995893
2012-11-30  2.033898
2012-12-31  1.838235
2013-01-31  2.439071
2013-02-28  1.644458
...              ...
2015-11-30  2.033077
2015-12-31  2.271997
2016-01-31  1.410658
2016-02-29  1.203008
2016-03-31  1.508916
2016-04-30  1.693010
2016-05-31  1.739130
2016-06-30  1.755002
2016-07-31  1.724733
2016-08-31  1.750625
2016-09-30  1.567398
2016-10-31  1.550505
2016-11-30  2.103632
2016-12-31  1.886299
2017-01-31  1.727116
2017-02-28  2.734411
2017-03-31  2.754556
2017-04-30  1.857846
2017-05-31  1.562988
2017-06-30  2.073508
2017-07-31  2.632272
2017-08-31  1.861488
2017-09-30  1.809679
2017-10-31  1.795135
2017-11-30  1.631430
2017-12-31  1.886792
2018-01-31  1.522388
2018-02-28  1.408451
2018-03-31  2.819499
2018-04-30  1.620099

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  4.412414
2010-10-31  4.392765
2010-11-30  3.587524
2010-12-31  3.339272
2011-01-31  4.032258
2011-02-28  3.163348
2011-03-31  3.849115
2011-04-30  3.301434
2011-05-31  3.537593
2011-06-30  4.347826
2011-07-31  4.255319
2011-08-31  3.782235
2011-09-30  2.785010
2011-10-31  2.020202
2011-11-30  3.548387
2011-12-31  2.558477
2012-01-31  4.076163
2012-02-29  4.006678
2012-03-31  1.933216
2012-04-30  3.385165
2012-05-31  2.570093
2012-06-30  3.676128
2012-07-31  4.358265
2012-08-31  3.254694
2012-09-30  2.267045
2012-10-31  2.560647
2012-11-30  3.106393
2012-12-31  2.255899
2013-01-31  2.689553
2013-02-28  4.263851
...              ...
2015-11-30  2.562168
2015-12-31  2.040803
2016-01-31  2.213708
2016-02-29  1.634556
2016-03-31  1.792673
2016-04-30  2.352941
2016-05-31  3.034140
2016-06-30  2.605863
2016-07-31  2.004454
2016-08-31  2.371177
2016-09-30  2.777778
2016-10-31  2.255639
2016-11-30  2.314492
2016-12-31  1.616881
2017-01-31  2.180436
2017-02-28  2.802984
2017-03-31  2.381519
2017-04-30  2.703433
2017-05-31  2.439619
2017-06-30  2.277904
2017-07-31  3.638554
2017-08-31  2.239178
2017-09-30  2.325581
2017-10-31  1.923077
2017-11-30  2.325581
2017-12-31  1.728814
2018-01-31  1.204819
2018-02-28  2.303879
2018-03-31  1.635846
2018-04-30  2.129077

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  4.000000
2010-10-31  4.740020
2010-11-30  2.004626
2010-12-31  2.018080
2011-01-31  3.151862
2011-02-28  1.817922
2011-03-31  2.062847
2011-04-30  3.875000
2011-05-31  2.521008
2011-06-30  3.261867
2011-07-31  2.515823
2011-08-31  4.099021
2011-09-30  3.302201
2011-10-31  1.470778
2011-11-30  1.682914
2011-12-31  4.145078
2012-01-31  2.535921
2012-02-29  2.736447
2012-03-31  7.015773
2012-04-30  3.095646
2012-05-31  1.668948
2012-06-30  2.005731
2012-07-31  2.673797
2012-08-31  2.105263
2012-09-30  1.982588
2012-10-31  2.634211
2012-11-30  3.394802
2012-12-31  2.729216
2013-01-31  1.817978
2013-02-28  3.310468
...              ...
2015-11-30  1.918708
2015-12-31  2.335929
2016-01-31  2.632272
2016-02-29  2.586285
2016-03-31  2.725681
2016-04-30  1.887149
2016-05-31  2.325896
2016-06-30  2.353888
2016-07-31  2.083559
2016-08-31  2.862592
2016-09-30  1.219457
2016-10-31  1.549296
2016-11-30  2.729885
2016-12-31  1.683502
2017-01-31  1.960784
2017-02-28  1.545655
2017-03-31  1.935041
2017-04-30  2.029096
2017-05-31  2.074963
2017-06-30  2.128112
2017-07-31  1.794931
2017-08-31  1.869322
2017-09-30  1.867101
2017-10-31  2.600785
2017-11-30  2.117594
2017-12-31  1.294822
2018-01-31  1.857756
2018-02-28  1.263158
2018-03-31  1.874963
2018-04-30  1.917631

[92 rows x 1 columns]
               Value
Date
2010-09-30  3.322418
2010-10-31  2.801601
2010-11-30  2.792942
2010-12-31  2.372004
2011-01-31  2.858776
2011-02-28  2.728801
2011-03-31  2.858776
2011-04-30  2.379198
2011-05-31  2.440215
2011-06-30  2.565418
2011-07-31  2.014000
2011-08-31  2.806541
2011-09-30  2.328929
2011-10-31  2.794794
2011-11-30  2.002403
2011-12-31  2.693546
2012-01-31  2.882206
2012-02-29  3.399547
2012-03-31  3.437500
2012-04-30  2.204920
2012-05-31  2.227614
2012-06-30  2.094732
2012-07-31  1.568235
2012-08-31  2.202561
2012-09-30  2.097902
2012-10-31  2.327089
2012-11-30  4.084202
2012-12-31  5.040713
2013-01-31  3.062474
2013-02-28  2.386635
...              ...
2015-11-30  3.302920
2015-12-31  1.627402
2016-01-31  2.832024
2016-02-29  1.779013
2016-03-31  1.786352
2016-04-30  2.307398
2016-05-31  3.226847
2016-06-30  3.440860
2016-07-31  1.695490
2016-08-31  2.232143
2016-09-30  2.460460
2016-10-31  2.504953
2016-11-30  3.039514
2016-12-31  3.018916
2017-01-31  7.142857
2017-02-28  4.010401
2017-03-31  3.689524
2017-04-30  5.841220
2017-05-31  2.879421
2017-06-30  1.887505
2017-07-31  2.927370
2017-08-31  2.805556
2017-09-30  1.528961
2017-10-31  1.515152
2017-11-30  2.287316
2017-12-31  2.844948
2018-01-31  2.439042
2018-02-28  2.597150
2018-03-31  2.331002
2018-04-30  2.352941

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  3.703704
2010-10-31  3.733432
2010-11-30  2.979991
2010-12-31  3.225858
2011-01-31  3.508991
2011-02-28  3.078345
2011-03-31  3.516263
2011-04-30  2.398660
2011-05-31  2.531646
2011-06-30  2.096812
2011-07-31  3.320443
2011-08-31  2.209642
2011-09-30  2.568459
2011-10-31  2.802957
2011-11-30  3.668459
2011-12-31  2.127660
2012-01-31  2.506266
2012-02-29  2.857143
2012-03-31  3.009050
2012-04-30  3.106796
2012-05-31  3.030762
2012-06-30  3.312757
2012-07-31  3.126825
2012-08-31  4.078197
2012-09-30  3.283920
2012-10-31  2.448780
2012-11-30  3.151515
2012-12-31  4.147402
2013-01-31  3.619691
2013-02-28  3.290323
...              ...
2015-11-30  2.335062
2015-12-31  1.369863
2016-01-31  3.603604
2016-02-29  2.416357
2016-03-31  2.727273
2016-04-30  2.916262
2016-05-31  3.030303
2016-06-30  3.536977
2016-07-31  2.941176
2016-08-31  2.948280
2016-09-30  2.549074
2016-10-31  2.091646
2016-11-30  2.916667
2016-12-31  0.820550
2017-01-31  2.097330
2017-02-28  2.003082
2017-03-31  2.666667
2017-04-30  3.041825
2017-05-31  2.455285
2017-06-30  2.173913
2017-07-31  2.377623
2017-08-31  2.174386
2017-09-30  2.819392
2017-10-31  2.277904
2017-11-30  2.442463
2017-12-31  1.803604
2018-01-31  1.836735
2018-02-28  0.910057
2018-03-31  2.847888
2018-04-30  3.220301

[92 rows x 1 columns]
               Value
Date
2010-09-30  3.225664
2010-10-31  3.151515
2010-11-30  2.420292
2010-12-31  2.366028
2011-01-31  3.125977
2011-02-28  1.589825
2011-03-31  1.869322
2011-04-30  2.469305
2011-05-31  2.564366
2011-06-30  2.534854
2011-07-31  2.805611
2011-08-31  3.226500
2011-09-30  2.935780
2011-10-31  2.373709
2011-11-30  2.777778
2011-12-31  1.634528
2012-01-31  2.951778
2012-02-29  2.329960
2012-03-31  2.352941
2012-04-30  2.554329
2012-05-31  2.622714
2012-06-30  2.363535
2012-07-31  1.785714
2012-08-31  2.253318
2012-09-30  2.340615
2012-10-31  1.936829
2012-11-30  3.389081
2012-12-31  2.143902
2013-01-31  1.919386
2013-02-28  2.778550
...              ...
2015-11-30  2.778550
2015-12-31  2.224939
2016-01-31  2.570037
2016-02-29  1.855535
2016-03-31  2.501251
2016-04-30  1.904762
2016-05-31  2.402944
2016-06-30  1.904762
2016-07-31  2.140015
2016-08-31  1.774209
2016-09-30  1.847575
2016-10-31  2.550067
2016-11-30  2.272727
2016-12-31  2.027650
2017-01-31  1.818182
2017-02-28  2.044990
2017-03-31  2.025433
2017-04-30  1.844108
2017-05-31  2.200489
2017-06-30  1.982571
2017-07-31  2.158093
2017-08-31  1.935813
2017-09-30  1.657247
2017-10-31  1.428571
2017-11-30  2.212031
2017-12-31  1.382223
2018-01-31  1.686351
2018-02-28  1.666462
2018-03-31  2.021025
2018-04-30  2.101583

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  4.361413
2010-10-31  3.893698
2010-11-30  3.669725
2010-12-31  4.159358
2011-01-31  3.215467
2011-02-28  3.236246
2011-03-31  4.000000
2011-04-30  3.228288
2011-05-31  3.395717
2011-06-30  3.240143
2011-07-31  3.174204
2011-08-31  3.211597
2011-09-30  2.546232
2011-10-31  2.601626
2011-11-30  3.243243
2011-12-31  2.107535
2012-01-31  2.116402
2012-02-29  3.010033
2012-03-31  2.303415
2012-04-30  2.673115
2012-05-31  2.777781
2012-06-30  2.971318
2012-07-31  2.669633
2012-08-31  3.030303
2012-09-30  3.510150
2012-10-31  2.861644
2012-11-30  2.693366
2012-12-31  3.847634
2013-01-31  2.927332
2013-02-28  3.362522
...              ...
2015-11-30  2.306903
2015-12-31  2.210037
2016-01-31  2.426349
2016-02-29  2.503498
2016-03-31  2.654313
2016-04-30  2.831349
2016-05-31  2.692860
2016-06-30  3.009814
2016-07-31  2.788882
2016-08-31  2.517877
2016-09-30  2.325581
2016-10-31  3.356766
2016-11-30  2.217685
2016-12-31  2.089261
2017-01-31  3.039514
2017-02-28  2.274149
2017-03-31  1.904762
2017-04-30  2.429595
2017-05-31  2.680653
2017-06-30  2.352941
2017-07-31  2.653779
2017-08-31  2.041858
2017-09-30  2.095891
2017-10-31  2.937929
2017-11-30  2.325635
2017-12-31  2.028506
2018-01-31  2.552025
2018-02-28  2.650418
2018-03-31  1.840491
2018-04-30  1.825476

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  2.083333
2010-10-31  3.409866
2010-11-30  3.298145
2010-12-31  6.000171
2011-01-31  3.923129
2011-02-28  5.243920
2011-03-31  3.344482
2011-04-30  2.941609
2011-05-31  2.460083
2011-06-30  3.333333
2011-07-31  2.663268
2011-08-31  3.366667
2011-09-30  3.508772
2011-10-31  2.907291
2011-11-30  2.569607
2011-12-31  4.092584
2012-01-31  2.667378
2012-02-29  3.115585
2012-03-31  2.506266
2012-04-30  2.280702
2012-05-31  1.547389
2012-06-30  2.994768
2012-07-31  3.023616
2012-08-31  2.702703
2012-09-30  1.537330
2012-10-31  2.052055
2012-11-30  1.587806
2012-12-31  1.721170
2013-01-31  0.909091
2013-02-28  2.841678
...              ...
2015-11-30  1.764140
2015-12-31  0.898572
2016-01-31  1.753685
2016-02-29  1.786033
2016-03-31  2.099964
2016-04-30  2.495006
2016-05-31  2.133333
2016-06-30  1.738187
2016-07-31  1.683621
2016-08-31  1.962159
2016-09-30  1.796065
2016-10-31  2.218782
2016-11-30  1.908397
2016-12-31  2.264296
2017-01-31  0.781584
2017-02-28  1.578899
2017-03-31  1.833333
2017-04-30  1.953949
2017-05-31  1.887317
2017-06-30  1.886792
2017-07-31  1.825061
2017-08-31  2.439024
2017-09-30  1.041717
2017-10-31  1.709694
2017-11-30  1.599511
2017-12-31  1.590457
2018-01-31  2.272727
2018-02-28  1.639627
2018-03-31  1.948801
2018-04-30  3.252756

[92 rows x 1 columns]

               Value
Date
2010-09-30  3.990535
2010-10-31  3.432484
2010-11-30  2.576169
2010-12-31  5.202995
2011-01-31  2.796491
2011-02-28  3.846154
2011-03-31  3.482759
2011-04-30  2.324822
2011-05-31  3.040000
2011-06-30  3.338898
2011-07-31  3.061224
2011-08-31  2.970588
2011-09-30  3.096539
2011-10-31  3.464071
2011-11-30  2.039340
2011-12-31  2.883269
2012-01-31  2.636486
2012-02-29  2.178649
2012-03-31  2.439619
2012-04-30  2.631579
2012-05-31  2.574359
2012-06-30  2.222227
2012-07-31  2.818023
2012-08-31  2.769796
2012-09-30  3.574013
2012-10-31  2.816994
2012-11-30  2.534854
2012-12-31  1.187829
2013-01-31  2.293234
2013-02-28  2.165805
...              ...
2015-11-30  2.326220
2015-12-31  1.206273
2016-01-31  1.823647
2016-02-29  1.796748
2016-03-31  2.439024
2016-04-30  2.521402
2016-05-31  2.500313
2016-06-30  2.189813
2016-07-31  1.672241
2016-08-31  2.157143
2016-09-30  2.002002
2016-10-31  1.902505
2016-11-30  2.109499
2016-12-31  2.034884
2017-01-31  1.828827
2017-02-28  2.066877
2017-03-31  2.186421
2017-04-30  2.224694
2017-05-31  2.118205
2017-06-30  1.983600
2017-07-31  1.923447
2017-08-31  1.803279
2017-09-30  1.821494
2017-10-31  1.895955
2017-11-30  1.950128
2017-12-31  1.393634
2018-01-31  2.094298
2018-02-28  1.452820
2018-03-31  1.269036
2018-04-30  1.430615

[92 rows x 1 columns]
               Value
Date
2010-09-30  2.226667
2010-10-31  2.427421
2010-11-30  2.618793
2010-12-31  1.669019
2011-01-31  2.472138
2011-02-28  2.113020
2011-03-31  1.665573
2011-04-30  1.925517
2011-05-31  2.133333
2011-06-30  2.564103
2011-07-31  1.819179
2011-08-31  2.186692
2011-09-30  1.744792
2011-10-31  1.846154
2011-11-30  2.059812
2011-12-31  1.315789
2012-01-31  2.670806
2012-02-29  1.656456
2012-03-31  2.577511
2012-04-30  1.449275
2012-05-31  2.119480
2012-06-30  1.324682
2012-07-31  1.917808
2012-08-31  1.515152
2012-09-30  1.676431
2012-10-31  2.667378
2012-11-30  1.587554
2012-12-31  1.344717
2013-01-31  1.739433
2013-02-28  1.188811
...              ...
2015-11-30  1.263158
2015-12-31  2.132196
2016-01-31  1.091815
2016-02-29  2.412287
2016-03-31  2.361066
2016-04-30  2.176279
2016-05-31  1.512535
2016-06-30  2.292144
2016-07-31  2.559289
2016-08-31  2.172978
2016-09-30  1.666944
2016-10-31  3.028680
2016-11-30  1.788909
2016-12-31  2.133606
2017-01-31  1.210955
2017-02-28  2.118730
2017-03-31  1.733186
2017-04-30  2.134805
2017-05-31  1.621793
2017-06-30  2.111370
2017-07-31  1.827349
2017-08-31  1.841686
2017-09-30  1.821494
2017-10-31  2.016430
2017-11-30  1.333689
2017-12-31  1.280948
2018-01-31  1.560662
2018-02-28  1.429593
2018-03-31  2.185792
2018-04-30  2.371579

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  3.076923
2010-10-31  2.382087
2010-11-30  2.597403
2010-12-31  4.584527
2011-01-31  3.126954
2011-02-28  3.835464
2011-03-31  3.032141
2011-04-30  2.470256
2011-05-31  2.382370
2011-06-30  3.335557
2011-07-31  2.752286
2011-08-31  2.778936
2011-09-30  2.867829
2011-10-31  2.787469
2011-11-30  3.109380
2011-12-31  3.281723
2012-01-31  3.614458
2012-02-29  2.547971
2012-03-31  2.978723
2012-04-30  2.380952
2012-05-31  2.272727
2012-06-30  2.347607
2012-07-31  2.842469
2012-08-31  2.615385
2012-09-30  3.166561
2012-10-31  2.472672
2012-11-30  2.334445
2012-12-31  2.580626
2013-01-31  2.142959
2013-02-28  2.365039
...              ...
2015-11-30  3.508772
2015-12-31  2.646503
2016-01-31  3.102694
2016-02-29  2.981030
2016-03-31  1.854545
2016-04-30  1.851852
2016-05-31  2.402738
2016-06-30  2.934537
2016-07-31  2.827688
2016-08-31  2.000400
2016-09-30  2.469522
2016-10-31  2.243590
2016-11-30  2.625000
2016-12-31  1.696723
2017-01-31  1.852538
2017-02-28  1.999601
2017-03-31  1.469534
2017-04-30  1.771205
2017-05-31  1.941931
2017-06-30  1.829316
2017-07-31  2.545455
2017-08-31  1.804158
2017-09-30  2.505088
2017-10-31  2.041650
2017-11-30  2.358240
2017-12-31  1.780467
2018-01-31  2.504650
2018-02-28  2.636279
2018-03-31  2.586466
2018-04-30  2.376471

[92 rows x 1 columns]
               Value
Date
2010-09-30  2.767640
2010-10-31  3.636364
2010-11-30  4.080000
2010-12-31  3.866396
2011-01-31  3.106796
2011-02-28  2.564478
2011-03-31  4.291845
2011-04-30  3.262689
2011-05-31  3.270440
2011-06-30  3.088664
2011-07-31  2.738223
2011-08-31  2.770428
2011-09-30  2.500002
2011-10-31  3.847577
2011-11-30  2.857143
2011-12-31  5.790199
2012-01-31  4.920962
2012-02-29  4.306147
2012-03-31  3.203321
2012-04-30  3.894472
2012-05-31  3.806228
2012-06-30  3.268846
2012-07-31  2.947816
2012-08-31  3.187135
2012-09-30  2.968037
2012-10-31  2.917617
2012-11-30  3.779831
2012-12-31  6.302046
2013-01-31  3.378378
2013-02-28  3.217123
...              ...
2015-11-30  3.548387
2015-12-31  2.971429
2016-01-31  4.108294
2016-02-29  3.716804
2016-03-31  4.020630
2016-04-30  3.967599
2016-05-31  3.777778
2016-06-30  3.783542
2016-07-31  3.498569
2016-08-31  4.068571
2016-09-30  4.379832
2016-10-31  3.851340
2016-11-30  3.909832
2016-12-31  2.619048
2017-01-31  2.714054
2017-02-28  4.160000
2017-03-31  2.679487
2017-04-30  3.280611
2017-05-31  3.448276
2017-06-30  3.042424
2017-07-31  3.208265
2017-08-31  2.919747
2017-09-30  3.244006
2017-10-31  4.348726
2017-11-30  3.064415
2017-12-31  4.494949
2018-01-31  3.184807
2018-02-28  3.358209
2018-03-31  4.064427
2018-04-30  3.571429

[92 rows x 1 columns]
               Value
Date
2010-09-30  5.677479
2010-10-31  3.424892
2010-11-30  4.623382
2010-12-31  5.579421
2011-01-31  5.908882
2011-02-28  3.279261
2011-03-31  4.238571
2011-04-30  3.283569
2011-05-31  4.399103
2011-06-30  3.306452
2011-07-31  4.707290
2011-08-31  3.764649
2011-09-30  3.349420
2011-10-31  3.016649
2011-11-30  4.761905
2011-12-31  2.885714
2012-01-31  5.465226
2012-02-29  3.636364
2012-03-31  4.441085
2012-04-30  2.825252
2012-05-31  3.994907
2012-06-30  2.888834
2012-07-31  2.598246
2012-08-31  3.530898
2012-09-30  2.506266
2012-10-31  3.169271
2012-11-30  3.521631
2012-12-31  3.190914
2013-01-31  2.570694
2013-02-28  2.501042
...              ...
2015-03-31  3.695150
2015-04-30  2.229033
2015-05-31  3.107765
2015-06-30  2.779214
2015-07-31  2.727769
2015-08-31  2.564103
2015-09-30  3.198988
2015-10-31  3.343318
2015-11-30  2.728556
2015-12-31  1.518987
2016-01-31  2.717295
2016-02-29  3.047091
2016-03-31  2.444899
2016-04-30  3.159760
2016-05-31  3.013388
2016-06-30  2.635046
2016-07-31  2.186519
2016-08-31  2.001001
2016-09-30  2.328289
2016-10-31  2.537446
2016-11-30  2.084202
2016-12-31  4.061920
2017-01-31  3.084273
2017-02-28  2.268428
2017-03-31  2.013991
2017-04-30  3.175403
2017-05-31  1.768489
2017-06-30  1.818188
2017-07-31  2.084202
2017-08-31  2.236618

[84 rows x 1 columns]
               Value
Date
2010-09-30  2.950469
2010-10-31  2.375176
2010-11-30  2.393112
2010-12-31  2.838893
2011-01-31  2.899251
2011-02-28  2.525253
2011-03-31  2.500000
2011-04-30  2.222321
2011-05-31  2.439024
2011-06-30  2.323307
2011-07-31  2.380952
2011-08-31  2.940204
2011-09-30  2.270214
2011-10-31  2.402402
2011-11-30  2.506969
2011-12-31  3.694249
2012-01-31  3.039514
2012-02-29  3.070015
2012-03-31  2.718800
2012-04-30  1.815262
2012-05-31  2.487805
2012-06-30  2.500125
2012-07-31  2.281615
2012-08-31  2.329749
2012-09-30  2.632965
2012-10-31  2.631579
2012-11-30  3.703704
2012-12-31  3.563330
2013-01-31  1.746725
2013-02-28  1.805821
...              ...
2015-11-30  2.051738
2015-12-31  1.209468
2016-01-31  2.942042
2016-02-29  2.785515
2016-03-31  2.000000
2016-04-30  1.581462
2016-05-31  1.694915
2016-06-30  1.960784
2016-07-31  2.124436
2016-08-31  2.083768
2016-09-30  1.738415
2016-10-31  2.000000
2016-11-30  1.573266
2016-12-31  2.249135
2017-01-31  2.272727
2017-02-28  1.492537
2017-03-31  1.393268
2017-04-30  1.961554
2017-05-31  2.222222
2017-06-30  1.678188
2017-07-31  2.667378
2017-08-31  1.881340
2017-09-30  1.923077
2017-10-31  1.755245
2017-11-30  1.817923
2017-12-31  2.011724
2018-01-31  2.004008
2018-02-28  1.280934
2018-03-31  1.698521
2018-04-30  2.153846

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

               Value
Date
2010-09-30  3.236246
2010-10-31  3.290323
2010-11-30  2.914286
2010-12-31  2.113402
2011-01-31  4.328859
2011-02-28  3.300021
2011-03-31  2.766970
2011-04-30  2.352941
2011-05-31  3.062510
2011-06-30  2.564760
2011-07-31  2.221176
2011-08-31  3.106239
2011-09-30  3.278689
2011-10-31  2.702951
2011-11-30  2.978323
2011-12-31  3.685665
2012-01-31  2.586207
2012-02-29  1.647991
2012-03-31  1.953643
2012-04-30  2.415462
2012-05-31  2.241575
2012-06-30  2.635046
2012-07-31  2.273244
2012-08-31  1.870214
2012-09-30  3.159558
2012-10-31  2.506266
2012-11-30  2.192722
2012-12-31  2.467162
2013-01-31  2.036877
2013-02-28  2.653659
...              ...
2015-11-30  2.000000
2015-12-31  1.890359
2016-01-31  1.394093
2016-02-29  2.606516
2016-03-31  2.336579
2016-04-30  2.840849
2016-05-31  1.810371
2016-06-30  2.044990
2016-07-31  2.491874
2016-08-31  2.771003
2016-09-30  2.760479
2016-10-31  2.539806
2016-11-30  2.328340
2016-12-31  3.283958
2017-01-31  1.981261
2017-02-28  2.997604
2017-03-31  2.807775
2017-04-30  2.624907
2017-05-31  2.640983
2017-06-30  2.031841
2017-07-31  2.558933
2017-08-31  2.523435
2017-09-30  2.056276
2017-10-31  2.157165
2017-11-30  2.173913
2017-12-31  1.607143
2018-01-31  1.599297
2018-02-28  1.838002
2018-03-31  2.778550
2018-04-30  1.834725

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  4.201601
2010-10-31  3.469169
2010-11-30  2.309469
2010-12-31  2.539526
2011-01-31  3.481288
2011-02-28  3.225806
2011-03-31  3.493475
2011-04-30  5.326433
2011-05-31  4.098234
2011-06-30  3.935957
2011-07-31  4.020202
2011-08-31  2.814435
2011-09-30  5.270569
2011-10-31  2.980701
2011-11-30  4.784689
2011-12-31  3.231183
2012-01-31  3.190718
2012-02-29  3.359462
2012-03-31  5.366289
2012-04-30  4.545455
2012-05-31  4.080418
2012-06-30  2.731171
2012-07-31  3.678930
2012-08-31  3.238095
2012-09-30  2.504787
2012-10-31  3.703704
2012-11-30  2.883917
2012-12-31  2.355308
2013-01-31  4.166667
2013-02-28  2.752294
...              ...
2015-11-30  2.116935
2015-12-31  0.316623
2016-01-31  1.334127
2016-02-29  1.197605
2016-03-31  5.010300
2016-04-30  1.851852
2016-05-31  1.536313
2016-06-30  3.108272
2016-07-31  3.634545
2016-08-31  2.360720
2016-09-30  2.074448
2016-10-31  2.366730
2016-11-30  2.485442
2016-12-31  4.166667
2017-01-31  1.326982
2017-02-28  1.807077
2017-03-31  1.878914
2017-04-30  2.173922
2017-05-31  1.652292
2017-06-30  2.067349
2017-07-31  2.632965
2017-08-31  2.063360
2017-09-30  2.590742
2017-10-31  2.272831
2017-11-30  1.490076
2017-12-31  2.198608
2018-01-31  2.570571
2018-02-28  2.473868
2018-03-31  2.105263
2018-04-30  2.229318

[92 rows x 1 columns]
               Value
Date
2010-09-30  4.555653
2010-10-31  3.525283
2010-11-30  4.762540
2010-12-31  6.583210
2011-01-31  3.064351
2011-02-28  3.329788
2011-03-31  3.545045
2011-04-30  3.502502
2011-05-31  2.914286
2011-06-30  3.571429
2011-07-31  4.547523
2011-08-31  3.418067
2011-09-30  4.015573
2011-10-31  3.804720
2011-11-30  3.235294
2011-12-31  4.024768
2012-01-31  6.792453
2012-02-29  1.791583
2012-03-31  1.986512
2012-04-30  2.777778
2012-05-31  3.041825
2012-06-30  2.504817
2012-07-31  2.210494
2012-08-31  1.780233
2012-09-30  2.498309
2012-10-31  3.145293
2012-11-30  4.950495
2012-12-31  2.419394
2013-01-31  3.126954
2013-02-28  1.251500
...              ...
2015-11-30  2.427441
2015-12-31  1.572685
2016-01-31  0.456631
2016-02-29  2.659593
2016-03-31  1.960980
2016-04-30  1.620289
2016-05-31  0.833333
2016-06-30  2.286325
2016-07-31  2.462642
2016-08-31  1.792115
2016-09-30  2.217391
2016-10-31  1.744482
2016-11-30  2.109855
2016-12-31  1.855288
2017-01-31  1.640557
2017-02-28  1.923151
2017-03-31  1.887505
2017-04-30  2.041224
2017-05-31  1.923151
2017-06-30  0.987438
2017-07-31  1.841625
2017-08-31  3.236246
2017-09-30  2.033101
2017-10-31  2.523517
2017-11-30  2.065100
2017-12-31  1.890431
2018-01-31  1.704036
2018-02-28  1.395414
2018-03-31  1.333333
2018-04-30  2.025821

[92 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-09-30  3.030303
2010-10-31  2.704587
2010-11-30  3.087938
2010-12-31  3.064415
2011-01-31  3.017241
2011-02-28  3.487395
2011-03-31  2.429302
2011-04-30  2.277904
2011-05-31  2.385185
2011-06-30  2.449616
2011-07-31  2.704164
2011-08-31  2.729754
2011-09-30  2.857959
2011-10-31  2.748996
2011-11-30  2.945050
2011-12-31  2.571355
2012-01-31  3.024603
2012-02-29  2.222716
2012-03-31  2.640704
2012-04-30  1.833673
2012-05-31  2.471315
2012-06-30  2.580645
2012-07-31  3.148789
2012-08-31  3.076923
2012-09-30  2.722955
2012-10-31  2.127660
2012-11-30  2.287437
2012-12-31  4.547522
2013-01-31  2.531646
2013-02-28  2.380952
...              ...
2015-11-30  2.222222
2015-12-31  1.896924
2016-01-31  2.767733
2016-02-29  2.439903
2016-03-31  2.029293
2016-04-30  2.247191
2016-05-31  2.438489
2016-06-30  2.298851
2016-07-31  2.280913
2016-08-31  2.614379
2016-09-30  2.347220
2016-10-31  2.500000
2016-11-30  1.876507
2016-12-31  2.812960
2017-01-31  1.960807
2017-02-28  2.670319
2017-03-31  3.081664
2017-04-30  3.032142
2017-05-31  2.315822
2017-06-30  2.759770
2017-07-31  2.673846
2017-08-31  2.000000
2017-09-30  2.335766
2017-10-31  1.923077
2017-11-30  2.299507
2017-12-31  2.041233
2018-01-31  2.067183
2018-02-28  2.210955
2018-03-31  2.865268
2018-04-30  2.153025

[92 rows x 1 columns]

In [14]:
# Concatenating all the data
#price_reduction_concat = data_data
price_reduction_concat = pd.concat(price_reduction_concat)
# Getting month and year from the column "date"
price_reduction_concat['Year'] = pd.DatetimeIndex(price_reduction_concat.index).year
price_reduction_concat['Month'] = pd.DatetimeIndex(price_reduction_concat.index).month
rename_price_reduction_concat = price_reduction_concat.rename(columns={"Value":"Median Price of Reduction"})
rename_price_reduction_concat

            Median Price of Reduction Zip Code  Year  Month
Date
2010-09-30                   3.572705    78701  2010      9
2010-10-31                   2.864370    78701  2010     10
2010-11-30                   2.521008    78701  2010     11
2010-12-31                   4.299446    78701  2010     12
2011-01-31                   3.386514    78701  2011      1
2011-02-28                   2.482331    78701  2011      2
2011-03-31                   4.549591    78701  2011      3
2011-04-30                   2.406481    78701  2011      4
2011-05-31                   4.799399    78701  2011      5
2011-06-30                   3.584229    78701  2011      6
2011-07-31                   1.668046    78701  2011      7
2011-08-31                   2.470238    78701  2011      8
2011-09-30                   3.177258    78701  2011      9
2011-10-31                   2.570694    78701  2011     10
2011-11-30                   4.624277    78701  2011     11
2011-12-31                   2.923402    78701  2011     12
2012-01-31                   2.942042    78701  2012      1
2012-02-29                   4.264578    78701  2012      2
2012-03-31                   1.395797    78701  2012      3
2012-04-30                   1.803607    78701  2012      4
2012-05-31                   2.962963    78701  2012      5
2012-06-30                   1.691671    78701  2012      6
2012-07-31                   2.023706    78701  2012      7
2012-08-31                   1.724733    78701  2012      8
2012-09-30                   2.669633    78701  2012      9
2012-10-31                   4.008016    78701  2012     10
2012-11-30                   2.710790    78701  2012     11
2012-12-31                   2.788991    78701  2012     12
2013-01-31                   2.214686    78701  2013      1
2013-02-28                   7.671544    78701  2013      2
...                               ...      ...   ...    ...
2015-11-30                   2.222222    78759  2015     11
2015-12-31                   1.896924    78759  2015     12
2016-01-31                   2.767733    78759  2016      1
2016-02-29                   2.439903    78759  2016      2
2016-03-31                   2.029293    78759  2016      3
2016-04-30                   2.247191    78759  2016      4
2016-05-31                   2.438489    78759  2016      5
2016-06-30                   2.298851    78759  2016      6
2016-07-31                   2.280913    78759  2016      7
2016-08-31                   2.614379    78759  2016      8
2016-09-30                   2.347220    78759  2016      9
2016-10-31                   2.500000    78759  2016     10
2016-11-30                   1.876507    78759  2016     11
2016-12-31                   2.812960    78759  2016     12
2017-01-31                   1.960807    78759  2017      1
2017-02-28                   2.670319    78759  2017      2
2017-03-31                   3.081664    78759  2017      3
2017-04-30                   3.032142    78759  2017      4
2017-05-31                   2.315822    78759  2017      5
2017-06-30                   2.759770    78759  2017      6
2017-07-31                   2.673846    78759  2017      7
2017-08-31                   2.000000    78759  2017      8
2017-09-30                   2.335766    78759  2017      9
2017-10-31                   1.923077    78759  2017     10
2017-11-30                   2.299507    78759  2017     11
2017-12-31                   2.041233    78759  2017     12
2018-01-31                   2.067183    78759  2018      1
2018-02-28                   2.210955    78759  2018      2
2018-03-31                   2.865268    78759  2018      3
2018-04-30                   2.153025    78759  2018      4

[2008 rows x 4 columns]

In [15]:
# Export the "home value" data to a csv file
rename_price_reduction_concat.to_csv("../data/int/output_quandl/4_Output.price_of_reduction.csv", index = False ,header = True)

## Median Listing Price - All Homes|MLPAH

In [16]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "MLPAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1

# Copying the data stored 
listing_concat = data_data

               Value
Date
2015-02-28  498000.0
2015-03-31  465000.0
2015-04-30  475000.0
2015-05-31  474750.0
2015-06-30  509999.0
2015-07-31  522247.5
2015-08-31  533700.0
2015-09-30  539900.0
2015-10-31  533280.0
2015-11-30  491950.0
2015-12-31  491950.0
2016-01-31  494900.0
2016-02-29  519950.0
2016-03-31  509950.0
2016-04-30  499500.0
2016-05-31  537000.0
2016-06-30  545000.0
2016-07-31  535000.0
2016-08-31  585000.0
2016-09-30  585000.0
2016-10-31  597450.0
2016-11-30  573450.0
2016-12-31  573450.0
2017-01-31  574950.0
2017-02-28  564500.0
2017-03-31  561950.0
2017-04-30  587950.0
2017-05-31  596850.0
2017-06-30  598000.0
2017-07-31  598700.0
2017-08-31  605000.0
               Value
Date
2010-01-31  210000.0
2010-02-28  199999.0
2010-03-31  200000.0
2010-04-30  207250.0
2010-05-31  209900.0
2010-06-30  209900.0
2010-07-31  212700.0
2010-08-31  211450.0
2010-09-30  209700.0
2010-10-31  200000.0
2010-11-30  199997.0
2010-12-31  199999.0
2011-01-31  199999.0
2011-02-28  199000.0
2011-03-31  199000.0
2011-04-30  190000.0
2011-05-31  198900.0
2011-06-30  199900.0
2011-07-31  210000.0
2011-08-31  210000.0
2011-09-30  202500.0
2011-10-31  209000.0
2011-11-30  215000.0
2011-12-31  209997.5
2012-01-31  206500.0
2012-02-29  209997.5
2012-03-31  214900.0
2012-04-30  210000.0
2012-05-31  216000.0
2012-06-30  220000.0
...              ...
2015-11-30  400000.0
2015-12-31  399900.0
2016-01-31  399950.0
2016-02-29  408450.0
2016-03-31  417500.0
2016-04-30  399500.0
2016-05-31  399000.0
2016-06-30  419900.0
2016-07-31  400000.0
2016-08-31  399900.0
2016-09-30  399350.0
2016-10-31  399000.0
2016-11-30  400000.0
2016-12-31  399000.0
2017-01-31  400000.0
2017-02-28  409000.0
2017-03-31  412500.0
2017-04-30  419450.0
2017-05-31  429450.0
2017-06-30  429000.0
2017-07-31  449000.0
2017-08-31  429900.0
2017-09-30  425000.0
2017-10-31  424000.0
2017-11-30  410000.0
2017-12-31  409975.0
2018-01-31  417450.0
2018-02-28  410000.0
2018-03-31  420000.0
2018-04-30  439000.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  564900.0
2010-02-28  557000.0
2010-03-31  574889.0
2010-04-30  574944.5
2010-05-31  595000.0
2010-06-30  575000.0
2010-07-31  574444.5
2010-08-31  595000.0
2010-09-30  549450.0
2010-10-31  550000.0
2010-11-30  527000.0
2010-12-31  539900.0
2011-01-31  539250.0
2011-02-28  500000.0
2011-03-31  545500.0
2011-04-30  569000.0
2011-05-31  572000.0
2011-06-30  599000.0
2011-07-31  597000.0
2011-08-31  567000.0
2011-09-30  569000.0
2011-10-31  547000.0
2011-11-30  594450.0
2011-12-31  575000.0
2012-01-31  550000.0
2012-02-29  595000.0
2012-03-31  599000.0
2012-04-30  600000.0
2012-05-31  677000.0
2012-06-30  679000.0
...              ...
2015-11-30  775000.0
2015-12-31  829000.0
2016-01-31  799900.0
2016-02-29  798000.0
2016-03-31  799000.0
2016-04-30  799000.0
2016-05-31  849000.0
2016-06-30  875000.0
2016-07-31  899000.0
2016-08-31  885000.0
2016-09-30  895000.0
2016-10-31  896000.0
2016-11-30  875000.0
2016-12-31  823569.0
2017-01-31  825000.0
2017-02-28  895000.0
2017-03-31  919900.0
2017-04-30  999000.0
2017-05-31  949000.0
2017-06-30  995000.0
2017-07-31  949900.0
2017-08-31  895000.0
2017-09-30  920000.0
2017-10-31  915000.0
2017-11-30  899000.0
2017-12-31  894450.0
2018-01-31  892450.0
2018-02-28  899000.0
2018-03-31  899990.0
2018-04-30  925000.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  300000.0
2010-02-28  314900.0
2010-03-31  319950.0
2010-04-30  326000.0
2010-05-31  349950.0
2010-06-30  349000.0
2010-07-31  342225.0
2010-08-31  349900.0
2010-09-30  359000.0
2010-10-31  329000.0
2010-11-30  324950.0
2010-12-31  320000.0
2011-01-31  338250.0
2011-02-28  325000.0
2011-03-31  325000.0
2011-04-30  339000.0
2011-05-31  320000.0
2011-06-30  326500.0
2011-07-31  320000.0
2011-08-31  322500.0
2011-09-30  345890.0
2011-10-31  363250.0
2011-11-30  349800.0
2011-12-31  325990.0
2012-01-31  314900.0
2012-02-29  339000.0
2012-03-31  378000.0
2012-04-30  378950.0
2012-05-31  399000.0
2012-06-30  395000.0
...              ...
2015-11-30  539900.0
2015-12-31  549900.0
2016-01-31  549000.0
2016-02-29  575000.0
2016-03-31  565000.0
2016-04-30  565000.0
2016-05-31  550000.0
2016-06-30  563500.0
2016-07-31  575000.0
2016-08-31  549900.0
2016-09-30  559000.0
2016-10-31  549900.0
2016-11-30  559000.0
2016-12-31  575000.0
2017-01-31  562000.0
2017-02-28  549900.0
2017-03-31  560000.0
2017-04-30  569900.0
2017-05-31  565000.0
2017-06-30  550000.0
2017-07-31  550000.0
2017-08-31  565000.0
2017-09-30  575000.0
2017-10-31  584950.0
2017-11-30  550000.0
2017-12-31  550000.0
2018-01-31  549990.0
2018-02-28  549000.0
2018-03-31  559000.0
2018-04-30  585000.0

[100 rows x 1 columns]
               Value
Date
2016-02-29  286400.0
2016-03-31  259900.0
2016-04-30  269000.0
2016-05-31  253950.0
2016-06-30  285000.0
2016-07-31  315000.0
2016-08-31  330000.0
2016-09-30  339450.0
2016-10-31  344499.5
2016-11-30  339900.0
2016-12-31  324900.0
2017-01-31  324750.0
2017-02-28  339900.0
2017-03-31  339950.0
2017-04-30  339900.0
2017-05-31  339450.0
2017-06-30  319900.0
2017-07-31  275000.0
2017-08-31  319900.0
2017-09-30  319900.0
2017-10-31  303000.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-01-31  239950.0
2010-02-28  242000.0
2010-03-31  239900.0
2010-04-30  239947.5
2010-05-31  239995.0
2010-06-30  239900.0
2010-07-31  239900.0
2010-08-31  239949.5
2010-09-30  249900.0
2010-10-31  250000.0
2010-11-30  249900.0
2010-12-31  240538.0
2011-01-31  237750.0
2011-02-28  230953.0
2011-03-31  239900.0
2011-04-30  242500.0
2011-05-31  247450.0
2011-06-30  242000.0
2011-07-31  239400.0
2011-08-31  237000.0
2011-09-30  229900.0
2011-10-31  233000.0
2011-11-30  234900.0
2011-12-31  232900.0
2012-01-31  230450.0
2012-02-29  234965.0
2012-03-31  234965.0
2012-04-30  239379.0
2012-05-31  239995.0
2012-06-30  239500.0
...              ...
2015-11-30  376987.5
2015-12-31  378490.0
2016-01-31  384900.0
2016-02-29  346965.0
2016-03-31  351144.0
2016-04-30  349000.0
2016-05-31  349900.0
2016-06-30  350000.0
2016-07-31  355970.0
2016-08-31  354900.0
2016-09-30  349900.0
2016-10-31  372069.0
2016-11-30  375000.0
2016-12-31  372000.0
2017-01-31  369900.0
2017-02-28  371849.0
2017-03-31  371849.0
2017-04-30  371900.0
2017-05-31  364724.0
2017-06-30  374900.0
2017-07-31  365000.0
2017-08-31  361250.0
2017-09-30  354900.0
2017-10-31  377220.0
2017-11-30  358279.5
2017-12-31  342287.5
2018-01-31  334445.0
2018-02-28  343357.5
2018-03-31  347000.0
2018-04-30  359000.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2014-11-30  241450.0
2014-12-31  254950.0
2015-01-31  261950.0
2015-02-28  259900.0
2015-03-31  259900.0
2015-04-30  272450.0
2015-05-31  275000.0
2015-06-30  273750.0
2015-07-31  277000.0
2015-08-31  275000.0
2015-09-30  299000.0
2015-10-31  285000.0
2015-11-30  295000.0
2015-12-31  296950.0
2016-01-31  295000.0
2016-02-29  289000.0
2016-03-31  297495.0
2016-04-30  314945.0
2016-05-31  314990.0
2016-06-30  318750.0
2016-07-31  320000.0
2016-08-31  325000.0
2016-09-30  312450.0
2016-10-31  324950.0
2016-11-30  325000.0
2016-12-31  332495.0
2017-01-31  339000.0
2017-02-28  339000.0
2017-03-31  319000.0
2017-04-30  310000.0
2017-05-31  337400.0
2017-06-30  339950.0
2017-07-31  325000.0
2017-08-31  342500.0
2017-09-30  347000.0
2017-10-31  339500.0
2017-11-30  329450.0
2017-12-31  345000.0
2018-01-31  340995.0
2018-02-28  362445.0
2018-03-31  359990.0
2018-04-30  369250.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2014-04-30  299997.5
2014-05-31  300000.0
2014-06-30  320000.0
2014-07-31  303000.0
2014-08-31  339750.0
2014-09-30  299900.0
2014-10-31  300000.0
2014-11-30  299900.0
2014-12-31  319000.0
2015-01-31  320000.0
2015-02-28  349000.0
2015-03-31  355000.0
2015-04-30  348000.0
2015-05-31  349900.0
2015-06-30  324000.0
2015-07-31  300000.0
2015-08-31  325000.0
2015-09-30  329000.0
2015-10-31  365000.0
2015-11-30  349000.0
2015-12-31  349900.0
2016-01-31  339900.0
2016-02-29  349900.0
2016-03-31  349000.0
2016-04-30  328600.0
2016-05-31  359000.0
2016-06-30  363990.0
2016-07-31  364950.0
2016-08-31  359950.0
2016-09-30  364999.0
2016-10-31  370000.0
2016-11-30  365000.0
2016-12-31  375000.0
2017-01-31  371990.0
2017-02-28  375000.0
2017-03-31  389000.0
2017-04-30  390003.0
2017-05-31  397520.5
2017-06-30  395000.0
2017-07-31  399000.0
2017-08-31  393105.5
2017-09-30  395990.0
2017-10-31  389142.0
2017-11-30  389571.0
2017-12-31  392450.0
2018-01-31  397900.0
2018-02-28  429000.0
2018-03-31  430945.0
2018-04-30  423950.0

               Value
Date
2016-05-31  227450.0
2016-06-30  219999.5
2016-07-31  219999.5
2016-08-31  236500.0
2016-09-30  244450.0
2016-10-31  239450.0
2016-11-30  213000.0
2016-12-31  229400.0
2017-01-31  217990.0
2017-02-28  221990.0
2017-03-31  220000.0
2017-04-30  232997.5
2017-05-31  247242.5
2017-06-30  243000.0
2017-07-31  234900.0
2017-08-31  239400.0
2017-09-30  247450.0
2017-10-31  220000.0
2017-11-30  219900.0
2017-12-31  222495.0
2018-01-31  221990.0
2018-02-28  222990.0
2018-03-31  224000.0
2018-04-30  224990.0
               Value
Date
2015-01-31  153500.0
2015-02-28  149500.0
2015-03-31  137000.0
2015-04-30  146500.0
2015-05-31  160000.0
2015-06-30  149999.0
2015-07-31  156900.0
2015-08-31  169900.0
2015-09-30  176492.5
2015-10-31  181490.0
2015-11-30  179245.0
2015-12-31  178245.0
2016-01-31  180990.0
2016-02-29  179495.0
2016-03-31  175000.0
2016-04-30  179120.0
2016-05-31  179512.5
2016-06-30  187510.0
2016-07-31  186344.0
2016-08-31  193990.0
2016-09-30  197900.0
2016-10-31  197185.0
2016-11-30  190995.0
2016-12-31  188495.0
2017-01-31  196990.0
2017-02-28  185995.0
2017-03-31  190000.0
2017-04-30  189900.0
2017-05-31  185050.0
2017-06-30  185000.0
2017-07-31  200990.0
2017-08-31  210000.0
2017-09-30  214900.0
2017-10-31  208995.0
2017-11-30  224990.0
2017-12-31  229000.0
2018-01-31  226990.0
2018-02-28  227490.0
2018-03-31  229250.0
2018-04-30  222990.0
               Value
Date
2010-01-31  335950.0
2010-02-28  334744.0
2010-03-31  334588.0
2010-04-30  338000.0
2010-05-31  339000.0
2010-06-30  337000.0
2010-07-31  329900.0
2010-08-31  334500.0
2010-09-30  329900.0
2010-10-31  349000.0
2010-11-30  349750.0
2010-12-31  343000.0
2011-01-31  335900.0
2011-02-28  321878.5
2011-03-31  321491.5
2011-04-30  321491.5
2011-05-31  315750.0
2011-06-30  305900.0
2011-07-31  305900.0
2011-08-31  313995.0
2011-09-30  315445.0
2011-10-31  315445.0
2011-11-30  318490.0
2011-12-31  314900.0
2012-01-31  319500.0
2012-02-29  314900.0
2012-03-31  314900.0
2012-04-30  318483.0
2012-05-31  323445.0
2012-06-30  339000.0
...              ...
2015-11-30  422305.0
2015-12-31  424000.0
2016-01-31  423152.5
2016-02-29  438130.0
2016-03-31  443882.5
2016-04-30  457450.0
2016-05-31  475000.0
2016-06-30  489400.0
2016-07-31  494000.0
2016-08-31  512730.0
2016-09-30  492000.0
2016-10-31  492000.0
2016-11-30  470000.0
2016-12-31  475000.0
2017-01-31  489950.0
2017-02-28  479950.0
2017-03-31  479500.0
2017-04-30  499900.0
2017-05-31  489900.0
2017-06-30  475000.0
2017-07-31  469500.0
2017-08-31  469500.0
2017-09-30  471680.0
2017-10-31  484000.0
2017-11-30  499999.0
2017-12-31  489950.0
2018-01-31  468495.0
2018-02-28  465000.0
2018-03-31  469000.0
2018-04-30  518000.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  198500.0
2010-02-28  199500.0
2010-03-31  199000.0
2010-04-30  207250.0
2010-05-31  205999.0
2010-06-30  204900.0
2010-07-31  205000.0
2010-08-31  205000.0
2010-09-30  199250.0
2010-10-31  190000.0
2010-11-30  189700.0
2010-12-31  187250.0
2011-01-31  184900.0
2011-02-28  189500.0
2011-03-31  192200.0
2011-04-30  196400.0
2011-05-31  194700.0
2011-06-30  189900.0
2011-07-31  192400.0
2011-08-31  185000.0
2011-09-30  178750.0
2011-10-31  179450.0
2011-11-30  162950.0
2011-12-31  167500.0
2012-01-31  167824.5
2012-02-29  164900.0
2012-03-31  177000.0
2012-04-30  179325.0
2012-05-31  192450.0
2012-06-30  199950.0
...              ...
2015-11-30  317490.0
2015-12-31  317990.0
2016-01-31  309450.0
2016-02-29  272250.0
2016-03-31  309997.0
2016-04-30  309900.0
2016-05-31  302450.0
2016-06-30  324945.0
2016-07-31  327000.0
2016-08-31  320000.0
2016-09-30  322482.0
2016-10-31  319900.0
2016-11-30  299970.0
2016-12-31  299950.0
2017-01-31  298282.5
2017-02-28  306000.0
2017-03-31  316495.0
2017-04-30  315000.0
2017-05-31  326499.5
2017-06-30  326499.5
2017-07-31  312450.0
2017-08-31  317250.0
2017-09-30  320000.0
2017-10-31  328999.5
2017-11-30  329000.0
2017-12-31  329000.0
2018-01-31  325000.0
2018-02-28  320000.0
2018-03-31  327970.0
2018-04-30  339995.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  180500.0
2010-02-28  175000.0
2010-03-31  179900.0
2010-04-30  180000.0
2010-05-31  184900.0
2010-06-30  181000.0
2010-07-31  179995.0
2010-08-31  180497.5
2010-09-30  179450.0
2010-10-31  174900.0
2010-11-30  175000.0
2010-12-31  175000.0
2011-01-31  178350.0
2011-02-28  174950.0
2011-03-31  172000.0
2011-04-30  169900.0
2011-05-31  170950.0
2011-06-30  169949.5
2011-07-31  169949.5
2011-08-31  169900.0
2011-09-30  168200.0
2011-10-31  168000.0
2011-11-30  165000.0
2011-12-31  169900.0
2012-01-31  165000.0
2012-02-29  165450.0
2012-03-31  167500.0
2012-04-30  169700.0
2012-05-31  174900.0
2012-06-30  179900.0
...              ...
2015-11-30  253445.0
2015-12-31  256990.0
2016-01-31  260000.0
2016-02-29  273700.0
2016-03-31  273700.0
2016-04-30  257000.0
2016-05-31  274900.0
2016-06-30  275000.0
2016-07-31  275000.0
2016-08-31  270495.0
2016-09-30  271445.0
2016-10-31  275000.0
2016-11-30  275000.0
2016-12-31  274000.0
2017-01-31  272500.0
2017-02-28  266950.0
2017-03-31  272500.0
2017-04-30  284950.0
2017-05-31  284900.0
2017-06-30  271000.0
2017-07-31  284740.0
2017-08-31  280990.0
2017-09-30  283055.0
2017-10-31  291745.0
2017-11-30  286005.0
2017-12-31  288990.0
2018-01-31  291005.0
2018-02-28  295000.0
2018-03-31  296540.0
2018-04-30  304995.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  195000.0
2010-02-28  189950.0
2010-03-31  199777.0
2010-04-30  199000.0
2010-05-31  198900.0
2010-06-30  194000.0
2010-07-31  197000.0
2010-08-31  198346.0
2010-09-30  196900.0
2010-10-31  191300.0
2010-11-30  188500.0
2010-12-31  192850.0
2011-01-31  189990.0
2011-02-28  189000.0
2011-03-31  189900.0
2011-04-30  198050.0
2011-05-31  195900.0
2011-06-30  199750.0
2011-07-31  194250.0
2011-08-31  189900.0
2011-09-30  189900.0
2011-10-31  184900.0
2011-11-30  184900.0
2011-12-31  179945.0
2012-01-31  184759.0
2012-02-29  184829.5
2012-03-31  179900.0
2012-04-30  185000.0
2012-05-31  185000.0
2012-06-30  189900.0
...              ...
2015-11-30  285000.0
2015-12-31  294445.0
2016-01-31  293495.0
2016-02-29  265000.0
2016-03-31  257000.0
2016-04-30  264000.0
2016-05-31  270000.0
2016-06-30  268191.5
2016-07-31  259997.0
2016-08-31  256250.0
2016-09-30  254350.0
2016-10-31  251770.0
2016-11-30  259900.0
2016-12-31  259900.0
2017-01-31  266500.0
2017-02-28  259900.0
2017-03-31  271500.0
2017-04-30  285000.0
2017-05-31  292450.0
2017-06-30  294900.0
2017-07-31  290000.0
2017-08-31  289900.0
2017-09-30  299900.0
2017-10-31  312000.0
2017-11-30  311000.0
2017-12-31  299995.0
2018-01-31  299475.0
2018-02-28  299990.0
2018-03-31  309995.0
2018-04-30  310000.0

[100 rows x 1 columns]
               Value
Date
2017-02-28  707495.0
2017-03-31  757450.0
2017-04-30  799950.0
2017-05-31  750000.0
2017-06-30  775000.0
2017-07-31  744000.0
2017-08-31  737000.0
2017-09-30  692000.0
2017-10-31  799000.0
2017-11-30  815000.0
2017-12-31  798000.0
2018-01-31  659995.0
2018-02-28  699000.0
2018-03-31  790000.0
2018-04-30  857450.0
               Value
Date
2010-01-31  472000.0
2010-02-28  475000.0
2010-03-31  478500.0
2010-04-30  475000.0
2010-05-31  484900.0
2010-06-30  489000.0
2010-07-31  474900.0
2010-08-31  470000.0
2010-09-30  472475.0
2010-10-31  465000.0
2010-11-30  450000.0
2010-12-31  439000.0
2011-01-31  437750.0
2011-02-28  439000.0
2011-03-31  439993.5
2011-04-30  449000.0
2011-05-31  450000.0
2011-06-30  450000.0
2011-07-31  439943.5
2011-08-31  430950.0
2011-09-30  425700.0
2011-10-31  435000.0
2011-11-30  431000.0
2011-12-31  425000.0
2012-01-31  429900.0
2012-02-29  449000.0
2012-03-31  459000.0
2012-04-30  497750.0
2012-05-31  519900.0
2012-06-30  549000.0
...              ...
2015-11-30  635000.0
2015-12-31  632400.0
2016-01-31  644450.0
2016-02-29  699000.0
2016-03-31  699900.0
2016-04-30  699999.0
2016-05-31  699000.0
2016-06-30  679900.0
2016-07-31  699447.5
2016-08-31  699897.5
2016-09-30  732000.0
2016-10-31  725000.0
2016-11-30  699000.0
2016-12-31  685000.0
2017-01-31  674900.0
2017-02-28  672500.0
2017-03-31  682000.0
2017-04-30  747000.0
2017-05-31  771950.0
2017-06-30  767400.0
2017-07-31  749900.0
2017-08-31  709500.0
2017-09-30  737450.0
2017-10-31  724000.0
2017-11-30  695000.0
2017-12-31  740000.0
2018-01-31  739000.0
2018-02-28  749000.0
2018-03-31  745000.0
2018-04-30  750000.0

[100 rows x 1 columns]

               Value
Date
2010-01-31  430500.0
2010-02-28  429900.0
2010-03-31  415450.0
2010-04-30  410250.0
2010-05-31  431000.0
2010-06-30  430000.0
2010-07-31  429900.0
2010-08-31  419500.0
2010-09-30  441495.0
2010-10-31  449925.0
2010-11-30  439000.0
2010-12-31  439000.0
2011-01-31  458495.0
2011-02-28  450000.0
2011-03-31  449000.0
2011-04-30  449000.0
2011-05-31  454900.0
2011-06-30  465000.0
2011-07-31  456500.0
2011-08-31  452500.0
2011-09-30  440000.0
2011-10-31  439990.0
2011-11-30  449995.0
2011-12-31  471950.0
2012-01-31  461500.0
2012-02-29  464500.0
2012-03-31  477000.0
2012-04-30  471500.0
2012-05-31  475000.0
2012-06-30  485000.0
...              ...
2015-11-30  534900.0
2015-12-31  514900.0
2016-01-31  525000.0
2016-02-29  539450.0
2016-03-31  550000.0
2016-04-30  565000.0
2016-05-31  550000.0
2016-06-30  565000.0
2016-07-31  575000.0
2016-08-31  599900.0
2016-09-30  605000.0
2016-10-31  587000.0
2016-11-30  597450.0
2016-12-31  597000.0
2017-01-31  559000.0
2017-02-28  549900.0
2017-03-31  555070.0
2017-04-30  552535.0
2017-05-31  579995.0
2017-06-30  577999.0
2017-07-31  589000.0
2017-08-31  599000.0
2017-09-30  584900.0
2017-10-31  572500.0
2017-11-30  570000.0
2017-12-31  572995.0
2018-01-31  570990.0
2018-02-28  571000.0
2018-03-31  587500.0
2018-04-30  579900.0

[100 rows x 1 columns]
                Value
Date
2015-12-31  1120000.0
2016-01-31  1022500.0
2016-02-29   850000.0
2016-03-31   825000.0
2016-04-30   739900.0
2016-05-31   819000.0
2016-06-30   850000.0
2016-07-31   969000.0
2016-08-31   887000.0
2016-09-30   839000.0
2016-10-31   819000.0
2016-11-30   799000.0
2016-12-31   877500.0
2017-01-31   995000.0
2017-02-28   899000.0
2017-03-31   953500.0
2017-04-30   975000.0
2017-05-31   925000.0
2017-06-30   900000.0
2017-07-31   957000.0
2017-08-31  1000000.0
2017-09-30   850000.0
2017-10-31   849000.0
2017-11-30  1000000.0
2017-12-31  1047500.0
2018-01-31  1099000.0
2018-02-28  1100000.0
2018-03-31  1089000.0
2018-04-30  1049000.0
               Value
Date
2010-01-31  349900.0
2010-02-28  349900.0
2010-03-31  349900.0
2010-04-30  349900.0
2010-05-31  350000.0
2010-06-30  349900.0
2010-07-31  345000.0
2010-08-31  349900.0
2010-09-30  349900.0
2010-10-31  349900.0
2010-11-30  350000.0
2010-12-31  349950.0
2011-01-31  349450.0
2011-02-28  325000.0
2011-03-31  359000.0
2011-04-30  365900.0
2011-05-31  365000.0
2011-06-30  350000.0
2011-07-31  336000.0
2011-08-31  329400.0
2011-09-30  334950.0
2011-10-31  327990.0
2011-11-30  326500.0
2011-12-31  329990.0
2012-01-31  334500.0
2012-02-29  325000.0
2012-03-31  359000.0
2012-04-30  359000.0
2012-05-31  365000.0
2012-06-30  359000.0
...              ...
2015-11-30  499000.0
2015-12-31  506338.5
2016-01-31  488250.0
2016-02-29  450000.0
2016-03-31  450000.0
2016-04-30  481950.0
2016-05-31  489500.0
2016-06-30  492000.0
2016-07-31  500000.0
2016-08-31  499950.0
2016-09-30  506360.0
2016-10-31  506360.0
2016-11-30  499925.0
2016-12-31  499900.0
2017-01-31  499400.0
2017-02-28  492990.0
2017-03-31  495000.0
2017-04-30  517000.0
2017-05-31  525000.0
2017-06-30  525000.0
2017-07-31  509750.0
2017-08-31  499950.0
2017-09-30  525000.0
2017-10-31  499000.0
2017-11-30  475000.0
2017-12-31  469950.0
2018-01-31  464900.0
2018-02-28  474500.0
2018-03-31  482000.0
2018-04-30  494500.0

[100 rows x 1 columns]
                Value
Date
2016-01-31   802500.0
2016-02-29   935000.0
2016-03-31   975000.0
2016-04-30   985000.0
2016-05-31   975000.0
2016-06-30   850000.0
2016-07-31   925000.0
2016-08-31   935000.0
2016-09-30   925000.0
2016-10-31   899894.0
2016-11-30   899888.0
2016-12-31   899000.0
2017-01-31   975000.0
2017-02-28  1022488.0
2017-03-31   975000.0
2017-04-30   925000.0
2017-05-31   975000.0
2017-06-30   836500.0
2017-07-31   799000.0
2017-08-31   780000.0
               Value
Date
2015-01-31  487000.0
2015-02-28  457000.0
2015-03-31  439000.0
2015-04-30  402450.0
2015-05-31  369000.0
2015-06-30  369900.0
2015-07-31  365000.0
2015-08-31  384950.0
2015-09-30  447250.0
2015-10-31  433000.0
2015-11-30  429000.0
2015-12-31  440000.0
2016-01-31  442500.0
2016-02-29  445000.0
2016-03-31  430000.0
2016-04-30  430000.0
2016-05-31  394500.0
2016-06-30  385000.0
2016-07-31  390000.0
2016-08-31  390000.0
2016-09-30  339000.0
2016-10-31  390000.0
2016-11-30  429500.0
2016-12-31  469900.0
2017-01-31  499000.0
2017-02-28  452495.0
2017-03-31  449900.0
2017-04-30  425000.0
2017-05-31  449900.0
2017-06-30  454990.0
2017-07-31  439900.0
2017-08-31  452490.0
2017-09-30  452990.0
2017-10-31  457990.0
2017-11-30  495000.0
2017-12-31  465615.5
2018-01-31  463528.0
2018-02-28  460990.0
2018-03-31  465990.0
2018-04-30  493410.5
               Value
Date
2010-01-31  319230.0
2010-02-28  322200.0
2010-03-31  325752.0
2010-04-30  329000.0
2010-05-31  349000.0
2010-06-30  335000.0
2010-07-31  336000.0
2010-08-31  331560.0
2010-09-30  316796.5
2010-10-31  319945.0
2010-11-30  310000.0
2010-12-31  315444.5
2011-01-31  320000.0
2011-02-28  319945.0
2011-03-31  325008.0
2011-04-30  330475.0
2011-05-31  338840.0
2011-06-30  332400.0
2011-07-31  329000.0
2011-08-31  329000.0
2011-09-30  318305.0
2011-10-31  319900.0
2011-11-30  319100.0
2011-12-31  319000.0
2012-01-31  317990.0
2012-02-29  314990.0
2012-03-31  316490.0
2012-04-30  319900.0
2012-05-31  315000.0
2012-06-30  314900.0
...              ...
2015-11-30  437990.0
2015-12-31  425495.0
2016-01-31  439990.0
2016-02-29  435000.0
2016-03-31  439700.0
2016-04-30  440000.0
2016-05-31  450000.0
2016-06-30  466000.0
2016-07-31  468495.0
2016-08-31  464750.0
2016-09-30  488190.0
2016-10-31  499634.0
2016-11-30  500000.0
2016-12-31  496945.0
2017-01-31  483244.0
2017-02-28  475000.0
2017-03-31  479319.5
2017-04-30  477360.0
2017-05-31  479900.0
2017-06-30  486044.0
2017-07-31  480219.0
2017-08-31  481490.0
2017-09-30  496139.0
2017-10-31  493788.0
2017-11-30  489914.0
2017-12-31  489000.0
2018-01-31  492990.0
2018-02-28  489900.0
2018-03-31  489945.0
2018-04-30  494000.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  449000.0
2010-02-28  463455.0
2010-03-31  474750.0
2010-04-30  478873.5
2010-05-31  484172.5
2010-06-30  479000.0
2010-07-31  480415.5
2010-08-31  475000.0
2010-09-30  465637.0
2010-10-31  445831.0
2010-11-30  449000.0
2010-12-31  447000.0
2011-01-31  459800.0
2011-02-28  449778.0
2011-03-31  471916.0
2011-04-30  473683.0
2011-05-31  461839.0
2011-06-30  449900.0
2011-07-31  444900.0
2011-08-31  429700.0
2011-09-30  435245.0
2011-10-31  443900.0
2011-11-30  427394.0
2011-12-31  425900.0
2012-01-31  425000.0
2012-02-29  420990.0
2012-03-31  425449.5
2012-04-30  449450.0
2012-05-31  459000.0
2012-06-30  469900.0
...              ...
2015-11-30  513495.0
2015-12-31  523798.0
2016-01-31  523990.0
2016-02-29  554900.0
2016-03-31  549987.5
2016-04-30  549975.0
2016-05-31  589000.0
2016-06-30  565990.0
2016-07-31  570490.0
2016-08-31  559000.0
2016-09-30  565950.0
2016-10-31  548990.0
2016-11-30  552409.5
2016-12-31  558490.0
2017-01-31  538490.0
2017-02-28  526490.0
2017-03-31  538945.0
2017-04-30  540000.0
2017-05-31  549450.0
2017-06-30  568950.0
2017-07-31  550000.0
2017-08-31  534400.0
2017-09-30  549900.0
2017-10-31  546901.5
2017-11-30  539000.0
2017-12-31  541560.0
2018-01-31  539950.0
2018-02-28  555950.0
2018-03-31  558900.0
2018-04-30  564450.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  329500.0
2010-02-28  329900.0
2010-03-31  331795.0
2010-04-30  331990.0
2010-05-31  344000.0
2010-06-30  340990.0
2010-07-31  335600.0
2010-08-31  340409.0
2010-09-30  344500.0
2010-10-31  344500.0
2010-11-30  350000.0
2010-12-31  349925.0
2011-01-31  349950.0
2011-02-28  357350.0
2011-03-31  349700.0
2011-04-30  357500.0
2011-05-31  351450.0
2011-06-30  359000.0
2011-07-31  349250.0
2011-08-31  354500.0
2011-09-30  347000.0
2011-10-31  349500.0
2011-11-30  349500.0
2011-12-31  360750.0
2012-01-31  365000.0
2012-02-29  365000.0
2012-03-31  369900.0
2012-04-30  374447.5
2012-05-31  379000.0
2012-06-30  374950.0
...              ...
2015-11-30  449900.0
2015-12-31  454495.0
2016-01-31  449999.0
2016-02-29  463640.0
2016-03-31  477152.5
2016-04-30  449900.0
2016-05-31  450000.0
2016-06-30  459949.5
2016-07-31  460000.0
2016-08-31  465000.0
2016-09-30  469950.0
2016-10-31  474950.0
2016-11-30  475000.0
2016-12-31  474900.0
2017-01-31  470500.0
2017-02-28  479900.0
2017-03-31  512500.0
2017-04-30  509410.0
2017-05-31  500000.0
2017-06-30  494900.0
2017-07-31  499950.0
2017-08-31  499900.0
2017-09-30  506495.0
2017-10-31  512725.0
2017-11-30  505990.0
2017-12-31  497350.0
2018-01-31  487990.0
2018-02-28  511930.0
2018-03-31  514990.0
2018-04-30  511930.0

[100 rows x 1 columns]

               Value
Date
2015-10-31  280000.0
2015-11-30  278990.0
2015-12-31  285000.0
2016-01-31  280990.0
2016-02-29  278990.0
2016-03-31  296990.0
2016-04-30  296990.0
2016-05-31  278812.0
2016-06-30  291995.0
2016-07-31  310950.0
2016-08-31  312000.0
2016-09-30  316495.0
2016-10-31  329900.0
2016-11-30  325000.0
2016-12-31  315000.0
2017-01-31  309900.0
2017-02-28  319945.0
2017-03-31  329450.0
2017-04-30  339900.0
2017-05-31  329900.0
2017-06-30  330000.0
2017-07-31  317498.5
2017-08-31  319000.0
2017-09-30  326020.0
2017-10-31  325045.0
2017-11-30  323500.0
2017-12-31  330000.0
2018-01-31  338295.0
2018-02-28  295990.0
2018-03-31  289450.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2013-11-30  152945.0
2013-12-31  156995.0
2014-01-31  149990.0
2014-02-28  149900.0
2014-03-31  144000.0
2014-04-30  150500.0
2014-05-31  169990.0
2014-06-30  174700.0
2014-07-31  168990.0
2014-08-31  175000.0
2014-09-30  181174.0
2014-10-31  188988.0
2014-11-30  185752.0
2014-12-31  187995.0
2015-01-31  190657.5
2015-02-28  197495.0
2015-03-31  199000.0
2015-04-30  199990.0
2015-05-31  204990.0
2015-06-30  209450.0
2015-07-31  229485.0
2015-08-31  230712.5
2015-09-30  239500.0
2015-10-31  241900.0
2015-11-30  246900.0
2015-12-31  262922.5
2016-01-31  255017.5
2016-02-29  252290.5
2016-03-31  250967.5
2016-04-30  241672.5
2016-05-31  240900.0
2016-06-30  238580.0
2016-07-31  225000.0
2016-08-31  233592.5
2016-09-30  236050.0
2016-10-31  228610.0
2016-11-30  239000.0
2016-12-31  240000.0
2017-01-31  235000.0
2017-02-28  222500.0
2017-03-31  245250.0
2017-04-30  250000.0
2017-05-31  249900.0
2017-06-30  246000.0
2017-07-31  230000.0
2017-08-31  238975.0
2017-09-30  260450.0
2017-10-31  252242.5
2017-11-30  258995.0
2017-12-31  261495.0
2018-01-31  264995.0
2018-02-28  267490.0
2018-03-31  264990.0
2018-04-30  267995.0
               Value
Date
2010-01-31  185900.0
2010-02-28  187000.0
2010-03-31  185900.0
2010-04-30  182000.0
2010-05-31  179991.0
2010-06-30  179941.5
2010-07-31  179900.0
2010-08-31  179000.0
2010-09-30  183250.0
2010-10-31  179900.0
2010-11-30  178950.0
2010-12-31  178250.0
2011-01-31  179900.0
2011-02-28  179954.5
2011-03-31  179909.0
2011-04-30  175000.0
2011-05-31  174700.0
2011-06-30  179649.5
2011-07-31  175000.0
2011-08-31  174500.0
2011-09-30  169900.0
2011-10-31  169250.0
2011-11-30  168900.0
2011-12-31  165000.0
2012-01-31  165000.0
2012-02-29  169950.0
2012-03-31  169900.0
2012-04-30  179450.0
2012-05-31  179900.0
2012-06-30  179900.0
...              ...
2015-11-30  289500.0
2015-12-31  299500.0
2016-01-31  295000.0
2016-02-29  295000.0
2016-03-31  294900.0
2016-04-30  295000.0
2016-05-31  299500.0
2016-06-30  299000.0
2016-07-31  305339.5
2016-08-31  300000.0
2016-09-30  308833.0
2016-10-31  299999.0
2016-11-30  300893.0
2016-12-31  306990.0
2017-01-31  305993.0
2017-02-28  310380.0
2017-03-31  315000.0
2017-04-30  314250.0
2017-05-31  309990.0
2017-06-30  310000.0
2017-07-31  315990.0
2017-08-31  316094.0
2017-09-30  319000.0
2017-10-31  319000.0
2017-11-30  315000.0
2017-12-31  315000.0
2018-01-31  320000.0
2018-02-28  324900.0
2018-03-31  325000.0
2018-04-30  329000.0

[100 rows x 1 columns]
                Value
Date
2014-04-30  1137500.0
2014-05-31  1200000.0
2014-06-30  1100000.0
2014-07-31  1090000.0
2014-08-31  1024250.0
2014-09-30  1050000.0
2014-10-31  1171500.0
2014-11-30  1171500.0
2014-12-31  1200000.0
2015-01-31  1087500.0
2015-02-28  1200000.0
2015-03-31  1125000.0
2015-04-30  1237500.0
2015-05-31  1225000.0
2015-06-30  1160000.0
2015-07-31  1200000.0
2015-08-31  1199450.0
2015-09-30  1149500.0
2015-10-31  1199000.0
2015-11-30  1174500.0
2015-12-31  1250000.0
2016-01-31  1287500.0
2016-02-29  1350000.0
2016-03-31  1495000.0
2016-04-30  1450000.0
2016-05-31  1350000.0
2016-06-30  1349500.0
2016-07-31  1312500.0
2016-08-31  1299997.5
2016-09-30  1299000.0
2016-10-31  1295000.0
2016-11-30  1299950.0
2016-12-31  1275000.0
2017-01-31  1299999.0
2017-02-28  1329500.0
2017-03-31  1287500.0
2017-04-30  1295000.0
2017-05-31  1299000.0
2017-06-30  1292500.0
2017-07-31  1252000.0
2017-08-31  1250000.0
2017-09-30  1350000.0
2017-10-31  1299000.0
2017-11-30  1372500.0
2017-12-31  1362500.0
2018-01-31  1299000.0
2018-02-28  1295000.0
2018-03-31  1299000.0
2018-04-30  1375000.0
               Value
Date
2010-01-31  185000.0
2010-02-28  189900.0
2010-03-31  189000.0
2010-04-30  185500.0
2010-05-31  183232.0
2010-06-30  180727.0
2010-07-31  178500.0
2010-08-31  187971.0
2010-09-30  179000.0
2010-10-31  176445.0
2010-11-30  189000.0
2010-12-31  181890.0
2011-01-31  178500.0
2011-02-28  182500.0
2011-03-31  178000.0
2011-04-30  189500.0
2011-05-31  199000.0
2011-06-30  183495.0
2011-07-31  189900.0
2011-08-31  163996.5
2011-09-30  165225.0
2011-10-31  154900.0
2011-11-30  148975.0
2011-12-31  148500.0
2012-01-31  152447.5
2012-02-29  153490.0
2012-03-31  160094.0
2012-04-30  171995.0
2012-05-31  162995.0
2012-06-30  163492.5
...              ...
2015-11-30  245000.0
2015-12-31  249452.0
2016-01-31  249999.5
2016-02-29  244000.0
2016-03-31  250376.5
2016-04-30  251340.0
2016-05-31  249900.0
2016-06-30  269900.0
2016-07-31  265000.0
2016-08-31  249999.5
2016-09-30  242160.0
2016-10-31  249350.0
2016-11-30  255000.0
2016-12-31  260000.0
2017-01-31  268500.0
2017-02-28  281200.0
2017-03-31  279000.0
2017-04-30  280000.0
2017-05-31  282900.0
2017-06-30  282900.0
2017-07-31  281950.0
2017-08-31  286950.0
2017-09-30  289950.0
2017-10-31  278450.0
2017-11-30  279900.0
2017-12-31  279700.0
2018-01-31  294400.0
2018-02-28  300000.0
2018-03-31  289000.0
2018-04-30  289000.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  189900.0
2010-02-28  190000.0
2010-03-31  188445.0
2010-04-30  188600.0
2010-05-31  189900.0
2010-06-30  184900.0
2010-07-31  182800.0
2010-08-31  179990.0
2010-09-30  188500.0
2010-10-31  189304.5
2010-11-30  185372.0
2010-12-31  188777.0
2011-01-31  189100.0
2011-02-28  187900.0
2011-03-31  186350.0
2011-04-30  188014.5
2011-05-31  187664.5
2011-06-30  190691.5
2011-07-31  194318.0
2011-08-31  192900.0
2011-09-30  188000.0
2011-10-31  187444.0
2011-11-30  187422.0
2011-12-31  185000.0
2012-01-31  187322.0
2012-02-29  188000.0
2012-03-31  187486.5
2012-04-30  193000.0
2012-05-31  192500.0
2012-06-30  193507.5
...              ...
2015-11-30  275990.0
2015-12-31  275990.0
2016-01-31  279495.0
2016-02-29  287445.0
2016-03-31  287945.0
2016-04-30  285995.0
2016-05-31  296990.0
2016-06-30  310000.0
2016-07-31  306412.5
2016-08-31  303945.0
2016-09-30  290999.5
2016-10-31  285000.0
2016-11-30  279945.0
2016-12-31  279900.0
2017-01-31  275500.0
2017-02-28  276900.0
2017-03-31  284700.0
2017-04-30  285869.5
2017-05-31  299000.0
2017-06-30  290000.5
2017-07-31  293000.0
2017-08-31  299900.0
2017-09-30  292995.0
2017-10-31  289900.0
2017-11-30  295020.0
2017-12-31  296990.0
2018-01-31  299990.0
2018-02-28  300000.0
2018-03-31  309995.0
2018-04-30  310000.0

[100 rows x 1 columns]
               Value
Date
2010-01-31  239000.0
2010-02-28  239966.5
2010-03-31  240000.0
2010-04-30  239900.0
2010-05-31  239000.0
2010-06-30  237102.0
2010-07-31  236100.0
2010-08-31  237950.0
2010-09-30  235000.0
2010-10-31  234900.0
2010-11-30  229999.5
2010-12-31  235000.0
2011-01-31  235000.0
2011-02-28  236200.0
2011-03-31  237900.0
2011-04-30  238450.0
2011-05-31  239900.0
2011-06-30  239000.0
2011-07-31  231850.0
2011-08-31  229957.0
2011-09-30  235000.0
2011-10-31  229950.0
2011-11-30  235000.0
2011-12-31  228950.0
2012-01-31  239900.0
2012-02-29  234950.0
2012-03-31  239700.0
2012-04-30  239950.0
2012-05-31  245000.0
2012-06-30  249900.0
...              ...
2015-11-30  320000.0
2015-12-31  329900.0
2016-01-31  335000.0
2016-02-29  344950.0
2016-03-31  339900.0
2016-04-30  341200.0
2016-05-31  339000.0
2016-06-30  340000.0
2016-07-31  349600.0
2016-08-31  349750.0
2016-09-30  349750.0
2016-10-31  347300.0
2016-11-30  350000.0
2016-12-31  349600.0
2017-01-31  359900.0
2017-02-28  359900.0
2017-03-31  369000.0
2017-04-30  379000.0
2017-05-31  380000.0
2017-06-30  367450.0
2017-07-31  365000.0
2017-08-31  366950.0
2017-09-30  368250.0
2017-10-31  370000.0
2017-11-30  369450.0
2017-12-31  365000.0
2018-01-31  364975.0
2018-02-28  375000.0
2018-03-31  375000.0
2018-04-30  382499.5

[100 rows x 1 columns]

               Value
Date
2016-09-30  455000.0
2016-10-31  442500.0
2016-11-30  439249.5
2016-12-31  439000.0
2017-01-31  414900.0
2017-02-28  465000.0
2017-03-31  484950.0
2017-04-30  489900.0
2017-05-31  489949.5
2017-06-30  477350.0
2017-07-31  450000.0
2017-08-31  424950.0
2017-09-30  409475.0
2017-10-31  399950.0
2017-11-30  419000.0
2017-12-31  372350.0
2018-01-31  399000.0
2018-02-28  399000.0
2018-03-31  400000.0
2018-04-30  399000.0
               Value
Date
2015-02-28  459445.0
2015-03-31  449000.0
2015-04-30  421450.0
2015-05-31  456950.0
2015-06-30  449500.0
2015-07-31  425000.0
2015-08-31  399990.0
2015-09-30  449000.0
2015-10-31  477450.0
2015-11-30  469000.0
2015-12-31  469000.0
2016-01-31  419000.0
2016-02-29  420000.0
2016-03-31  399499.5
2016-04-30  399999.0
2016-05-31  418700.0
2016-06-30  449000.0
2016-07-31  440000.0
2016-08-31  450000.0
2016-09-30  449950.0
2016-10-31  435000.0
2016-11-30  448500.0
2016-12-31  449500.0
2017-01-31  445000.0
2017-02-28  429500.0
2017-03-31  454450.0
2017-04-30  464950.0
2017-05-31  472000.0
2017-06-30  450000.0
2017-07-31  472000.0
2017-08-31  454500.0
2017-09-30  450000.0
2017-10-31  427000.0
2017-11-30  449000.0
2017-12-31  450000.0
2018-01-31  400000.0
2018-02-28  415000.0
2018-03-31  427000.0
2018-04-30  449900.0
               Value
Date
2016-04-30  329000.0
2016-05-31  329000.0
2016-06-30  329500.0
2016-07-31  325000.0
2016-08-31  299900.0
2016-09-30  325000.0
2016-10-31  335000.0
2016-11-30  322500.0
2016-12-31  329000.0
2017-01-31  320000.0
2017-02-28  309900.0
2017-03-31  299999.5
2017-04-30  282000.0
2017-05-31  269900.0
2017-06-30  272450.0
2017-07-31  275000.0
2017-08-31  289700.0
2017-09-30  310000.0
2017-10-31  279900.0
2017-11-30  299900.0
2017-12-31  287000.0
2018-01-31  285000.0
2018-02-28  299450.0
2018-03-31  345000.0
2018-04-30  350000.0
               Value
Date
2013-11-30  157900.0
2013-12-31  170000.0
2014-01-31  170000.0
2014-02-28  191475.5
2014-03-31  170000.0
2014-04-30  190000.0
2014-05-31  197500.0
2014-06-30  194900.0
2014-07-31  210000.0
2014-08-31  229447.5
2014-09-30  229900.0
2014-10-31  211500.0
2014-11-30  203500.0
2014-12-31  179900.0
2015-01-31  189250.0
2015-02-28  206450.0
2015-03-31  199900.0
2015-04-30  224500.0
2015-05-31  226950.0
2015-06-30  217450.0
2015-07-31  220000.0
2015-08-31  219500.0
2015-09-30  238997.0
2015-10-31  232947.5
2015-11-30  229900.0
2015-12-31  224950.0
2016-01-31  215000.0
2016-02-29  223950.0
2016-03-31  249947.5
2016-04-30  249900.0
2016-05-31  245000.0
2016-06-30  245000.0
2016-07-31  250000.0
2016-08-31  260995.0
2016-09-30  264994.5
2016-10-31  261990.0
2016-11-30  261422.5
2016-12-31  256995.0
2017-01-31  256492.5
2017-02-28  256990.0
2017-03-31  257995.0
2017-04-30  249900.0
2017-05-31  250000.0
2017-06-30  257995.0
2017-07-31  262995.0
2017-08-31  259495.0
2017-09-30  260500.0
2017-10-31  259997.5
2017-11-30  260997.5
2017-12-31  265000.0
2018-01-31  265000.0
2018-02-28  265000.0
2018-03-31  267450.0
2018-04-30  273000.0
               Value
Date
2010-01-31  164925.0
2010-02-28  166100.0
2010-03-31  168000.0
2010-04-30  165950.0
2010-05-31  166578.0
2010-06-30  165000.0
2010-07-31  163000.0
2010-08-31  164450.0
2010-09-30  160000.0
2010-10-31  159900.0
2010-11-30  159990.0
2010-12-31  159945.0
2011-01-31  160150.0
2011-02-28  160300.0
2011-03-31  160000.0
2011-04-30  162150.0
2011-05-31  163100.0
2011-06-30  159990.0
2011-07-31  158945.0
2011-08-31  155000.0
2011-09-30  151600.0
2011-10-31  149900.0
2011-11-30  147125.0
2011-12-31  147512.5
2012-01-31  147000.0
2012-02-29  146990.0
2012-03-31  146990.0
2012-04-30  144000.0
2012-05-31  144900.0
2012-06-30  149995.0
...              ...
2015-11-30  226185.0
2015-12-31  226185.0
2016-01-31  228990.0
2016-02-29  227497.5
2016-03-31  230912.5
2016-04-30  238100.0
2016-05-31  238000.0
2016-06-30  239900.0
2016-07-31  239900.0
2016-08-31  239990.0
2016-09-30  244950.0
2016-10-31  239900.0
2016-11-30  239000.0
2016-12-31  240000.0
2017-01-31  249900.0
2017-02-28  249900.0
2017-03-31  257490.0
2017-04-30  264350.0
2017-05-31  271252.5
2017-06-30  263745.0
2017-07-31  254937.5
2017-08-31  255000.0
2017-09-30  255000.0
2017-10-31  259990.0
2017-11-30  259900.0
2017-12-31  259990.0
2018-01-31  259900.0
2018-02-28  255990.0
2018-03-31  259900.0
2018-04-30  260495.0

[100 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
               Value
Date
2010-01-31  227000.0
2010-02-28  228500.0
2010-03-31  229000.0
2010-04-30  235000.0
2010-05-31  235500.0
2010-06-30  239000.0
2010-07-31  235000.0
2010-08-31  239000.0
2010-09-30  233750.0
2010-10-31  229000.0
2010-11-30  226000.0
2010-12-31  225000.0
2011-01-31  229900.0
2011-02-28  229975.0
2011-03-31  241200.0
2011-04-30  249541.5
2011-05-31  244900.0
2011-06-30  249900.0
2011-07-31  239947.5
2011-08-31  235750.0
2011-09-30  239450.0
2011-10-31  239000.0
2011-11-30  239900.0
2011-12-31  239900.0
2012-01-31  231000.0
2012-02-29  243500.0
2012-03-31  246250.0
2012-04-30  244499.5
2012-05-31  238750.0
2012-06-30  244250.0
...              ...
2015-11-30  369000.0
2015-12-31  382990.0
2016-01-31  389900.0
2016-02-29  422200.0
2016-03-31  419000.0
2016-04-30  424900.0
2016-05-31  417450.0
2016-06-30  436950.0
2016-07-31  439450.0
2016-08-31  449450.0
2016-09-30  439450.0
2016-10-31  425000.0
2016-11-30  427000.0
2016-12-31  425000.0
2017-01-31  421111.0
2017-02-28  419900.0
2017-03-31  425000.0
2017-04-30  458687.0
2017-05-31  469945.0
2017-06-30  472450.0
2017-07-31  464900.0
2017-08-31  435850.0
2017-09-30  425000.0
2017-10-31  416979.0
2017-11-30  418000.0
2017-12-31  415000.0
2018-01-31  415000.0
2018-02-28  412500.0
2018-03-31  407450.0
2018-04-30  415900.0

[100 rows x 1 columns]
               Value
Date
2017-04-30  284500.0
2017-05-31  249939.0
2017-06-30  255000.0
2017-07-31  244949.5
2017-08-31  229900.0
2017-09-30  244874.5
2017-10-31  225000.0
2017-11-30  258000.0
2017-12-31  269000.0
2018-01-31  287000.0
2018-02-28  300000.0
2018-03-31  300000.0
2018-04-30  307500.0
               Value
Date
2010-01-31  274900.0
2010-02-28  254965.0
2010-03-31  269900.0
2010-04-30  277000.0
2010-05-31  289900.0
2010-06-30  278225.0
2010-07-31  275900.0
2010-08-31  293000.0
2010-09-30  265990.0
2010-10-31  255990.0
2010-11-30  252990.0
2010-12-31  247750.0
2011-01-31  258500.0
2011-02-28  267000.0
2011-03-31  271950.0
2011-04-30  289000.0
2011-05-31  291000.0
2011-06-30  310000.0
2011-07-31  309900.0
2011-08-31  294500.0
2011-09-30  299250.0
2011-10-31  299500.0
2011-11-30  302495.0
2011-12-31  279900.0
2012-01-31  279900.0
2012-02-29  269500.0
2012-03-31  273000.0
2012-04-30  290000.0
2012-05-31  289450.0
2012-06-30  277450.0
...              ...
2015-11-30  441250.0
2015-12-31  499000.0
2016-01-31  442250.0
2016-02-29  425000.0
2016-03-31  449900.0
2016-04-30  459000.0
2016-05-31  459900.0
2016-06-30  499900.0
2016-07-31  469000.0
2016-08-31  465000.0
2016-09-30  449900.0
2016-10-31  449000.0
2016-11-30  454950.0
2016-12-31  440000.0
2017-01-31  449000.0
2017-02-28  469900.0
2017-03-31  499900.0
2017-04-30  499900.0
2017-05-31  469850.0
2017-06-30  443950.0
2017-07-31  425000.0
2017-08-31  425000.0
2017-09-30  425000.0
2017-10-31  444900.0
2017-11-30  434950.0
2017-12-31  425000.0
2018-01-31  419900.0
2018-02-28  420000.0
2018-03-31  435000.0
2018-04-30  432500.0

[100 rows x 1 columns]

In [17]:
# Concatenating all the data
#data_listing_concat = data_data
listing_concat = pd.concat(listing_concat)
# Getting month and year from the column "date"
listing_concat['Year'] = pd.DatetimeIndex(listing_concat.index).year
listing_concat['Month'] = pd.DatetimeIndex(listing_concat.index).month
rename_listing_concat = listing_concat.rename(columns={"Value":"Median Listing Price"})
rename_listing_concat

            Median Listing Price Zip Code  Year  Month
Date
2015-02-28              498000.0    78701  2015      2
2015-03-31              465000.0    78701  2015      3
2015-04-30              475000.0    78701  2015      4
2015-05-31              474750.0    78701  2015      5
2015-06-30              509999.0    78701  2015      6
2015-07-31              522247.5    78701  2015      7
2015-08-31              533700.0    78701  2015      8
2015-09-30              539900.0    78701  2015      9
2015-10-31              533280.0    78701  2015     10
2015-11-30              491950.0    78701  2015     11
2015-12-31              491950.0    78701  2015     12
2016-01-31              494900.0    78701  2016      1
2016-02-29              519950.0    78701  2016      2
2016-03-31              509950.0    78701  2016      3
2016-04-30              499500.0    78701  2016      4
2016-05-31              537000.0    78701  2016      5
2016-06-30              545000.0    78701  2016      6
2016-07-31              535000.0    78701  2016      7
2016-08-31              585000.0    78701  2016      8
2016-09-30              585000.0    78701  2016      9
2016-10-31              597450.0    78701  2016     10
2016-11-30              573450.0    78701  2016     11
2016-12-31              573450.0    78701  2016     12
2017-01-31              574950.0    78701  2017      1
2017-02-28              564500.0    78701  2017      2
2017-03-31              561950.0    78701  2017      3
2017-04-30              587950.0    78701  2017      4
2017-05-31              596850.0    78701  2017      5
2017-06-30              598000.0    78701  2017      6
2017-07-31              598700.0    78701  2017      7
...                          ...      ...   ...    ...
2015-11-30              441250.0    78759  2015     11
2015-12-31              499000.0    78759  2015     12
2016-01-31              442250.0    78759  2016      1
2016-02-29              425000.0    78759  2016      2
2016-03-31              449900.0    78759  2016      3
2016-04-30              459000.0    78759  2016      4
2016-05-31              459900.0    78759  2016      5
2016-06-30              499900.0    78759  2016      6
2016-07-31              469000.0    78759  2016      7
2016-08-31              465000.0    78759  2016      8
2016-09-30              449900.0    78759  2016      9
2016-10-31              449000.0    78759  2016     10
2016-11-30              454950.0    78759  2016     11
2016-12-31              440000.0    78759  2016     12
2017-01-31              449000.0    78759  2017      1
2017-02-28              469900.0    78759  2017      2
2017-03-31              499900.0    78759  2017      3
2017-04-30              499900.0    78759  2017      4
2017-05-31              469850.0    78759  2017      5
2017-06-30              443950.0    78759  2017      6
2017-07-31              425000.0    78759  2017      7
2017-08-31              425000.0    78759  2017      8
2017-09-30              425000.0    78759  2017      9
2017-10-31              444900.0    78759  2017     10
2017-11-30              434950.0    78759  2017     11
2017-12-31              425000.0    78759  2017     12
2018-01-31              419900.0    78759  2018      1
2018-02-28              420000.0    78759  2018      2
2018-03-31              435000.0    78759  2018      3
2018-04-30              432500.0    78759  2018      4

[2695 rows x 4 columns]

In [18]:
# Export the "home value" data to a csv file
rename_listing_concat.to_csv("../data/int/output_quandl/5_Output.median_listing_price.csv", index = False ,header = True)

## Median Listing Price Per Square Foot - All Homes|MLPFAH

In [19]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "MLPFAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1

# Copying the data stored
listing_sqf_concat = data_data

                 Value
Date
2010-01-31  342.530800
2010-02-28  342.245287
2010-03-31  339.803625
2010-04-30  330.220815
2010-05-31  332.045089
2010-06-30  329.467580
2010-07-31  327.641105
2010-08-31  331.973684
2010-09-30  331.474597
2010-10-31  332.554658
2010-11-30  327.518428
2010-12-31  329.023637
2011-01-31  319.238856
2011-02-28  318.965517
2011-03-31  306.124853
2011-04-30  316.212014
2011-05-31  317.570093
2011-06-30  325.816485
2011-07-31  326.516330
2011-08-31  342.972195
2011-09-30  349.059140
2011-10-31  351.286174
2011-11-30  348.402818
2011-12-31  329.670330
2012-01-31  329.810412
2012-02-29  327.616929
2012-03-31  330.687831
2012-04-30  346.828610
2012-05-31  375.370971
2012-06-30  380.810861
...                ...
2015-03-31  487.089202
2015-04-30  504.189294
2015-05-31  510.646688
2015-06-30  518.123344
2015-07-31  517.685343
2015-08-31  496.826768
2015-09-30  525.962399
2015-10-31  516.428177
2015-11-30  491.300797
2015-12-31  489.162131
2016-01-31  516.600266
2016-02-29  522.611948
2016-03-31  522.388060
2016-04-30  516.600266
2016-05-31  541.018388
2016-06-30  530.508284
2016-07-31  522.113022
2016-08-31  550.864988
2016-09-30  583.982202
2016-10-31  611.797824
2016-11-30  580.666124
2016-12-31  578.876347
2017-01-31  587.080808
2017-02-28  567.285806
2017-03-31  601.701953
2017-04-30  608.624342
2017-05-31  582.457862
2017-06-30  579.234973
2017-07-31  601.488722
2017-08-31  602.597403

[92 rows x 1 columns]
                 Value
Date
2010-01-31  181.408296
2010-02-28  181.436966
2010-03-31  180.403298
2010-04-30  185.556015
2010-05-31  191.808957
2010-06-30  189.153439
2010-07-31  190.948815
2010-08-31  185.812521
2010-09-30  187.038682
2010-10-31  183.868780
2010-11-30  180.943082
2010-12-31  186.847209
2011-01-31  183.951333
2011-02-28  181.299092
2011-03-31  180.167795
2011-04-30  178.571429
2011-05-31  177.827192
2011-06-30  178.826896
2011-07-31  185.030864
2011-08-31  178.625954
2011-09-30  173.887921
2011-10-31  174.822191
2011-11-30  174.822191
2011-12-31  176.898900
2012-01-31  178.170112
2012-02-29  176.898900
2012-03-31  182.772008
2012-04-30  178.528503
2012-05-31  186.363636
2012-06-30  188.947368
...                ...
2015-11-30  309.845779
2015-12-31  313.059034
2016-01-31  319.649013
2016-02-29  332.101950
2016-03-31  333.333333
2016-04-30  324.309081
2016-05-31  325.442829
2016-06-30  331.741390
2016-07-31  320.550956
2016-08-31  317.955966
2016-09-30  320.945946
2016-10-31  321.207405
2016-11-30  331.988696
2016-12-31  340.823995
2017-01-31  348.567002
2017-02-28  344.202899
2017-03-31  344.552986
2017-04-30  344.843677
2017-05-31  351.707176
2017-06-30  354.274917
2017-07-31  368.145563
2017-08-31  365.834307
2017-09-30  354.437278
2017-10-31  342.255892
2017-11-30  339.249356
2017-12-31  341.826923
2018-01-31  350.115300
2018-02-28  362.000000
2018-03-31  360.895780
2018-04-30  369.743951

[100 rows x 1 columns]
                 Value
Date
2010-01-31  269.606414
2010-02-28  271.967935
2010-03-31  277.275175
2010-04-30  279.247202
2010-05-31  280.281690
2010-06-30  275.512283
2010-07-31  272.606924
2010-08-31  278.591353
2010-09-30  272.862233
2010-10-31  269.936193
2010-11-30  272.392320
2010-12-31  264.675938
2011-01-31  264.092321
2011-02-28  263.713080
2011-03-31  275.324936
2011-04-30  277.777778
2011-05-31  279.977294
2011-06-30  278.021871
2011-07-31  278.388978
2011-08-31  274.716560
2011-09-30  284.090909
2011-10-31  283.695455
2011-11-30  287.489752
2011-12-31  284.469007
2012-01-31  277.917714
2012-02-29  280.423645
2012-03-31  275.247439
2012-04-30  270.205920
2012-05-31  287.916034
2012-06-30  288.338390
...                ...
2015-11-30  407.142857
2015-12-31  420.373027
2016-01-31  427.704819
2016-02-29  419.199619
2016-03-31  415.361446
2016-04-30  418.139948
2016-05-31  411.522634
2016-06-30  427.002847
2016-07-31  434.411337
2016-08-31  432.611754
2016-09-30  433.890950
2016-10-31  440.000000
2016-11-30  441.797925
2016-12-31  434.375000
2017-01-31  432.849789
2017-02-28  429.240375
2017-03-31  440.828412
2017-04-30  446.127593
2017-05-31  444.839106
2017-06-30  449.735450
2017-07-31  440.485958
2017-08-31  418.344292
2017-09-30  438.352827
2017-10-31  433.083333
2017-11-30  412.280702
2017-12-31  418.030980
2018-01-31  428.355078
2018-02-28  435.578331
2018-03-31  439.521800
2018-04-30  433.611885

[100 rows x 1 columns]
                 Value
Date
2010-01-31  229.784648
2010-02-28  228.846154
2010-03-31  225.423165
2010-04-30  225.737647
2010-05-31  229.861933
2010-06-30  227.219626
2010-07-31  226.842495
2010-08-31  227.896760
2010-09-30  225.137137
2010-10-31  223.743377
2010-11-30  219.549642
2010-12-31  218.487395
2011-01-31  222.656250
2011-02-28  219.330010
2011-03-31  222.467366
2011-04-30  220.771020
2011-05-31  221.160651
2011-06-30  222.653763
2011-07-31  225.096101
2011-08-31  224.241754
2011-09-30  231.251994
2011-10-31  229.710943
2011-11-30  225.236377
2011-12-31  221.785301
2012-01-31  214.792923
2012-02-29  227.121859
2012-03-31  232.646995
2012-04-30  232.194536
2012-05-31  241.378461
2012-06-30  241.561181
...                ...
2015-11-30  328.729282
2015-12-31  338.175948
2016-01-31  334.128763
2016-02-29  349.580420
2016-03-31  346.465696
2016-04-30  345.261599
2016-05-31  347.222222
2016-06-30  350.365189
2016-07-31  354.141720
2016-08-31  347.904809
2016-09-30  351.518765
2016-10-31  357.544757
2016-11-30  355.392157
2016-12-31  362.665315
2017-01-31  363.761550
2017-02-28  364.111200
2017-03-31  374.510755
2017-04-30  375.372215
2017-05-31  371.261853
2017-06-30  364.768683
2017-07-31  366.015177
2017-08-31  367.329574
2017-09-30  376.821608
2017-10-31  387.334071
2017-11-30  383.549124
2017-12-31  373.789542
2018-01-31  377.284165
2018-02-28  385.812224
2018-03-31  393.327238
2018-04-30  389.676113

[100 rows x 1 columns]
                 Value
Date
2014-12-31  290.310423
2015-01-31  271.581448
2015-02-28  278.761062
2015-03-31  279.139567
2015-04-30  280.000000
2015-05-31  280.209424
2015-06-30  265.671642
2015-07-31  272.432796
2015-08-31  269.934433
2015-09-30  283.166167
2015-10-31  283.142515
2015-11-30  277.918782
2015-12-31  281.188893
2016-01-31  282.828761
2016-02-29  301.508296
2016-03-31  302.592677
2016-04-30  308.564815
2016-05-31  306.120937
2016-06-30  314.313346
2016-07-31  324.675325
2016-08-31  326.654174
2016-09-30  339.548376
2016-10-31  334.758827
2016-11-30  340.277778
2016-12-31  337.580108
2017-01-31  336.538462
2017-02-28  341.280150
2017-03-31  338.357401
2017-04-30  337.287340
2017-05-31  333.844765
2017-06-30  335.894194
2017-07-31  338.577017
2017-08-31  338.612368
2017-09-30  346.702317
2017-10-31  345.852266
2017-11-30  344.348762
2017-12-31  348.433129
2018-01-31  342.962984
2018-02-28  338.009869
2018-03-31  338.000000
2018-04-30  345.363636
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
                 Value
Date
2010-01-31  100.516674
2010-02-28  103.066190
2010-03-31  103.697024
2010-04-30  104.534347
2010-05-31  104.534347
2010-06-30  102.822955
2010-07-31  101.057579
2010-08-31   99.834983
2010-09-30  101.054853
2010-10-31  102.817531
2010-11-30  103.868195
2010-12-31  102.410827
2011-01-31  102.410827
2011-02-28  102.293469
2011-03-31  101.985507
2011-04-30  101.101093
2011-05-31  100.246508
2011-06-30  101.479453
2011-07-31  101.266357
2011-08-31   99.821246
2011-09-30   98.372638
2011-10-31   99.579547
2011-11-30  100.390625
2011-12-31  101.379815
2012-01-31  103.085443
2012-02-29  105.458861
2012-03-31  103.896104
2012-04-30  105.405081
2012-05-31  106.954971
2012-06-30  106.548857
...                ...
2015-11-30  149.063419
2015-12-31  150.030970
2016-01-31  151.009748
2016-02-29  143.610811
2016-03-31  149.000000
2016-04-30  149.615588
2016-05-31  147.541183
2016-06-30  148.576512
2016-07-31  145.112785
2016-08-31  144.062500
2016-09-30  141.778742
2016-10-31  149.408064
2016-11-30  151.649182
2016-12-31  151.904762
2017-01-31  151.195499
2017-02-28  151.869159
2017-03-31  158.675185
2017-04-30  159.025477
2017-05-31  157.896314
2017-06-30  157.839299
2017-07-31  157.583765
2017-08-31  156.193916
2017-09-30  157.583682
2017-10-31  162.306268
2017-11-30  163.506157
2017-12-31  163.972319
2018-01-31  169.290557
2018-02-28  164.918856
2018-03-31  159.607535
2018-04-30  157.406945

[100 rows x 1 columns]

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
                 Value
Date
2014-11-30  186.923077
2014-12-31  195.750648
2015-01-31  192.345338
2015-02-28  197.916667
2015-03-31  199.846681
2015-04-30  209.536495
2015-05-31  210.629329
2015-06-30  208.565072
2015-07-31  215.219907
2015-08-31  215.277778
2015-09-30  214.786303
2015-10-31  215.109954
2015-11-30  214.644652
2015-12-31  215.730822
2016-01-31  225.349206
2016-02-29  226.507786
2016-03-31  227.669577
2016-04-30  236.303403
2016-05-31  242.300000
2016-06-30  246.098300
2016-07-31  247.422680
2016-08-31  248.962524
2016-09-30  245.054046
2016-10-31  240.458015
2016-11-30  251.026777
2016-12-31  246.772152
2017-01-31  248.178089
2017-02-28  252.937371
2017-03-31  254.603322
2017-04-30  253.091509
2017-05-31  265.356602
2017-06-30  263.460187
2017-07-31  265.276725
2017-08-31  267.507645
2017-09-30  270.955970
2017-10-31  265.610143
2017-11-30  266.274864
2017-12-31  269.700784
2018-01-31  280.275015
2018-02-28  279.356061
2018-03-31  297.433736
2018-04-30  294.476595
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
                 Value
Date
2010-01-31  134.511785
2010-02-28  132.480506
2010-03-31  126.802375
2010-04-30  126.598311
2010-05-31  126.590331
2010-06-30  127.005640
2010-07-31  122.542892
2010-08-31  120.318040
2010-09-30  118.787346
2010-10-31  120.277005
2010-11-30  123.923871
2010-12-31  122.035195
2011-01-31  119.330669
2011-02-28  119.330669
2011-03-31  120.250890
2011-04-30  121.476715
2011-05-31  121.122835
2011-06-30  121.423047
2011-07-31  122.178341
2011-08-31  121.423047
2011-09-30  120.294524
2011-10-31  118.496842
2011-11-30  115.740741
2011-12-31  115.485362
2012-01-31  119.169611
2012-02-29  119.927273
2012-03-31  113.771624
2012-04-30  123.602893
2012-05-31  125.876578
2012-06-30  123.448726
...                ...
2015-11-30  222.905405
2015-12-31  222.905405
2016-01-31  224.170616
2016-02-29  225.490196
2016-03-31  227.176962
2016-04-30  223.081499
2016-05-31  224.843403
2016-06-30  227.667880
2016-07-31  232.466429
2016-08-31  230.442160
2016-09-30  229.058824
2016-10-31  237.623688
2016-11-30  234.803189
2016-12-31  237.616509
2017-01-31  237.962963
2017-02-28  243.472350
2017-03-31  248.070562
2017-04-30  249.487355
2017-05-31  249.683944
2017-06-30  253.405703
2017-07-31  250.208848
2017-08-31  243.265234
2017-09-30  246.524020
2017-10-31  243.287225
2017-11-30  242.837175
2017-12-31  241.361790
2018-01-31  253.546099
2018-02-28  256.756757
2018-03-31  260.416667
2018-04-30  255.442026

[100 rows x 1 columns]
                 Value
Date
2016-03-31  122.102303
2016-04-30  127.707351
2016-05-31  134.291010
2016-06-30  132.669729
2016-07-31  135.274815
2016-08-31  141.470180
2016-09-30  149.893746
2016-10-31  151.271885
2016-11-30  149.730651
2016-12-31  149.730651
2017-01-31  130.133066
2017-02-28  140.292398
2017-03-31  138.211382
2017-04-30  129.586301
2017-05-31  138.508381
2017-06-30  140.957880
2017-07-31  139.198347
2017-08-31  134.248721
2017-09-30  143.779343
2017-10-31  143.779343
2017-11-30  119.000000
2017-12-31  119.224075
2018-01-31  118.600337
2018-02-28  118.834819
2018-03-31  126.718804
2018-04-30  133.034924
                 Value
Date
2015-01-31  102.720202
2015-02-28  104.615472
2015-03-31  100.152071
2015-04-30  106.214303
2015-05-31  108.520900
2015-06-30  106.112054
2015-07-31   99.999231
2015-08-31  100.152071
2015-09-30  100.166288
2015-10-31  106.952469
2015-11-30  104.977458
2015-12-31  105.956322
2016-01-31  107.598907
2016-02-29  115.668682
2016-03-31  118.217666
2016-04-30  128.762854
2016-05-31  126.342838
2016-06-30  127.886964
2016-07-31  128.695346
2016-08-31  129.877695
2016-09-30  128.805503
2016-10-31  126.808682
2016-11-30  120.942322
2016-12-31  120.942322
2017-01-31  130.491551
2017-02-28  134.336560
2017-03-31  137.731481
2017-04-30  133.810051
2017-05-31  131.210692
2017-06-30  135.655362
2017-07-31  127.429359
2017-08-31  130.647128
2017-09-30  132.559682
2017-10-31  130.576475
2017-11-30  131.299735
2017-12-31  128.198554
2018-01-31  126.313791
2018-02-28  126.795830
2018-03-31  128.778484
2018-04-30  127.478134
                 Value
Date
2010-01-31  109.585852
2010-02-28  110.837169
2010-03-31  111.068304
2010-04-30  111.766319
2010-05-31  115.175953
2010-06-30  115.461983
2010-07-31  112.345474
2010-08-31  112.381732
2010-09-30  110.834990
2010-10-31  112.381732
2010-11-30  111.998568
2010-12-31  110.642782
2011-01-31  109.664985
2011-02-28  109.455959
2011-03-31  109.247303
2011-04-30  108.806355
2011-05-31  107.070844
2011-06-30  105.808195
2011-07-31  105.808195
2011-08-31  109.058977
2011-09-30  112.529786
2011-10-31  111.649370
2011-11-30  117.031580
2011-12-31  117.370892
2012-01-31  113.222376
2012-02-29  112.632539
2012-03-31  114.391144
2012-04-30  115.244238
2012-05-31  118.343195
2012-06-30  121.426347
...                ...
2015-11-30  158.977977
2015-12-31  167.027237
2016-01-31  165.789774
2016-02-29  165.064290
2016-03-31  165.789774
2016-04-30  162.554742
2016-05-31  161.279897
2016-06-30  162.605319
2016-07-31  161.981899
2016-08-31  163.108287
2016-09-30  162.211426
2016-10-31  163.226578
2016-11-30  169.225009
2016-12-31  169.225009
2017-01-31  190.197981
2017-02-28  182.519581
2017-03-31  170.288918
2017-04-30  166.560889
2017-05-31  171.238310
2017-06-30  173.286365
2017-07-31  172.720683
2017-08-31  174.572844
2017-09-30  174.572844
2017-10-31  174.609696
2017-11-30  177.162630
2017-12-31  174.930100
2018-01-31  177.563830
2018-02-28  177.162630
2018-03-31  177.277926
2018-04-30  178.939336

[100 rows x 1 columns]
                 Value
Date
2010-01-31  111.083297
2010-02-28  110.686892
2010-03-31  110.472751
2010-04-30  112.492206
2010-05-31  111.597485
2010-06-30  110.315769
2010-07-31  109.547503
2010-08-31  110.696395
2010-09-30  110.952621
2010-10-31  110.069226
2010-11-30  108.073042
2010-12-31  108.672429
2011-01-31  107.225035
2011-02-28  107.569721
2011-03-31  108.322581
2011-04-30  107.598302
2011-05-31  106.837607
2011-06-30  106.628245
2011-07-31  107.454668
2011-08-31  106.499734
2011-09-30  105.741935
2011-10-31  106.707062
2011-11-30  105.741935
2011-12-31  105.175016
2012-01-31  105.426614
2012-02-29  105.192630
2012-03-31  107.087227
2012-04-30  107.241842
2012-05-31  107.241842
2012-06-30  107.725218
...                ...
2015-11-30  151.175184
2015-12-31  152.798373
2016-01-31  152.778031
2016-02-29  141.109447
2016-03-31  144.736842
2016-04-30  145.228216
2016-05-31  148.973835
2016-06-30  166.711442
2016-07-31  169.631363
2016-08-31  169.857534
2016-09-30  167.640654
2016-10-31  169.767442
2016-11-30  169.833717
2016-12-31  169.825175
2017-01-31  173.040290
2017-02-28  176.475412
2017-03-31  181.211130
2017-04-30  181.262840
2017-05-31  179.090937
2017-06-30  181.367680
2017-07-31  180.016915
2017-08-31  182.930157
2017-09-30  180.150488
2017-10-31  182.824175
2017-11-30  181.523022
2017-12-31  182.649530
2018-01-31  181.488203
2018-02-28  181.488203
2018-03-31  182.233856
2018-04-30  188.382905

[100 rows x 1 columns]
                 Value
Date
2010-01-31  100.238663
2010-02-28  103.042845
2010-03-31  102.514408
2010-04-30  101.732352
2010-05-31   97.981145
2010-06-30   98.793445
2010-07-31   98.937478
2010-08-31   98.959820
2010-09-30   99.103376
2010-10-31   96.593525
2010-11-30   94.877437
2010-12-31   94.048962
2011-01-31   94.016137
2011-02-28   95.367847
2011-03-31   95.075546
2011-04-30   96.730245
2011-05-31   97.273039
2011-06-30   97.573363
2011-07-31   96.242424
2011-08-31   92.522862
2011-09-30   94.598338
2011-10-31   96.236873
2011-11-30   92.674316
2011-12-31   94.692779
2012-01-31   96.820394
2012-02-29   95.374449
2012-03-31   96.554359
2012-04-30   96.262730
2012-05-31   94.973545
2012-06-30   95.305623
...                ...
2015-11-30  130.390588
2015-12-31  132.275132
2016-01-31  132.275132
2016-02-29  138.333121
2016-03-31  142.551562
2016-04-30  144.197917
2016-05-31  147.297297
2016-06-30  150.361786
2016-07-31  149.470405
2016-08-31  148.494920
2016-09-30  146.570336
2016-10-31  145.428016
2016-11-30  143.564356
2016-12-31  138.447972
2017-01-31  144.095232
2017-02-28  145.771731
2017-03-31  143.424318
2017-04-30  141.827262
2017-05-31  146.233940
2017-06-30  146.963275
2017-07-31  144.390005
2017-08-31  149.495460
2017-09-30  144.473461
2017-10-31  145.340511
2017-11-30  143.208800
2017-12-31  143.129549
2018-01-31  147.228637
2018-02-28  148.039106
2018-03-31  149.455829
2018-04-30  159.247533

[100 rows x 1 columns]

                 Value
Date
2010-01-31  102.503016
2010-02-28  103.149272
2010-03-31  102.971846
2010-04-30  103.033074
2010-05-31  103.094303
2010-06-30  102.279073
2010-07-31  101.655152
2010-08-31  101.425121
2010-09-30  101.395960
2010-10-31  101.077186
2010-11-30  100.847817
2010-12-31  101.125938
2011-01-31  101.060158
2011-02-28  100.503022
2011-03-31  100.000000
2011-04-30   98.432346
2011-05-31   98.353156
2011-06-30   99.647355
2011-07-31   99.690177
2011-08-31   99.061390
2011-09-30   97.590631
2011-10-31   97.150259
2011-11-30   97.510373
2011-12-31   97.972973
2012-01-31   96.580930
2012-02-29   96.576239
2012-03-31   96.840655
2012-04-30   99.172185
2012-05-31  100.394564
2012-06-30  101.659529
...                ...
2015-11-30  146.091752
2015-12-31  146.400269
2016-01-31  137.788018
2016-02-29  132.870614
2016-03-31  132.632961
2016-04-30  135.135135
2016-05-31  137.889887
2016-06-30  140.469417
2016-07-31  144.621709
2016-08-31  143.283582
2016-09-30  143.261965
2016-10-31  142.985075
2016-11-30  141.963478
2016-12-31  141.715116
2017-01-31  143.100445
2017-02-28  144.907579
2017-03-31  149.684874
2017-04-30  149.757389
2017-05-31  153.914405
2017-06-30  151.994285
2017-07-31  148.190774
2017-08-31  154.317641
2017-09-30  154.838629
2017-10-31  152.473602
2017-11-30  152.616279
2017-12-31  152.361974
2018-01-31  154.318654
2018-02-28  162.816649
2018-03-31  162.474664
2018-04-30  162.748644

[100 rows x 1 columns]
                 Value
Date
2016-10-31  238.684337
2016-11-30  236.581480
2016-12-31  224.116320
2017-01-31  237.610459
2017-02-28  239.130435
2017-03-31  242.309594
2017-04-30  245.414251
2017-05-31  242.274800
2017-06-30  246.710526
2017-07-31  240.683529
2017-08-31  235.803758
2017-09-30  234.365974
2017-10-31  235.537969
2017-11-30  235.537969
2017-12-31  232.933792
2018-01-31  235.537969
2018-02-28  241.300087
2018-03-31  246.223931
2018-04-30  243.898187
                 Value
Date
2010-01-31  194.224372
2010-02-28  194.324569
2010-03-31  195.532646
2010-04-30  194.719101
2010-05-31  199.256940
2010-06-30  198.325253
2010-07-31  194.029851
2010-08-31  194.029851
2010-09-30  192.753623
2010-10-31  192.669069
2010-11-30  187.566988
2010-12-31  182.477152
2011-01-31  179.363754
2011-02-28  182.392996
2011-03-31  184.116694
2011-04-30  184.348806
2011-05-31  184.116694
2011-06-30  188.788356
2011-07-31  190.050697
2011-08-31  190.033784
2011-09-30  191.011513
2011-10-31  190.881765
2011-11-30  189.889555
2011-12-31  181.171548
2012-01-31  186.987664
2012-02-29  187.972292
2012-03-31  188.319278
2012-04-30  193.680755
2012-05-31  201.513241
2012-06-30  204.411134
...                ...
2015-11-30  249.714286
2015-12-31  257.731117
2016-01-31  257.724958
2016-02-29  259.288910
2016-03-31  265.788901
2016-04-30  267.386609
2016-05-31  273.606295
2016-06-30  268.093173
2016-07-31  284.495021
2016-08-31  282.023290
2016-09-30  282.591937
2016-10-31  284.235962
2016-11-30  284.448256
2016-12-31  283.423890
2017-01-31  285.515320
2017-02-28  282.251235
2017-03-31  280.877623
2017-04-30  285.645933
2017-05-31  290.039615
2017-06-30  297.085642
2017-07-31  293.002413
2017-08-31  281.387577
2017-09-30  286.387568
2017-10-31  290.058266
2017-11-30  293.419321
2017-12-31  311.948909
2018-01-31  301.627998
2018-02-28  299.291939
2018-03-31  288.602941
2018-04-30  299.412197

[100 rows x 1 columns]
                 Value
Date
2010-01-31  135.481653
2010-02-28  135.481653
2010-03-31  133.685601
2010-04-30  134.552291
2010-05-31  137.031963
2010-06-30  138.172989
2010-07-31  135.481653
2010-08-31  132.081010
2010-09-30  136.903731
2010-10-31  137.402657
2010-11-30  136.761488
2010-12-31  135.200950
2011-01-31  136.938391
2011-02-28  135.943724
2011-03-31  137.080796
2011-04-30  137.902245
2011-05-31  138.888021
2011-06-30  139.252479
2011-07-31  137.672176
2011-08-31  137.742694
2011-09-30  138.382193
2011-10-31  138.206388
2011-11-30  139.639987
2011-12-31  141.151824
2012-01-31  141.609141
2012-02-29  141.916472
2012-03-31  140.624275
2012-04-30  144.257703
2012-05-31  141.812542
2012-06-30  139.283680
...                ...
2015-11-30  162.048718
2015-12-31  163.390144
2016-01-31  165.666462
2016-02-29  172.036474
2016-03-31  170.473917
2016-04-30  168.597263
2016-05-31  166.143380
2016-06-30  168.823579
2016-07-31  172.328767
2016-08-31  178.352056
2016-09-30  180.051383
2016-10-31  175.853016
2016-11-30  177.489988
2016-12-31  179.001888
2017-01-31  177.947776
2017-02-28  177.262522
2017-03-31  174.614497
2017-04-30  172.148541
2017-05-31  170.126162
2017-06-30  169.404858
2017-07-31  170.285805
2017-08-31  174.023769
2017-09-30  170.182007
2017-10-31  169.045830
2017-11-30  169.045830
2017-12-31  171.728464
2018-01-31  171.595533
2018-02-28  173.275909
2018-03-31  173.708216
2018-04-30  172.141119

[100 rows x 1 columns]
                 Value
Date
2010-01-31  174.270399
2010-02-28  177.419355
2010-03-31  176.424361
2010-04-30  171.492205
2010-05-31  169.798403
2010-06-30  168.520860
2010-07-31  173.261391
2010-08-31  171.857968
2010-09-30  169.404150
2010-10-31  172.952077
2010-11-30  169.354501
2010-12-31  169.040321
2011-01-31  167.624521
2011-02-28  166.478559
2011-03-31  174.657534
2011-04-30  169.544507
2011-05-31  169.551015
2011-06-30  171.351835
2011-07-31  169.557522
2011-08-31  168.478261
2011-09-30  168.216874
2011-10-31  168.677475
2011-11-30  169.557522
2011-12-31  170.222218
2012-01-31  172.167707
2012-02-29  172.703838
2012-03-31  173.923561
2012-04-30  179.523941
2012-05-31  176.118076
2012-06-30  183.759188
...                ...
2015-11-30  291.727751
2015-12-31  286.656489
2016-01-31  286.656489
2016-02-29  276.548673
2016-03-31  266.253307
2016-04-30  258.806351
2016-05-31  263.265724
2016-06-30  258.036089
2016-07-31  265.936765
2016-08-31  274.645730
2016-09-30  270.793876
2016-10-31  275.135870
2016-11-30  268.997983
2016-12-31  273.533913
2017-01-31  302.432610
2017-02-28  266.387195
2017-03-31  285.722364
2017-04-30  294.829681
2017-05-31  278.312616
2017-06-30  260.486322
2017-07-31  268.708927
2017-08-31  271.798217
2017-09-30  271.798217
2017-10-31  277.665488
2017-11-30  299.686301
2017-12-31  296.422487
2018-01-31  296.422487
2018-02-28  301.246537
2018-03-31  273.082955
2018-04-30  287.401575

[100 rows x 1 columns]
                 Value
Date
2010-01-31  146.883348
2010-02-28  145.802099
2010-03-31  146.924540
2010-04-30  146.991826
2010-05-31  148.269962
2010-06-30  148.053279
2010-07-31  147.058824
2010-08-31  146.485693
2010-09-30  143.797248
2010-10-31  145.079365
2010-11-30  144.878172
2010-12-31  143.991339
2011-01-31  144.676979
2011-02-28  141.956569
2011-03-31  146.995214
2011-04-30  148.160704
2011-05-31  150.616559
2011-06-30  147.277230
2011-07-31  143.584280
2011-08-31  141.149773
2011-09-30  140.322753
2011-10-31  138.242142
2011-11-30  138.518113
2011-12-31  136.787281
2012-01-31  134.433116
2012-02-29  131.088168
2012-03-31  138.030490
2012-04-30  141.036512
2012-05-31  141.952487
2012-06-30  143.043478
...                ...
2015-11-30  181.663288
2015-12-31  181.728513
2016-01-31  183.589664
2016-02-29  184.647028
2016-03-31  188.146441
2016-04-30  190.437613
2016-05-31  191.687517
2016-06-30  191.875840
2016-07-31  197.169059
2016-08-31  193.965517
2016-09-30  200.123229
2016-10-31  201.859310
2016-11-30  198.495612
2016-12-31  199.196899
2017-01-31  199.915825
2017-02-28  204.151175
2017-03-31  203.969509
2017-04-30  201.612903
2017-05-31  204.383375
2017-06-30  203.806749
2017-07-31  199.915825
2017-08-31  200.042123
2017-09-30  201.564077
2017-10-31  201.143984
2017-11-30  201.363073
2017-12-31  199.957912
2018-01-31  199.037303
2018-02-28  201.584110
2018-03-31  202.596198
2018-04-30  200.803213

[100 rows x 1 columns]
                 Value
Date
2014-08-31  249.874613
2014-09-30  232.038629
2014-10-31  239.966241
2014-11-30  233.298880
2014-12-31  232.814302
2015-01-31  240.104773
2015-02-28  244.639912
2015-03-31  242.272928
2015-04-30  250.902716
2015-05-31  248.619999
2015-06-30  250.432824
2015-07-31  271.081849
2015-08-31  260.347130
2015-09-30  273.824531
2015-10-31  279.147542
2015-11-30  287.763446
2015-12-31  277.354946
2016-01-31  267.881036
2016-02-29  270.637667
2016-03-31  267.186597
2016-04-30  277.708883
2016-05-31  274.397972
2016-06-30  265.726576
2016-07-31  261.134677
2016-08-31  260.347130
2016-09-30  257.818182
2016-10-31  254.480382
2016-11-30  252.831226
2016-12-31  255.563210
2017-01-31  259.082656
2017-02-28  262.811007
2017-03-31  261.950673
2017-04-30  255.811297
2017-05-31  260.347130
2017-06-30  255.873023
2017-07-31  254.708921
2017-08-31  254.074784
2017-09-30  270.358306
2017-10-31  263.971156
2017-11-30  265.008194
2017-12-31  264.009243
2018-01-31  263.563942
2018-02-28  288.250419
2018-03-31  265.583313
2018-04-30  264.735265

                 Value
Date
2010-01-31  116.878495
2010-02-28  114.916986
2010-03-31  115.399033
2010-04-30  116.570857
2010-05-31  119.552642
2010-06-30  118.539326
2010-07-31  117.639222
2010-08-31  116.822430
2010-09-30  114.567858
2010-10-31  112.701386
2010-11-30  113.123094
2010-12-31  113.123094
2011-01-31  111.925287
2011-02-28  108.275039
2011-03-31  101.306239
2011-04-30  108.060685
2011-05-31  106.178001
2011-06-30  108.370703
2011-07-31  109.765289
2011-08-31  110.808896
2011-09-30  104.719764
2011-10-31  104.048071
2011-11-30  100.102529
2011-12-31  102.382443
2012-01-31   97.958628
2012-02-29  105.128359
2012-03-31  114.352183
2012-04-30  116.906662
2012-05-31  118.906064
2012-06-30  117.935103
...                ...
2015-11-30  166.481069
2015-12-31  178.147268
2016-01-31  171.776386
2016-02-29  167.039106
2016-03-31  159.589041
2016-04-30  159.589041
2016-05-31  173.896400
2016-06-30  187.040748
2016-07-31  187.040748
2016-08-31  169.082126
2016-09-30  173.160173
2016-10-31  176.094891
2016-11-30  179.148925
2016-12-31  176.926426
2017-01-31  176.020080
2017-02-28  177.790696
2017-03-31  181.504276
2017-04-30  176.301763
2017-05-31  170.150940
2017-06-30  176.589267
2017-07-31  182.724252
2017-08-31  188.577203
2017-09-30  185.406048
2017-10-31  189.197807
2017-11-30  196.331544
2017-12-31  196.959226
2018-01-31  197.020101
2018-02-28  203.981723
2018-03-31  204.569994
2018-04-30  203.467800

[100 rows x 1 columns]
                 Value
Date
2010-01-31  110.454367
2010-02-28  111.479255
2010-03-31  112.890717
2010-04-30  114.947761
2010-05-31  116.516167
2010-06-30  116.516167
2010-07-31  116.969831
2010-08-31  115.256080
2010-09-30  110.914006
2010-10-31  109.268091
2010-11-30  107.627777
2010-12-31  107.282354
2011-01-31  106.839855
2011-02-28  107.516003
2011-03-31  108.225594
2011-04-30  108.632677
2011-05-31  109.482473
2011-06-30  109.482473
2011-07-31  108.984375
2011-08-31  108.389951
2011-09-30  109.750950
2011-10-31  111.994706
2011-11-30  111.826932
2011-12-31  111.704345
2012-01-31  111.328811
2012-02-29  108.999654
2012-03-31  111.470510
2012-04-30  111.328811
2012-05-31  111.077596
2012-06-30  112.408996
...                ...
2015-11-30  146.546784
2015-12-31  144.658990
2016-01-31  147.424058
2016-02-29  152.556480
2016-03-31  154.243468
2016-04-30  153.895790
2016-05-31  155.485278
2016-06-30  155.442717
2016-07-31  155.291156
2016-08-31  156.187236
2016-09-30  164.488636
2016-10-31  162.950257
2016-11-30  160.747990
2016-12-31  160.098831
2017-01-31  159.281883
2017-02-28  160.967786
2017-03-31  159.295659
2017-04-30  159.466924
2017-05-31  161.061163
2017-06-30  162.818066
2017-07-31  161.316564
2017-08-31  160.353921
2017-09-30  164.291593
2017-10-31  162.790698
2017-11-30  163.732362
2017-12-31  164.200512
2018-01-31  164.260758
2018-02-28  163.816044
2018-03-31  165.831067
2018-04-30  164.558045

[100 rows x 1 columns]
                 Value
Date
2010-01-31  139.573279
2010-02-28  140.680543
2010-03-31  146.892655
2010-04-30  144.699771
2010-05-31  147.238650
2010-06-30  146.699267
2010-07-31  147.358700
2010-08-31  145.467170
2010-09-30  142.416550
2010-10-31  143.428844
2010-11-30  145.489762
2010-12-31  141.862000
2011-01-31  139.545554
2011-02-28  138.260432
2011-03-31  140.486349
2011-04-30  139.627040
2011-05-31  141.321408
2011-06-30  141.946698
2011-07-31  141.635572
2011-08-31  138.861124
2011-09-30  138.878236
2011-10-31  139.789658
2011-11-30  130.840499
2011-12-31  131.547185
2012-01-31  131.879051
2012-02-29  131.146927
2012-03-31  132.047113
2012-04-30  137.440141
2012-05-31  138.939198
2012-06-30  139.413773
...                ...
2015-11-30  159.790456
2015-12-31  158.896854
2016-01-31  160.190524
2016-02-29  166.494912
2016-03-31  166.957711
2016-04-30  167.779802
2016-05-31  176.958731
2016-06-30  171.568627
2016-07-31  174.539142
2016-08-31  174.989902
2016-09-30  172.800189
2016-10-31  172.079692
2016-11-30  171.796566
2016-12-31  173.725787
2017-01-31  171.623961
2017-02-28  171.466272
2017-03-31  176.365367
2017-04-30  177.088073
2017-05-31  176.808415
2017-06-30  178.160265
2017-07-31  177.125432
2017-08-31  173.634765
2017-09-30  176.613176
2017-10-31  176.414541
2017-11-30  173.685396
2017-12-31  174.589424
2018-01-31  174.765879
2018-02-28  176.869807
2018-03-31  177.910325
2018-04-30  178.597810

[100 rows x 1 columns]
                 Value
Date
2010-01-31  119.721653
2010-02-28  119.722747
2010-03-31  118.616807
2010-04-30  118.616807
2010-05-31  120.027462
2010-06-30  119.445192
2010-07-31  119.430925
2010-08-31  119.020414
2010-09-30  118.761251
2010-10-31  119.064662
2010-11-30  117.895919
2010-12-31  118.175727
2011-01-31  119.682552
2011-02-28  120.866591
2011-03-31  122.896481
2011-04-30  120.630048
2011-05-31  120.290272
2011-06-30  122.319461
2011-07-31  122.255068
2011-08-31  121.674662
2011-09-30  119.634888
2011-10-31  122.045640
2011-11-30  122.795341
2011-12-31  120.262641
2012-01-31  120.774289
2012-02-29  120.945553
2012-03-31  121.644543
2012-04-30  122.247887
2012-05-31  121.479912
2012-06-30  121.951220
...                ...
2015-11-30  160.925553
2015-12-31  160.161573
2016-01-31  160.788295
2016-02-29  164.560234
2016-03-31  166.098305
2016-04-30  158.603012
2016-05-31  164.412974
2016-06-30  163.578966
2016-07-31  160.777541
2016-08-31  159.726196
2016-09-30  158.453383
2016-10-31  158.150909
2016-11-30  158.703642
2016-12-31  159.400949
2017-01-31  160.723933
2017-02-28  162.956927
2017-03-31  172.792550
2017-04-30  175.641101
2017-05-31  177.924621
2017-06-30  174.256886
2017-07-31  170.149476
2017-08-31  169.257340
2017-09-30  172.472936
2017-10-31  176.395381
2017-11-30  177.588997
2017-12-31  180.589694
2018-01-31  182.377839
2018-02-28  182.113976
2018-03-31  182.716940
2018-04-30  182.890855

[100 rows x 1 columns]
                 Value
Date
2014-07-31  166.485774
2014-08-31  168.556599
2014-09-30  168.143913
2014-10-31  166.666667
2014-11-30  163.839817
2014-12-31  163.839817
2015-01-31  172.419793
2015-02-28  170.704805
2015-03-31  173.944292
2015-04-30  172.761591
2015-05-31  171.962617
2015-06-30  177.525845
2015-07-31  175.718494
2015-08-31  171.137339
2015-09-30  175.459793
2015-10-31  172.511122
2015-11-30  173.368107
2015-12-31  173.861960
2016-01-31  171.788810
2016-02-29  175.991108
2016-03-31  182.291667
2016-04-30  202.814570
2016-05-31  198.331883
2016-06-30  212.375000
2016-07-31  212.375000
2016-08-31  213.910658
2016-09-30  213.910658
2016-10-31  211.483586
2016-11-30  213.692446
2016-12-31  210.651828
2017-01-31  211.409396
2017-02-28  212.794613
2017-03-31  204.869359
2017-04-30  210.493047
2017-05-31  213.113695
2017-06-30  206.327282
2017-07-31  208.724832
2017-08-31  219.690657
2017-09-30  205.479452
2017-10-31  213.504274
2017-11-30  216.946659
2017-12-31  207.998636
2018-01-31  211.469246
2018-02-28  194.825269
2018-03-31  198.496621
2018-04-30  209.536995
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
                 Value
Date
2013-09-30   97.983999
2013-10-31  101.295703
2013-11-30   94.216881
2013-12-31   99.352109
2014-01-31   95.075979
2014-02-28   97.329108
2014-03-31  100.942946
2014-04-30  105.664894
2014-05-31  105.744681
2014-06-30  108.010498
2014-07-31  104.166667
2014-08-31  115.828712
2014-09-30  122.921258
2014-10-31  120.379805
2014-11-30  117.403223
2014-12-31  119.648558
2015-01-31  124.910842
2015-02-28  125.880992
2015-03-31  121.951220
2015-04-30  122.719324
2015-05-31  123.966942
2015-06-30  122.368559
2015-07-31  120.582225
2015-08-31  122.340426
2015-09-30  122.395331
2015-10-31  123.933365
2015-11-30  123.276945
2015-12-31  118.865337
2016-01-31  122.936177
2016-02-29  123.525608
2016-03-31  125.455630
2016-04-30  130.595499
2016-05-31  135.074813
2016-06-30  137.507903
2016-07-31  143.145122
2016-08-31  141.078625
2016-09-30  140.669125
2016-10-31  139.141814
2016-11-30  137.106661
2016-12-31  138.069705
2017-01-31  140.824148
2017-02-28  142.208211
2017-03-31  140.824148
2017-04-30  139.592000
2017-05-31  137.556270
2017-06-30  138.986791
2017-07-31  142.869444
2017-08-31  140.239906
2017-09-30  136.591250
2017-10-31  139.151910
2017-11-30  137.758297
2017-12-31  139.475283
2018-01-31  136.473013
2018-02-28  140.239906
2018-03-31  142.659059
2018-04-30  141.682135

                 Value
Date
2010-01-31  126.177708
2010-02-28  130.301538
2010-03-31  130.460988
2010-04-30  129.393939
2010-05-31  128.309386
2010-06-30  125.838087
2010-07-31  125.272327
2010-08-31  124.898799
2010-09-30  127.339331
2010-10-31  126.904762
2010-11-30  127.243590
2010-12-31  126.904762
2011-01-31  126.603900
2011-02-28  124.720000
2011-03-31  123.219178
2011-04-30  120.984665
2011-05-31  118.934348
2011-06-30  120.123132
2011-07-31  119.937370
2011-08-31  118.646081
2011-09-30  117.481203
2011-10-31  118.529027
2011-11-30  117.320261
2011-12-31  116.387960
2012-01-31  118.652482
2012-02-29  119.257283
2012-03-31  118.123209
2012-04-30  119.173729
2012-05-31  119.637804
2012-06-30  123.526845
...                ...
2015-11-30  179.891293
2015-12-31  178.186358
2016-01-31  180.221820
2016-02-29  183.287469
2016-03-31  184.621791
2016-04-30  192.185983
2016-05-31  189.843015
2016-06-30  189.060416
2016-07-31  177.376171
2016-08-31  190.073624
2016-09-30  186.440764
2016-10-31  193.221289
2016-11-30  188.498403
2016-12-31  186.731216
2017-01-31  190.163934
2017-02-28  195.426683
2017-03-31  198.663854
2017-04-30  204.931973
2017-05-31  202.600809
2017-06-30  211.167400
2017-07-31  205.637794
2017-08-31  205.310057
2017-09-30  205.327350
2017-10-31  206.825972
2017-11-30  208.119362
2017-12-31  208.345771
2018-01-31  209.976663
2018-02-28  214.328358
2018-03-31  215.594489
2018-04-30  220.369267

[100 rows x 1 columns]
                 Value
Date
2010-01-31  221.816279
2010-02-28  219.546742
2010-03-31  225.348837
2010-04-30  224.531516
2010-05-31  227.376962
2010-06-30  227.385290
2010-07-31  229.157070
2010-08-31  233.932352
2010-09-30  230.015502
2010-10-31  225.517891
2010-11-30  228.199719
2010-12-31  228.209987
2011-01-31  230.659897
2011-02-28  231.119731
2011-03-31  236.313509
2011-04-30  239.364084
2011-05-31  242.463394
2011-06-30  239.294710
2011-07-31  239.864865
2011-08-31  243.782004
2011-09-30  247.903225
2011-10-31  251.597444
2011-11-30  251.597444
2011-12-31  251.510360
2012-01-31  253.928708
2012-02-29  247.957993
2012-03-31  245.530452
2012-04-30  243.962141
2012-05-31  247.953216
2012-06-30  249.173388
...                ...
2015-11-30  321.265819
2015-12-31  328.697170
2016-01-31  347.689769
2016-02-29  349.274792
2016-03-31  346.843336
2016-04-30  346.470333
2016-05-31  346.313683
2016-06-30  357.851737
2016-07-31  364.612284
2016-08-31  362.143491
2016-09-30  356.243760
2016-10-31  352.373887
2016-11-30  351.207414
2016-12-31  355.634649
2017-01-31  363.293004
2017-02-28  356.565767
2017-03-31  351.997936
2017-04-30  358.882326
2017-05-31  365.143369
2017-06-30  361.143256
2017-07-31  356.555396
2017-08-31  353.709224
2017-09-30  360.178496
2017-10-31  360.178496
2017-11-30  362.482370
2017-12-31  368.271955
2018-01-31  369.028449
2018-02-28  369.206896
2018-03-31  370.842572
2018-04-30  373.328000

[100 rows x 1 columns]
                 Value
Date
2010-01-31  102.100319
2010-02-28  102.562199
2010-03-31  101.462954
2010-04-30  102.223374
2010-05-31  101.761494
2010-06-30  100.341588
2010-07-31   99.455334
2010-08-31  100.214900
2010-09-30   95.082848
2010-10-31   94.744136
2010-11-30   99.960000
2010-12-31   98.689883
2011-01-31   98.329558
2011-02-28  100.628931
2011-03-31   99.874310
2011-04-30  100.286533
2011-05-31  105.687932
2011-06-30  104.154930
2011-07-31  104.513747
2011-08-31   93.878327
2011-09-30   96.118863
2011-10-31   89.374864
2011-11-30   84.329466
2011-12-31   83.579418
2012-01-31   85.346915
2012-02-29   86.064368
2012-03-31   93.019622
2012-04-30   87.939624
2012-05-31   85.392629
2012-06-30   87.232182
...                ...
2015-11-30  122.121424
2015-12-31  121.867168
2016-01-31  126.055030
2016-02-29  120.455213
2016-03-31  126.055030
2016-04-30  123.835782
2016-05-31  125.904704
2016-06-30  132.816652
2016-07-31  132.710778
2016-08-31  128.143120
2016-09-30  130.214001
2016-10-31  131.843666
2016-11-30  131.720030
2016-12-31  133.282559
2017-01-31  130.816135
2017-02-28  132.455931
2017-03-31  136.421875
2017-04-30  135.407933
2017-05-31  128.579418
2017-06-30  124.941941
2017-07-31  127.176465
2017-08-31  128.905178
2017-09-30  131.787995
2017-10-31  126.345451
2017-11-30  125.649176
2017-12-31  129.000653
2018-01-31  128.158472
2018-02-28  133.365664
2018-03-31  134.812929
2018-04-30  137.940808

[100 rows x 1 columns]
                 Value
Date
2010-01-31  106.843209
2010-02-28  107.164119
2010-03-31  107.489107
2010-04-30  107.374736
2010-05-31  107.376496
2010-06-30  107.956298
2010-07-31  107.866324
2010-08-31  106.855346
2010-09-30  107.810785
2010-10-31  106.887965
2010-11-30  106.034173
2010-12-31  105.942468
2011-01-31  107.719054
2011-02-28  107.867702
2011-03-31  107.866324
2011-04-30  107.719054
2011-05-31  107.712484
2011-06-30  107.740922
2011-07-31  107.305936
2011-08-31  104.920405
2011-09-30  102.974828
2011-10-31  104.042806
2011-11-30  102.152017
2011-12-31  100.446429
2012-01-31  103.205260
2012-02-29  104.509476
2012-03-31  103.830645
2012-04-30  104.404422
2012-05-31  104.389722
2012-06-30  105.663438
...                ...
2015-11-30  145.799300
2015-12-31  146.742814
2016-01-31  147.386732
2016-02-29  152.017221
2016-03-31  151.457849
2016-04-30  151.113468
2016-05-31  152.326365
2016-06-30  152.651113
2016-07-31  153.110273
2016-08-31  154.317414
2016-09-30  157.024303
2016-10-31  154.261127
2016-11-30  154.088050
2016-12-31  157.386635
2017-01-31  160.031523
2017-02-28  161.369930
2017-03-31  164.293538
2017-04-30  162.841890
2017-05-31  164.524422
2017-06-30  166.401058
2017-07-31  164.516129
2017-08-31  165.862218
2017-09-30  166.512482
2017-10-31  165.000000
2017-11-30  162.276576
2017-12-31  165.152162
2018-01-31  166.666667
2018-02-28  168.592892
2018-03-31  167.150538
2018-04-30  167.072903

[100 rows x 1 columns]
                 Value
Date
2010-01-31  116.399827
2010-02-28  119.515966
2010-03-31  120.310479
2010-04-30  119.209013
2010-05-31  118.541033
2010-06-30  117.657924
2010-07-31  117.865566
2010-08-31  119.221296
2010-09-30  118.481124
2010-10-31  116.438958
2010-11-30  116.328038
2010-12-31  115.748588
2011-01-31  115.334467
2011-02-28  115.335052
2011-03-31  115.766543
2011-04-30  116.818422
2011-05-31  117.212945
2011-06-30  116.599558
2011-07-31  116.119923
2011-08-31  116.149059
2011-09-30  115.752391
2011-10-31  114.818024
2011-11-30  112.709832
2011-12-31  113.442319
2012-01-31  113.634175
2012-02-29  115.034564
2012-03-31  117.192585
2012-04-30  119.428819
2012-05-31  119.290466
2012-06-30  119.259988
...                ...
2015-11-30  161.711007
2015-12-31  163.256421
2016-01-31  164.089023
2016-02-29  169.010304
2016-03-31  170.085066
2016-04-30  168.441208
2016-05-31  168.655942
2016-06-30  171.493441
2016-07-31  169.147497
2016-08-31  168.466091
2016-09-30  168.826361
2016-10-31  171.877331
2016-11-30  174.750357
2016-12-31  171.741155
2017-01-31  175.471698
2017-02-28  173.529412
2017-03-31  175.517049
2017-04-30  180.890095
2017-05-31  181.505541
2017-06-30  186.086849
2017-07-31  177.113902
2017-08-31  174.134530
2017-09-30  172.858747
2017-10-31  173.041973
2017-11-30  173.726397
2017-12-31  174.757282
2018-01-31  184.390746
2018-02-28  187.916270
2018-03-31  186.924007
2018-04-30  189.025900

[100 rows x 1 columns]
                 Value
Date
2010-01-31  126.234214
2010-02-28  124.156023
2010-03-31  126.095424
2010-04-30  131.946600
2010-05-31  132.165698
2010-06-30  132.258065
2010-07-31  132.258065
2010-08-31  132.257419
2010-09-30  131.266268
2010-10-31  131.116397
2010-11-30  129.631726
2010-12-31  131.297673
2011-01-31  139.224412
2011-02-28  137.540453
2011-03-31  136.474633
2011-04-30  132.634683
2011-05-31  131.589339
2011-06-30  129.041067
2011-07-31  128.967742
2011-08-31  128.967742
2011-09-30  130.317116
2011-10-31  129.746835
2011-11-30  124.341727
2011-12-31  122.229300
2012-01-31  122.230456
2012-02-29  123.238449
2012-03-31  126.126325
2012-04-30  128.996468
2012-05-31  132.889546
2012-06-30  133.748860
...                ...
2015-11-30  171.580266
2015-12-31  168.988851
2016-01-31  171.087115
2016-02-29  179.102446
2016-03-31  179.962744
2016-04-30  187.448006
2016-05-31  184.793669
2016-06-30  187.348123
2016-07-31  186.197472
2016-08-31  189.645626
2016-09-30  184.357714
2016-10-31  181.003281
2016-11-30  180.670435
2016-12-31  180.127724
2017-01-31  178.782506
2017-02-28  184.974388
2017-03-31  186.731532
2017-04-30  186.953063
2017-05-31  194.351730
2017-06-30  194.582125
2017-07-31  192.527096
2017-08-31  187.333012
2017-09-30  186.394805
2017-10-31  189.583267
2017-11-30  190.784328
2017-12-31  185.823077
2018-01-31  182.481752
2018-02-28  186.348261
2018-03-31  185.822368
2018-04-30  190.149573

[100 rows x 1 columns]

                 Value
Date
2010-01-31  231.108871
2010-02-28  233.026961
2010-03-31  239.247813
2010-04-30  244.745570
2010-05-31  244.155844
2010-06-30  235.498976
2010-07-31  230.736474
2010-08-31  234.141093
2010-09-30  217.641467
2010-10-31  209.537572
2010-11-30  205.942241
2010-12-31  209.341500
2011-01-31  210.523841
2011-02-28  209.537572
2011-03-31  213.155370
2011-04-30  213.997821
2011-05-31  222.136752
2011-06-30  227.941176
2011-07-31  225.997340
2011-08-31  222.830087
2011-09-30  217.334608
2011-10-31  217.967938
2011-11-30  217.821782
2011-12-31  214.997170
2012-01-31  219.230769
2012-02-29  233.349105
2012-03-31  229.830190
2012-04-30  238.778514
2012-05-31  238.294314
2012-06-30  223.873047
...                ...
2015-11-30  313.954545
2015-12-31  303.030303
2016-01-31  308.641975
2016-02-29  314.849624
2016-03-31  316.820785
2016-04-30  318.000000
2016-05-31  313.973252
2016-06-30  324.841862
2016-07-31  316.833333
2016-08-31  331.610044
2016-09-30  325.348284
2016-10-31  312.405405
2016-11-30  310.810811
2016-12-31  326.028202
2017-01-31  324.900000
2017-02-28  316.493787
2017-03-31  329.117665
2017-04-30  323.660977
2017-05-31  327.800546
2017-06-30  327.800546
2017-07-31  332.352387
2017-08-31  327.474492
2017-09-30  337.962963
2017-10-31  341.423056
2017-11-30  337.962963
2017-12-31  336.394695
2018-01-31  331.610044
2018-02-28  337.984496
2018-03-31  339.091952
2018-04-30  353.509664

[100 rows x 1 columns]
                 Value
Date
2016-04-30  216.727717
2016-05-31  205.128205
2016-06-30  213.333333
2016-07-31  233.489097
2016-08-31  247.412491
2016-09-30  233.239137
2016-10-31  233.420139
2016-11-30  232.700093
2016-12-31  226.562500
2017-01-31  238.180730
2017-02-28  214.213710
2017-03-31  206.856823
2017-04-30  217.804240
2017-05-31  230.000000
2017-06-30  244.911426
2017-07-31  256.376225
2017-08-31  254.609440
2017-09-30  256.654888
2017-10-31  256.654888
2017-11-30  258.620690
2017-12-31  259.706028
2018-01-31  258.620690
2018-02-28  258.723128
2018-03-31  279.593319
2018-04-30  282.414307
                 Value
Date
2010-01-31   91.259843
2010-02-28   90.039670
2010-03-31   92.892768
2010-04-30   92.892768
2010-05-31   91.972553
2010-06-30   92.036836
2010-07-31   92.948090
2010-08-31   93.117409
2010-09-30   93.015771
2010-10-31   91.599643
2010-11-30   90.273376
2010-12-31   92.033810
2011-01-31   89.142091
2011-02-28   88.164011
2011-03-31   87.298387
2011-04-30   86.805556
2011-05-31   86.639470
2011-06-30   86.327554
2011-07-31   82.288321
2011-08-31   80.850375
2011-09-30   80.922242
2011-10-31   80.552990
2011-11-30   79.713596
2011-12-31   80.074189
2012-01-31   82.721878
2012-02-29   79.840226
2012-03-31   81.019919
2012-04-30   85.700667
2012-05-31   84.830244
2012-06-30   84.574899
...                ...
2015-11-30  127.223919
2015-12-31  125.375996
2016-01-31  121.593674
2016-02-29  123.609795
2016-03-31  135.308001
2016-04-30  130.737218
2016-05-31  133.839695
2016-06-30  132.071364
2016-07-31  134.934528
2016-08-31  137.946617
2016-09-30  140.060936
2016-10-31  145.705521
2016-11-30  140.187490
2016-12-31  136.010218
2017-01-31  144.160584
2017-02-28  138.753965
2017-03-31  138.204470
2017-04-30  141.303012
2017-05-31  143.297297
2017-06-30  147.876674
2017-07-31  143.297297
2017-08-31  152.051488
2017-09-30  153.479929
2017-10-31  153.479929
2017-11-30  149.619151
2017-12-31  153.393768
2018-01-31  149.425778
2018-02-28  149.329930
2018-03-31  153.963091
2018-04-30  158.707865

[100 rows x 1 columns]
                 Value
Date
2010-01-31   86.631258
2010-02-28   84.768984
2010-03-31   84.022989
2010-04-30   82.960644
2010-05-31   84.395986
2010-06-30   82.960644
2010-07-31   84.205690
2010-08-31   83.797288
2010-09-30   82.788771
2010-10-31   80.286757
2010-11-30   80.346318
2010-12-31   79.595449
2011-01-31   82.472036
2011-02-28   80.743731
2011-03-31   79.329631
2011-04-30   81.067472
2011-05-31   81.463009
2011-06-30   82.581510
2011-07-31   80.731970
2011-08-31   80.652081
2011-09-30   80.397968
2011-10-31   79.289259
2011-11-30   78.704488
2011-12-31   74.013158
2012-01-31   78.191489
2012-02-29   76.196527
2012-03-31   78.693467
2012-04-30   78.609626
2012-05-31   79.494605
2012-06-30   81.668419
...                ...
2015-11-30  112.576638
2015-12-31  112.572684
2016-01-31  115.001150
2016-02-29  114.162262
2016-03-31  116.246931
2016-04-30  119.320650
2016-05-31  122.904973
2016-06-30  119.455253
2016-07-31  116.448492
2016-08-31  118.161394
2016-09-30  118.576044
2016-10-31  121.299447
2016-11-30  118.224211
2016-12-31  118.679051
2017-01-31  122.613333
2017-02-28  122.112399
2017-03-31  127.003012
2017-04-30  126.283274
2017-05-31  125.953235
2017-06-30  123.651434
2017-07-31  121.808746
2017-08-31  123.651434
2017-09-30  121.463518
2017-10-31  122.335543
2017-11-30  122.772277
2017-12-31  121.403509
2018-01-31  123.498965
2018-02-28  122.401525
2018-03-31  126.831538
2018-04-30  129.780579

[100 rows x 1 columns]
                 Value
Date
2016-02-29  323.439878
2016-03-31  300.043185
2016-04-30  304.470257
2016-05-31  297.559524
2016-06-30  306.371820
2016-07-31  325.237381
2016-08-31  318.112868
2016-09-30  323.600973
2016-10-31  322.312651
2016-11-30  318.081626
2016-12-31  316.354526
2017-01-31  312.611807
2017-02-28  324.324324
2017-03-31  326.715686
2017-04-30  330.423940
2017-05-31  337.179917
2017-06-30  343.177054
2017-07-31  327.461608
2017-08-31  329.105970
2017-09-30  315.718157
2017-10-31  292.301184
2017-11-30  293.510920
2017-12-31  315.718157
                 Value
Date
2010-01-31  169.781524
2010-02-28  170.927454
2010-03-31  169.645727
2010-04-30  169.095477
2010-05-31  169.100954
2010-06-30  170.126984
2010-07-31  170.833333
2010-08-31  172.082228
2010-09-30  175.446429
2010-10-31  173.909871
2010-11-30  172.739248
2010-12-31  170.708796
2011-01-31  166.666667
2011-02-28  168.930390
2011-03-31  176.168757
2011-04-30  174.209051
2011-05-31  175.534342
2011-06-30  180.367972
2011-07-31  182.791206
2011-08-31  179.117850
2011-09-30  176.395125
2011-10-31  174.097530
2011-11-30  177.012609
2011-12-31  177.012609
2012-01-31  180.992313
2012-02-29  180.759882
2012-03-31  179.000010
2012-04-30  178.003227
2012-05-31  176.455774
2012-06-30  182.754630
...                ...
2015-11-30  249.185240
2015-12-31  256.251795
2016-01-31  265.089309
2016-02-29  266.614933
2016-03-31  256.555270
2016-04-30  267.278618
2016-05-31  273.306938
2016-06-30  281.870969
2016-07-31  280.882018
2016-08-31  288.510043
2016-09-30  293.034483
2016-10-31  288.391872
2016-11-30  288.571572
2016-12-31  287.839020
2017-01-31  280.065732
2017-02-28  282.706331
2017-03-31  289.704604
2017-04-30  298.780059
2017-05-31  300.922290
2017-06-30  291.858212
2017-07-31  295.081967
2017-08-31  295.378600
2017-09-30  293.914838
2017-10-31  288.539505
2017-11-30  290.379523
2017-12-31  288.662907
2018-01-31  288.618557
2018-02-28  292.761625
2018-03-31  302.776338
2018-04-30  294.336630

[100 rows x 1 columns]
                 Value
Date
2010-01-31   98.211091
2010-02-28  100.364738
2010-03-31  101.511170
2010-04-30  100.697674
2010-05-31   99.486521
2010-06-30   98.608151
2010-07-31   97.515473
2010-08-31   97.610859
2010-09-30   99.693252
2010-10-31   99.152453
2010-11-30   99.499374
2010-12-31   99.374218
2011-01-31   99.309154
2011-02-28  100.184148
2011-03-31   99.229955
2011-04-30   98.735135
2011-05-31   98.709344
2011-06-30   98.318901
2011-07-31   98.954464
2011-08-31   98.240186
2011-09-30   91.926070
2011-10-31   91.426658
2011-11-30   90.592334
2011-12-31   90.536463
2012-01-31   91.426658
2012-02-29   88.953601
2012-03-31   87.123572
2012-04-30   86.142225
2012-05-31   87.990520
2012-06-30   91.196498
...                ...
2015-11-30  139.542254
2015-12-31  139.442231
2016-01-31  140.690282
2016-02-29  136.216205
2016-03-31  140.704422
2016-04-30  140.718563
2016-05-31  141.368107
2016-06-30  149.297424
2016-07-31  148.030663
2016-08-31  152.281218
2016-09-30  155.002551
2016-10-31  156.302382
2016-11-30  156.302382
2016-12-31  151.551481
2017-01-31  152.046927
2017-02-28  157.015707
2017-03-31  163.814292
2017-04-30  162.084530
2017-05-31  165.721232
2017-06-30  167.946257
2017-07-31  175.040059
2017-08-31  175.040059
2017-09-30  179.527804
2017-10-31  178.034414
2017-11-30  179.834906
2017-12-31  169.551282
2018-01-31  179.775773
2018-02-28  179.263566
2018-03-31  177.050650
2018-04-30  187.243577

[100 rows x 1 columns]

                 Value
Date
2010-01-31  151.306185
2010-02-28  148.730611
2010-03-31  150.876747
2010-04-30  150.320173
2010-05-31  152.276375
2010-06-30  149.931235
2010-07-31  148.331870
2010-08-31  150.844900
2010-09-30  138.429664
2010-10-31  135.927104
2010-11-30  134.122973
2010-12-31  131.911818
2011-01-31  142.196943
2011-02-28  142.392587
2011-03-31  144.196464
2011-04-30  143.689678
2011-05-31  145.919382
2011-06-30  145.949419
2011-07-31  145.818864
2011-08-31  145.099905
2011-09-30  145.258286
2011-10-31  145.887728
2011-11-30  146.788793
2011-12-31  146.666667
2012-01-31  143.885313
2012-02-29  143.266476
2012-03-31  148.001480
2012-04-30  151.319470
2012-05-31  153.277118
2012-06-30  153.002309
...                ...
2015-11-30  205.696597
2015-12-31  207.827217
2016-01-31  203.488372
2016-02-29  205.217125
2016-03-31  207.720382
2016-04-30  208.333333
2016-05-31  210.560810
2016-06-30  220.036878
2016-07-31  221.714921
2016-08-31  221.164603
2016-09-30  211.320755
2016-10-31  213.825163
2016-11-30  213.365155
2016-12-31  214.209147
2017-01-31  211.440158
2017-02-28  219.317489
2017-03-31  221.305326
2017-04-30  220.808913
2017-05-31  221.014921
2017-06-30  217.727263
2017-07-31  219.235589
2017-08-31  222.783944
2017-09-30  222.164965
2017-10-31  223.089176
2017-11-30  222.827657
2017-12-31  221.890393
2018-01-31  218.079800
2018-02-28  218.154149
2018-03-31  224.252051
2018-04-30  226.356334

[100 rows x 1 columns]

In [21]:
# Concatenating all the data
#listing_sqf_concat = data_data
listing_sqf_concat = pd.concat(listing_sqf_concat)
# Getting month and year from the column "date"
listing_sqf_concat['Year'] = pd.DatetimeIndex(listing_sqf_concat.index).year
listing_sqf_concat['Month'] = pd.DatetimeIndex(listing_sqf_concat.index).month
rename_listing_sqf_concat = listing_sqf_concat.rename(columns={"Value":"Median Listing Price Per sqf"})
rename_listing_sqf_concat

            Median Listing Price Per sqf Zip Code  Year  Month
Date
2010-01-31                    342.530800    78701  2010      1
2010-02-28                    342.245287    78701  2010      2
2010-03-31                    339.803625    78701  2010      3
2010-04-30                    330.220815    78701  2010      4
2010-05-31                    332.045089    78701  2010      5
2010-06-30                    329.467580    78701  2010      6
2010-07-31                    327.641105    78701  2010      7
2010-08-31                    331.973684    78701  2010      8
2010-09-30                    331.474597    78701  2010      9
2010-10-31                    332.554658    78701  2010     10
2010-11-30                    327.518428    78701  2010     11
2010-12-31                    329.023637    78701  2010     12
2011-01-31                    319.238856    78701  2011      1
2011-02-28                    318.965517    78701  2011      2
2011-03-31                    306.124853    78701  2011      3
2011-04-30                    316.212014    78701  2011      4
2011-05-31                    317.570093    78701  2011      5
2011-06-30                    325.816485    78701  2011      6
2011-07-31                    326.516330    78701  2011      7
2011-08-31                    342.972195    78701  2011      8
2011-09-30                    349.059140    78701  2011      9
2011-10-31                    351.286174    78701  2011     10
2011-11-30                    348.402818    78701  2011     11
2011-12-31                    329.670330    78701  2011     12
2012-01-31                    329.810412    78701  2012      1
2012-02-29                    327.616929    78701  2012      2
2012-03-31                    330.687831    78701  2012      3
2012-04-30                    346.828610    78701  2012      4
2012-05-31                    375.370971    78701  2012      5
2012-06-30                    380.810861    78701  2012      6
...                                  ...      ...   ...    ...
2015-11-30                    205.696597    78759  2015     11
2015-12-31                    207.827217    78759  2015     12
2016-01-31                    203.488372    78759  2016      1
2016-02-29                    205.217125    78759  2016      2
2016-03-31                    207.720382    78759  2016      3
2016-04-30                    208.333333    78759  2016      4
2016-05-31                    210.560810    78759  2016      5
2016-06-30                    220.036878    78759  2016      6
2016-07-31                    221.714921    78759  2016      7
2016-08-31                    221.164603    78759  2016      8
2016-09-30                    211.320755    78759  2016      9
2016-10-31                    213.825163    78759  2016     10
2016-11-30                    213.365155    78759  2016     11
2016-12-31                    214.209147    78759  2016     12
2017-01-31                    211.440158    78759  2017      1
2017-02-28                    219.317489    78759  2017      2
2017-03-31                    221.305326    78759  2017      3
2017-04-30                    220.808913    78759  2017      4
2017-05-31                    221.014921    78759  2017      5
2017-06-30                    217.727263    78759  2017      6
2017-07-31                    219.235589    78759  2017      7
2017-08-31                    222.783944    78759  2017      8
2017-09-30                    222.164965    78759  2017      9
2017-10-31                    223.089176    78759  2017     10
2017-11-30                    222.827657    78759  2017     11
2017-12-31                    221.890393    78759  2017     12
2018-01-31                    218.079800    78759  2018      1
2018-02-28                    218.154149    78759  2018      2
2018-03-31                    224.252051    78759  2018      3
2018-04-30                    226.356334    78759  2018      4

[3355 rows x 4 columns]

In [22]:
# Export the "home value" data to a csv file
rename_listing_sqf_concat.to_csv("../data/int/output_quandl/6_Output.median_listing_price_perSQF.csv", index = False ,header = True)

## SALES

In [23]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "SALES"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1
    
# Copying the data stored
sales_concat = data_data

            Value
Date
2008-06-30   88.0
2008-07-31   81.0
2008-08-31   71.0
2008-09-30   40.0
2008-10-31   36.0
2008-11-30    8.0
2008-12-31    6.0
2009-01-31    1.0
2009-02-28    7.0
2009-03-31    9.0
2009-04-30    4.0
2009-05-31    9.0
2009-06-30   16.0
2009-07-31   16.0
2009-08-31   13.0
2009-09-30   17.0
2009-10-31   11.0
2009-11-30   13.0
2009-12-31   10.0
2010-01-31    2.0
2010-02-28    4.0
2010-03-31   12.0
2010-04-30    6.0
2010-05-31   16.0
2010-06-30   21.0
2010-07-31   15.0
2010-08-31   16.0
2010-09-30   17.0
2010-10-31   14.0
2010-11-30    8.0
...           ...
2013-12-31   17.0
2014-01-31    7.0
2014-02-28   10.0
2014-03-31   16.0
2014-04-30   23.0
2014-05-31   28.0
2014-06-30   12.0
2014-07-31   12.0
2014-08-31   14.0
2014-09-30   11.0
2014-10-31   10.0
2014-11-30   15.0
2014-12-31    1.0
2015-01-31    8.0
2015-02-28   11.0
2015-03-31    6.0
2015-04-30   20.0
2015-05-31   11.0
2015-06-30   20.0
2015-07-31   14.0
2015-08-31   15.0
2015-09-30   14.0
2015-10-31    8.0
2015-11-30   13.0
2015-12-31    8.0
2016-01-31   11.0
2016-02-29   13.0
2016-03-31   33.0
2016-04-30   46.0
2016-05-31   43.0

[96 rows x 1 columns]
            Value
Date
2008-06-30   25.0
2008-07-31   31.0
2008-08-31   28.0
2008-09-30   27.0
2008-10-31   20.0
2008-11-30   23.0
2008-12-31    7.0
2009-01-31    9.0
2009-02-28   14.0
2009-03-31   16.0
2009-04-30   16.0
2009-05-31   17.0
2009-06-30   24.0
2009-07-31   28.0
2009-08-31   10.0
2009-09-30   16.0
2009-10-31   15.0
2009-11-30   22.0
2009-12-31   22.0
2010-01-31   16.0
2010-02-28   12.0
2010-03-31   24.0
2010-04-30   19.0
2010-05-31   25.0
2010-06-30   25.0
2010-07-31   15.0
2010-08-31   22.0
2010-09-30   11.0
2010-10-31    8.0
2010-11-30   15.0
...           ...
2014-01-31    3.0
2014-02-28   27.0
2014-03-31   20.0
2014-04-30   21.0
2014-05-31   12.0
2014-06-30    9.0
2014-07-31   13.0
2014-08-31   10.0
2014-09-30   12.0
2014-10-31    7.0
2014-11-30    8.0
2014-12-31   23.0
2015-01-31   11.0
2015-02-28   11.0
2015-03-31   13.0
2015-04-30   17.0
2015-05-31   27.0
2015-06-30   22.0
2015-07-31   32.0
2015-08-31   27.0
2015-09-30   24.0
2015-10-31   25.0
2015-11-30   23.0
2015-12-31   33.0
2016-01-31   21.0
2016-02-29   22.0
2016-03-31   36.0
2016-04-30   32.0
2016-05-31   30.0
2016-06-30    4.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   31.0
2008-07-31   22.0
2008-08-31   22.0
2008-09-30   30.0
2008-10-31   21.0
2008-11-30   10.0
2008-12-31   15.0
2009-01-31    8.0
2009-02-28   13.0
2009-03-31   10.0
2009-04-30    8.0
2009-05-31   20.0
2009-06-30   14.0
2009-07-31   19.0
2009-08-31   28.0
2009-09-30   34.0
2009-10-31   41.0
2009-11-30   19.0
2009-12-31   23.0
2010-01-31    9.0
2010-02-28   11.0
2010-03-31   26.0
2010-04-30   21.0
2010-05-31   28.0
2010-06-30   45.0
2010-07-31   27.0
2010-08-31   27.0
2010-09-30   21.0
2010-10-31   23.0
2010-11-30   16.0
...           ...
2014-01-31    5.0
2014-02-28    8.0
2014-03-31   12.0
2014-04-30    7.0
2014-05-31    6.0
2014-06-30   11.0
2014-07-31   20.0
2014-08-31    5.0
2014-09-30   10.0
2014-10-31    7.0
2014-11-30    9.0
2014-12-31    6.0
2015-01-31    7.0
2015-02-28    7.0
2015-03-31   10.0
2015-04-30   19.0
2015-05-31   10.0
2015-06-30   10.0
2015-07-31   19.0
2015-08-31   33.0
2015-09-30   16.0
2015-10-31   19.0
2015-11-30   20.0
2015-12-31   27.0
2016-01-31    9.0
2016-02-29   16.0
2016-03-31   38.0
2016-04-30   23.0
2016-05-31   39.0
2016-06-30    4.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   50.0
2008-07-31   49.0
2008-08-31   51.0
2008-09-30   54.0
2008-10-31   35.0
2008-11-30   25.0
2008-12-31   29.0
2009-01-31    8.0
2009-02-28   25.0
2009-03-31   26.0
2009-04-30   36.0
2009-05-31   31.0
2009-06-30   41.0
2009-07-31   37.0
2009-08-31   52.0
2009-09-30   44.0
2009-10-31   43.0
2009-11-30   43.0
2009-12-31   24.0
2010-01-31   25.0
2010-02-28   28.0
2010-03-31   43.0
2010-04-30   65.0
2010-05-31   90.0
2010-06-30   67.0
2010-07-31   33.0
2010-08-31   41.0
2010-09-30   40.0
2010-10-31   36.0
2010-11-30   46.0
...           ...
2014-01-31   11.0
2014-02-28   20.0
2014-03-31   20.0
2014-04-30   21.0
2014-05-31   25.0
2014-06-30   17.0
2014-07-31   25.0
2014-08-31   26.0
2014-09-30   24.0
2014-10-31   18.0
2014-11-30   15.0
2014-12-31   20.0
2015-01-31   17.0
2015-02-28   13.0
2015-03-31   20.0
2015-04-30   24.0
2015-05-31   20.0
2015-06-30   30.0
2015-07-31   45.0
2015-08-31   56.0
2015-09-30   42.0
2015-10-31   33.0
2015-11-30   31.0
2015-12-31   57.0
2016-01-31   90.0
2016-02-29   40.0
2016-03-31   45.0
2016-04-30   45.0
2016-05-31   71.0
2016-06-30    5.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   27.0
2008-07-31   23.0
2008-08-31   25.0
2008-09-30    7.0
2008-10-31    9.0
2008-11-30    4.0
2008-12-31    8.0
2009-01-31    3.0
2009-02-28    9.0
2009-03-31   11.0
2009-04-30   11.0
2009-05-31   12.0
2009-06-30   14.0
2009-07-31   27.0
2009-08-31   19.0
2009-09-30    8.0
2009-10-31    6.0
2009-11-30    4.0
2009-12-31    8.0
2010-01-31    4.0
2010-02-28    8.0
2010-03-31    5.0
2010-04-30   15.0
2010-05-31   13.0
2010-06-30   14.0
2010-07-31   14.0
2010-08-31   15.0
2010-09-30    2.0
2010-10-31    5.0
2010-11-30    4.0
...           ...
2013-12-31    7.0
2014-01-31    6.0
2014-02-28    2.0
2014-03-31    7.0
2014-04-30    6.0
2014-05-31   11.0
2014-06-30   10.0
2014-07-31    8.0
2014-08-31    7.0
2014-09-30    3.0
2014-11-30    8.0
2014-12-31    5.0
2015-01-31    3.0
2015-02-28    1.0
2015-03-31    9.0
2015-04-30    3.0
2015-05-31    6.0
2015-06-30    6.0
2015-07-31   12.0
2015-08-31   20.0
2015-09-30    8.0
2015-10-31    4.0
2015-11-30    2.0
2015-12-31    4.0
2016-01-31    8.0
2016-02-29    5.0
2016-03-31   11.0
2016-04-30   18.0
2016-05-31   15.0
2016-06-30    1.0

[96 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2008-06-30   53.0
2008-07-31   46.0
2008-08-31   47.0
2008-09-30   43.0
2008-10-31   32.0
2008-11-30   19.0
2008-12-31   25.0
2009-01-31   20.0
2009-02-28   17.0
2009-03-31   31.0
2009-04-30   35.0
2009-05-31   37.0
2009-06-30   51.0
2009-07-31   48.0
2009-08-31   33.0
2009-09-30   35.0
2009-10-31   49.0
2009-11-30   45.0
2009-12-31   32.0
2010-01-31   19.0
2010-02-28   19.0
2010-03-31   47.0
2010-04-30   48.0
2010-05-31   59.0
2010-06-30   47.0
2010-07-31   30.0
2010-08-31   32.0
2010-09-30   19.0
2010-10-31   21.0
2010-11-30   28.0
...           ...
2014-01-31   31.0
2014-02-28   50.0
2014-03-31   51.0
2014-04-30   59.0
2014-05-31   65.0
2014-06-30   62.0
2014-07-31   60.0
2014-08-31   39.0
2014-09-30   59.0
2014-10-31   51.0
2014-11-30   39.0
2014-12-31   57.0
2015-01-31   22.0
2015-02-28   18.0
2015-03-31   38.0
2015-04-30   43.0
2015-05-31   36.0
2015-06-30   54.0
2015-07-31   42.0
2015-08-31   57.0
2015-09-30   48.0
2015-10-31   33.0
2015-11-30   31.0
2015-12-31   19.0
2016-01-31   22.0
2016-02-29   16.0
2016-03-31   37.0
2016-04-30   35.0
2016-05-31   45.0
2016-06-30    7.0

[97 rows x 1 columns]
            Value
Date
2008-06-30    1.0
2008-07-31    1.0
2008-08-31    2.0
2008-09-30    1.0
2008-11-30    1.0
2009-02-28    1.0
2009-04-30    1.0
2009-09-30    1.0
2009-12-31    1.0
2010-02-28    1.0
2010-06-30    1.0
2010-07-31    2.0
2010-09-30    1.0
2011-01-31    1.0
2011-05-31    1.0
2011-07-31    2.0
2011-10-31    1.0
2011-12-31    2.0
2012-03-31    2.0
2012-06-30    1.0
2012-08-31    2.0
2013-02-28    1.0
2013-05-31    1.0
2014-09-30    1.0
2014-12-31    1.0
2015-08-31    1.0
2015-10-31    2.0
2016-02-29    1.0
            Value
Date
2008-06-30    5.0
2008-07-31   11.0
2008-08-31    9.0
2008-09-30   10.0
2008-10-31    5.0
2008-11-30    6.0
2008-12-31    8.0
2009-01-31    9.0
2009-02-28    2.0
2009-03-31    2.0
2009-04-30    4.0
2009-05-31    6.0
2009-06-30    7.0
2009-07-31   10.0
2009-08-31    9.0
2009-09-30    5.0
2009-10-31   14.0
2009-11-30   19.0
2009-12-31   10.0
2010-01-31    7.0
2010-02-28    7.0
2010-03-31   11.0
2010-04-30   10.0
2010-05-31    6.0
2010-06-30   17.0
2010-07-31    5.0
2010-08-31   10.0
2010-09-30    8.0
2010-10-31    4.0
2010-11-30    5.0
...           ...
2014-01-31    5.0
2014-02-28    5.0
2014-03-31    3.0
2014-04-30    8.0
2014-05-31    7.0
2014-06-30   10.0
2014-07-31    5.0
2014-08-31    4.0
2014-09-30    3.0
2014-10-31    5.0
2014-11-30    7.0
2014-12-31    8.0
2015-01-31    6.0
2015-02-28    7.0
2015-03-31    8.0
2015-04-30    5.0
2015-05-31    9.0
2015-06-30    5.0
2015-07-31   18.0
2015-08-31   14.0
2015-09-30    8.0
2015-10-31   11.0
2015-11-30    6.0
2015-12-31   11.0
2016-01-31    7.0
2016-02-29   10.0
2016-03-31   12.0
2016-04-30   10.0
2016-05-31   14.0
2016-06-30    2.0

[97 rows x 1 columns]

            Value
Date
2008-06-30   16.0
2008-07-31    9.0
2008-08-31    5.0
2008-09-30    3.0
2008-10-31    7.0
2008-11-30    7.0
2008-12-31    5.0
2009-01-31    2.0
2009-02-28    3.0
2009-03-31    3.0
2009-04-30    6.0
2009-05-31    3.0
2009-06-30    6.0
2009-07-31    9.0
2009-08-31    5.0
2009-09-30    1.0
2009-10-31    5.0
2009-11-30    5.0
2009-12-31    5.0
2010-01-31    2.0
2010-02-28    1.0
2010-03-31    2.0
2010-04-30    8.0
2010-05-31    3.0
2010-06-30    3.0
2010-07-31    4.0
2010-08-31    6.0
2010-09-30    2.0
2010-10-31    3.0
2010-11-30    3.0
...           ...
2013-09-30    2.0
2013-10-31    5.0
2013-11-30    2.0
2013-12-31    2.0
2014-02-28    1.0
2014-04-30    2.0
2014-05-31    3.0
2014-06-30    2.0
2014-07-31    2.0
2014-08-31    3.0
2014-10-31    1.0
2014-11-30    1.0
2014-12-31    3.0
2015-01-31    2.0
2015-02-28    1.0
2015-04-30    3.0
2015-05-31    1.0
2015-06-30    1.0
2015-07-31   10.0
2015-08-31    4.0
2015-09-30    2.0
2015-10-31    6.0
2015-11-30    5.0
2015-12-31   10.0
2016-01-31    3.0
2016-02-29    6.0
2016-03-31    4.0
2016-04-30    8.0
2016-05-31    6.0
2016-06-30    1.0

[93 rows x 1 columns]
            Value
Date
2008-06-30  332.0
2008-07-31   43.0
2008-08-31   39.0
2008-09-30   28.0
2008-10-31   37.0
2008-11-30   37.0
2008-12-31   32.0
2009-01-31   31.0
2009-02-28   26.0
2009-03-31   32.0
2009-04-30   26.0
2009-05-31   21.0
2009-06-30   39.0
2009-07-31   45.0
2009-08-31   26.0
2009-09-30   23.0
2009-10-31   33.0
2009-11-30   30.0
2009-12-31   21.0
2010-01-31   11.0
2010-02-28   19.0
2010-03-31   32.0
2010-04-30   29.0
2010-05-31   28.0
2010-06-30   25.0
2010-07-31   17.0
2010-08-31   26.0
2010-09-30   14.0
2010-10-31   13.0
2010-11-30   13.0
...           ...
2014-01-31    1.0
2014-02-28   19.0
2014-03-31   20.0
2014-04-30   17.0
2014-05-31   19.0
2014-06-30   18.0
2014-07-31   15.0
2014-08-31   18.0
2014-09-30   14.0
2014-10-31   14.0
2014-11-30    9.0
2014-12-31   23.0
2015-01-31    2.0
2015-02-28   11.0
2015-03-31   16.0
2015-04-30   28.0
2015-05-31   16.0
2015-06-30   13.0
2015-07-31   36.0
2015-08-31   32.0
2015-09-30   30.0
2015-10-31   17.0
2015-11-30   29.0
2015-12-31   22.0
2016-01-31   28.0
2016-02-29   24.0
2016-03-31   25.0
2016-04-30   28.0
2016-05-31   29.0
2016-06-30    3.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   19.0
2008-07-31   20.0
2008-08-31   19.0
2008-09-30   16.0
2008-10-31   24.0
2008-11-30   17.0
2008-12-31   15.0
2009-01-31    5.0
2009-02-28   17.0
2009-03-31   14.0
2009-04-30   13.0
2009-05-31   14.0
2009-06-30   15.0
2009-07-31   13.0
2009-08-31   14.0
2009-09-30   27.0
2009-10-31   16.0
2009-11-30   16.0
2009-12-31   18.0
2010-01-31    6.0
2010-02-28   12.0
2010-03-31   18.0
2010-04-30   15.0
2010-05-31   11.0
2010-06-30   16.0
2010-07-31   11.0
2010-08-31   12.0
2010-09-30   12.0
2010-10-31    8.0
2010-11-30    6.0
...           ...
2013-12-31   17.0
2014-01-31    9.0
2014-02-28   12.0
2014-03-31   12.0
2014-04-30   13.0
2014-05-31   14.0
2014-06-30   13.0
2014-07-31    8.0
2014-08-31    9.0
2014-09-30   14.0
2014-10-31   13.0
2014-11-30    4.0
2014-12-31   10.0
2015-01-31    9.0
2015-02-28   16.0
2015-03-31   15.0
2015-04-30   11.0
2015-05-31    4.0
2015-06-30    7.0
2015-07-31   11.0
2015-08-31   15.0
2015-09-30   12.0
2015-10-31    6.0
2015-11-30    9.0
2015-12-31    8.0
2016-01-31    9.0
2016-02-29    4.0
2016-03-31   11.0
2016-04-30   16.0
2016-05-31    7.0

[96 rows x 1 columns]
            Value
Date
2008-06-30   15.0
2008-07-31   12.0
2008-08-31    9.0
2008-09-30   19.0
2008-10-31   10.0
2008-11-30    6.0
2008-12-31   13.0
2009-01-31    4.0
2009-02-28    7.0
2009-03-31   33.0
2009-04-30   14.0
2009-05-31   11.0
2009-06-30   10.0
2009-07-31   18.0
2009-08-31   11.0
2009-09-30   17.0
2009-10-31   30.0
2009-11-30   25.0
2009-12-31   28.0
2010-01-31   13.0
2010-02-28   21.0
2010-03-31   30.0
2010-04-30   21.0
2010-05-31   22.0
2010-06-30   24.0
2010-07-31   13.0
2010-08-31   14.0
2010-09-30   15.0
2010-10-31   33.0
2010-11-30    8.0
...           ...
2014-01-31   11.0
2014-02-28   10.0
2014-03-31   12.0
2014-04-30   15.0
2014-05-31   19.0
2014-06-30    9.0
2014-07-31   20.0
2014-08-31   11.0
2014-09-30   17.0
2014-10-31   17.0
2014-11-30   22.0
2014-12-31   22.0
2015-01-31    5.0
2015-02-28   12.0
2015-03-31   18.0
2015-04-30   18.0
2015-05-31    9.0
2015-06-30    7.0
2015-07-31   13.0
2015-08-31   13.0
2015-09-30   11.0
2015-10-31   12.0
2015-11-30    8.0
2015-12-31   13.0
2016-01-31    4.0
2016-02-29    8.0
2016-03-31   15.0
2016-04-30   11.0
2016-05-31    5.0
2016-06-30    2.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   12.0
2008-07-31   10.0
2008-08-31   11.0
2008-09-30    7.0
2008-10-31    8.0
2008-11-30    4.0
2008-12-31    3.0
2009-02-28    5.0
2009-03-31    7.0
2009-04-30    8.0
2009-05-31   12.0
2009-06-30   11.0
2009-07-31   10.0
2009-08-31    9.0
2009-09-30    6.0
2009-10-31    4.0
2009-11-30    8.0
2009-12-31    5.0
2010-02-28    4.0
2010-03-31    4.0
2010-04-30   11.0
2010-05-31    7.0
2010-06-30   10.0
2010-07-31    7.0
2010-08-31    5.0
2010-09-30    5.0
2010-10-31    4.0
2010-11-30    9.0
2010-12-31   65.0
2011-01-31    3.0
...           ...
2013-12-31    8.0
2014-01-31    3.0
2014-02-28    4.0
2014-03-31    1.0
2014-04-30    3.0
2014-05-31    5.0
2014-06-30    7.0
2014-07-31    1.0
2014-08-31    1.0
2014-09-30    2.0
2014-10-31    1.0
2014-12-31    3.0
2015-01-31    2.0
2015-02-28    1.0
2015-03-31    3.0
2015-04-30    1.0
2015-05-31    4.0
2015-06-30    9.0
2015-07-31   13.0
2015-08-31   18.0
2015-09-30    3.0
2015-10-31    7.0
2015-11-30    7.0
2015-12-31    9.0
2016-01-31    3.0
2016-02-29    8.0
2016-03-31   15.0
2016-04-30   13.0
2016-05-31   18.0
2016-06-30    2.0

[94 rows x 1 columns]
            Value
Date
2008-06-30   44.0
2008-07-31   42.0
2008-08-31   24.0
2008-09-30   29.0
2008-10-31   20.0
2008-11-30   20.0
2008-12-31   28.0
2009-01-31   15.0
2009-02-28   17.0
2009-03-31   23.0
2009-04-30   29.0
2009-05-31   35.0
2009-06-30   35.0
2009-07-31   40.0
2009-08-31   31.0
2009-09-30   28.0
2009-10-31   35.0
2009-11-30   23.0
2009-12-31   17.0
2010-01-31   13.0
2010-02-28   20.0
2010-03-31   22.0
2010-04-30   35.0
2010-05-31   68.0
2010-06-30   27.0
2010-07-31   23.0
2010-08-31   23.0
2010-09-30   22.0
2010-10-31   15.0
2010-11-30   11.0
...           ...
2014-01-31    4.0
2014-02-28    3.0
2014-03-31    6.0
2014-04-30    8.0
2014-05-31    7.0
2014-06-30   13.0
2014-07-31    7.0
2014-08-31   10.0
2014-09-30    2.0
2014-10-31    2.0
2014-11-30    2.0
2014-12-31    8.0
2015-01-31    5.0
2015-02-28    4.0
2015-03-31    7.0
2015-04-30    8.0
2015-05-31    7.0
2015-06-30   10.0
2015-07-31   31.0
2015-08-31   39.0
2015-09-30   28.0
2015-10-31   36.0
2015-11-30   26.0
2015-12-31   25.0
2016-01-31   21.0
2016-02-29   17.0
2016-03-31   22.0
2016-04-30   34.0
2016-05-31   24.0
2016-06-30    7.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   23.0
2008-07-31   17.0
2008-08-31   15.0
2008-09-30   10.0
2008-10-31   10.0
2008-11-30    9.0
2008-12-31   12.0
2009-01-31    8.0
2009-02-28   10.0
2009-03-31    7.0
2009-04-30    8.0
2009-05-31   14.0
2009-06-30   19.0
2009-07-31   10.0
2009-08-31   15.0
2009-09-30   22.0
2009-10-31   16.0
2009-11-30   17.0
2009-12-31   12.0
2010-01-31    6.0
2010-02-28    4.0
2010-03-31   20.0
2010-04-30   20.0
2010-05-31   15.0
2010-06-30   10.0
2010-07-31    6.0
2010-08-31    7.0
2010-09-30    6.0
2010-10-31    4.0
2010-11-30   12.0
...           ...
2013-12-31   18.0
2014-01-31    5.0
2014-02-28    7.0
2014-03-31    4.0
2014-04-30    8.0
2014-05-31    6.0
2014-06-30   16.0
2014-07-31   19.0
2014-08-31   11.0
2014-09-30   15.0
2014-10-31    4.0
2014-11-30    6.0
2014-12-31   11.0
2015-01-31    4.0
2015-02-28    3.0
2015-03-31    7.0
2015-04-30   11.0
2015-05-31    4.0
2015-06-30   11.0
2015-07-31   16.0
2015-08-31   17.0
2015-09-30   14.0
2015-10-31   13.0
2015-11-30    9.0
2015-12-31    8.0
2016-01-31   10.0
2016-02-29    6.0
2016-03-31   18.0
2016-04-30   18.0
2016-05-31   17.0

[96 rows x 1 columns]
            Value
Date
2008-06-30   29.0
2008-07-31   35.0
2008-08-31   30.0
2008-09-30   27.0
2008-10-31   17.0
2008-11-30   23.0
2008-12-31   21.0
2009-01-31   12.0
2009-02-28   17.0
2009-03-31   37.0
2009-04-30   23.0
2009-05-31   27.0
2009-06-30   44.0
2009-07-31   35.0
2009-08-31   24.0
2009-09-30   26.0
2009-10-31   32.0
2009-11-30   36.0
2009-12-31   26.0
2010-01-31    8.0
2010-02-28   16.0
2010-03-31   23.0
2010-04-30   43.0
2010-05-31   31.0
2010-06-30   24.0
2010-07-31   15.0
2010-08-31   21.0
2010-09-30   18.0
2010-10-31   12.0
2010-11-30   11.0
...           ...
2014-01-31   16.0
2014-02-28   19.0
2014-03-31   20.0
2014-04-30   25.0
2014-05-31   26.0
2014-06-30   29.0
2014-07-31   34.0
2014-08-31   32.0
2014-09-30   28.0
2014-10-31   29.0
2014-11-30   25.0
2014-12-31   27.0
2015-01-31   13.0
2015-02-28   18.0
2015-03-31   26.0
2015-04-30   22.0
2015-05-31   38.0
2015-06-30   33.0
2015-07-31   36.0
2015-08-31   36.0
2015-09-30   35.0
2015-10-31   30.0
2015-11-30   20.0
2015-12-31   20.0
2016-01-31   21.0
2016-02-29   21.0
2016-03-31   15.0
2016-04-30   27.0
2016-05-31   34.0
2016-06-30    8.0

[97 rows x 1 columns]

            Value
Date
2008-06-30   20.0
2008-07-31   15.0
2008-08-31   21.0
2008-09-30   14.0
2008-10-31   12.0
2008-11-30    7.0
2008-12-31   11.0
2009-01-31   17.0
2009-02-28    6.0
2009-03-31    9.0
2009-04-30   12.0
2009-05-31    8.0
2009-06-30    9.0
2009-07-31   14.0
2009-08-31    5.0
2009-09-30   14.0
2009-10-31   12.0
2009-11-30   12.0
2009-12-31    8.0
2010-01-31    5.0
2010-02-28    6.0
2010-03-31    9.0
2010-04-30    8.0
2010-05-31    5.0
2010-06-30   15.0
2010-07-31    2.0
2010-08-31    9.0
2010-09-30   20.0
2010-10-31    9.0
2010-11-30    3.0
...           ...
2014-01-31    3.0
2014-02-28    4.0
2014-03-31    6.0
2014-04-30    5.0
2014-05-31   11.0
2014-06-30    7.0
2014-07-31    8.0
2014-08-31    5.0
2014-09-30    3.0
2014-10-31    3.0
2014-11-30    3.0
2014-12-31    7.0
2015-01-31    3.0
2015-02-28    3.0
2015-03-31    5.0
2015-04-30    5.0
2015-05-31    7.0
2015-06-30    6.0
2015-07-31   15.0
2015-08-31   12.0
2015-09-30   21.0
2015-10-31   26.0
2015-11-30   12.0
2015-12-31   17.0
2016-01-31    7.0
2016-02-29   12.0
2016-03-31   12.0
2016-04-30   19.0
2016-05-31   22.0
2016-06-30    5.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   48.0
2008-07-31   33.0
2008-08-31   27.0
2008-09-30   24.0
2008-10-31   18.0
2008-11-30   21.0
2008-12-31   18.0
2009-01-31    8.0
2009-02-28   17.0
2009-03-31   16.0
2009-04-30   18.0
2009-05-31   18.0
2009-06-30   25.0
2009-07-31   25.0
2009-08-31   23.0
2009-09-30   29.0
2009-10-31   23.0
2009-11-30   24.0
2009-12-31   22.0
2010-01-31   13.0
2010-02-28   15.0
2010-03-31   29.0
2010-04-30   26.0
2010-05-31   15.0
2010-06-30   26.0
2010-07-31   20.0
2010-08-31   25.0
2010-09-30   17.0
2010-10-31   14.0
2010-11-30   13.0
...           ...
2014-01-31    5.0
2014-02-28    8.0
2014-03-31   11.0
2014-04-30   11.0
2014-05-31   10.0
2014-06-30   12.0
2014-07-31    9.0
2014-08-31    6.0
2014-09-30    6.0
2014-10-31    8.0
2014-11-30    8.0
2014-12-31    5.0
2015-01-31    4.0
2015-02-28   12.0
2015-03-31    7.0
2015-04-30   11.0
2015-05-31   12.0
2015-06-30   16.0
2015-07-31   30.0
2015-08-31   43.0
2015-09-30   21.0
2015-10-31   26.0
2015-11-30   15.0
2015-12-31   38.0
2016-01-31   13.0
2016-02-29   17.0
2016-03-31   33.0
2016-04-30   34.0
2016-05-31   27.0
2016-06-30    6.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   45.0
2008-07-31   42.0
2008-08-31   55.0
2008-09-30   31.0
2008-10-31   27.0
2008-11-30   34.0
2008-12-31   49.0
2009-01-31   92.0
2009-02-28   23.0
2009-03-31   23.0
2009-04-30   21.0
2009-05-31   23.0
2009-06-30   42.0
2009-07-31   57.0
2009-08-31   31.0
2009-09-30   27.0
2009-10-31   27.0
2009-11-30   33.0
2009-12-31   75.0
2010-01-31   10.0
2010-02-28   16.0
2010-03-31   36.0
2010-04-30   29.0
2010-05-31   36.0
2010-06-30   56.0
2010-07-31   36.0
2010-08-31   39.0
2010-09-30   28.0
2010-10-31   20.0
2010-11-30   25.0
...           ...
2014-01-31    4.0
2014-02-28    3.0
2014-03-31    3.0
2014-04-30    7.0
2014-05-31   10.0
2014-06-30   15.0
2014-07-31    4.0
2014-08-31   19.0
2014-09-30    8.0
2014-10-31    6.0
2014-11-30    3.0
2014-12-31    3.0
2015-01-31   10.0
2015-02-28    8.0
2015-03-31    6.0
2015-04-30   15.0
2015-05-31   11.0
2015-06-30   17.0
2015-07-31   36.0
2015-08-31   29.0
2015-09-30   35.0
2015-10-31   28.0
2015-11-30   16.0
2015-12-31   21.0
2016-01-31    8.0
2016-02-29   13.0
2016-03-31   25.0
2016-04-30   30.0
2016-05-31   32.0
2016-06-30    9.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   18.0
2008-07-31   18.0
2008-08-31   20.0
2008-09-30   12.0
2008-10-31    7.0
2008-11-30    8.0
2008-12-31   20.0
2009-01-31    3.0
2009-02-28    3.0
2009-03-31   13.0
2009-04-30    8.0
2009-05-31   17.0
2009-06-30   10.0
2009-07-31   13.0
2009-08-31    8.0
2009-09-30   12.0
2009-10-31   15.0
2009-11-30    8.0
2009-12-31    6.0
2010-01-31    6.0
2010-02-28    5.0
2010-03-31    9.0
2010-04-30   15.0
2010-05-31   10.0
2010-06-30   20.0
2010-07-31   10.0
2010-08-31    4.0
2010-09-30    5.0
2010-10-31    5.0
2010-11-30    9.0
...           ...
2013-09-30    3.0
2013-10-31    7.0
2013-11-30    2.0
2013-12-31    3.0
2014-01-31    2.0
2014-02-28    2.0
2014-03-31    5.0
2014-04-30    4.0
2014-05-31    4.0
2014-06-30    1.0
2014-07-31   10.0
2014-08-31    7.0
2014-10-31    2.0
2015-01-31    5.0
2015-02-28    1.0
2015-03-31    6.0
2015-04-30    9.0
2015-05-31    8.0
2015-06-30    7.0
2015-07-31   20.0
2015-08-31    5.0
2015-09-30   12.0
2015-10-31   11.0
2015-11-30   12.0
2015-12-31    7.0
2016-01-31    4.0
2016-02-29    4.0
2016-03-31    8.0
2016-04-30   12.0
2016-05-31   14.0

[93 rows x 1 columns]
            Value
Date
2008-06-30   50.0
2008-07-31   49.0
2008-08-31   48.0
2008-09-30   32.0
2008-10-31   33.0
2008-11-30   19.0
2008-12-31   39.0
2009-01-31   34.0
2009-02-28   20.0
2009-03-31   31.0
2009-04-30   31.0
2009-05-31   36.0
2009-06-30   39.0
2009-07-31   44.0
2009-08-31   36.0
2009-09-30   31.0
2009-10-31   29.0
2009-11-30   28.0
2009-12-31   33.0
2010-01-31   18.0
2010-02-28   30.0
2010-03-31   29.0
2010-04-30   37.0
2010-05-31   74.0
2010-06-30   53.0
2010-07-31   35.0
2010-08-31   27.0
2010-09-30   28.0
2010-10-31   27.0
2010-11-30   31.0
...           ...
2014-01-31   12.0
2014-02-28   10.0
2014-03-31   21.0
2014-04-30   21.0
2014-05-31   16.0
2014-06-30   29.0
2014-07-31   16.0
2014-08-31   24.0
2014-09-30    9.0
2014-10-31   17.0
2014-11-30   26.0
2014-12-31   17.0
2015-01-31    8.0
2015-02-28   18.0
2015-03-31   20.0
2015-04-30   17.0
2015-05-31   23.0
2015-06-30   18.0
2015-07-31   42.0
2015-08-31   59.0
2015-09-30   40.0
2015-10-31   30.0
2015-11-30   33.0
2015-12-31   35.0
2016-01-31   17.0
2016-02-29   25.0
2016-03-31   45.0
2016-04-30   40.0
2016-05-31   36.0
2016-06-30    9.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   23.0
2008-07-31   32.0
2008-08-31   15.0
2008-09-30   19.0
2008-10-31   39.0
2008-11-30    6.0
2008-12-31   20.0
2009-01-31   15.0
2009-02-28   17.0
2009-03-31    9.0
2009-04-30   11.0
2009-05-31   17.0
2009-06-30   12.0
2009-07-31   16.0
2009-08-31   15.0
2009-09-30   12.0
2009-10-31   23.0
2009-11-30   13.0
2009-12-31   13.0
2010-01-31    6.0
2010-02-28   10.0
2010-03-31   22.0
2010-04-30   18.0
2010-05-31   13.0
2010-06-30   22.0
2010-07-31   19.0
2010-08-31   10.0
2010-09-30   15.0
2010-10-31   16.0
2010-11-30   15.0
...           ...
2013-12-31    7.0
2014-01-31    1.0
2014-02-28    7.0
2014-03-31    2.0
2014-04-30    4.0
2014-05-31    9.0
2014-06-30    7.0
2014-07-31   10.0
2014-08-31    7.0
2014-09-30    3.0
2014-10-31    4.0
2014-11-30    3.0
2014-12-31    4.0
2015-01-31    6.0
2015-02-28    6.0
2015-03-31    2.0
2015-04-30    4.0
2015-05-31    4.0
2015-06-30   12.0
2015-07-31   26.0
2015-08-31   15.0
2015-09-30   15.0
2015-10-31   20.0
2015-11-30    9.0
2015-12-31   22.0
2016-01-31    7.0
2016-02-29   12.0
2016-03-31   15.0
2016-04-30   14.0
2016-05-31   11.0

[96 rows x 1 columns]
            Value
Date
2008-06-30    8.0
2008-07-31    7.0
2008-08-31   10.0
2008-09-30    8.0
2008-10-31    2.0
2008-11-30    1.0
2008-12-31   10.0
2009-01-31    2.0
2009-02-28    8.0
2009-03-31    8.0
2009-04-30    6.0
2009-05-31    9.0
2009-06-30    9.0
2009-07-31   14.0
2009-08-31    5.0
2009-09-30    9.0
2009-10-31   14.0
2009-11-30   11.0
2009-12-31    4.0
2010-01-31    5.0
2010-02-28    5.0
2010-03-31   42.0
2010-04-30    6.0
2010-05-31    8.0
2010-06-30    3.0
2010-07-31    9.0
2010-08-31    6.0
2010-09-30    3.0
2010-10-31    5.0
2010-11-30    6.0
...           ...
2014-01-31    6.0
2014-02-28    2.0
2014-03-31    5.0
2014-04-30    3.0
2014-05-31    4.0
2014-06-30    5.0
2014-07-31    5.0
2014-08-31    7.0
2014-09-30    6.0
2014-10-31    4.0
2014-11-30    6.0
2014-12-31    3.0
2015-01-31    1.0
2015-02-28    4.0
2015-03-31    1.0
2015-04-30    8.0
2015-05-31    1.0
2015-06-30    4.0
2015-07-31   10.0
2015-08-31   17.0
2015-09-30   10.0
2015-10-31    9.0
2015-11-30   10.0
2015-12-31   10.0
2016-01-31    8.0
2016-02-29    8.0
2016-03-31   11.0
2016-04-30   13.0
2016-05-31   12.0
2016-06-30    2.0

[96 rows x 1 columns]
            Value
Date
2008-06-30   37.0
2008-07-31   37.0
2008-08-31   40.0
2008-09-30   36.0
2008-10-31   17.0
2008-11-30   20.0
2008-12-31   24.0
2009-01-31   11.0
2009-02-28   17.0
2009-03-31   23.0
2009-04-30   40.0
2009-05-31   14.0
2009-06-30   25.0
2009-07-31   25.0
2009-08-31   26.0
2009-09-30   24.0
2009-10-31   14.0
2009-11-30   27.0
2009-12-31   23.0
2010-01-31   11.0
2010-02-28   13.0
2010-03-31   22.0
2010-04-30   24.0
2010-05-31   37.0
2010-06-30   58.0
2010-07-31   15.0
2010-08-31   25.0
2010-09-30   26.0
2010-10-31   27.0
2010-11-30   17.0
...           ...
2013-12-31   42.0
2014-01-31   17.0
2014-02-28   18.0
2014-03-31   28.0
2014-04-30   21.0
2014-05-31   33.0
2014-06-30   31.0
2014-07-31   33.0
2014-08-31   31.0
2014-09-30   20.0
2014-10-31   30.0
2014-11-30   13.0
2014-12-31   37.0
2015-01-31   20.0
2015-02-28   11.0
2015-03-31   24.0
2015-04-30   15.0
2015-05-31   12.0
2015-06-30   13.0
2015-07-31   14.0
2015-08-31   22.0
2015-09-30   15.0
2015-10-31   20.0
2015-11-30    7.0
2015-12-31   11.0
2016-01-31    6.0
2016-02-29    8.0
2016-03-31   12.0
2016-04-30   19.0
2016-05-31    4.0

[96 rows x 1 columns]

            Value
Date
2008-06-30   40.0
2008-07-31   29.0
2008-08-31   45.0
2008-09-30   21.0
2008-10-31   29.0
2008-11-30   15.0
2008-12-31   38.0
2009-01-31   26.0
2009-02-28   21.0
2009-03-31   15.0
2009-04-30   20.0
2009-05-31   23.0
2009-06-30   39.0
2009-07-31   27.0
2009-08-31   35.0
2009-09-30   21.0
2009-10-31   21.0
2009-11-30   21.0
2009-12-31   48.0
2010-01-31   38.0
2010-02-28   24.0
2010-03-31   49.0
2010-04-30   34.0
2010-05-31   48.0
2010-06-30   87.0
2010-07-31   37.0
2010-08-31   26.0
2010-09-30   25.0
2010-10-31   28.0
2010-11-30   29.0
...           ...
2014-01-31   22.0
2014-02-28   33.0
2014-03-31   41.0
2014-04-30   32.0
2014-05-31   52.0
2014-06-30   59.0
2014-07-31   47.0
2014-08-31   46.0
2014-09-30   36.0
2014-10-31   28.0
2014-11-30   36.0
2014-12-31   46.0
2015-01-31   27.0
2015-02-28   15.0
2015-03-31   21.0
2015-04-30   30.0
2015-05-31   21.0
2015-06-30   23.0
2015-07-31   34.0
2015-08-31   50.0
2015-09-30   43.0
2015-10-31   32.0
2015-11-30   28.0
2015-12-31   35.0
2016-01-31   20.0
2016-02-29   15.0
2016-03-31   36.0
2016-04-30   37.0
2016-05-31   44.0
2016-06-30    7.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   57.0
2008-07-31   55.0
2008-08-31   54.0
2008-09-30   26.0
2008-10-31   38.0
2008-11-30   35.0
2008-12-31   44.0
2009-01-31    6.0
2009-02-28   25.0
2009-03-31   33.0
2009-04-30   30.0
2009-05-31   49.0
2009-06-30   55.0
2009-07-31   28.0
2009-08-31   43.0
2009-09-30   25.0
2009-10-31   39.0
2009-11-30   43.0
2009-12-31   26.0
2010-01-31   14.0
2010-02-28   22.0
2010-03-31   33.0
2010-04-30   36.0
2010-05-31   38.0
2010-06-30   39.0
2010-07-31   36.0
2010-08-31   25.0
2010-09-30   26.0
2010-10-31   51.0
2010-11-30   26.0
...           ...
2014-01-31   12.0
2014-02-28   10.0
2014-03-31    5.0
2014-04-30   16.0
2014-05-31   20.0
2014-06-30   12.0
2014-07-31   25.0
2014-08-31   17.0
2014-09-30    9.0
2014-10-31   17.0
2014-11-30   20.0
2014-12-31   15.0
2015-01-31   13.0
2015-02-28    5.0
2015-03-31   18.0
2015-04-30   19.0
2015-05-31    8.0
2015-06-30   18.0
2015-07-31   28.0
2015-08-31   39.0
2015-09-30   16.0
2015-10-31   31.0
2015-11-30   24.0
2015-12-31   25.0
2016-01-31   13.0
2016-02-29   16.0
2016-03-31   25.0
2016-04-30   26.0
2016-05-31   34.0
2016-06-30    7.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   24.0
2008-07-31   22.0
2008-08-31   15.0
2008-09-30   12.0
2008-10-31   16.0
2008-11-30    7.0
2008-12-31    9.0
2009-01-31    8.0
2009-02-28    6.0
2009-03-31   10.0
2009-04-30   11.0
2009-05-31   22.0
2009-06-30   14.0
2009-07-31    7.0
2009-08-31   20.0
2009-09-30   16.0
2009-10-31   17.0
2009-11-30   10.0
2009-12-31   23.0
2010-01-31   15.0
2010-02-28    7.0
2010-03-31   19.0
2010-04-30   10.0
2010-05-31   19.0
2010-06-30   17.0
2010-07-31   19.0
2010-08-31    7.0
2010-09-30   10.0
2010-10-31    5.0
2010-11-30   11.0
...           ...
2013-12-31    4.0
2014-01-31    5.0
2014-02-28    1.0
2014-03-31    8.0
2014-04-30    6.0
2014-05-31    7.0
2014-06-30    7.0
2014-07-31   10.0
2014-08-31    6.0
2014-09-30    5.0
2014-10-31    5.0
2014-11-30    6.0
2014-12-31    7.0
2015-01-31    6.0
2015-02-28    9.0
2015-03-31    4.0
2015-04-30   10.0
2015-05-31   10.0
2015-06-30    9.0
2015-07-31   16.0
2015-08-31   21.0
2015-09-30   23.0
2015-10-31   16.0
2015-11-30   14.0
2015-12-31   17.0
2016-01-31   11.0
2016-02-29   10.0
2016-03-31   17.0
2016-04-30   15.0
2016-05-31   24.0

[96 rows x 1 columns]
            Value
Date
2009-06-30    2.0
2011-05-31    1.0
2012-01-31    1.0
2013-04-30    2.0
2013-05-31    1.0
2014-07-31    1.0
2014-11-30    1.0
2014-12-31    2.0
            Value
Date
2008-06-30   34.0
2008-07-31   32.0
2008-08-31   38.0
2008-09-30   29.0
2008-10-31   29.0
2008-11-30   16.0
2008-12-31   21.0
2009-01-31   19.0
2009-02-28   13.0
2009-03-31   13.0
2009-04-30   18.0
2009-05-31   11.0
2009-06-30   25.0
2009-07-31   28.0
2009-08-31   17.0
2009-09-30   22.0
2009-10-31   34.0
2009-11-30   25.0
2009-12-31   22.0
2010-01-31   10.0
2010-02-28   34.0
2010-03-31   21.0
2010-04-30   23.0
2010-05-31   18.0
2010-06-30   25.0
2010-07-31   14.0
2010-08-31   12.0
2010-09-30   18.0
2010-10-31   18.0
2010-11-30   16.0
...           ...
2014-01-31   11.0
2014-02-28   10.0
2014-03-31   10.0
2014-04-30    9.0
2014-05-31    5.0
2014-06-30   10.0
2014-07-31   12.0
2014-08-31    7.0
2014-09-30    8.0
2014-10-31    1.0
2014-11-30   12.0
2014-12-31    8.0
2015-01-31    3.0
2015-02-28   10.0
2015-03-31    8.0
2015-04-30    8.0
2015-05-31    9.0
2015-06-30   11.0
2015-07-31   25.0
2015-08-31   20.0
2015-09-30   27.0
2015-10-31   17.0
2015-11-30   11.0
2015-12-31   16.0
2016-01-31   16.0
2016-02-29    8.0
2016-03-31   22.0
2016-04-30   21.0
2016-05-31   17.0
2016-06-30    4.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   75.0
2008-07-31   52.0
2008-08-31   61.0
2008-09-30   58.0
2008-10-31   50.0
2008-11-30   21.0
2008-12-31   53.0
2009-01-31   15.0
2009-02-28   29.0
2009-03-31   42.0
2009-04-30   43.0
2009-05-31   50.0
2009-06-30   58.0
2009-07-31   61.0
2009-08-31   70.0
2009-09-30   82.0
2009-10-31   62.0
2009-11-30   52.0
2009-12-31   54.0
2010-01-31   25.0
2010-02-28   32.0
2010-03-31   47.0
2010-04-30   87.0
2010-05-31   56.0
2010-06-30   64.0
2010-07-31   42.0
2010-08-31   31.0
2010-09-30   34.0
2010-10-31   29.0
2010-11-30   32.0
...           ...
2014-01-31   17.0
2014-02-28   17.0
2014-03-31   14.0
2014-04-30   15.0
2014-05-31   21.0
2014-06-30   22.0
2014-07-31   30.0
2014-08-31   27.0
2014-09-30   20.0
2014-10-31   15.0
2014-11-30   13.0
2014-12-31   25.0
2015-01-31   38.0
2015-02-28   17.0
2015-03-31   17.0
2015-04-30   34.0
2015-05-31   20.0
2015-06-30   29.0
2015-07-31   66.0
2015-08-31   58.0
2015-09-30   66.0
2015-10-31   69.0
2015-11-30   43.0
2015-12-31   64.0
2016-01-31   30.0
2016-02-29   37.0
2016-03-31   59.0
2016-04-30   59.0
2016-05-31   69.0
2016-06-30    6.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   27.0
2008-07-31   27.0
2008-08-31   20.0
2008-09-30   23.0
2008-10-31   24.0
2008-11-30   10.0
2008-12-31   22.0
2009-01-31    9.0
2009-02-28   10.0
2009-03-31   19.0
2009-04-30   15.0
2009-05-31   31.0
2009-06-30   22.0
2009-07-31   22.0
2009-08-31   26.0
2009-09-30   17.0
2009-10-31   28.0
2009-11-30   15.0
2009-12-31   24.0
2010-01-31   13.0
2010-02-28   18.0
2010-03-31   28.0
2010-04-30   20.0
2010-05-31   28.0
2010-06-30   35.0
2010-07-31   25.0
2010-08-31   24.0
2010-09-30   16.0
2010-10-31   12.0
2010-11-30   14.0
...           ...
2014-01-31    6.0
2014-02-28    8.0
2014-03-31    7.0
2014-04-30   12.0
2014-05-31   21.0
2014-06-30   16.0
2014-07-31   12.0
2014-08-31   13.0
2014-09-30    7.0
2014-10-31    7.0
2014-11-30    9.0
2014-12-31    3.0
2015-01-31    9.0
2015-02-28    7.0
2015-03-31   12.0
2015-04-30   13.0
2015-05-31   12.0
2015-06-30   15.0
2015-07-31   38.0
2015-08-31   24.0
2015-09-30   22.0
2015-10-31   30.0
2015-11-30   22.0
2015-12-31   34.0
2016-01-31   10.0
2016-02-29   14.0
2016-03-31   30.0
2016-04-30   37.0
2016-05-31   38.0
2016-06-30    4.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   22.0
2008-07-31   24.0
2008-08-31   19.0
2008-09-30   22.0
2008-10-31   20.0
2008-11-30   17.0
2008-12-31   22.0
2009-01-31   10.0
2009-02-28   11.0
2009-03-31   26.0
2009-04-30   22.0
2009-05-31   22.0
2009-06-30   28.0
2009-07-31   31.0
2009-08-31   31.0
2009-09-30   30.0
2009-10-31   30.0
2009-11-30   28.0
2009-12-31   32.0
2010-01-31   15.0
2010-02-28   12.0
2010-03-31   23.0
2010-04-30   15.0
2010-05-31   24.0
2010-06-30   39.0
2010-07-31   12.0
2010-08-31   18.0
2010-09-30   16.0
2010-10-31   16.0
2010-11-30   20.0
...           ...
2014-01-31    7.0
2014-02-28   15.0
2014-03-31   17.0
2014-04-30   10.0
2014-05-31   14.0
2014-06-30   14.0
2014-07-31   27.0
2014-08-31   20.0
2014-09-30   17.0
2014-10-31   13.0
2014-11-30   20.0
2014-12-31   21.0
2015-01-31   25.0
2015-02-28   18.0
2015-03-31   20.0
2015-04-30   14.0
2015-05-31   12.0
2015-06-30   13.0
2015-07-31   23.0
2015-08-31   18.0
2015-09-30   21.0
2015-10-31   22.0
2015-11-30   16.0
2015-12-31   19.0
2016-01-31    6.0
2016-02-29   23.0
2016-03-31   21.0
2016-04-30   20.0
2016-05-31   25.0
2016-06-30    2.0

[97 rows x 1 columns]

            Value
Date
2008-06-30  119.0
2008-07-31  105.0
2008-08-31  128.0
2008-09-30  132.0
2008-10-31  104.0
2008-11-30   61.0
2008-12-31   74.0
2009-01-31   42.0
2009-02-28   60.0
2009-03-31   62.0
2009-04-30   58.0
2009-05-31   87.0
2009-06-30  104.0
2009-07-31   80.0
2009-08-31   93.0
2009-09-30   74.0
2009-10-31   87.0
2009-11-30  104.0
2009-12-31   61.0
2010-01-31   33.0
2010-02-28   39.0
2010-03-31   85.0
2010-04-30   93.0
2010-05-31   72.0
2010-06-30   96.0
2010-07-31   49.0
2010-08-31   41.0
2010-09-30   55.0
2010-10-31   36.0
2010-11-30   43.0
...           ...
2014-01-31   13.0
2014-02-28   22.0
2014-03-31   39.0
2014-04-30   33.0
2014-05-31   39.0
2014-06-30   37.0
2014-07-31   35.0
2014-08-31   27.0
2014-09-30   32.0
2014-10-31   25.0
2014-11-30   24.0
2014-12-31   33.0
2015-01-31   28.0
2015-02-28   26.0
2015-03-31   20.0
2015-04-30   39.0
2015-05-31   27.0
2015-06-30   45.0
2015-07-31   78.0
2015-08-31   84.0
2015-09-30   97.0
2015-10-31   54.0
2015-11-30   43.0
2015-12-31   80.0
2016-01-31   34.0
2016-02-29   44.0
2016-03-31   77.0
2016-04-30   66.0
2016-05-31   70.0
2016-06-30    8.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   73.0
2008-07-31   60.0
2008-08-31   64.0
2008-09-30   39.0
2008-10-31   50.0
2008-11-30   19.0
2008-12-31   20.0
2009-01-31   20.0
2009-02-28   18.0
2009-03-31   26.0
2009-04-30   40.0
2009-05-31   50.0
2009-06-30   53.0
2009-07-31   47.0
2009-08-31   48.0
2009-09-30   53.0
2009-10-31   44.0
2009-11-30   35.0
2009-12-31   26.0
2010-01-31   14.0
2010-02-28   24.0
2010-03-31   48.0
2010-04-30   55.0
2010-05-31   54.0
2010-06-30   59.0
2010-07-31   40.0
2010-08-31   26.0
2010-09-30   21.0
2010-10-31   18.0
2010-11-30   22.0
...           ...
2014-01-31    7.0
2014-02-28    7.0
2014-03-31    9.0
2014-04-30    7.0
2014-05-31   15.0
2014-06-30   13.0
2014-07-31    6.0
2014-08-31   15.0
2014-09-30    4.0
2014-10-31   11.0
2014-11-30    6.0
2014-12-31   12.0
2015-01-31    8.0
2015-02-28    3.0
2015-03-31    9.0
2015-04-30   16.0
2015-05-31    9.0
2015-06-30   29.0
2015-07-31   42.0
2015-08-31   46.0
2015-09-30   44.0
2015-10-31   39.0
2015-11-30   25.0
2015-12-31   44.0
2016-01-31   13.0
2016-02-29   28.0
2016-03-31   32.0
2016-04-30   41.0
2016-05-31   48.0
2016-06-30    7.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   40.0
2008-07-31   31.0
2008-08-31   32.0
2008-09-30   23.0
2008-10-31   21.0
2008-11-30   23.0
2008-12-31   17.0
2009-01-31   12.0
2009-02-28   15.0
2009-03-31   20.0
2009-04-30   23.0
2009-05-31   31.0
2009-06-30   38.0
2009-07-31   45.0
2009-08-31   30.0
2009-09-30   34.0
2009-10-31   33.0
2009-11-30   32.0
2009-12-31   20.0
2010-01-31   22.0
2010-02-28   27.0
2010-03-31   45.0
2010-04-30   40.0
2010-05-31   37.0
2010-06-30   46.0
2010-07-31   29.0
2010-08-31   24.0
2010-09-30   24.0
2010-10-31   32.0
2010-11-30   16.0
...           ...
2014-01-31   17.0
2014-02-28   15.0
2014-03-31   19.0
2014-04-30   16.0
2014-05-31   30.0
2014-06-30   22.0
2014-07-31   17.0
2014-08-31   20.0
2014-09-30   16.0
2014-10-31   23.0
2014-11-30   13.0
2014-12-31   19.0
2015-01-31   15.0
2015-02-28   22.0
2015-03-31   17.0
2015-04-30   28.0
2015-05-31   25.0
2015-06-30   27.0
2015-07-31   40.0
2015-08-31   37.0
2015-09-30   26.0
2015-10-31   32.0
2015-11-30   26.0
2015-12-31   23.0
2016-01-31   20.0
2016-02-29   15.0
2016-03-31   26.0
2016-04-30   25.0
2016-05-31   37.0
2016-06-30   13.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   19.0
2008-07-31   19.0
2008-08-31   18.0
2008-09-30   10.0
2008-10-31    8.0
2008-11-30    5.0
2008-12-31   10.0
2009-01-31   12.0
2009-02-28    7.0
2009-03-31    7.0
2009-04-30    9.0
2009-05-31   12.0
2009-06-30   14.0
2009-07-31   14.0
2009-08-31    7.0
2009-09-30   15.0
2009-10-31    9.0
2009-11-30   17.0
2009-12-31   11.0
2010-01-31    4.0
2010-02-28    8.0
2010-03-31   11.0
2010-04-30    7.0
2010-05-31   13.0
2010-06-30   12.0
2010-07-31    8.0
2010-08-31   13.0
2010-09-30    9.0
2010-10-31    2.0
2010-11-30    3.0
...           ...
2014-01-31    1.0
2014-02-28    5.0
2014-03-31    5.0
2014-04-30    9.0
2014-05-31    8.0
2014-06-30    5.0
2014-07-31    5.0
2014-08-31    7.0
2014-09-30    4.0
2014-10-31    4.0
2014-11-30    4.0
2014-12-31    4.0
2015-01-31    4.0
2015-02-28    6.0
2015-03-31    2.0
2015-04-30    7.0
2015-05-31    8.0
2015-06-30    6.0
2015-07-31    8.0
2015-08-31   10.0
2015-09-30   17.0
2015-10-31    8.0
2015-11-30    9.0
2015-12-31   12.0
2016-01-31    5.0
2016-02-29   10.0
2016-03-31   10.0
2016-04-30   15.0
2016-05-31   18.0
2016-06-30    1.0

[97 rows x 1 columns]
            Value
Date
2008-06-30    3.0
2008-07-31    6.0
2008-08-31    6.0
2008-09-30    5.0
2008-10-31    6.0
2008-11-30    1.0
2008-12-31    3.0
2009-01-31    3.0
2009-02-28    6.0
2009-03-31    2.0
2009-04-30    6.0
2009-05-31    8.0
2009-06-30    7.0
2009-07-31    3.0
2009-08-31    6.0
2009-09-30    9.0
2009-10-31    4.0
2009-11-30    6.0
2009-12-31    9.0
2010-01-31    5.0
2010-02-28    8.0
2010-03-31    4.0
2010-04-30   12.0
2010-05-31    9.0
2010-06-30    9.0
2010-07-31    1.0
2010-08-31    2.0
2010-09-30    8.0
2010-10-31    3.0
2010-11-30    4.0
...           ...
2013-11-30    1.0
2013-12-31    6.0
2014-01-31    2.0
2014-03-31    3.0
2014-04-30    3.0
2014-05-31    1.0
2014-06-30    3.0
2014-07-31    6.0
2014-08-31    8.0
2014-09-30    4.0
2014-10-31    4.0
2014-11-30    1.0
2014-12-31    3.0
2015-01-31    1.0
2015-02-28    2.0
2015-03-31    4.0
2015-04-30    6.0
2015-05-31    5.0
2015-06-30    5.0
2015-07-31    8.0
2015-08-31    7.0
2015-09-30    8.0
2015-10-31    8.0
2015-11-30    6.0
2015-12-31    6.0
2016-01-31    8.0
2016-02-29    8.0
2016-03-31    7.0
2016-04-30    4.0
2016-05-31   10.0

[95 rows x 1 columns]
            Value
Date
2008-06-30   33.0
2008-07-31   36.0
2008-08-31   30.0
2008-09-30   27.0
2008-10-31   23.0
2008-11-30   19.0
2008-12-31   19.0
2009-01-31    4.0
2009-02-28    9.0
2009-03-31   23.0
2009-04-30   24.0
2009-05-31   20.0
2009-06-30   20.0
2009-07-31   28.0
2009-08-31   29.0
2009-09-30   18.0
2009-10-31   21.0
2009-11-30   20.0
2009-12-31   14.0
2010-01-31    8.0
2010-02-28   10.0
2010-03-31   31.0
2010-04-30   23.0
2010-05-31   28.0
2010-06-30   28.0
2010-07-31   16.0
2010-08-31   14.0
2010-09-30   10.0
2010-10-31   11.0
2010-11-30   16.0
...           ...
2014-01-31    4.0
2014-02-28    6.0
2014-03-31   11.0
2014-04-30    5.0
2014-05-31    8.0
2014-06-30   15.0
2014-07-31   14.0
2014-08-31   11.0
2014-09-30    8.0
2014-10-31    6.0
2014-11-30    9.0
2014-12-31   17.0
2015-01-31    9.0
2015-02-28    8.0
2015-03-31   10.0
2015-04-30   18.0
2015-05-31    9.0
2015-06-30   11.0
2015-07-31   40.0
2015-08-31   24.0
2015-09-30   25.0
2015-10-31   24.0
2015-11-30   17.0
2015-12-31   23.0
2016-01-31   13.0
2016-02-29   31.0
2016-03-31   20.0
2016-04-30   21.0
2016-05-31   20.0
2016-06-30    7.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   33.0
2008-07-31   30.0
2008-08-31   39.0
2008-09-30   31.0
2008-10-31   28.0
2008-11-30    8.0
2008-12-31   30.0
2009-01-31    6.0
2009-02-28   22.0
2009-03-31   22.0
2009-04-30   15.0
2009-05-31   17.0
2009-06-30   22.0
2009-07-31   34.0
2009-08-31   20.0
2009-09-30   19.0
2009-10-31   23.0
2009-11-30   22.0
2009-12-31   22.0
2010-01-31   24.0
2010-02-28   16.0
2010-03-31   28.0
2010-04-30   37.0
2010-05-31   30.0
2010-06-30   18.0
2010-07-31   20.0
2010-08-31  111.0
2010-09-30   10.0
2010-10-31   68.0
2010-11-30   11.0
...           ...
2014-01-31   10.0
2014-02-28   23.0
2014-03-31   25.0
2014-04-30   19.0
2014-05-31   22.0
2014-06-30   29.0
2014-07-31   29.0
2014-08-31   23.0
2014-09-30   24.0
2014-10-31   24.0
2014-11-30   23.0
2014-12-31   29.0
2015-01-31   17.0
2015-02-28   25.0
2015-03-31   15.0
2015-04-30   22.0
2015-05-31    7.0
2015-06-30   12.0
2015-07-31   21.0
2015-08-31   14.0
2015-09-30   25.0
2015-10-31   15.0
2015-11-30   16.0
2015-12-31   25.0
2016-01-31    9.0
2016-02-29   16.0
2016-03-31   19.0
2016-04-30   21.0
2016-05-31   27.0
2016-06-30    2.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   15.0
2008-07-31   16.0
2008-08-31   12.0
2008-09-30   10.0
2008-10-31    8.0
2008-11-30    5.0
2008-12-31   11.0
2009-01-31   12.0
2009-02-28    4.0
2009-03-31    9.0
2009-04-30    7.0
2009-05-31   10.0
2009-06-30    9.0
2009-07-31   16.0
2009-08-31    3.0
2009-09-30   15.0
2009-10-31    4.0
2009-11-30    5.0
2009-12-31    8.0
2010-01-31    1.0
2010-02-28    6.0
2010-03-31    7.0
2010-04-30   10.0
2010-05-31    8.0
2010-06-30   13.0
2010-07-31    4.0
2010-08-31    9.0
2010-09-30    6.0
2010-10-31    4.0
2010-11-30    8.0
...           ...
2014-01-31    2.0
2014-02-28    2.0
2014-03-31    3.0
2014-04-30    2.0
2014-05-31    5.0
2014-06-30    1.0
2014-07-31    5.0
2014-08-31    3.0
2014-09-30    2.0
2014-10-31    6.0
2014-11-30    2.0
2014-12-31    1.0
2015-01-31    2.0
2015-02-28    4.0
2015-03-31    2.0
2015-04-30    5.0
2015-05-31    3.0
2015-06-30    7.0
2015-07-31   15.0
2015-08-31    9.0
2015-09-30   14.0
2015-10-31   13.0
2015-11-30    1.0
2015-12-31    9.0
2016-01-31    9.0
2016-02-29    6.0
2016-03-31    7.0
2016-04-30    8.0
2016-05-31   19.0
2016-06-30    1.0

[97 rows x 1 columns]

            Value
Date
2008-06-30   40.0
2008-07-31   32.0
2008-08-31   34.0
2008-09-30   25.0
2008-10-31   23.0
2008-11-30   10.0
2008-12-31   16.0
2009-01-31    6.0
2009-02-28   13.0
2009-03-31   26.0
2009-04-30   16.0
2009-05-31   35.0
2009-06-30   21.0
2009-07-31   34.0
2009-08-31   32.0
2009-09-30   29.0
2009-10-31   23.0
2009-11-30   43.0
2009-12-31   16.0
2010-01-31   13.0
2010-02-28   10.0
2010-03-31   20.0
2010-04-30   34.0
2010-05-31   24.0
2010-06-30   21.0
2010-07-31   17.0
2010-08-31   24.0
2010-09-30   15.0
2010-10-31   18.0
2010-11-30   17.0
...           ...
2014-01-31   12.0
2014-02-28   12.0
2014-03-31   19.0
2014-04-30   14.0
2014-05-31   28.0
2014-06-30   27.0
2014-07-31   10.0
2014-08-31   21.0
2014-09-30    9.0
2014-10-31    9.0
2014-11-30    9.0
2014-12-31   15.0
2015-01-31    6.0
2015-02-28   16.0
2015-03-31   17.0
2015-04-30   11.0
2015-05-31   10.0
2015-06-30   18.0
2015-07-31   48.0
2015-08-31   25.0
2015-09-30   44.0
2015-10-31   28.0
2015-11-30   17.0
2015-12-31   27.0
2016-01-31   16.0
2016-02-29   19.0
2016-03-31   30.0
2016-04-30   24.0
2016-05-31   37.0
2016-06-30    2.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   24.0
2008-07-31   30.0
2008-08-31   40.0
2008-09-30   26.0
2008-10-31   26.0
2008-11-30   14.0
2008-12-31   36.0
2009-01-31   21.0
2009-02-28   19.0
2009-03-31   23.0
2009-04-30   35.0
2009-05-31   30.0
2009-06-30   28.0
2009-07-31   39.0
2009-08-31   28.0
2009-09-30   36.0
2009-10-31   27.0
2009-11-30   32.0
2009-12-31   23.0
2010-01-31   12.0
2010-02-28    8.0
2010-03-31   26.0
2010-04-30   36.0
2010-05-31   30.0
2010-06-30   38.0
2010-07-31   28.0
2010-08-31   20.0
2010-09-30   12.0
2010-10-31   17.0
2010-11-30   13.0
...           ...
2014-01-31    3.0
2014-02-28    5.0
2014-03-31    7.0
2014-04-30   10.0
2014-05-31   13.0
2014-06-30   21.0
2014-07-31    8.0
2014-08-31    8.0
2014-09-30   11.0
2014-10-31    5.0
2014-11-30    7.0
2014-12-31    6.0
2015-01-31    3.0
2015-02-28    2.0
2015-03-31    6.0
2015-04-30    9.0
2015-05-31    6.0
2015-06-30   11.0
2015-07-31   25.0
2015-08-31   21.0
2015-09-30   31.0
2015-10-31   25.0
2015-11-30   20.0
2015-12-31   32.0
2016-01-31   16.0
2016-02-29    7.0
2016-03-31   33.0
2016-04-30   27.0
2016-05-31   34.0
2016-06-30    4.0

[97 rows x 1 columns]
            Value
Date
2008-06-30   52.0
2008-07-31   48.0
2008-08-31   36.0
2008-09-30   23.0
2008-10-31   31.0
2008-11-30   20.0
2008-12-31   24.0
2009-01-31   10.0
2009-02-28   22.0
2009-03-31   30.0
2009-04-30   28.0
2009-05-31   34.0
2009-06-30   37.0
2009-07-31   31.0
2009-08-31   33.0
2009-09-30   24.0
2009-10-31   37.0
2009-11-30   26.0
2009-12-31   27.0
2010-01-31    8.0
2010-02-28   18.0
2010-03-31   32.0
2010-04-30   30.0
2010-05-31   35.0
2010-06-30   39.0
2010-07-31   29.0
2010-08-31   22.0
2010-09-30   20.0
2010-10-31   22.0
2010-11-30   30.0
...           ...
2014-01-31    4.0
2014-02-28    7.0
2014-03-31    7.0
2014-04-30    9.0
2014-05-31   15.0
2014-06-30   12.0
2014-07-31   14.0
2014-08-31   12.0
2014-09-30    9.0
2014-10-31    7.0
2014-11-30    5.0
2014-12-31    6.0
2015-01-31    3.0
2015-02-28   11.0
2015-03-31    9.0
2015-04-30   18.0
2015-05-31   13.0
2015-06-30   18.0
2015-07-31   51.0
2015-08-31   39.0
2015-09-30   25.0
2015-10-31   26.0
2015-11-30   20.0
2015-12-31   36.0
2016-01-31   23.0
2016-02-29   17.0
2016-03-31   39.0
2016-04-30   42.0
2016-05-31   38.0
2016-06-30    2.0

[97 rows x 1 columns]

In [24]:
# Concatenating all the data
#sales_concat = data_data
sales_concat = pd.concat(sales_concat)
# Getting month and year from the column "date"
sales_concat['Year'] = pd.DatetimeIndex(sales_concat.index).year
sales_concat['Month'] = pd.DatetimeIndex(sales_concat.index).month
rename_sales_concat = sales_concat.rename(columns={"Value":"Sales"})
rename_sales_concat

            Sales Zip Code  Year  Month
Date
2008-06-30   88.0    78701  2008      6
2008-07-31   81.0    78701  2008      7
2008-08-31   71.0    78701  2008      8
2008-09-30   40.0    78701  2008      9
2008-10-31   36.0    78701  2008     10
2008-11-30    8.0    78701  2008     11
2008-12-31    6.0    78701  2008     12
2009-01-31    1.0    78701  2009      1
2009-02-28    7.0    78701  2009      2
2009-03-31    9.0    78701  2009      3
2009-04-30    4.0    78701  2009      4
2009-05-31    9.0    78701  2009      5
2009-06-30   16.0    78701  2009      6
2009-07-31   16.0    78701  2009      7
2009-08-31   13.0    78701  2009      8
2009-09-30   17.0    78701  2009      9
2009-10-31   11.0    78701  2009     10
2009-11-30   13.0    78701  2009     11
2009-12-31   10.0    78701  2009     12
2010-01-31    2.0    78701  2010      1
2010-02-28    4.0    78701  2010      2
2010-03-31   12.0    78701  2010      3
2010-04-30    6.0    78701  2010      4
2010-05-31   16.0    78701  2010      5
2010-06-30   21.0    78701  2010      6
2010-07-31   15.0    78701  2010      7
2010-08-31   16.0    78701  2010      8
2010-09-30   17.0    78701  2010      9
2010-10-31   14.0    78701  2010     10
2010-11-30    8.0    78701  2010     11
...           ...      ...   ...    ...
2014-01-31    4.0    78759  2014      1
2014-02-28    7.0    78759  2014      2
2014-03-31    7.0    78759  2014      3
2014-04-30    9.0    78759  2014      4
2014-05-31   15.0    78759  2014      5
2014-06-30   12.0    78759  2014      6
2014-07-31   14.0    78759  2014      7
2014-08-31   12.0    78759  2014      8
2014-09-30    9.0    78759  2014      9
2014-10-31    7.0    78759  2014     10
2014-11-30    5.0    78759  2014     11
2014-12-31    6.0    78759  2014     12
2015-01-31    3.0    78759  2015      1
2015-02-28   11.0    78759  2015      2
2015-03-31    9.0    78759  2015      3
2015-04-30   18.0    78759  2015      4
2015-05-31   13.0    78759  2015      5
2015-06-30   18.0    78759  2015      6
2015-07-31   51.0    78759  2015      7
2015-08-31   39.0    78759  2015      8
2015-09-30   25.0    78759  2015      9
2015-10-31   26.0    78759  2015     10
2015-11-30   20.0    78759  2015     11
2015-12-31   36.0    78759  2015     12
2016-01-31   23.0    78759  2016      1
2016-02-29   17.0    78759  2016      2
2016-03-31   39.0    78759  2016      3
2016-04-30   42.0    78759  2016      4
2016-05-31   38.0    78759  2016      5
2016-06-30    2.0    78759  2016      6

[3992 rows x 4 columns]

In [25]:
# Export the "home value" data to a csv file
rename_sales_concat.to_csv("../data/int/output_quandl/7_Output.sales.csv", index = False ,header = True)

## Median Rental Price - All Homes|MRPAH

In [26]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "MRPAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["Zip Code"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1
    
rental_concat = data_data

             Value
Date
2011-01-31  1850.0
2011-02-28  1925.0
2011-03-31  2000.0
2011-04-30  2200.0
2011-05-31  2020.0
2011-06-30  2100.0
2011-07-31  2075.0
2011-08-31  2100.0
2011-09-30  2050.0
2011-10-31  2000.0
2011-11-30  2016.0
2011-12-31  1995.0
2012-01-31  2050.0
2012-02-29  2095.0
2012-03-31  2200.0
2012-04-30  2200.0
2012-05-31  2100.0
2012-06-30  2100.0
2012-07-31  2100.0
2012-08-31  2000.0
2012-09-30  2000.0
2012-10-31  2100.0
2012-11-30  2200.0
2012-12-31  2300.0
2013-01-31  2100.0
2013-02-28  2100.0
2013-03-31  2100.0
2013-04-30  2108.0
2013-05-31  2140.0
2013-06-30  2260.0
...            ...
2015-03-31  2496.0
2015-04-30  2495.0
2015-05-31  2472.5
2015-06-30  2345.0
2015-07-31  2200.0
2015-08-31  2300.0
2015-09-30  2300.0
2015-10-31  2395.0
2015-11-30  2372.5
2015-12-31  2495.0
2016-01-31  2472.0
2016-02-29  2400.0
2016-03-31  2375.0
2016-04-30  2473.0
2016-05-31  2498.5
2016-06-30  2450.0
2016-07-31  2250.0
2016-08-31  2449.0
2016-09-30  2543.0
2016-10-31  2250.0
2016-11-30  2200.0
2016-12-31  2125.0
2017-01-31  2395.0
2017-02-28  2400.0
2017-03-31  2400.0
2017-04-30  2449.0
2017-05-31  2400.0
2017-06-30  2300.0
2017-07-31  2350.0
2017-08-31  2300.0

[80 rows x 1 columns]
             Value
Date
2014-02-28  1895.0
2014-03-31  1850.0
2014-04-30  1800.0
2014-05-31  1800.0
2014-06-30  1800.0
2014-07-31  1900.0
2014-08-31  1800.0
2014-09-30  1895.0
2014-10-31  1900.0
2014-11-30  1900.0
2014-12-31  1850.0
2015-01-31  1897.5
2015-02-28  1900.0
2015-03-31  1872.5
2015-04-30  1995.0
2015-05-31  2000.0
2015-06-30  1995.0
2015-07-31  1900.0
2015-08-31  1995.0
2015-09-30  1895.0
2015-10-31  1997.5
2015-11-30  1900.0
2015-12-31  2000.0
2016-01-31  1960.0
2016-02-29  1937.5
2016-03-31  2049.5
2016-04-30  1950.0
2016-05-31  1985.0
2016-06-30  2072.5
2016-07-31  1995.0
2016-08-31  1975.0
2016-09-30  1997.5
2016-10-31  2047.5
2016-11-30  2000.0
2016-12-31  1897.5
2017-01-31  1985.0
2017-02-28  2095.0
2017-03-31  2225.0
2017-04-30  2200.0
2017-05-31  2099.0
2017-06-30  2050.0
2017-07-31  2000.0
2017-08-31  1975.0
2017-09-30  1897.5
2017-10-31  2100.0
2017-11-30  2000.0
2017-12-31  2000.0
2018-01-31  2000.0
2018-02-28  2200.0
2018-03-31  2200.0
2018-04-30  2234.5
             Value
Date
2016-10-31  2100.0
2016-11-30  2050.0
2016-12-31  2300.0
2017-01-31  2300.0
2017-02-28  2100.0
2017-03-31  2350.0
2017-04-30  2400.0
2017-05-31  2300.0
2017-06-30  2500.0
2017-07-31  2462.5
2017-08-31  2297.5
2017-09-30  2200.0
2017-10-31  2300.0
2017-11-30  2100.0
2017-12-31  2275.0
2018-01-31  2100.0
2018-02-28  2272.5
2018-03-31  2300.0
2018-04-30  2387.5
             Value
Date
2012-04-30  1852.5
2012-05-31  1792.5
2012-06-30  1750.0
2012-07-31  1650.0
2012-08-31  1590.0
2012-09-30  1500.0
2012-10-31  1500.0
2012-11-30  1500.0
2012-12-31  1600.0
2013-01-31  1450.0
2013-02-28  1442.5
2013-03-31  1295.0
2013-04-30  1385.0
2013-05-31  1400.0
2013-06-30  1529.0
2013-07-31  1450.0
2013-08-31  1470.0
2013-09-30  1495.0
2013-10-31  1529.0
2013-11-30  1595.0
2013-12-31  1539.5
2014-01-31  1487.0
2014-02-28  1497.5
2014-03-31  1529.0
2014-04-30  1595.0
2014-05-31  1529.0
2014-06-30  1524.0
2014-07-31  1574.0
2014-08-31  1550.0
2014-09-30  1529.0
...            ...
2015-11-30  1700.0
2015-12-31  1699.0
2016-01-31  1680.0
2016-02-29  1700.0
2016-03-31  1700.0
2016-04-30  1602.5
2016-05-31  1627.5
2016-06-30  1600.0
2016-07-31  1600.0
2016-08-31  1529.0
2016-09-30  1575.0
2016-10-31  1477.5
2016-11-30  1529.0
2016-12-31  1475.0
2017-01-31  1659.5
2017-02-28  1699.0
2017-03-31  1700.0
2017-04-30  1800.0
2017-05-31  1850.0
2017-06-30  1825.0
2017-07-31  1800.0
2017-08-31  1797.5
2017-09-30  1748.5
2017-10-31  1700.0
2017-11-30  1625.0
2017-12-31  1626.0
2018-01-31  1670.0
2018-02-28  1747.0
2018-03-31  1736.0
2018-04-30  1825.0

[73 rows x 1 columns]
             Value
Date
2015-10-31  1995.0
2015-11-30  1997.5
2015-12-31  1900.0
2016-01-31  1900.0
2016-02-29  1900.0
2016-03-31  1750.0
2016-04-30  1612.5
2016-05-31  1595.0
2016-06-30  1600.0
2016-07-31  1472.5
2016-08-31  1525.0
2016-09-30  1597.5
2016-10-31  1550.0
2016-11-30  1625.0
2016-12-31  1865.0
2017-01-31  1695.0
2017-02-28  1700.0
2017-03-31  1700.0
2017-04-30  1675.0
2017-05-31  1600.0
2017-06-30  1585.0
2017-07-31  1495.0
2017-08-31  1400.0
2017-09-30  1550.0
2017-10-31  1800.0
2017-11-30  1795.0
2017-12-31  1750.0
2018-01-31  1750.0
2018-02-28  1797.5
2018-03-31  1750.0
2018-04-30  1699.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2017-02-28  1600.0
2017-03-31  1700.0
2017-04-30  1700.0
2017-05-31  1750.0
2017-06-30  1800.0
2017-07-31  1795.0
2017-08-31  1750.0
2017-09-30  1700.0
2017-10-31  1695.0
2017-11-30  1625.0
2017-12-31  1695.0
2018-01-31  1700.0
2018-02-28  1695.0
2018-03-31  1700.0
2018-04-30  1785.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2012-04-30  1275.5
2012-05-31  1288.0
2012-06-30  1350.0
2012-07-31  1325.0
2012-08-31  1300.0
2012-09-30  1250.0
2012-10-31  1250.0
2012-11-30  1333.0
2012-12-31  1250.0
2013-01-31  1327.5
2013-02-28  1250.0
2013-03-31  1200.0
2013-04-30  1199.0
2013-05-31  1309.5
2013-06-30  1463.0
2013-07-31  1532.0
2013-08-31  1397.5
2013-09-30  1375.0
2013-10-31  1475.0
2013-11-30  1463.0
2013-12-31  1469.0
2014-01-31  1475.0
2014-02-28  1529.0
2014-03-31  1536.0
2014-04-30  1621.0
2014-05-31  1500.0
2014-06-30  1497.0
2014-07-31  1475.0
2014-08-31  1536.0
2014-09-30  1529.0
...            ...
2015-11-30  1572.5
2015-12-31  1600.0
2016-01-31  1672.5
2016-02-29  1674.5
2016-03-31  1595.0
2016-04-30  1543.0
2016-05-31  1625.0
2016-06-30  1747.5
2016-07-31  1747.5
2016-08-31  1608.0
2016-09-30  1536.0
2016-10-31  1529.0
2016-11-30  1614.5
2016-12-31  1536.0
2017-01-31  1700.0
2017-02-28  1735.0
2017-03-31  1635.5
2017-04-30  1700.0
2017-05-31  1730.0
2017-06-30  1745.0
2017-07-31  1795.0
2017-08-31  1747.5
2017-09-30  1725.0
2017-10-31  1712.5
2017-11-30  1735.0
2017-12-31  1750.0
2018-01-31  1750.0
2018-02-28  1750.0
2018-03-31  1797.5
2018-04-30  1875.0

[73 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2015-07-31  1090.0
2015-08-31  1085.0
2015-09-30  1024.5
2015-10-31  1085.0
2015-11-30  1069.0
2015-12-31  1069.0
2016-01-31  1053.0
2016-02-29  1053.0
2016-03-31   996.0
2016-04-30   966.0
2016-05-31   981.0
2016-06-30  1085.0
2016-07-31   981.0
2016-08-31  1087.5
2016-09-30   966.0
2016-10-31   996.0
2016-11-30   960.0
2016-12-31   917.0
2017-01-31   954.0
2017-02-28   966.0
2017-03-31  1085.0
2017-04-30  1090.0
2017-05-31  1090.0
2017-06-30  1183.0
2017-07-31  1281.0
2017-08-31  1250.0
2017-09-30  1090.0
2017-10-31  1069.0
2017-11-30  1085.0
2017-12-31  1085.0
2018-01-31   996.0
2018-02-28  1053.0
2018-03-31  1085.0
2018-04-30  1090.0
             Value
Date
2013-07-31  1132.5
2013-08-31  1125.0
2013-09-30  1250.0
2013-10-31  1275.0
2013-11-30  1296.0
2013-12-31  1268.0
2014-01-31  1268.0
2014-02-28  1261.0
2014-03-31  1300.0
2014-04-30  1350.0
2014-05-31  1275.0
2014-06-30  1362.5
2014-07-31  1390.5
2014-08-31  1395.0
2014-09-30  1395.0
2014-10-31  1335.0
2014-11-30  1275.0
2014-12-31  1295.0
2015-01-31  1350.0
2015-02-28  1345.0
2015-03-31  1295.0
2015-04-30  1295.0
2015-05-31  1350.0
2015-06-30  1410.0
2015-07-31  1500.0
2015-08-31  1475.0
2015-09-30  1400.0
2015-10-31  1450.0
2015-11-30  1450.0
2015-12-31  1362.5
2016-01-31  1390.5
2016-02-29  1445.0
2016-03-31  1450.0
2016-04-30  1386.0
2016-05-31  1350.0
2016-06-30  1285.0
2016-07-31  1298.0
2016-08-31  1296.0
2016-09-30  1285.0
2016-10-31  1275.0
2016-11-30  1244.5
2016-12-31  1285.0
2017-01-31  1399.5
2017-02-28  1495.0
2017-03-31  1482.5
2017-04-30  1495.0
2017-05-31  1525.0
2017-06-30  1500.0
2017-07-31  1500.0
2017-08-31  1500.0
2017-09-30  1500.0
2017-10-31  1512.5
2017-11-30  1499.0
2017-12-31  1475.0
2018-01-31  1495.0
2018-02-28  1497.5
2018-03-31  1495.0
2018-04-30  1495.0

             Value
Date
2012-12-31  1010.0
2013-01-31   860.0
2013-02-28   895.0
2013-03-31   880.0
2013-04-30   885.0
2013-05-31   925.0
2013-06-30   908.0
2013-07-31   954.0
2013-08-31   995.0
2013-09-30   955.0
2013-10-31   954.0
2013-11-30   950.0
2013-12-31   928.0
2014-01-31   950.0
2014-02-28   967.5
2014-03-31  1055.0
2014-04-30  1080.0
2014-05-31   987.0
2014-06-30   979.0
2014-07-31  1012.5
2014-08-31  1002.5
2014-09-30   997.5
2014-10-31   987.0
2014-11-30   956.0
2014-12-31   967.5
2015-01-31   940.5
2015-02-28   940.5
2015-03-31   950.0
2015-04-30   967.5
2015-05-31  1035.0
2015-06-30  1047.5
2015-07-31  1047.5
2015-08-31  1025.0
2015-09-30  1075.0
2015-10-31  1035.0
2015-11-30  1000.0
2015-12-31   954.0
2016-01-31   995.0
2016-02-29  1000.0
2016-03-31  1005.0
2016-04-30   967.5
2016-05-31   954.0
2016-06-30   967.5
2016-07-31  1002.5
2016-08-31   967.5
2016-09-30   967.5
2016-10-31   967.5
2016-11-30   952.0
2016-12-31   955.0
2017-01-31  1005.0
2017-02-28  1002.5
2017-03-31  1075.0
             Value
Date
2013-11-30  1300.0
2013-12-31  1197.5
2014-01-31  1105.0
2014-02-28  1145.0
2014-03-31  1275.0
2014-04-30  1304.5
2014-05-31  1140.0
2014-06-30  1200.0
2014-07-31  1280.0
2014-08-31  1145.0
2014-09-30  1105.0
2014-10-31  1105.0
2014-11-30  1102.5
2014-12-31  1091.0
2015-01-31  1100.0
2015-02-28  1145.0
2015-03-31  1105.0
2015-04-30  1122.5
2015-05-31  1140.0
2015-06-30  1150.0
2015-07-31  1295.0
2015-08-31  1252.5
2015-09-30  1290.0
2015-10-31  1295.0
2015-11-30  1275.0
2015-12-31  1280.0
2016-01-31  1122.5
2016-02-29  1100.0
2016-03-31  1105.0
2016-04-30  1102.5
2016-05-31  1057.0
2016-06-30  1215.0
2016-07-31  1145.0
2016-08-31  1102.5
2016-09-30  1093.5
2016-10-31  1093.5
2016-11-30  1102.5
2016-12-31  1077.0
2017-01-31  1145.0
2017-02-28  1122.5
2017-03-31  1292.5
2017-04-30  1309.0
2017-05-31  1477.5
2017-06-30  1595.0
2017-07-31  1585.0
2017-08-31  1495.0
2017-09-30  1425.0
2017-10-31  1395.0
2017-11-30  1377.0
2017-12-31  1304.5
2018-01-31  1350.0
2018-02-28  1350.0
2018-03-31  1295.0
2018-04-30  1350.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2013-07-31  1410.0
2013-08-31  1400.0
2013-09-30  1350.0
2013-10-31  1405.0
2013-11-30  1455.0
2013-12-31  1450.0
2014-01-31  1400.0
2014-02-28  1489.0
2014-03-31  1588.0
2014-04-30  1595.0
2014-05-31  1489.0
2014-06-30  1489.0
2014-07-31  1495.0
2014-08-31  1407.5
2014-09-30  1450.0
2014-10-31  1540.5
2014-11-30  1455.0
2014-12-31  1450.0
2015-01-31  1520.5
2015-02-28  1620.0
2015-03-31  1588.0
2015-04-30  1495.0
2015-05-31  1415.0
2015-06-30  1597.5
2015-07-31  1600.5
2015-08-31  1460.0
2015-09-30  1610.0
2015-10-31  1565.5
2015-11-30  1450.0
2015-12-31  1495.0
2016-01-31  1477.5
2016-02-29  1450.0
2016-03-31  1450.0
2016-04-30  1407.5
2016-05-31  1450.0
2016-06-30  1450.0
2016-07-31  1400.0
2016-08-31  1397.5
2016-09-30  1300.0
2016-10-31  1400.0
2016-11-30  1350.0
2016-12-31  1375.0
2017-01-31  1467.5
2017-02-28  1459.0
2017-03-31  1549.0
2017-04-30  1600.0
2017-05-31  1600.0
2017-06-30  1595.0
2017-07-31  1600.0
2017-08-31  1692.5
2017-09-30  1695.0
2017-10-31  1697.5
2017-11-30  1625.0
2017-12-31  1620.0
2018-01-31  1620.0
2018-02-28  1610.0
2018-03-31  1635.0
2018-04-30  1581.0
             Value
Date
2017-03-31  2750.0
2017-04-30  2600.0
2017-05-31  2600.0
2017-06-30  2600.0
2017-07-31  2647.5
2017-08-31  2495.0
2017-09-30  2500.0
2017-10-31  2500.0
2017-11-30  2595.0
2017-12-31  2775.0
2018-01-31  2600.0
2018-02-28  2895.0
2018-03-31  2737.5
2018-04-30  2800.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2011-06-30  1922.5
2011-07-31  1950.0
2011-08-31  2000.0
2011-09-30  2125.0
2011-10-31  1995.0
2011-11-30  2100.0
2011-12-31  2150.0
2012-01-31  1950.0
2012-02-29  1900.0
2012-03-31  2000.0
2012-04-30  1975.0
2012-05-31  1925.0
2012-06-30  2150.0
2012-07-31  2100.0
2012-08-31  2172.5
2012-09-30  2150.0
2012-10-31  2000.0
2012-11-30  1900.0
2012-12-31  1849.0
2013-01-31  1875.0
2013-02-28  2025.0
2013-03-31  2100.0
2013-04-30  2100.0
2013-05-31  2175.0
2013-06-30  2100.0
2013-07-31  2200.0
2013-08-31  2200.0
2013-09-30  2200.0
2013-10-31  2200.0
2013-11-30  2200.0
...            ...
2015-11-30  2195.0
2015-12-31  2225.0
2016-01-31  2297.5
2016-02-29  2350.0
2016-03-31  2350.0
2016-04-30  2300.0
2016-05-31  2250.0
2016-06-30  2125.0
2016-07-31  2200.0
2016-08-31  2300.0
2016-09-30  2200.0
2016-10-31  2197.5
2016-11-30  2425.0
2016-12-31  2150.0
2017-01-31  2250.0
2017-02-28  2212.5
2017-03-31  2249.5
2017-04-30  2250.0
2017-05-31  2172.5
2017-06-30  2200.0
2017-07-31  2297.5
2017-08-31  2212.5
2017-09-30  2195.0
2017-10-31  2150.0
2017-11-30  2262.5
2017-12-31  2250.0
2018-01-31  2300.0
2018-02-28  2350.0
2018-03-31  2300.0
2018-04-30  2300.0

[83 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2012-12-31   850.0
2013-01-31   709.0
2013-02-28   749.5
2013-03-31   750.0
2013-04-30   809.0
2013-05-31   825.0
2013-06-30   859.0
2013-07-31   925.0
2013-08-31   920.0
2013-09-30   859.0
2013-10-31   862.5
2013-11-30   859.5
2013-12-31   829.0
2014-01-31   797.5
2014-02-28   844.0
2014-03-31   862.5
2014-04-30   895.0
2014-05-31   859.5
2014-06-30   859.0
2014-07-31   859.0
2014-08-31   860.0
2014-09-30   860.0
2014-10-31   819.0
2014-11-30   859.0
2014-12-31   844.0
2015-01-31   829.0
2015-02-28   822.0
2015-03-31   809.5
2015-04-30   795.0
2015-05-31   829.0
2015-06-30   860.0
2015-07-31   875.0
2015-08-31   879.0
2015-09-30   895.0
2015-10-31   900.0
2015-11-30   867.0
2015-12-31   865.0
2016-01-31   860.0
2016-02-29   869.0
2016-03-31   860.0
2016-04-30   789.0
2016-05-31   800.0
2016-06-30   860.0
2016-07-31   859.0
2016-08-31   819.0
2016-09-30   795.0
2016-10-31   819.0
2016-11-30   859.5
2016-12-31   809.5
2017-01-31   895.0
2017-02-28   950.0
2017-03-31   994.0
2017-04-30  1000.0
2017-05-31  1025.0
2017-06-30  1195.0
2017-07-31  1195.0
2017-08-31  1150.0
2017-09-30  1000.0
2017-10-31  1114.0
2017-11-30  1100.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2013-01-31   965.0
2013-02-28   959.5
2013-03-31   860.0
2013-04-30   950.0
2013-05-31   885.0
2013-06-30   974.0
2013-07-31   925.0
2013-08-31   929.0
2013-09-30   991.0
2013-10-31  1025.0
2013-11-30   991.0
2013-12-31  1040.0
2014-01-31  1045.0
2014-02-28  1050.0
2014-03-31  1092.5
2014-04-30  1100.0
2014-05-31   991.0
2014-06-30   991.0
2014-07-31  1085.0
2014-08-31  1142.0
2014-09-30  1120.0
2014-10-31  1005.0
2014-11-30  1040.0
2014-12-31   991.0
2015-01-31   979.0
2015-02-28   991.0
2015-03-31  1015.5
2015-04-30  1110.0
2015-05-31  1129.5
2015-06-30  1156.5
...            ...
2015-11-30  1085.0
2015-12-31  1110.0
2016-01-31  1110.0
2016-02-29  1097.5
2016-03-31  1110.0
2016-04-30   991.0
2016-05-31  1040.0
2016-06-30  1110.0
2016-07-31  1090.0
2016-08-31  1110.0
2016-09-30   993.0
2016-10-31  1110.0
2016-11-30  1115.0
2016-12-31  1115.0
2017-01-31  1199.0
2017-02-28  1200.0
2017-03-31  1199.5
2017-04-30  1237.5
2017-05-31  1325.0
2017-06-30  1310.0
2017-07-31  1325.0
2017-08-31  1247.5
2017-09-30  1350.0
2017-10-31  1337.5
2017-11-30  1325.0
2017-12-31  1364.5
2018-01-31  1351.0
2018-02-28  1395.0
2018-03-31  1395.0
2018-04-30  1395.0

[64 rows x 1 columns]

             Value
Date
2013-02-28   950.0
2013-03-31  1000.0
2013-04-30  1075.0
2013-05-31  1090.0
2013-06-30  1102.0
2013-07-31  1028.0
2013-08-31  1100.0
2013-09-30  1194.0
2013-10-31  1159.5
2013-11-30  1250.0
2013-12-31  1184.0
2014-01-31  1150.0
2014-02-28  1195.0
2014-03-31  1265.0
2014-04-30  1300.0
2014-05-31  1188.5
2014-06-30  1152.5
2014-07-31  1197.5
2014-08-31  1193.0
2014-09-30  1188.5
2014-10-31  1152.5
2014-11-30  1150.0
2014-12-31  1090.0
2015-01-31  1090.0
2015-02-28  1135.0
2015-03-31  1090.0
2015-04-30  1150.0
2015-05-31  1222.5
2015-06-30  1240.0
2015-07-31  1295.0
...            ...
2015-11-30  1336.0
2015-12-31  1250.0
2016-01-31  1240.0
2016-02-29  1245.0
2016-03-31  1250.0
2016-04-30  1188.5
2016-05-31  1195.0
2016-06-30  1250.0
2016-07-31  1260.0
2016-08-31  1250.0
2016-09-30  1195.0
2016-10-31  1222.5
2016-11-30  1184.0
2016-12-31  1195.0
2017-01-31  1347.0
2017-02-28  1400.0
2017-03-31  1475.0
2017-04-30  1512.5
2017-05-31  1495.0
2017-06-30  1595.0
2017-07-31  1599.0
2017-08-31  1595.0
2017-09-30  1500.0
2017-10-31  1497.5
2017-11-30  1500.0
2017-12-31  1450.0
2018-01-31  1495.5
2018-02-28  1500.0
2018-03-31  1545.0
2018-04-30  1595.0

[63 rows x 1 columns]
             Value
Date
2017-03-31  3300.0
2017-04-30  3232.5
2017-05-31  3425.0
2017-06-30  3149.0
2017-07-31  3174.0
2017-08-31  2995.0
2017-09-30  2875.0
2017-10-31  3250.0
2017-11-30  3150.0
2017-12-31  3025.0
2018-01-31  3250.0
2018-02-28  2997.5
2018-03-31  3100.0
2018-04-30  3495.0
             Value
Date
2017-01-31  1550.0
2017-02-28  1547.5
2017-03-31  1562.5
2017-04-30  1550.0
2017-05-31  1585.0
2017-06-30  1527.5
2017-07-31  1637.5
2017-08-31  1695.0
2017-09-30  1650.0
2017-10-31  1600.0
2017-11-30  1562.5
2017-12-31  1500.0
2018-01-31  1500.0
2018-02-28  1572.5
2018-03-31  1650.0
2018-04-30  1699.0
             Value
Date
2013-10-31  1475.0
2013-11-30  1450.0
2013-12-31  1450.0
2014-01-31  1485.0
2014-02-28  1425.0
2014-03-31  1495.0
2014-04-30  1495.0
2014-05-31  1437.5
2014-06-30  1437.5
2014-07-31  1575.0
2014-08-31  1625.0
2014-09-30  1595.0
2014-10-31  1550.0
2014-11-30  1540.0
2014-12-31  1537.5
2015-01-31  1497.5
2015-02-28  1550.0
2015-03-31  1500.0
2015-04-30  1550.0
2015-05-31  1625.0
2015-06-30  1625.0
2015-07-31  1600.0
2015-08-31  1650.0
2015-09-30  1650.0
2015-10-31  1610.0
2015-11-30  1597.5
2015-12-31  1575.0
2016-01-31  1650.0
2016-02-29  1662.5
2016-03-31  1650.0
2016-04-30  1650.0
2016-05-31  1550.0
2016-06-30  1600.0
2016-07-31  1662.5
2016-08-31  1650.0
2016-09-30  1596.5
2016-10-31  1595.0
2016-11-30  1537.5
2016-12-31  1595.0
2017-01-31  1650.0
2017-02-28  1695.0
2017-03-31  1695.0
2017-04-30  1695.0
2017-05-31  1650.0
2017-06-30  1695.0
2017-07-31  1735.0
2017-08-31  1700.0
2017-09-30  1650.0
2017-10-31  1650.0
2017-11-30  1650.0
2017-12-31  1600.0
2018-01-31  1612.5
2018-02-28  1675.0
2018-03-31  1695.0
2018-04-30  1700.0
             Value
Date
2013-02-28  1142.5
2013-03-31  1135.0
2013-04-30  1315.0
2013-05-31  1408.0
2013-06-30  1399.5
2013-07-31  1205.0
2013-08-31  1299.0
2013-09-30  1425.0
2013-10-31  1500.0
2013-11-30  1566.0
2013-12-31  1475.0
2014-01-31  1487.5
2014-02-28  1475.0
2014-03-31  1513.0
2014-04-30  1597.5
2014-05-31  1500.0
2014-06-30  1525.0
2014-07-31  1595.0
2014-08-31  1695.0
2014-09-30  1595.0
2014-10-31  1535.0
2014-11-30  1576.0
2014-12-31  1712.5
2015-01-31  1722.5
2015-02-28  1553.5
2015-03-31  1520.5
2015-04-30  1566.0
2015-05-31  1506.0
2015-06-30  1762.5
2015-07-31  1750.0
...            ...
2015-11-30  1535.0
2015-12-31  1542.5
2016-01-31  1600.0
2016-02-29  1695.0
2016-03-31  1595.0
2016-04-30  1520.5
2016-05-31  1595.0
2016-06-30  1622.5
2016-07-31  1725.0
2016-08-31  1650.0
2016-09-30  1550.0
2016-10-31  1425.0
2016-11-30  1515.5
2016-12-31  1478.5
2017-01-31  1595.0
2017-02-28  1695.0
2017-03-31  1895.0
2017-04-30  1895.0
2017-05-31  1950.0
2017-06-30  1935.0
2017-07-31  1995.0
2017-08-31  1895.0
2017-09-30  1777.5
2017-10-31  1750.0
2017-11-30  1750.0
2017-12-31  1797.5
2018-01-31  1750.0
2018-02-28  1772.5
2018-03-31  1837.5
2018-04-30  1825.0

[63 rows x 1 columns]
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2015-10-31  2497.5
2015-11-30  2700.0
2015-12-31  2897.5
2016-01-31  2500.0
2016-02-29  2520.0
2016-03-31  2385.0
2016-04-30  2450.0
2016-05-31  2335.0
2016-06-30  2200.0
2016-07-31  2300.0
2016-08-31  2200.0
2016-09-30  1995.0
2016-10-31  2125.0
2016-11-30  2500.0
2016-12-31  2335.0
2017-01-31  2550.0
2017-02-28  2450.0
2017-03-31  2400.0
2017-04-30  2400.0
2017-05-31  2335.0
2017-06-30  2250.0
2017-07-31  2100.0
2017-08-31  1900.0
2017-09-30  2097.5
2017-10-31  2247.5
2017-11-30  2342.5
2017-12-31  2295.0
2018-01-31  2247.5
2018-02-28  2100.0
2018-03-31  2295.0
2018-04-30  2200.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
            Value
Date
2013-02-28  775.0
2013-03-31  805.0
2013-04-30  812.0
2013-05-31  805.0
2013-06-30  806.0
2013-07-31  846.0
2013-08-31  816.0
2013-09-30  805.0
2013-10-31  817.5
2013-11-30  817.5
2013-12-31  822.0
2014-01-31  825.0
2014-02-28  835.0
2014-03-31  848.0
2014-04-30  875.0
2014-05-31  823.5
2014-06-30  829.5
2014-07-31  825.0
2014-08-31  834.5
2014-09-30  840.0
2014-10-31  823.5
2014-11-30  834.5
2014-12-31  822.0
2015-01-31  816.0
2015-02-28  821.0
2015-03-31  820.0
2015-04-30  821.0
2015-05-31  825.0
2015-06-30  825.0
2015-07-31  821.0
...           ...
2015-11-30  823.5
2015-12-31  834.5
2016-01-31  834.5
2016-02-29  829.5
2016-03-31  805.0
2016-04-30  822.0
2016-05-31  799.0
2016-06-30  829.5
2016-07-31  823.5
2016-08-31  808.5
2016-09-30  823.5
2016-10-31  821.0
2016-11-30  821.0
2016-12-31  812.0
2017-01-31  850.0
2017-02-28  840.0
2017-03-31  845.5
2017-04-30  856.0
2017-05-31  885.0
2017-06-30  887.5
2017-07-31  894.5
2017-08-31  887.5
2017-09-30  885.0
2017-10-31  894.5
2017-11-30  895.0
2017-12-31  885.0
2018-01-31  890.0
2018-02-28  896.0
2018-03-31  898.0
2018-04-30  890.0

[63 rows x 1 columns]
             Value
Date
2017-02-28  1625.0
2017-03-31  1600.0
2017-04-30  1637.5
2017-05-31  1650.0
2017-06-30  1649.0
2017-07-31  1695.0
2017-08-31  1630.0
2017-09-30  1650.0
2017-10-31  1650.0
2017-11-30  1650.0
2017-12-31  1595.0
2018-01-31  1600.0
2018-02-28  1695.0
2018-03-31  1687.5
2018-04-30  1725.0
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
             Value
Date
2015-03-31  1622.5
2015-04-30  1750.0
2015-05-31  1695.0
2015-06-30  1647.5
2015-07-31  1575.0
2015-08-31  1775.0
2015-09-30  1695.0
2015-10-31  1695.0
2015-11-30  1700.0
2015-12-31  1562.5
2016-01-31  1575.0
2016-02-29  1650.0
2016-03-31  1685.0
2016-04-30  1725.0
2016-05-31  1695.0
2016-06-30  1500.0
2016-07-31  1650.0
2016-08-31  1749.0
2016-09-30  1600.0
2016-10-31  1625.0
2016-11-30  1450.0
2016-12-31  1625.0
2017-01-31  1725.0
2017-02-28  1795.0
2017-03-31  1795.0
2017-04-30  1795.0
2017-05-31  1800.0
2017-06-30  1700.0
2017-07-31  1700.0
2017-08-31  1850.0
2017-09-30  1795.0
2017-10-31  1795.0
2017-11-30  1795.0
2017-12-31  1799.5
2018-01-31  1795.0
2018-02-28  1850.0
2018-03-31  1795.0
2018-04-30  1760.0
             Value
Date
2011-06-30  1200.0
2011-07-31  1250.0
2011-08-31  1225.0
2011-09-30  1172.5
2011-10-31  1097.5
2011-11-30  1105.5
2011-12-31  1150.0
2012-01-31  1125.0
2012-02-29  1195.0
2012-03-31  1175.0
2012-04-30  1037.5
2012-05-31  1150.0
2012-06-30  1150.0
2012-07-31  1150.0
2012-08-31   995.0
2012-09-30   962.5
2012-10-31  1025.0
2012-11-30   999.0
2012-12-31   999.0
2013-01-31   882.5
2013-02-28   900.0
2013-03-31   850.0
2013-04-30   850.5
2013-05-31   895.0
2013-06-30   880.0
2013-07-31   930.0
2013-08-31   975.0
2013-09-30  1012.0
2013-10-31  1010.0
2013-11-30  1010.0
...            ...
2015-11-30  1040.0
2015-12-31  1040.0
2016-01-31  1010.0
2016-02-29  1010.0
2016-03-31  1042.0
2016-04-30  1050.0
2016-05-31  1018.0
2016-06-30  1069.0
2016-07-31  1069.0
2016-08-31  1009.0
2016-09-30  1050.0
2016-10-31  1040.0
2016-11-30  1044.0
2016-12-31   996.0
2017-01-31  1094.0
2017-02-28  1097.5
2017-03-31  1116.0
2017-04-30  1116.0
2017-05-31  1145.0
2017-06-30  1150.0
2017-07-31  1200.0
2017-08-31  1215.5
2017-09-30  1195.0
2017-10-31  1195.0
2017-11-30  1150.0
2017-12-31  1118.0
2018-01-31  1150.0
2018-02-28  1118.0
2018-03-31  1110.0
2018-04-30  1117.0

[83 rows x 1 columns]

             Value
Date
2013-02-28  1020.0
2013-03-31   945.0
2013-04-30   957.5
2013-05-31   925.0
2013-06-30   997.0
2013-07-31   956.5
2013-08-31   987.5
2013-09-30  1006.0
2013-10-31  1134.0
2013-11-30  1118.0
2013-12-31  1038.5
2014-01-31  1028.5
2014-02-28  1020.0
2014-03-31  1022.5
2014-04-30  1079.0
2014-05-31  1054.0
2014-06-30  1054.0
2014-07-31  1225.0
2014-08-31  1232.0
2014-09-30  1064.5
2014-10-31  1064.5
2014-11-30  1045.0
2014-12-31  1038.5
2015-01-31  1032.0
2015-02-28  1045.0
2015-03-31  1064.5
2015-04-30  1079.0
2015-05-31  1085.0
2015-06-30  1232.0
2015-07-31  1224.5
2015-08-31  1227.5
2015-09-30  1250.0
2015-10-31  1212.5
2015-11-30  1150.0
2015-12-31  1092.5
2016-01-31  1150.0
2016-02-29  1183.0
2016-03-31  1150.0
2016-04-30  1020.0
2016-05-31  1017.5
2016-06-30  1064.5
2016-07-31  1134.0
2016-08-31  1118.0
2016-09-30  1064.5
2016-10-31  1085.0
2016-11-30  1050.0
2016-12-31  1050.0
2017-01-31  1166.5
2017-02-28  1230.0
2017-03-31  1307.0
2017-04-30  1344.0
2017-05-31  1400.0
2017-06-30  1515.0
2017-07-31  1500.0
2017-08-31  1375.0

In [27]:
# Concatenating all the data
rental_concat = data_data
rental_concat = pd.concat(rental_concat)
# Getting month and year from the column "date"
rental_concat['Year'] = pd.DatetimeIndex(rental_concat.index).year
rental_concat['Month'] = pd.DatetimeIndex(rental_concat.index).month
rename_rental_concat = rental_concat.rename(columns={"Value":"Median Rental Price"})
rename_rental_concat

            Median Rental Price Zip Code  Year  Month
Date
2011-01-31               1850.0    78701  2011      1
2011-02-28               1925.0    78701  2011      2
2011-03-31               2000.0    78701  2011      3
2011-04-30               2200.0    78701  2011      4
2011-05-31               2020.0    78701  2011      5
2011-06-30               2100.0    78701  2011      6
2011-07-31               2075.0    78701  2011      7
2011-08-31               2100.0    78701  2011      8
2011-09-30               2050.0    78701  2011      9
2011-10-31               2000.0    78701  2011     10
2011-11-30               2016.0    78701  2011     11
2011-12-31               1995.0    78701  2011     12
2012-01-31               2050.0    78701  2012      1
2012-02-29               2095.0    78701  2012      2
2012-03-31               2200.0    78701  2012      3
2012-04-30               2200.0    78701  2012      4
2012-05-31               2100.0    78701  2012      5
2012-06-30               2100.0    78701  2012      6
2012-07-31               2100.0    78701  2012      7
2012-08-31               2000.0    78701  2012      8
2012-09-30               2000.0    78701  2012      9
2012-10-31               2100.0    78701  2012     10
2012-11-30               2200.0    78701  2012     11
2012-12-31               2300.0    78701  2012     12
2013-01-31               2100.0    78701  2013      1
2013-02-28               2100.0    78701  2013      2
2013-03-31               2100.0    78701  2013      3
2013-04-30               2108.0    78701  2013      4
2013-05-31               2140.0    78701  2013      5
2013-06-30               2260.0    78701  2013      6
...                         ...      ...   ...    ...
2015-03-31               1064.5    78759  2015      3
2015-04-30               1079.0    78759  2015      4
2015-05-31               1085.0    78759  2015      5
2015-06-30               1232.0    78759  2015      6
2015-07-31               1224.5    78759  2015      7
2015-08-31               1227.5    78759  2015      8
2015-09-30               1250.0    78759  2015      9
2015-10-31               1212.5    78759  2015     10
2015-11-30               1150.0    78759  2015     11
2015-12-31               1092.5    78759  2015     12
2016-01-31               1150.0    78759  2016      1
2016-02-29               1183.0    78759  2016      2
2016-03-31               1150.0    78759  2016      3
2016-04-30               1020.0    78759  2016      4
2016-05-31               1017.5    78759  2016      5
2016-06-30               1064.5    78759  2016      6
2016-07-31               1134.0    78759  2016      7
2016-08-31               1118.0    78759  2016      8
2016-09-30               1064.5    78759  2016      9
2016-10-31               1085.0    78759  2016     10
2016-11-30               1050.0    78759  2016     11
2016-12-31               1050.0    78759  2016     12
2017-01-31               1166.5    78759  2017      1
2017-02-28               1230.0    78759  2017      2
2017-03-31               1307.0    78759  2017      3
2017-04-30               1344.0    78759  2017      4
2017-05-31               1400.0    78759  2017      5
2017-06-30               1515.0    78759  2017      6
2017-07-31               1500.0    78759  2017      7
2017-08-31               1375.0    78759  2017      8

[1315 rows x 4 columns]

In [28]:
# Export the "home value" data to a csv file
rename_rental_concat.to_csv("../data/int/output_quandl/8_Output.rental_prices.csv", index = False ,header = True)

## Merging all the tables

In [29]:
quandl_merge = pd.merge(rename_home_value_concat,rename_inventory_concat, how="left")
quandl_merge = pd.merge(quandl_merge,rename_price_cut_concat, how="left")
quandl_merge = pd.merge(quandl_merge,rename_price_reduction_concat, how="left")
quandl_merge = pd.merge(quandl_merge,rename_listing_concat, how="left")
quandl_merge = pd.merge(quandl_merge,rename_listing_sqf_concat, how="left")
quandl_merge = pd.merge(quandl_merge,rename_sales_concat, how="left")
quandl_merge = pd.merge(quandl_merge,rename_rental_concat, how="left")
quandl_merge

,Home Value Index,Zip Code,Year,Month,Inventory Measure,Median Price Cut,Median Price of Reduction,Median Listing Price,Median Listing Price Per sqf,Sales,Median Rental Price
0,152500.0,78701,1996,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,153600.0,78701,1996,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,154600.0,78701,1996,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,155500.0,78701,1996,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,156300.0,78701,1996,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,157300.0,78701,1996,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,158300.0,78701,1996,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,159300.0,78701,1996,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,160400.0,78701,1996,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,161900.0,78701,1997,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,163500.0,78701,1997,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,164800.0,78701,1997,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,166300.0,78701,1997,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,167700.0,78701,1997,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,169000.0,78701,1997,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,170200.0,78701,1997,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,171500.0,78701,1997,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,172900.0,78701,1997,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,174500.0,78701,1997,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,176100.0,78701,1997,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,178000.0,78701,1997,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,180200.0,78701,1998,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,182700.0,78701,1998,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,185000.0,78701,1998,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,187500.0,78701,1998,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,189800.0,78701,1998,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,191800.0,78701,1998,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,193700.0,78701,1998,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,195500.0,78701,1998,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,197300.0,78701,1998,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10835,381700.0,78759,2015,11,NaN,8700.0,2.222222,441250.0,205.696597,20.0,1150.0
10836,383600.0,78759,2015,12,NaN,9300.0,1.896924,499000.0,207.827217,36.0,1092.5
10837,385400.0,78759,2016,1,NaN,12005.0,2.767733,442250.0,203.488372,23.0,1150.0
10838,387400.0,78759,2016,2,NaN,10950.0,2.439903,425000.0,205.217125,17.0,1183.0
10839,390200.0,78759,2016,3,NaN,8550.0,2.029293,449900.0,207.720382,39.0,1150.0
10840,393900.0,78759,2016,4,NaN,10000.0,2.247191,459000.0,208.333333,42.0,1020.0
10841,398200.0,78759,2016,5,NaN,15000.0,2.438489,459900.0,210.560810,38.0,1017.5
10842,402100.0,78759,2016,6,NaN,10000.0,2.298851,499900.0,220.036878,2.0,1064.5
10843,405300.0,78759,2016,7,NaN,10000.0,2.280913,469000.0,221.714921,NaN,1134.0
10844,408600.0,78759,2016,8,NaN,14000.0,2.614379,465000.0,221.164603,NaN,1118.0
10845,411200.0,78759,2016,9,NaN,10000.0,2.347220,449900.0,211.320755,NaN,1064.5
10846,413200.0,78759,2016,10,NaN,10000.0,2.500000,449000.0,213.825163,NaN,1085.0
10847,414500.0,78759,2016,11,NaN,8000.0,1.876507,454950.0,213.365155,NaN,1050.0
10848,414700.0,78759,2016,12,NaN,9400.0,2.812960,440000.0,214.209147,NaN,1050.0
10849,415200.0,78759,2017,1,NaN,9000.0,1.960807,449000.0,211.440158,NaN,1166.5
10850,416600.0,78759,2017,2,NaN,10000.0,2.670319,469900.0,219.317489,NaN,1230.0
10851,417900.0,78759,2017,3,NaN,10900.0,3.081664,499900.0,221.305326,NaN,1307.0
10852,418900.0,78759,2017,4,NaN,16000.0,3.032142,499900.0,220.808913,NaN,1344.0
10853,419400.0,78759,2017,5,NaN,14500.0,2.315822,469850.0,221.014921,NaN,1400.0
10854,419100.0,78759,2017,6,NaN,10100.0,2.759770,443950.0,217.727263,NaN,1515.0
10855,418200.0,78759,2017,7,NaN,10700.0,2.673846,425000.0,219.235589,NaN,1500.0
10856,418100.0,78759,2017,8,NaN,10000.0,2.000000,425000.0,222.783944,NaN,1375.0
10857,419600.0,78759,2017,9,NaN,10000.0,2.335766,425000.0,222.164965,NaN,NaN
10858,421500.0,78759,2017,10,NaN,10000.0,1.923077,444900.0,223.089176,NaN,NaN
10859,422400.0,78759,2017,11,NaN,10000.0,2.299507,434950.0,222.827657,NaN,NaN
10860,423500.0,78759,2017,12,NaN,10000.0,2.041233,425000.0,221.890393,NaN,NaN
10861,424700.0,78759,2018,1,NaN,8000.0,2.067183,419900.0,218.079800,NaN,NaN
10862,426300.0,78759,2018,2,NaN,10000.0,2.210955,420000.0,218.154149,NaN,NaN
10863,429600.0,78759,2018,3,NaN,10250.0,2.865268,435000.0,224.252051,NaN,NaN
10864,432600.0,78759,2018,4,NaN,10500.0,2.153025,432500.0,226.356334,NaN,NaN

In [31]:
quandl_merge.to_csv("../data/int/1_Output_quandl.csv", index=False, header=True)